config.js
shared/routes/dbhandler.js
shared/routes/*
.shared/routes/*
node_modules/*
*~
tmp
.vagrant
Cheffile.lock
cookbooks
.idea
extensions/languagetool-server
extensions/CoreNLP
extensions/languagetool
extensions/languagetool-init
