extends layout
block content
    link(rel='stylesheet', href='stylesheets/veggie.css')
    script( src='javascripts/veggie_task1.js')
    #Textbox
        #Zeitung
            h2 Fleischfreier Montag
            p
            center Ein Tag pro Woche <b><font color="#FF0000"> Vegetarier </font></b> werden: Es gibt gute Gründe, bei dieser Aktion mitzumachen!
        p
        #Zeitung
            h3 Meat-free macht fit
            img(id="front", align="left", vspace="10", hspace="10", src="images/moehren.jpg")
            | Ab und an auf Wurstbrot und Steak zu erzichten, ist gut für die Gesundheit
            | (mindert z.B. das Herzinfarktrisiko). Die Deutsche Gesellschaft für Ernährung empfiehlt den
            | Verzehr von 300 bis 600 g Fleisch pro Woche. Gegessen werden im Schnitt aber fast 1,2 Kilo.
        #Zeitung
            h3 Wer hat's erfunden?
            img(id="front", align="left", vspace="10", hspace="10", src="images/erfunden.jpg")
            p
            | Ex-Beatle Paul McCartney. Der 70-jährige Vegetarier ruft seit 2009 mit seinen Töchtern Stelle (re.)
            | und Mary zum "Meat Free Monday" auf, um den Fleischkonsum weltweit zu reduzieren und damit
            | zu Klimaschutz beizutragen. Immer mehr Menschen unterstützen die Aktion - auch Stars wie
            | Gwyneth Paltrow und Oprah Winfrey.
        p
        #Zeitung
            h3 Richtig dicke Luft
            p
            | Würde jeder Deutsche pro Woche einen fleischfreien Tag einlegen, würde das jährlich so viel
            | Treibhausgas sparen wie 75 Milliarden nicht-gefahrene Pkw-Kilometer. Warum die
            | Fleischproduktion zum Himmel stinkt? Zum Beispiel wegen der Rinderpupse (Methan) und
            | der Brandrodung von Weideflächen.
        p
        #Zeitung
            h3 Damals..
            img(id="front", align="right", vspace="10", hspace="10", src="images/damals.jpg")
            p
            | 1968 wurden 23 Prozent der Nahrungsmittelausgaben für Fleisch verwendet. Heute sind es nur 13 Prozent,
            | obwohl mehr Fleisch gegessen wird. Massentierhaltung macht Fleisch billiger und
            | den Sonntagsbraten zur Alltagskost.
            p
        #Zeitung
            h3 Veggie-Speiseplan
            img(id="front", align="left", vspace="10", hspace="10", src="images/speiseplan.jpg")
            p
            | Montags nur Möhren? Das "Meat Free Monday"-Kochbuch bringt Abwechslung auf den Tisch - mit 52
            | fleischfreien Speiseplänen für je einen ganzen Tag.
        p
        #Zeitung
            h3 Veggie-Day
            p
            | <i><span title="Eine deutsche Partei, die sich u.a. für die Umwelt einsetzt">Die Grünen</span></i> wollen
            | einen fleischlosen Tag in Kantinen einführen. Der "Veggie-Day" soll dazu beitragen, den Fleischkonsum zu senken.
            | Durchschnittlich verbraucht ein Deutscher pro Jahr 60 Kilogramm Fleisch. Würde man den  Fleischkonsum
            | reduzieren, könnten auch <i><span title="Für die Produktion von Lebensmitteln werden auf engem Platz viele
            | Tiere gehalten">Massentierhaltung</span></i> und
            | <i><span title="Wenn in Tierfutter für die Massentierhaltung Stoffe gefunden werden, die für den Menschen gefährlich sein können, nennt man das einen Futtermittelskandal">Futtermittelskandale</span></i>
            | vermieden werden. Vegetarisch kochen sei mehr, "als nur das Fleisch weg lassen". Es sei gut für das Klima
            | und sorge für mehr Qualität sowie artgerechter Tierhaltung. Deshalb verlangen die Grünen, dass ein
            | Veggie-Day zum Standard werden solle. Einen Zwang solle es aber nicht geben.
            | <i><span title="Eine nicht-staatliche Organisation für Umwelt- und Naturschutz">Der Bund für Umwelt und Naturschutz Deutschland</span></i> unterstützt das Vorhaben der Grünen: "Wir fordern einen fleischfreien Tag und mindestens 20 Prozent Bio- und <i><span title="Fleisch des Neuland-Vereins. Der Verein eine tiergerechte und umweltschonende Haltung von Nutztieren">Neulandfleisch</span></i> in öffentlichen Kantinen bis 2015."
            | Andere Politiker lehnen die Forderung der Grünen als <span title="Andere regeln Dinge für dich, die du eigentlich selbst entscheiden kannst">Bevormundung</span></i> ab.
            | "Die Menschen sind klug genug, selbst zu entscheiden, wann sie Fleisch und Gemüse essen und wann nicht."
            | Es entspreche nicht ihrem Verständnis von Freiheit und Liberalität, dass man Menschen ständig Vorschriften mache.
        p
        #Zeitung
            h3 Meinung der Umweltschützer
            p
            | Die Amerikaner und Westeuropäer konsumieren im Vergleich zu 1900 rund 33% mehr Milchprodukte,
            | 50% mehr Rindfleisch, 72% mehr Fisch, 190% mehr Eier und 280% mehr Geflügel. Eine solche Entwicklung
            | hatte nicht nur gesundheitliche Folgen für den Konsumenten. Auch die Weltbevölkerung und die Umwelt,
            | vor allem in den Dritte Weltländern, wurde davon beeinflusst: Die landwirtschaftlichen Nutzflächen
            | (z.B. Felder und Wiesen) wurden hauptsächlich für die Tierhaltung und Futterproduktion verwendet und
            | beanspruchen heute mehr als 64% der gesamten Anbauflächen. Die Masttiere fressen 49% der Getreide-Welternte
            | und mehr als 90% aller angebauten Sojabohnen. Ihre <i><span title="Ausscheidung (Kot und Urin)">Exkremente</span></i>
            | sind verantwortlich für: die Wasserverschmutzung (50%), die Grundwasserverseuchung (50%), das Ozonloch
            | und die Temperaturerhöhung (20%-25%). Denn die "Produktion" dieser Ausscheidungen beträgt in den USA und
            | Europa zusammen 110000 kg pro Sekunde (!) und die Entsorgung ist schon lange nicht mehr zu beherrschen.
            | Allein in den USA werden jährlich mehr Tiere geschlachtet als die ganze Erde Einwohner hat. Wenn die
            | Amerikaner 10% weniger tierisches Eiweiß essen würden und man auf den freien Flächen Getreide anbauen würde,
            | könnten mehr als 1 Milliarde Menschen ernährt werden. Doch gegenwärtig sterben weltweit täglich 38 Tausend
            | Kinder an Unterernährung und 1991 sind über 20 Millionen Menschen verhungert. Um die riesigen Futtermengen
            | zu produzieren, werden jährlich mehrere Millionen Tonnen
            | <i><span title="chemisches Mittel zur Bekämpfung von Ungeziefer, Unkraut usw.">Pestizide</span></i> auf
            | die Felder gestreut. Auch diese Mengen verseuchen über Jahre hinweg unser Grundwasser und sie würden ausreichen,
            | die ganze Weltbevölkerung zu vergiften.
        p
        #Zeitung
            h3 Meinung der Mediziner
            p
            | Schon Anfang der achtziger Jahre wurden in Deutschland drei große Vegetarierstudien durchgeführt - mit
            | erstaunlichen Erkenntnissen. Laut diesen Studien haben Vegetarier besser Blutdruckwerte, ein besseres
            | Körpergewicht, eine höhere Lebenserwartung und ein geringeres Risiko für Krebs und Herz-Kreislauf-Erkrankungen.
            | Untersuchungen aus anderen Ländern kommen zu ähnlichen Ergebnissen. Die Studie der
            | <i><span title="Teil der Universität London. Führte die Studie durch">London School of Hygiene and Tropical Medicine</span></i>
            | hat 11.000 Vegetarierinnen 12 Jahre lang beobachtet. Sie verglich ihre Teilnehmerinnen mit einer
            | fleischessenden <i><span title="mit ihrer Hilfe vergleicht man die Ergebnisse der Versuchsgruppe (hier: Fleischesser <->  Vegetarier)">Kontrollgruppe</span></i>.
            | Das Ergebnis: In allen wichtigen Punkten hatten die Vegetarierinnen bessere Werte. Die Sterberate war um
            | 20 % niedriger als bei der fleischessenden Kontrollgruppe, die Krebstodesrate war sogar um 40 % niedriger.
            | Zusammenfassend zeigen diese Studien, dass Vegetarierinnen keine Mangelerscheinungen haben, dass der
            | allgemeine Gesundheitszustand überdurchschnittlich gut ist und die vegetarische Ernährung als gesund
            | bezeichnet werden kann.
        p
        #Zeitung
            h3 Meinung eines Firmenangestellten
            p
            | Sehr geehrte Grünen,
            br
            | in letzter Zeit gibt es ja sehr viel Aufruhr um Ihren Veggie-Day. Als Bürger dieser Stadt möchte ich Ihnen
            | meine Meinung dazu mitteilen:
            br
            | Ich sehe durchaus, dass man etwas tun muss um diese Welt zu retten. Klimawandel, Massentierhaltung und
            | Hungersnöte zeigen dies nur allzu deutlich. Dennoch denke ich nicht, dass Verbote und Vorschriften der
            | richtige Weg dafür sind. Vielmehr sollte man durch Aufklärung und Informationen die Bürger auf Probleme
            | und mögliche Lösungen aufmerksam machen. In den meisten Kantinen gibt es bereits täglich vegetarische
            | Alternativen. Und wer nicht auf Fleisch verzichten will, wird so oder so in der Curry-Bude nebenan seine
            | Wurst holen. Durch Verbote erreicht man oft nur das Gegenteil.
            | Daher wäre es meiner Meinung nach sinnvoller durch Aktionen an Schulen und am Arbeitsplatz bewusste
            | Ernährung zu fördern. Denn wenn man noch verstärkter auf die gesundheitlichen Gefahren und Konsequenzen
            | für die Umwelt durch zu hohen Fleischkonsum hinweist, werden sicherlich viele Bürger freiwillig ihren
            | Fleischkonsum ändern. Sei es, dass sie mehr Bio-Fleisch kaufen oder weniger Fleisch essen. Die Wahl muss
            | jedem selbst überlassen werden.
            br
            | Ich selbst arbeite in einer großen Firma mit eigener Kantine und unter meinen Kollegen gibt es immer mehr,
            | die über diese Themen diskutieren und ihre Ernährung umstellen. Einige kaufen ihre Lebensmittel fast
            | ausschließlich in Bio-Läden oder direkt beim Bauern, andere helfen der Umwelt indem sie weitgehend
            | öffentliche Verkehrsmittel benutzen und keine Lebensmittel wegschmeißen. So unterschiedlich wie die
            | Menschen sind, sind auch die Möglichkeiten die Dinge zu ändern.
            br
            | Also, liebe Grünen, ich befürworte ihr Engagement  ausdrücklich, doch ich denke ein Umdenken kann nur
            | freiwillig geschehen und niemals durch Zwang.
            br
            | Mit freundlichen Grüßen
            br
            | Kim Marques
        p