extends layout
block overlay
    #overlaycontentbox
        p Schau dir die unterstrichenen Satzteile noch einmal genau an und versuche es erneut.
block content
    link(rel='stylesheet', href='stylesheets/alternativeEnergien_Textstruktur.css')
    script( src='javascripts/alternativeEnergien_Textstruktur.js')

    #Aufgabenbox
        p
            | Ordne den Textausschnitten die folgenden Textbausteine zu. Ziehe dazu mit der Maus die Begriffe in die dafür vorgesehenen Felder. Wenn du Hilfe brauchst, klicke auf ein Kästchen und es erscheint ein Tipp.

    #wrapper
        #Antwortbox_ww_1.antwort Argumentation
            br
        #Antwortbox_ww_2.antwort Aufzählung
            br
        #Antwortbox_ww_3.antwort Darstellung des Problems
            br
        #Antwortbox_ww_4.antwort Definition
            br
        #Antwortbox_ww_5.antwort Lösungsvorschlag
            br
        #Antwortbox_ww_6.antwort Teilthema
            br
        #Textbox
            h1
                | Welche alternativen Energien gibt es?
            b
                | Der heutige Bedarf an Strom wird hauptsächlich durch die Nutzung von Energien gedeckt, die nicht erneuerbar sind.[…] Die Nutzung nicht erneuerbarer Energieformen&nbsp;
                .inline(id=1) führt letztendlich zum Versiegen der momentan genutzten Ressourcen.
                br
                |Dabei gibt es genug Möglichkeiten&nbsp;
                .inline(id=2) alternative Energien zu verwenden.
                br
                .inline(id=3) Alternative Energien sind Energiequellen,
                | &nbsp;die nach menschlichen Maßstäben&nbsp;
                .inline(id=3) unerschöpflich
                | &nbsp;sind.
                br
                | Zu den heute bestehenden alternativen Energien&nbsp;
                .inline(id=4) zählen die Solarenergie, die Wasserkraft und die Windkraft.
                br
                | Durch&nbsp;
                .inline(id=5) Sonneneinstrahlung
                | &nbsp;werden Elektronen freigesetzt und dadurch&nbsp;
                .inline(id=5) kann elektrische Energie gewonnen werden.
                br
                .inline(id=6) Sonnenenergie hat viele Vorteile:
                | &nbsp;Im Vergleich zur herkömmlichen Energieerzeugung ist sie wesentlich umweltfreundlicher, sie wird staatlich gefördert und eine Investition in diese Form der Energiegewinnung kann bei der Steuererklärung geltend gemacht werden. Allerdings ist die Sonneneinstrahlung sehr wetter-, tages- und jahreszeitenabhängig.
                br
                .inline(id=7) Windkraft
                | &nbsp;ist eine weitere Möglichkeit, Strom umweltschonend durch alternative Energien zu gewinnen.&nbsp;
                .inline(id=7) Hier wird Strom erzeugt, indem die kinetische Energie des Windes in elektrische Energie umgewandelt wird.
                | &nbsp;Große Rotorblätter werden durch die Windströmung bewegt und die Rotationsenergie an einen Generator weitergegeben. Der Generator sorgt schließlich für die Umwandlung.
                br
                | Eine weitere Form alternativer Energien ist&nbsp;
                .inline(id=8) die Wasserkraft.
                | &nbsp;Die&nbsp;
                .inline(id=8) Strömungsenergie von fließendem Wasser wird durch Turbinen in elektrische Energie umgewandelt.
                | &nbsp;Bei dieser Form der Energiegewinnung gibt es unterschiedliche Arten energieerzeugender Betriebe.
                br
                | Laufwasserkraftwerke sind zwar teuer, haben aber eine lange Nutzungsphase. Sie werden auch als Niedrigdruckanlagen bezeichnet und sind sehr umweltfreundlich.&nbsp;
                .inline(id=9) Speicherkraftwerke haben den Vorteil, dass Wasser gespeichert und als Reserve für die Spitzenlastzeiten genutzt werden kann.



