extends layout
block overlay
    #overlaycontentbox
        p Test
block content
    link(rel='stylesheet', href='stylesheets/alternativeEnergien_Wortbildung.css')
    script(src='javascripts/alternativeEnergien_Wortbildung.js')
    #Aufgabenbox
        b Aufgabe 1:
        p Suche im Text, die zu den Verben gehörigen Substantive und schreibe sie mit Artikel auf!

    #mybox
            table
                tr
                    td 1.
                    td nutzen
                    td
                        input(type='text',class='1', name='1')
                    td
                        .ampel(id=111,style={color: '#02D64A;'}) &bull;
                        .ampel(id=121,style={color: '#FFD700'}) &bull;
                        .ampel(id=131,style={color: '#A91211;'}) &bull;
                tr
                    td 2.
                    td erklären
                    td
                        input(type='text',class='1', name='2')
                    td
                        .ampel(id=112,style={color: '#02D64A;'}) &bull;
                        .ampel(id=122,style={color: '#FFD700'}) &bull;
                        .ampel(id=132,style={color: '#A91211;'}) &bull;
                tr
                    td 3.
                    td erzeugen
                    td
                        input(type='text',class='1', name='3')
                    td
                        .ampel(id=113,style={color: '#02D64A;'}) &bull;
                        .ampel(id=123,style={color: '#FFD700'}) &bull;
                        .ampel(id=133,style={color: '#A91211;'}) &bull;
                tr
                    td 4.
                    td bezeichnen
                    td
                        input(type='text',class='1', name='4')
                    td
                        .ampel(id=114,style={color: '#02D64A;'}) &bull;
                        .ampel(id=124,style={color: '#FFD700'}) &bull;
                        .ampel(id=134,style={color: '#A91211;'}) &bull;
                tr
                    td 5.
                    td gewinnen
                    td
                        input(type='text',class='1', name='5')
                    td
                        .ampel(id=115,style={color: '#02D64A;'}) &bull;
                        .ampel(id=125,style={color: '#FFD700'}) &bull;
                        .ampel(id=135,style={color: '#A91211;'}) &bull;
                tr
                    td 6.
                    td einstrahlen
                    td
                        input(type='text',class='1', name='6')
                    td
                        .ampel(id=116,style={color: '#02D64A;'}) &bull;
                        .ampel(id=126,style={color: '#FFD700'}) &bull;
                        .ampel(id=136,style={color: '#A91211;'}) &bull;
                tr
                    td 7.
                    td umwandeln
                    td
                        input(type='text',class='1', name='7')
                    td
                        .ampel(id=117,style={color: '#02D64A;'}) &bull;
                        .ampel(id=127,style={color: '#FFD700'}) &bull;
                        .ampel(id=137,style={color: '#A91211;'}) &bull;
                tr
                    td 8.
                    td strömen
                    td
                        input(type='text',class='1', name='8')
                    td
                        .ampel(id=118,style={color: '#02D64A;'}) &bull;
                        .ampel(id=128,style={color: '#FFD700'}) &bull;
                        .ampel(id=138,style={color: '#A91211;'}) &bull;


    .hidden1
        #Aufgabenbox
            b Aufgabe 2:
            p Welches Suffix wird hier zur Wortbildung verwendet?
    .hidden1
        #cont
            input(type='text',class='2', name='1')
            .ampel(id=211,style={color: '#02D64A;'}) &bull;
            .ampel(id=221,style={color: '#FFD700'}) &bull;
            .ampel(id=231,style={color: '#A91211;'}) &bull;
    .hidden2
        #Aufgabenbox
            b Aufgabe 3:
            p    Welcher Artikel wird bei dieser Art der Wortbildung immer verwendet?
    .hidden2
        #cont
            input(type='text',class='3', name='1')
            .ampel(id=311,style={color: '#02D64A;'}) &bull;
            .ampel(id=321,style={color: '#FFD700'}) &bull;
            .ampel(id=331,style={color: '#A91211;'}) &bull;


    .hidden3
        #Aufgabenbox

            b Aufgabe 4:
            p Bilde nun die Substantive zu folgenden Verben! Denke an den richtigen Artikel!
    .hidden3
        #mybox
            table
                tr
                    td 1.
                    td führen
                    td
                        input(type='text',class='4', name='1')
                    td
                        .ampel(id=411,style={color: '#02D64A;'}) &bull;
                        .ampel(id=421,style={color: '#FFD700'}) &bull;
                        .ampel(id=431,style={color: '#A91211;'}) &bull;
                tr
                    td 2.
                    td bewegen
                    td
                        input(type='text',class='4', name='2')
                    td
                        .ampel(id=412,style={color: '#02D64A;'}) &bull;
                        .ampel(id=422,style={color: '#FFD700'}) &bull;
                        .ampel(id=432,style={color: '#A91211;'}) &bull;
                tr
                    td 3.
                    td zählen
                    td
                        input(type='text',class='4', name='3')
                    td
                        .ampel(id=413,style={color: '#02D64A;'}) &bull;
                        .ampel(id=423,style={color: '#FFD700'}) &bull;
                        .ampel(id=433,style={color: '#A91211;'}) &bull;
                tr
                    td 4.
                    td verwenden
                    td
                        input(type='text',class='4', name='4')
                    td
                        .ampel(id=414,style={color: '#02D64A;'}) &bull;
                        .ampel(id=424,style={color: '#FFD700'}) &bull;
                        .ampel(id=434,style={color: '#A91211;'}) &bull;
                tr
                    td 5.
                    td fördern
                    td
                        input(type='text',class='4', name='5')
                    td
                        .ampel(id=415,style={color: '#02D64A;'}) &bull;
                        .ampel(id=425,style={color: '#FFD700'}) &bull;
                        .ampel(id=435,style={color: '#A91211;'}) &bull;