extends layout
block content
    link(rel='stylesheet', href='stylesheets/veggie.css')
    #Aufgabenbox
        h2 Wie funktioniert diese Plattform?
    #Textbox
        | Hier findest du eine Kurzübersicht über die wichtigsten Funktionen, die dir diese Plattform bietet. Wenn du nur eine bestimmte Frage hast, kannst du direkt hier zur entsprechenden Erklärung navigieren:
        p
        ul
            li
                a(href='#menueleiste') Menüleiste
            li
                a(href='#lernmaterial') Lernmaterial & Übungen
            li
                a(href='#aufgabentypen') Aufgabentypen
            li
                a(href='#punktevergabe') Punktevergabe
            li
                a(href='#hilfebuttons') Hilfebuttons
    p
    #Aufgabenbox
    #Textbox
        h3
            a(name= 'menueleiste') Menüleiste
        p
        | Über den
        img(id="front", align="super", vspace="0", hspace="5", src="images/home_erklaerung.jpg")
        | -button gelangst du zurück zur Startseite.
        | Unter der Rubrik
        img(id="front", vspace="0", hspace="5", src="images/themen_erklaerung.jpg")
        | befinden sich die einzelnen Wortschatzgebiete, zu denen du sowohl Lernamterial erhälst als auch Übungen absolvieren kannst.
        | Die Themengebiete sind Glück, Handy, Ersti, Veggie-Day, Wertewandel, Generationen, Zukunft und China.
        | Ebenfalls über die Menüleiste kannst du Einstellungen an deinem
        img(id="front", vspace="0", hspace="5", src="images/profil_erklaerung.jpg")
        | verändern  oder aber auch eine Übersicht über deine bisher erlangten Punkte erhalten.
        | Hinter dem Button
        img(id="front", vspace="0", hspace="5", src="images/ueber_erklaerung.jpg")
        | verbergen sich Infos über die Entwickler dieser Plattform.
        | Wenn du deine aktuelle Sitzung beenden möchtest, kannst du dich über
        img(id="front", vspace="0", hspace="5", src="images/logout_erklaerung.jpg")
        | ausloggen.
    p
    #Aufgabenbox
    #Textbox
        h3
            a(name= 'lernmaterial') Lernmaterial & Übungen
        p
        | Zum Lernmaterial und den dazugehörigen Übungen gelangst du, indem du auf ein Themenfeld unter der Rubrik 'Thema'
        | in der Menüleiste klickst. Sobald du ein Themengebiet angeklickt hast, erhälst du folgende Optionen:
        ul
            li
                b Aufgaben:
                img(id="front", align="right", vspace="0", hspace="5", src="images/lernmaterial_erklaerung.jpg")
                | &nbsp; Wenn du dich bereit für eine oder mehrere Übungen fühlst, klicke auf das Feld  „Aufgaben“.
                | Du erhältst zunächst einen Überblick über alle in diesem Themenfeld vorhandenen Übungen.
                | Das Symbol neben jeder Aufgabe zeigt dir an, welche (multimedialen) Lernmaterialien dir für
                | diese Übung zur Verfügung stehen.
                br
                | ---> Symbole erklären! <----
                br
                | In jedem Themenfeld gibt es verschiedene Aufgabentypen mit unterschiedlichem Schwierigkeitsgrad.
                | Die Übungen sind so strukturiert, dass man diese in beliebiger Reihenfolge absolvieren kann.
                br
                | Um zu einer bestimmten Übung zu gelangen, musst du diese einfach anklicken.
                | Du kannst die Übungen so oft wiederholen, wie du möchtest!
                br
                | Am rechten Bildschirmrand findest du sowohl im Übersichtsmenü als auch während den Übungen drei weitere,
                | rot eingerahmte Symbole.
                img(id="front", align="left", vspace="0", hspace="5", src="images/rotebuttons_erklaerung.jpg")
                | Der oberste Button führt dich stets zurück zur Übersicht aller themenbezogenen Aufgaben.
                | Wenn du die Übungen der Reihe nach absolvieren möchtest bzw. du dich bereits innerhalb einer Übung befindest
                | und möchtest mit der nächsten Aufgabe fortfahren willst, kannst du einfach den rechten, rot gerahmten Button
                | anklicken.
                | Möchtest du zu der vorherigen Übung zurückkehren, klicke auf den linken Button.
            li
                b Medien:
                | &nbsp; Multimediales Lernmaterial wie Videos oder Audiodateien findest du unter der Rubrik „Medien“.
    p
    #Aufgabenbox
    #Textbox
        h3
            a(name= 'aufgabentypen') Aufgabentypen
        p
        | Auf dieser Lernplattform begegnen dir die unterschiedlichsten Aufgabentypen, die im folgenden kurz vorgestellt werden.
        #Erklaerungsbox
            b Zuordnungaufgaben:
        #Erklaerungsbox
            | Bei dieser Aufgabenart lassen sich ausgewählte Wörter anklicken und verschieben. Teilweise werden die Wörter
            | vorgegeben, teilweise musst du sie selbst im Text finden und aus dem Text herausziehen. Deine Aufgabe ist es
            | jeweils, die richtigen Wörter an die richtige Stelle zu ziehen. Bei einigen Übungen wird dir sofort angezeigt,
            | ob du richtig oder falsch liegst: Eine richtige Antwort wird grün hinterlegt, eine falsche rot. Bei manchen
            | Übungen hast du die Chance, deine Auswahl zu korrigieren.
        p
        #Erklaerungsbox
            b Lückentext:
        #Erklaerungsbox
            | Bei einem Lückentext bekommst du je nach Aufgabenstellung entweder Wörter vorgegeben oder du musst dir selbst
            | überlegen, welches Wort sinnvoll wäre. Einige Lückentexte treten in Kombination mit einer Zuordnungsaufgabe auf,
            | sodass sich die gesuchten Wörter in die Lücken verschieben lassen. Oftmals musst du die Wörter jedoch manuell
            | eingeben. Achte dabei genau auf deine Rechtschreibung!!
        p
        #Erklaerungsbox
            b Mehrfachauswahl:
        #Erklaerungsbox
            | Einige Aufgaben geben dir bereits mehrere Antwortmöglichkeiten vor. Du musst dich für eine entscheiden indem
            | du die von dir für richtig gehaltene Antwort anklickst.
        p
        #Erklaerungsbox
            b Kreuzworträtsel:
        #Erklaerungsbox
            | In einigen Themenfelder begegnen dir Kreuzworträtsel. Die jeweiligen Fragen erhältst du, wenn du ein beliebiges
            | Feld im Rätsel anklickst.
    p
    #Aufgabenbox
    #Textbox
        h3
            a(name= 'punktevergabe') Punktevergabe
        p
        img(id="front", align="right", vspace="0", hspace="5", src="images/punkte_erklaerung.jpg")
        | Je nach Schwierigkeit der Aufgabe kannst du eine unterschiedliche Anzahl an Punkten erhalten. Die erarbeitenden
        | Punkte pro Aufgabe kannst du an den beiden Kreisen am rechten Bildschirmrand erkennen. Am Anfang einer jeden
        | Aufgabe hast du null Punkte, d.h. die Kreise sind noch nicht gefüllt. Mit jeder richtigen Antwort füllt sich
        | der äußere, blaue Kreis. Der innere, rote Kreis füllt sich mit jeder falsch gegebenen Antwort.
    p
    #Aufgabenbox
    #Textbox
        h3
            a(name= 'hilfebuttons') Hilfebuttons
        p
        | Wenn du während einer Übung nicht weiter weißt und du dir das Lernmaterial lieber noch einmal genauer
        | ansehen oder -hören möchtest, können dir die roten Balken am linken Bildschirmand weiterhelfen.
        | Dafür musst du lediglich mit dem Mauszeiger über die roten Balken fahren:
        | Sie verweisen dich auf die für diese Übung relevanten Medien oder auch auf externe
        | Online-Nachschlagewerke.
