//
   Created by MeLex on 20.01.2016.

extends layout

block content
    #content_background
        link(rel='stylesheet', href='stylesheets/BaBa_Komposita_a.css')
        script( src='javascripts/BaBa_Komposita_a.js')
        #Aufgabenbox
            p
            h3 Bilde Komposita wie sie auch im Text vorkommen.
            |a) Komposita sind Nomen, die aus zwei anderen Wörtern zusammengesetzt werden. Der Artikel kann dir eine Hilfe sein. Er richtet sich immer nach dem hinteren Wort.


        #wrapper
            #Textbox

                p
                |der 	Basket
                .inline(id=1) ball
                p
                | die Mittel
                .inline(id=2) linie
                p
                | der 	Frei
                .inline(id=3) wurf
                p
                | die Spiel
                .inline(id=4) zeit
                p
                | das Heim
                .inline(id=5) spiel
                p
                | der Korb
                .inline(id=6) leger
                p


            #Antwortbox
            #Platzhalter
        #Check
            <button id="Ergebnis">Überprüfen</button>



