//
   Created by MeLex on 20.01.2016.

extends layout

block content
    #content_background
        link(rel='stylesheet', href='stylesheets/BaBa_Textproduktion.css')
        script( src='javascripts/BaBa_Textproduktion.js')
        #Aufgabenbox
            p Setze das richtige Wort in die Lücke ein. Solltest du Hilfe benötigen, drücke den Hilfe-Button.

        #wrapper
            #Textbox

                p
                |Im ersten
                .inline(id=1) Spiel
                | hat Bamberg häufig vom Einwurf weg den
                .inline(id=2) Ball
                |verloren.

                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_1.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Allmählich läuft Rice heiß. Sein Korb im Nachfassen ist bereits sein zwölfter
                .inline(id=3) Punkt
                |.

                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_2.png"><img src="images/liveticker/hilfe_button.png"/></a>


                p
                |Goldsberry legt den nächsten
                .inline(id=4) Dreier
                |nach. Im Moment hat nur der Gästeblock Grund zum Jubel.

                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_3.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Rice spielt den perfekten
                .inline(id=5) Pass
                |auf Roberts, der unterm Brett die Punkte macht und auch noch zum Extrawurf antreten darf. Der geht aber nur an den
                .inline(id=6) Ring
                |.

                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_4.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Gavel sitzt zunächst nur auf der
                .inline(id=7) Bank
                |, ihm fehlen ganz sicher die Kräfte, um hier die gewohnten Minuten auf dem
                .inline(id=8) Parkett
                |zu stehen.

                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_5.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Pesic ist sehr erregt über ein nicht gegebenes
                .inline(id=9) Foul
                |und fuchtelt wild vor dem Schiedsrichtergespann herum. Dafür gibt es ein technisches Foul.

                <a href="images/liveticker/Liveticker_Basketball_Aufgabe3_6.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                #Check
                    <button id="Ergebnis">Überprüfen</button>

            #Platzhalter

            #Antwortbox
