extends layout
block content
	#content_background
		link(rel='stylesheet', href='stylesheets/Begriffe_aus_Text.css')
		script( src='javascripts/Begriffe_aus_Text.js')
		#Aufgabenbox
			p Hier kommt der Aufgabentext hin
		#wrapper
