extends layout
block content
    link(rel='stylesheet', href='stylesheets/beyeran.css')
    script( src='javascripts/beyeran_lib.js')
    script( src='javascripts/china_task2.js')
    #Aufgabenbox
        p Ordne die Begriffe aus dem Text den richtigen Bereichen zu!
    #Textbox
        p
            |  Austauschstudent |  BWL |  Student |  Banking and Finance |  Fachhochschule |  Summer School |  Partnerhochschule |  Universit채t |  Absolvent |  Angewandte Wirtschaftssprachen |  Frontalunterricht |  Auswendiglernen |  Vorlesungsinhalte |  Professor |  Diskussionen |  Lehrperson |  Lekt체re |  TU M체nchen |  Studierende
        #wrapper
            #answers
                #Antwortbox1 Studieng채nge
                    br
                #Platzhalter
                #Antwortbox2 Institutionen
                    br
                #Platzhalter                    
                #Antwortbox3 Personen
                    br
                #Platzhalter                    
                #Antwortbox4 Studienformen
                    br
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href="china_task3") WEITER
