extends layout
block content
    link(rel='stylesheet', href='/stylesheets/beyeran.css')
    script(src='javascripts/china_start.js')
    #Aufgabenbox
        h1(style='font-family:Dosis,sans-serif;') China
    #wrapper
        #Textbox
            div#l1.lek
                p Lektion 1
                p.gr Textverständnis
            div#l2.lek
                p Lektion 2
                p.gr Begriffsverständnis
            div#l3.lek
                p Lektion 3
                p.gr Textverstädnis II
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
