extends layout
block content
    #subjecttitle
        h1 China
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Studium in China
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                    a(href='china_Textverstehen_Wortfeld_Studium')
                div.ltitle Textverstehen: Wortfeld Studium
            div#les2.lesson
                div.licon Icon
                div.lstart
                    a(href='china_Wortschatz_ordnen')
                div.ltitle Wortschatz ordnen
            div#les3.lesson
                div.licon Icon
                div.lstart
                    a(href='china_Textverstehen_Redewiedergabe')
                div.ltitle Textverstehen: Redewiedergabe
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
