extends layout
block content
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css ')
    link(rel='stylesheet', href='stylesheets/beyeran.css')
    script( src='javascripts/beyeran_lib.js')
    script( src='javascripts/china3.js' )
    #Aufgabenbox
        p Ziehe Ausdrücke, die zum Zitieren benutzt werden können, auf die Box!
    #wrapper
        #Textbox
            h2 Studium im Ausland - Leben als Austauschstudent
            img(src='images/zeichen.jpg', align='left', height='280', width='422', alt='chinesische Schriftzeichen')
            h3 Studium in China
            p
            | Studienaufenthalte in China werden unter deutschen Studenten immer beliebter. Doch viele
            | erleiden im Reich der Mitte anfangs einen Kulturschock.
            | Eine gute Vorbereitung hilft dabei, das zu vermeiden.
            h3 Viele neue Eindrücke – ein Kulturschock?
            p
            | Wenn es um ihren Studienaufenthalt in China geht,
            | ist
            | Anna Sander erfrischend ehrlich
            | „Es gab Augenblicke, die ich nur schwer verkraften            
            | konnte, in denen ich den Tränen nah war".
            | Niemals wird 26 Jahre alte BWL-Studentin den Moment vergessen, als sie auf der Suche
            | nach einer öffentlichen Toilette war und feststellen musste,
            | dass die Toilettenkabinen keine Türen hatten. „Alles war offen einsehbar. Ich dachte:
            | Das geht doch nicht, das darf doch nicht wahr sein!“, erinnert
            | sie sich.
            p
            | Anna studiert „Banking and Finance“ an der Fachhochschule Köln. In diesem Rahmen nahm
            | sie im Herbst 2010 an einer Summer School ihrer Partnerhochschule,
            | der Dongbei Universität, in Dalian teil.„Eine für chinesische Verhältnisse kleine Stadt“, berichtet
            | die Studentin. „Das ist nicht Peking oder Schanghai.
            | Das ist ein echter Kulturschock.“ Sie meint das nicht negativ. Denn trotz aller schwierigen
            | Situationen ist Anna im Rückblick begeistert von ihrem China-Aufenthalt.
            | „Was ich dort erlebt habe, lässt sich mit keiner anderen Erfahrung vergleichen“, sagt
            | sie. „Es hat mich für mein Leben geprägt.“
            h3 An einem Tag so viele Vokabeln wie sonst in einer Woche
            p
            | „Für ein Auslandsstudium nach China zu gehen, das macht man aber nicht einfach so nebenbei
            | “, berichtet
            | Tobias Roß. Der 25 Jahre alte Bremer Bachelor Absolvent des Fachhochschul-
            | Studiengangs „Angewandte Wirtschaftssprachen“ war schon insgesamt dreimal
            | in China. Er beherrscht die Sprache und hat sich auf seine Aufenthalte gründlich vorbereitet.
            | Trotz allem gab es für Tobias viele
            | überraschende Momente während seines Studiensemesters in Chengdu, einer kleineren Großstadt
            | in der Provinz Sezuan.
            p
            | „Besonders die Lernkultur hat es in sich
            | ", berichtet
            | er.Geprägt von Frontalunterricht und Auswendig-lernen schwitzte Tobias „wie nie zuvor in
            | meiner Laufbahn“, sagt
            | er. „Wir mussten an einem Tag so viele Vokabeln lernen wie in Bremen in einer Woche. Ich war
            | oft so geschlaucht
            | , dass ich nach der Uni erst mal einen Mittagsschlaf brauchte." Dazu kamen kulturelle Besonderheiten. „Dass
            | man Vorlesungsinhalte vor versammelter Mannschaft in Frage stellt, das geht gar nicht
            | “, sagt
            | Tobias. „Der Professor ist eine Autoritätsperson und fühlt sich dann bloßgestellt." Allerdings habe
            | er das vorher nicht gewusst und erst mühsam erfahren müssen, dass er Diskussionen mit
            | der Lehrperson allenfalls im Vieraugengespräch
            | führen sollte
            h3 Vorbereitung ist alles
            p
            | „Eine gute Vorbereitung auf das Land und seine Kultur ist wichtig“, sagt
            | Albers,Referatsleiter China des Deutschen Akademischen Austauschdienstes (DAAD).
            p
            | Er empfiehlt vor allem die Lektüre vorbereitender Bücher und einen Chinesischkurs.
            | Zur Vorbereitung auf einen Aufenthalt im Land gibt es vereinzelt sogar interkulturelle
            | Trainings, die extra für China-Interessenten zugeschnitten sind. Dort wird gelehrt,
            | dass man sich in China bei Tisch nicht die Nase putzen sollte oder dass eine
            | Teekanne niemals mit dem Schnabel auf eine Person zeigen
            | sollte, weil das Unglück verheißt.
            h3 Danke sagen gehört sich oft nicht
            img(src='images/familie_mittel.jpg', align='right', alt='chinesische Gastfamilie', height='311', width='434')
            p
            | Diese Erfahrung hat auch Denise Nguyen gemacht. Die 26 Jahre alte Münchnerin ging während
            | ihres Biochemie-Studiums nach China, um dort ihre Chinesischkenntnisse
            | zu vertiefen. Schon in ihrer  Schulzeit hatte sie begonnen, die Sprache zu lernen. „Einfach
            | weil es mich interessiert hat, etwas Komplizierteres zu machen als nur Französisch“, sagt
            | sie. Weil ihr Vater aus Vietnam stammt, sei sie außerdem schon immer
            | interessiert an Asien gewesen. China als Land hielt dann aber doch
            | einige Überraschungen für sie bereit. „Der größte Kulturschock für mich war die Tatsache,
            | dass man sich unter Chinesen nicht bedankt“, erinnert sich
            | Denise.„Ich wohnte in einer Gastfamilie, die sich
            | rührend um mich kümmerte
            | und viel mit mir unternahm. Für alles, was sie für mich taten,bedankte ich mich überschwänglich.
            | Bis mir meine Gastschwester sagte, dass das in der Familie und
            | unter Freunden nicht üblich sei und an Beleidigung grenze.“ Bis heute tut Denise sich
            | schwer mit  dieser Gepflogenheit.
            p
            | Wieder zurück an der TU München, kümmert sie sich hin und wieder um chinesische Studierende
            | und begleitet sie, etwa bei Behördengängen. „Dann muss ich immer
            | schlucken, wenn sie hinterher gar nicht danke sagen“, sagt
            | sie. „Bis mir wieder einfällt,dass das ein Kompliment ist.“
            h3 Fazit
            p
            | Trotz aller Bücher, Sprachkurse und Interkulturtrainings: „Völlig vermeiden lässt sich
            | der Kulturschock in den meisten Fällen nicht“, ist
            | Niels Albers
            | vom DAAD überzeugt
            | . „Dann ist es gut, wenn man andere Studenten aus dem eigenen
            | Kulturkreis kennt. Die haben ähnliche Sorgen, mit ihnen kann man sich austauschen.“
        #Platzhalter
        #Antwortbox
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href="/china") ZURÜCK