extends layout
block content
    #subjecttitle
        h1 China
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Studium in China
        #subjecttext.panelcontent
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div#les1.task
                div.taskicon Icon
                div.taskstart
                    a(href='china_task1')
                div.tasktitle Textverständnis I
            div#les2.task
                div.taskicon Icon
                div.taskstart
                    a(href='china_task2')
                div.tasktitle Begriffsverständnis
            div#les3.task
                div.taskicon Icon
                div.taskstart
                    a(href='china_task3')
                div.tasktitle Textverstädnis II
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
