extends layout
block content
    #subjecttitle
        h1 Ersti
    #tasks.startpanel
        div.panelheader
            h2 Lektionen
        #content
            #content_image
                img(src='images/bild.png')
            #content_content
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='energie_Wortfeld_Solarantrieb')
                            div.t_title
                                p Wortfeld: Solarantrieb
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='energie_Wortfeld_Solarantrieb_A')
                            div.t_title
                                p Solarantrieb Wortsuche
                            div.text_media.mediaelement




block overlay
    #overlaycontentbox