extends layout
block content
	#content_background
		link(rel='stylesheet', href='stylesheets/energie_Wortfeld_Lueckentext.css')
		script( src='javascripts/energie_Wortfeld_Lueckentext.js')
		#Aufgabenbox
			p Hier kommt der Aufgabentext hin
		#wrapper
			h2
				| Mit der Sonne im Tank

			img.textwrap2(src="images/energie/auto_dpa_gr.jpg" width="280px" title='Mit einem solchen Solarauto werden Rennen durch die australische Wüste gefahren: Die Strecke der "World Solar Challenge" ist 3.000 Kilometer lang und führt von Darwin im Nordosten von Australien nach Adelaide im Süden. Das dauert gut dreißig Stunden. Ziemlich unbequem: Der Fahrer fährt die gesamte Strecke im Liegen')
			p
				| Es gibt
				input.luecke#0(data-inhalt="Fahrzeuge")
				| , die allein von der Sonnenkraft angetrieben werden.
				| Es werden sogar Rennen veranstaltet, bei denen solche
				input.luecke#1(data-inhalt="Solarautos")
				| gegeneinander antreten.
				| Solche Rennwagen sehen allerdings nicht wie Autos aus, sondern eher wie fahrende Pfannkuchen.
			p
				| Sie sind so
				input.luecke#2(data-inhalt="flach")
				| , dass die Fahrer nur liegend
				| hineinpassen und durch eine kleine Glaskuppeln auf die Straße sehen müssen.
				| Angetrieben werden diese Solarmobile von
				input.luecke#3(data-inhalt="Elektromotoren")
				| , die ihren Strom direkt aus den Solarzellen bekommen,
				| die auf den Oberseiten angebracht sind. Mit einer durchschnitlichen Geschwindigkeit von 100km/h
				| sind sie auf einer Strecke von 3.000 Kilometern
				input.luecke#4(data-inhalt="flott")
				| unterwegs.
				| Nachteil: Die Autos sind unbequem und sie fahren nur, wenn die Sonne scheint.

			h2 Solarauto mit Bateriebetrieb
			p
				| Eine andere Idee, ein Auto mit Sonnenkraft fahren zu lassen, ist der Betrieb mit Batterien.
				| Die Solarzellen auf dem Dach des Autos laden eine große
				input.luecke#5(data-inhalt="Batterie")
				| im Kofferraum auf und diese Batterie treibt den Elektromotor an.
				| Das Funktoniert
				input.luecke#6(data-inhalt="prima")
				| , nur leider sind solche Solarautos ziemlich langsam, denn die Batterien sind sehr
				input.luecke#7(data-inhalt="schwer")
				| und der Motor muss nicht nur das Auto und seine
				| Insassen bewegen, sondern auch die riesigen Batterien.
				| Auf deutschen Autobahnen hätte so ein Solarschleicher keine Chance.
			br
			br
			br