extends layout
block content
    link(rel='stylesheet', href='stylesheets/energie.css')
    script(src='javascripts/energie_Wortfeld_Solarantrieb.js')
    script(src='javascripts/nonsense.js')
    #Aufgabenbox
        p Suche alle Wörter aus dem Text heraus, die sich auf Gefühle beziehen. Gruppiere diese dabei nach positiver und negativer Bedeutung.
    #wrapper
        #cont
            #Textbox
                .Zeitung
                    h1
                        span.bold(inhalt='Solarantrieb' id='1') Solarantrieb
                        |&nbsp;-&nbsp;
                        span.bold(inhalt='Sonnenenergie' id='2') Sonnenenergie
                        |&nbsp;für Autos

                    h3
                        | Mit der Sonne im&nbsp;
                        span.bold(inhalt='Tank' id='3') Tank

                    img.textwrap2(src="images/auto_dpa_gr.jpg" width="280px" title='Mit einem solchen Solarauto werden Rennen durch die australische Wüste gefahren: Die Strecke der "World Solar Challenge" ist 3.000 Kilometer lang und führt von Darwin im Nordosten von Australien nach Adelaide im Süden. Das dauert gut dreißig Stunden. Ziemlich unbequem: Der Fahrer fährt die gesamte Strecke im Liegen')
                    p
                     | Es gibt
                     span.underline(inhalt='Fahrzeug') Fahrzeuge
                     | , die allein von der
                     span.underline(inhalt='Sonnenkraft') Sonnenkraft
                     span.underline(inhalt='antreiben') angetrieben
                     | werden. Es werden sogar Rennen veranstaltet, bei denen solche&nbsp;
                     span.bold(inhalt='Solarauto' id='4') Solarautos
                     |&nbsp;gegeneinander antreten.
                     | Solche Rennwagen sehen allerdings nicht wie Autos aus, sondern eher wie&nbsp;
                     span.bold(inhalt='fahrende Pfannkuchen' id='5') fahrende Pfannkuchen.

                    p
                        | Sie sind so fach, dass die Fahrer nur liegend hineinpassen und durch eine kleine&nbsp;
                        span.bold(inhalt='Glaskuppel' id='6') Glaskuppel&nbsp;
                        | auf die Straße sehen müssen. Angetrieben werden diese&nbsp;
                        span.bold(inhalt='Solarmobil' id='7') Solarmobile
                        |&nbsp;von&nbsp;
                        span.bold(inhalt='Elektromotor' id='8') Elektromotoren,&nbsp;
                        | die ihren Strom direkt aus den&nbsp;
                        span.bold(inhalt='Solarzellen' id='9') Solarzellen&nbsp;
                        | bekommen, die auf den Oberseiten angebracht sind. Mit einer durchschnitlichen Geschwindigkeit von 100
                        span.underline(inhalt="km/h") km/h
                        | sind sie auf einer Strecke von 3.000 Kilometern&nbsp;
                        span.bold(inhalt='flott' id='10') flott&nbsp;
                        | unterwegs. Nachteil: Die Autos sind unbequem und sie fahren nur, wenn die Sonne scheint.
                    br
                    br
                    br
                    h2
                     |Solarauto mit&nbsp;
                     span.bold(inhalt='Batteriebetrieb' id='11') Bateriebetrieb
                    img.textwrap1(src="images/taxi_anhang_gr.jpg" width="300px" title="Das Solartaxi zieht einen Anhänger mit Solarzellen, um seine Batterien immer wieder zu laden.")
                    p
                    | Eine andere Idee, ein Auto mit Sonnenkraft fahren zu lassen, ist der Betrieb mit Batterien. Die Solarzellen auf dem Dach des Autos laden eine große Batterie im
                    span.underline(inhalt="Kofferraum") Kofferraum
                    | auf und diese Baterie treibt den Elektromotor an.
                    | Funktoniert
                    span.underline(inhalt="prima") prima
                    |, nur leider sind solche Solarautos ziemlich langsam, denn die Batterien sind sehr schwer und der Motor muss nicht nur das Auto und seine
                    span.underline(inhalt="Insassen") Insassen
                    |&nbsp;bewegen, sondern auch die riesigen Batterien. Auf&nbsp;
                    span.bold(inhalt='seutschen Autobahnen' id='12') deutschen Autobahnen
                    |&nbsp;hätte so ein&nbsp;
                    span.bold(inhalt='Solarschleicher' id='13') Solarschleicher
                    |&nbsp;keine Chance.
                    br
                    br
                    br
                    h2
                        span.bold(inhalt='Solartaxi' id='14') Solartaxi
                        |&nbsp;auf Weltreise
                    p
                    | Etwas anderes ist das sogenannte Solartaxi, das im Jahr 2007 auf einer Reise um die Welt ist. Das Solartaxi ist ein
                    span.bold(inhalt='dreirädriges Gefährt' id='15') &nbsp;dreirädriges Gefährt,
                    |&nbsp;in dem zwei Personen bequem Platz haben und das eine Geschwindigkeit von 90 km/h erreicht. Diese Schweizer Erfndung baut auf einer neuen Baterie auf, die viermal mehr Energie speichern kann als eine
                    span.underline(inhalt="herkömmlich") herkömmliche
                    | Batterie.
                    | Das Solartaxi ist sehr leicht und kann mit
                    span.underline(inhalt="einmalig") einmaligem
                    span.bold(inhalt='Batterieaufaden' id='16') &nbsp;Batterieaufaden&nbsp;
                    | bei einer Geschwindigkeit von 90 km/h ungefähr 100 Kilometer fahren, mit 50 km/h immerhin 200 Kilometer weit. Sechs
                    span.underline(inhalt="Quadratmeter") Quadratmeter
                    | Solarzellen reichen aus, um das Auto immer
                    span.underline(inhalt="einsatzbereit") einsatzbereit
                    | zu haben, auch wenn es einmal regnet. Es ist also möglich, ein Auto zu bauen, das für den täglichen Gebrauch - zur Fahrt in die Arbeit, zur Schule oder für Einkäufe - geeignet
                    | ist und dabei überhaupt keine
                    span.underline(inhalt="schädlich") schädlichen
                    | Stoffe
                    span.underline(inhalt="ausstoßen") ausstößt
                    |. Alles was nötg ist, sind neue Baterien und Solarzellen, um die Baterien immer wieder zu laden. Diese Solarzellen können dabei auf dem Hausdach, im Garten oder auf einem Anhänger, den das Solartaxi zieht,
                    span.underline(inhalt="plazieren") platziert
                    | sein.
                    br
                    b.autor Börni Schulz