extends layout
block content
    link(rel='stylesheet', href='stylesheets/energie.css')
    script(src='javascripts/energie_Wortfeld_Solarantrieb.js')
    #Aufgabenbox
        b Aufgabe:
        p Lies dir den Text aufmerksam durch. Durch anklicken der hervorgehobenen Wörter kannst du dir zusätzliche Informationen anzeigen lassen.
    #wrapper
        #cont
            #Textbox
                .Zeitung
                    h1
                        span.bold(inhalt='Solarantrieb' id='1') Solarantrieb
                        |&nbsp;-&nbsp;
                        span.bold(inhalt='Sonnenenergie' id='2') Sonnenenergie
                        |&nbsp;für Autos

                    h3
                        | Mit der Sonne im&nbsp;
                        span.bold(inhalt='Tank' id='3') Tank

                    img.textwrap2(src="images/energie/auto_dpa_gr.jpg" width="280px" title='Mit einem solchen Solarauto werden Rennen durch die australische Wüste gefahren: Die Strecke der "World Solar Challenge" ist 3.000 Kilometer lang und führt von Darwin im Nordosten von Australien nach Adelaide im Süden. Das dauert gut dreißig Stunden. Ziemlich unbequem: Der Fahrer fährt die gesamte Strecke im Liegen')
                    p
                     | Es gibt&nbsp;
                     span.underline(inhalt='Fahrzeug' id="4") Fahrzeuge
                     | , die allein von der&nbsp;
                     span.bold(inhalt='Sonnenkraft' id="5") Sonnenkraft angetrieben&nbsp;
                     | werden. Es werden sogar Rennen veranstaltet, bei denen solche&nbsp;
                     span.bold(inhalt='Solarauto' id='6') Solarautos
                     |&nbsp;gegeneinander antreten.
                     | Solche Rennwagen sehen allerdings nicht wie Autos aus, sondern eher wie&nbsp;
                     span.bold(inhalt='fahrende Pfannkuchen' id='7') fahrende Pfannkuchen.

                    p
                        | Sie sind so flach, dass die Fahrer nur liegend hineinpassen und durch eine kleine&nbsp;
                        span.bold(inhalt='Glaskuppel' id='8') Glaskuppel&nbsp;
                        | auf die Straße sehen müssen. Angetrieben werden diese&nbsp;
                        span.bold(inhalt='Solarmobil' id='9') Solarmobile
                        |&nbsp;von&nbsp;
                        span.bold(inhalt='Elektromotor' id='10') Elektromotoren,&nbsp;
                        | die ihren Strom direkt aus den&nbsp;
                        span.bold(inhalt='Solarzellen' id='11') Solarzellen&nbsp;
                        | bekommen, die auf den Oberseiten angebracht sind. Mit einer durchschnitlichen Geschwindigkeit von 100
                        span.underline(inhalt="km/h") km/h
                        | sind sie auf einer Strecke von 3.000 Kilometern&nbsp;
                        span.underline(inhalt="flott") flott&nbsp;
                        | unterwegs. Nachteil: Die Autos sind unbequem und sie fahren nur, wenn die Sonne scheint.
                    br
                    br
                    br
                    h2
                     |Solarauto mit&nbsp;
                     span.bold(inhalt='Batteriebetrieb' id='13') Bateriebetrieb
                    img.textwrap1(src="images/taxi_anhang_gr.jpg" width="300px" title="Das Solartaxi zieht einen Anhänger mit Solarzellen, um seine Batterien immer wieder zu laden.")
                    p
                    | Eine andere Idee, ein Auto mit Sonnenkraft fahren zu lassen, ist der Betrieb mit Batterien. Die Solarzellen auf dem Dach des Autos laden eine große Batterie im
                    span.bold(inhalt="Kofferraum" id="14") &nbsp;Kofferraum&nbsp;
                    | auf und diese Batterie treibt den Elektromotor an.
                    | Funktoniert
                    span.bold(inhalt="prima" id="15") &nbsp;prima
                    |, nur leider sind solche Solarautos ziemlich langsam, denn die Batterien sind sehr schwer und der Motor muss nicht nur das Auto und seine
                    span.underline(inhalt="Insasse") Insassen
                    |&nbsp;bewegen, sondern auch die riesigen Batterien. Auf deutschen&nbsp;
                    span.underline(inhalt='Autobahn') Autobahnen
                    |&nbsp;hätte so ein&nbsp;
                    span.bold(inhalt='Solarschleicher' id='16') Solarschleicher
                    |&nbsp;keine Chance.
                    br
                    br
                    br
                    h2
                        span.bold(inhalt='Solartaxi' id='17') Solartaxi
                        |&nbsp;auf Weltreise
                    p
                    | Etwas anderes ist das sogenannte Solartaxi, das im Jahr 2007 auf einer Reise um die Welt ist. Das Solartaxi ist ein
                    span.bold(inhalt='dreirädriges Gefährt' id='18') &nbsp;dreirädriges Gefährt,
                    |&nbsp;in dem zwei Personen bequem Platz haben und das eine Geschwindigkeit von 90 km/h erreicht. Diese Schweizer Erfndung baut auf einer neuen Baterie auf, die viermal mehr Energie speichern kann als eine
                    span.underline(inhalt="herkömmlich") herkömmliche
                    | Batterie.
                    | Das Solartaxi ist sehr leicht und kann mit
                    span.underline(inhalt="einmalig") einmaligem
                    span.bold(inhalt='Batterie aufladen' id='19') &nbsp;Batterie aufladen&nbsp;
                    | bei einer Geschwindigkeit von 90 km/h ungefähr 100 Kilometer fahren, mit 50 km/h immerhin 200 Kilometer weit. Sechs
                    span.underline(inhalt="Quadratmeter") Quadratmeter
                    | Solarzellen reichen aus, um das Auto immer
                    span.underline(inhalt="einsatzbereit") einsatzbereit
                    | zu haben, auch wenn es einmal regnet. Es ist also möglich, ein Auto zu bauen, das für den täglichen Gebrauch - zur Fahrt in die Arbeit, zur Schule oder für Einkäufe - geeignet
                    | ist und dabei überhaupt keine
                    span.underline(inhalt="schädlich") schädlichen
                    | Stoffe
                    span.underline(inhalt="ausstoßen") ausstößt
                    |. Alles was nötg ist, sind neue Baterien und Solarzellen, um die Baterien immer wieder zu laden. Diese Solarzellen können dabei auf dem Hausdach, im Garten oder auf einem Anhänger, den das Solartaxi zieht,
                    span.underline(inhalt="platzieren") platziert
                    | sein.
                    br
                    b.autor Börni Schulz

block overlay
    #overlaycontentbox
        .bold_info#Allgemein
        .bold_info#Fahrzeuge
            h1 Fahrzeuge (Plural)
            b Wortart: Substantiv
            p Oberbegriff für Fortbewegungsmittel zur Beförderung von Personen oder Lasten auf Rädern.
            p Synonyme: Auto, Fortbewegungsmittel, Transportmittel, Verkehrsmittel, Wagen, Gefährt
            a(href='http://www.duden.de/suchen/dudenonline/Fahrzeug' target="_blanc") Duden Suche "Fahrzeug"
        .bold_info#Solarantrieb
            h1 Solarantrieb
            b Wortart: Substantiv
            br
            b Bedeutung: angetrieben durch Sonnenkraft
            br
            br
            b Die Antriebsenergie eines Fahrzeugs mit Solarantrieb, stammt aus der Sonnenstrahlung.
            p Die überwiegende Mehrheit der Solarfahrzeuge tut dies mittels Photovoltaik, das heißt, sie sind auf der Oberfläche mit Solarzellen bestückt, die die Sonnenenergie auf dem Fahrzeug in elektrischen Strom umwandeln. Als Elektromobile führen sie häufig auch einen Energiespeicher (meist Akkumulatoren) mit sich, um auch bei schlechten Lichtverhältnissen oder Bewölkung zumindest für eine begrenzte Zeit fahrtüchtig zu bleiben.
        .bold_info#Sonnenenergie
            h1 Sonnenenergie

        .bold_info#Sonnenkraft
            h1 angetrieben durch Sonnenkraft
            b Die Antriebsenergie z.B. der Fahrzeuge, stammt aus der Sonnenstrahlung.
            p Details: Die überwiegende Mehrheit der Solarfahrzeuge tut dies mittels Photovoltaik, das heißt, sie sind auf der Oberfläche mit Solarzellen bestückt, die die Sonnenenergie auf dem Fahrzeug in elektrischen Strom umwandeln. Als Elektromobile führen sie häufig auch einen Energiespeicher (meist Akkumulatoren) mit sich, um auch bei schlechten Lichtverhältnissen oder Bewölkung zumindest für eine begrenzte Zeit fahrtüchtig zu bleiben.
        .bold_info#Tank
            h1 Der Tank
            b Nomen des Verbs tanken
            p Technischer Ausdruck, in einem Tank wird der Kraftstoff(z.B. Benzin ) eines Fahrzeugs gespeichert.
            a(href='http://www.duden.de/suchen/dudenonline/tanken' target="_blanc") Duden Suche: "tanken"
        .bold_info#Solarauto

        .bold_info#Pfannkuchen
            h1 Fahrende Pfannkuchen
            b Synonym für solarangetriebene Rennwagen.
            p Aufgrund ihrer Form, ähneln diese kaum den üblichen Rennwagen, sondern sind durch die notwendigen Solarzellen in ihrer Form ziemlich flach und werden deshalb mit einem Pfannkuchen verglichen.
            img.info_image(src="images/energie/racecar.jpg" width="280px" title='Üblicher Rennwagen')
            span +
            img.info_image(src="images/energie/pancakes.jpg" width="280px" title='Pfannkuchen')
            span =
            img.info_image(src="images/energie/auto_dpa_gr.jpg" width="280px" title='Solarbetriebener Rennwagen')
        .bold_info#Glaskuppel
            h1 Glaskuppel
            b Wortart: Substantiv, feminin
            p Eine Glaskuppel ist eine oft halbkreisförmige Kuppel aus Glas.
            a(href='http://www.duden.de/suchen/dudenonline/Glaskuppel' target="_blanc") Duden Suche: "Glaskuppel"
            br
            img.info_image(src="images/energie/kuppel.jpg" width="280px" title='Glaskuppel')
            img.info_image(src="images/energie/auto_kuppel.jpg" width="280px" title='Glaskuppel')
        .bold_info#Solarmobil
            h1 Solarmobile
            b Synonym = Solarfahrzeug
        .bold_info#Elektromotor
            h1 Elektromotoren
            p Sind Motoren, die elektrische Energie in mechanische Energie umwandeln. Elektromotoren werden zum Antrieb verschiedener Arbeitsmaschinen und Fahrzeuge (vor allem Schienenfahrzeuge) eingesetzt.
            a(href='http://www.duden.de/suchen/dudenonline/Elektromotor' target="_blanc") Duden Suche: "Elektromotor"
        .bold_info#Solarzellen
            h1 Solarzellen
            p Wandeln Sonnenenergie in elektrische Energie um.
            a(href='http://www.duden.de/suchen/dudenonline/Solarzelle' target="_blanc") Duden Suche: "Solarzelle"
        .bold_info#flott
            h1 flott
            b Wortart: Adjektiv
            p Umgangssprachlich für "sich beeilen".
            p Synonyme: flink, rasch, schnell
        .bold_info#Batteriebetrieb
            h1 Batteriebetrieb
            p Bedeutet, dass die nötige Energie für den Betrieb dieses Fahrzeugs von einer Batterie geliefert wird.
        .bold_info#Kofferraum
            h1 Kofferraum
            b Wortart: Substantiv, maskulin
            p Von außen zugänglicher Bereich, meist an der Rückseite des Pkws, in dem größeres Gepäck (Koffer o. Ä.) verstaut werden kann.
            a(href='http://www.duden.de/suchen/dudenonline/Kofferraum' target="_blanc") Duden Suche: "Kofferraum"
        .bold_info#prima
            h1 Prima
            b Wortart: Adjektiv
            p Umgangssprachlich: hervorragend, super, ausgezeichnet
            p Synonym: ausgezeichnet, brillant, erstklassig, fabelhaft, genial, grandios, hervorragend, sehr gut, vorzüglich
            p Beispiel: Prima Essen.
        .bold_info#Solarschleicher
            h1 Solarschleicher
            p Umgangssprachlich, Synonym für langsames, solarbetriebenes Fahrzeug.
        .bold_info#Solartaxi
            h1 Solartaxi
            p Ein Taxi das mit Solarenergie betrieben wird.
        .bold_info#gefaehrt
            h1 dreirädriges Gefährt
            p Fahrzeug mit nur drei Rädern.
            a(href='http://www.duden.de/suchen/dudenonline/gefährt' target="_blanc") Duden Suche: "Gefährt"
        .bold_info#aufladen
            h1 Batterie aufladen
            p elektrisches laden einer Batterie
            a(href='http://www.duden.de/suchen/dudenonline/aufladen' target="_blanc") Duden Suche: "aufladen"
