extends layout
block content
    link(rel='stylesheet', href='stylesheets/energie.css')
    script(src='javascripts/energie_Wortfeld_Solarantrieb.js')
    script(src='javascripts/nonsense.js')
    #Aufgabenbox
        p Suche alle Wörter aus dem Text heraus, die sich auf Gefühle beziehen. Gruppiere diese dabei nach positiver und negativer Bedeutung.
    #wrapper
        #cont
            #Textbox
                .Zeitung
                    h1 Solarantrieb - Sonnenenergie für Autos
                    h3 Mit der Sonne im Tank

                    img.textwrap2(src="images/auto_dpa_gr.jpg" width="280px" title='Mit einem solchen Solarauto werden Rennen durch die australische Wüste gefahren: Die Strecke der "World Solar Challenge" ist 3.000 Kilometer lang und führt von Darwin im Nordosten von Australien nach Adelaide im Süden. Das dauert gut dreißig Stunden. Ziemlich unbequem: Der Fahrer fährt die gesamte Strecke im Liegen')

                    p
                    |Es gibt
                    #1.undeline(inhalt='Fahrzeug') Fahrzeuge
                    |, die allein von der Sonnenkraft angetrieben werden. Es werden sogar Rennen veranstaltet, bei denen solche Solarautos4 gegeneinander antreten.
                    |Solche Rennwagen sehen allerdings nicht wie Autos aus, sondern eher wie fahrende Pfannkuchen.

                    br
                    p
                    | Sie sind so fach, dass die Fahrer nur liegend hineinpassen und durch eine kleine
                    | Glaskuppel6 auf die Straße sehen müssen. Angetrieben werden diese Solarmobile7 von Elektromotoren8, die
                    | ihren Strom direkt aus den Solarzellen9 bekommen, die auf den Oberseiten angebracht sind. Mit einer
                    | durchschnitlichen Geschwindigkeit von 100 km/h sind sie auf einer Strecke von 3.000 Kilometern fot10
                    | unterwegs. Nachteil: Die Autos sind unbequem und sie fahren nur, wenn die Sonne scheint.
                    br
                    br
                    br
                    h2 Solarauto mit Bateriebetrieb
                    img.textwrap1(src="images/taxi_anhang_gr.jpg" width="300px" title="Das Solartaxi zieht einen Anhänger mit Solarzellen, um seine Batterien immer wieder zu laden.")
                    p
                    | Eine andere Idee, ein Auto mit Sonnenkraf fahren zu lassen, ist der Betrieb mit Baterien. Die Solarzellen auf dem Dach des Autos laden eine große Baterie im Koferraum auf und diese Baterie treibt den Elektromotor an.
                    | Funktoniert prima, nur leider sind solche Solarautos ziemlich langsam, denn die Baterien sind sehr schwer und der Motor muss nicht nur das Auto und seine Insassen bewegen, sondern auch die riesigen Baterien. Auf deutschen Autobahnen12 häte so ein Solarschleicher13 keine Chance.
                    | Mit Sonnenenergie um die Welt
                    br
                    br
                    br
                    h2 Solartaxi auf Weltreise
                    p
                    | Etwas anderes ist das sogenannte Solartaxi, das im Jahr 2007 auf einer Reise um die Welt ist. Das Solartaxi ist ein dreirädriges Gefährt15, in dem zwei Personen bequem
                    | Platz haben und das eine Geschwindigkeit von 90 km/h erreicht. Diese Schweizer Erfndung baut auf einer neuen Baterie auf, die viermal mehr Energie speichern kann als eine herkömmliche Baterie.
                    | Das Solartaxi ist sehr leicht und kann mit einmaligem Baterieaufaden16 bei einer Geschwindigkeit von 90 km/h ungefähr 100 Kilometer fahren, mit 50 km/h immerhin 200 Kilometer weit. Sechs Quadratmeter Solarzellen reichen aus, um das Auto immer einsatzbereit zu haben, auch wenn es einmal regnet. Es ist also möglich, ein Auto zu bauen, das für den täglichen Gebrauch - zur Fahrt in die Arbeit, zur Schule oder für Einkäufe - geeignet
                    | ist und dabei überhaupt keine schädlichen Stofe ausstößt. Alles was nötg ist, sind neue Baterien und Solarzellen, um die Baterien immer wieder zu laden. Diese Solarzellen können dabei auf dem Hausdach, im Garten oder auf einem Anhänger, den das Solartaxi zieht, platziert sein.
                    br
                    b.autor Börni Schulz