extends layout
block content
    link(rel='stylesheet', href='stylesheets/energie.css')
    script(src='javascripts/energie_Wortfeld_Solarantrieb_A.js')
    #Aufgabenbox
        b Aufgabenstellung:
        p Markiere durch Anklicken hierzu alle Wörter im Text, die ein Fahrzeug darstellen. Hinter jedem Abschnit fndest du einen Hilfeknopf, der dir verrät wie viele Wörter sich in dem jeweiligen Abschnit befnden und du schon richtg herausgefunden hast.
    #wrapper
        #cont
            #Textbox
                .Zeitung
                    h3
                        |Solarantrieb - Sonnenenergie für
                        span.candidate(id="0") &nbsp;Auto&nbsp;
                        br
                        |Mit der
                        span.candidate(id="1") &nbsp;Sonne&nbsp;
                        |im
                        span.candidate(id="2") &nbsp;Tank
                    p
                        |    Es gibt
                        span.candidate(id="3") &nbsp;Fahrzeuge
                        |   , die allein von der Sonnenkraft angetrieben werden. Es werden sogar
                        |    Rennen veranstaltet, bei denen solche
                        span.candidate(id="4") &nbsp;Solarautos&nbsp;
                        |    gegeneinander antreten. Solche
                        span.candidate(id="5") &nbsp;Rennwagen&nbsp;
                        |    sehen allerdings nicht wie
                        span.candidate(id="5") &nbsp;Autos&nbsp;
                        |    aus, sondern eher wie
                        span.candidate(id="6") &nbsp;fahrende Pfannkuchen
                        | .
                    p
                        |Sie sind so flach, dass die Fahrer nur liegend hineinpassen und durch eine kleine
                        span.candidate(id="7") &nbsp;Glaskuppel&nbsp;
                        |auf die Straße sehen müssen.
                        |Angetrieben werden diese
                        span.candidate(id="8") &nbsp;Solarmobile&nbsp;
                        |von
                        span.candidate(id="9") &nbsp;Elektromotoren
                        |, die ihren Strom direkt aus den
                        span.candidate(id="10") &nbsp;Solarzellen&nbsp;
                        |bekommen, die auf den
                        |Oberseiten angebracht sind. Mit einer durchschnitlichen Geschwindigkeit von 100
                        |km/h sind sie auf einer
                        span.candidate(id="11") &nbsp;Strecke&nbsp;
                        |von 3.000 Kilometern unterwegs. Nachteil: Die
                        span.candidate(id="12") &nbsp;Autos&nbsp;
                        |sind unbequem und fahren nur, wenn die Sonne scheint.
                    h3
                        span.candidate(id="13") Solarauto&nbsp;
                        |mit Batteriebetrieb
                    p
                        |Eine andere Idee, ein
                        span.candidate(id="14") &nbsp;Auto&nbsp;
                        |mit Sonnenkraft fahren zu lassen, ist der Betrieb mit Batterien. Die Solarzellen auf dem Dach des
                        span.candidate(id="15") &nbsp;Autos&nbsp;
                        |laden eine große
                        span.candidate(id="16") &nbsp;Batterie&nbsp;
                        |im
                        span.candidate(id="17") &nbsp;Kofferraum&nbsp;
                        |auf und diese
                        span.candidate(id="18") &nbsp;Batterie&nbsp;
                        |treibt den
                        span.candidate(id="19") &nbsp;Elektromotor&nbsp;
                        |an.
                        |Funktoniert prima, nur leider sind solche
                        span.candidate(id="20") &nbsp;Solarautos&nbsp;
                        |ziemlich langsam, denn die Batterien sind sehr schwer und der
                        span.candidate(id="21") &nbsp;Motor&nbsp;
                        |muss nicht nur das
                        span.candidate(id="22") &nbsp;Auto&nbsp;
                        |und seine Insassen bewegen, sondern auch die riesigen Batterien.
                        |Auf deutschen Autobahnen häte so ein
                        span.candidate(id="23") &nbsp;Solarschleicher&nbsp;
                        |keine Chance.
                    h3
                        span.candidate(id="24") Solartaxi&nbsp;
                        |auf Weltreise
                    p
                        | Etwas anderes ist das sogenannte
                        span.candidate(id="25") &nbsp;Solartaxi
                        |, das im Jahr 2007 auf einer Reise um die Welt ist.
                        | Das
                        span.candidate(id="26") &nbsp;Solartaxi&nbsp;
                        | ist ein
                        span.candidate(id="27") &nbsp;dreirädriges Gefährt
                        |, in dem zwei Personen bequem Platz haben und das eine Geschwindigkeit von 90 km/h erreicht.
                        | Diese
                        span.candidate(id="28") &nbsp;Schweizer Erfindung&nbsp;
                        |baut auf einer neuen
                        span.candidate(id="29") &nbsp;Batterie&nbsp;
                        |auf, die viermal mehr Energie speichern kann als eine herkömmliche
                        span.candidate(id="30") &nbsp;Batterie
                        |.
                    p
                        | Das
                        span.candidate(id="31") &nbsp;Solartaxi&nbsp;
                        | ist sehr leicht und kann mit einmaligem Batterieaufaden bei einer Geschwindigkeit von 90 km/h
                        | ungefähr 100 Kilometer fahren, mit 50 km/h immerhin 200 Kilometer weit. Sechs Quadratmeter
                        span.candidate(id="32") &nbsp;Solarzellen&nbsp;
                        | reichen aus, um das
                        span.candidate(id="33") &nbsp;Auto&nbsp;
                        | immer einsatzbereit zu haben, auch wenn es einmal regnet. Es ist also möglich, ein
                        span.candidate(id="34") &nbsp;Auto&nbsp;
                        | zu bauen, das für den täglichen Gebrauch - zur Fahrt in die Arbeit, zur Schule oder für Einkäufe - geeignet
                        | ist und dabei überhaupt keine schädlichen
                        span.candidate(id="35") &nbsp;Stoffe&nbsp;
                        | ausstößt. Alles was nötg ist, sind neue
                        span.candidate(id="36") &nbsp;Batterien&nbsp;
                        | und
                        span.candidate(id="37") &nbsp;Solarzellen&nbsp;
                        |, um die Batterien immer wieder zu laden. Diese Solarzellen können dabei auf dem
                        span.candidate(id="38") &nbsp;Hausdach
                        |, im Garten oder auf einem
                        span.candidate(id="39") &nbsp;Anhänger
                        |, den das
                        span.candidate(id="40") &nbsp;Solartaxi&nbsp;
                        | zieht, platziert sein.
                    br
                    b.autor Börni Schulz