//
   Created by David on 30.07.2014.
html(ng-app)
extends layout

block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/ersti.js')
    #wrapper
        #Textbox
            h2.title Auswertung

            p Im Folgenden findest du eine Auswertung deiner Ergebnisse

            #task1
            #task2
            #task2b
            #task2c
            #task3
            #task3b
            #task3c
            #task4

            #test



