extends layout
block content
    #subjecttitle
        h1 Ersti
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                    a(href='ersti_Textverstehen_emotionale_Woerter')
                div.ltitle Textverstehen: emotionale Wörter
            div#les2.lesson
                div.licon Icon
                div.lstart
                    a(href='ersti_Textverstehen_Wortfeld_Universitaet_A')
                div.ltitle Textverstehen: Wortfeld Universität
            div#les3.lesson
                div.licon Icon
                div.lstart
                    a(href='ersti_Wortschatz_ordnen_A')
                div.ltitle Wortschatz ordnen
            div#les4.lesson
                div.licon Icon
                div.lstart
                    a(href='ersti_Wortschatz_erweitern')
                div.ltitle Wortschatz erweitern
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent