//
                     Created by Mirko on 17.07.2014.

extends layout
block content
    link(rel='stylesheet', href='stylesheets/ersti.css')
    script(src='javascripts/ersti_Textverstehen_emotionale_Woerter.js')
    script(src='javascripts/nonsense.js')
    #Aufgabenbox
        p Suche alle Wörter aus dem Text heraus, die sich auf Gefühle beziehen. Gruppiere diese dabei nach positiver und negativer Bedeutung.

    #wrapper
       #Textbox.unselectable
                p#p1.p
                | Der erste Tag an der Universität. Ein neuer Lebensabschnitt beginnt.
                p#p2.p
                | Ich bin
                .inline(id="1" data-text="aufgeregt sein") aufgeregt.
                | Das Frühstück fällt vor lauter
                .inline(id="2" data-text="nervös sein") Nervosität
                | flach. Ich
                | studiere noch einmal den Lageplan,
                | um mir den Weg zum A-Gebäude, in welchem mein erstes Seminar heute
                | stattfinden wird, genau einzuprägen.
                | Oh mein Gott, ich werde mich ganz sicher verlaufen! Viel zu früh mache ich
                | mich auf den Weg
                | zur Bushaltestelle, da ich genügend Zeit haben möchte, falls ich den
                | richtigen Weg nicht
                | finden sollte und zur Vorsorge für jegliche andere mögliche Panne, die heute
                | passieren könnte.
                p#p3.p
                | Die Busfahrt verläuft reibungslos.
                | Doch ich fühle mich jetzt schon
                | merkwürdig
                | zwischen
                | den anderen Studenten. Passe ich hier tatsächlich rein?!
                | Allerdings
                .inline(id="3" data-text="etwas baut jemanden auf") baut
                | es mich etwas
                .inline(id="4" data-text="etwas baut jemanden auf") auf,
                | dass ich noch
                | andere Erstsemesterstudenten sichte, die genauso
                .inline(id="5" data-text="unsicher wirken") unsicher wirken
                | wie ich. Auf dem Unigelände komme ich mir dann sehr
                .inline(id="6" data-text="sich klein vorkommen") klein vor.
                | Während die Studenten alle
                | zielsicher
                | in die Unigebäude strömen, blicke ich
                | mich
                | erst einmal um. Zu meiner
                .inline(id="7" data-text="verwundert sein") Verwunderung
                | finde ich jedoch auf Anhieb den
                | richtigen Weg zu meinem Seminarraum.
                p#p4.p
                | Bei meinem Gang durch das A-Gebäude fühle
                | ich mich wieder in die fünfte Klasse
                .inline(id="8" data-text="zurückversetzt fühlen") zurückversetzt.
                | Als ich damals von der Grundschule auf die Realschule wechselte,
                | fühlte ich mich genauso
                .inline(id="9" data-text="klein fühlen") klein
                | und
                .inline(id="10" data-text="unwissend fühlen") unwissend.
                | Die älteren Schüler waren
                | sichtlich
                .inline(id="11" data-text="genervt sein") genervt
                | von den kleinen Fünftklässlern, die noch keinen Plan von der
                | Mittelstufe
                | hatten. An der Uni habe ich das Gefühl, dass die älteren Semester sich
                | ebenso
                .inline(id="12" data-text="belästigt fühlen") belästigt
                | von den Erstis fühlen, die nun planlos auf dem Campus
                | herumgeistern und
                | mit dämlichen Fragen nerven.
                p#p5.p
                | Im Seminarraum angekommen, ist es gleich viel
                | angenehmer.
                | Dort sitzen ganz
                | viele
                | Erstis, die noch genauso doof sind wie ich. Kaum habe ich mir einen Platz
                | ausgesucht und mich hingesetzt, komme ich auch schon mit meinen neuen
                | Kommilitonen ins Gespräch. Ich bin definitiv nicht die Einzige,
                | die so
                .inline(id="1" data-text="aufgeregt sein") aufgeregt
                | ist. Die meisten Erstis teilen meine
                .inline(id="13" data-text="unsicher sein") Unsicherheit
                | und
                | sind alle sehr mitteilungsbedürftig. Es ist schön zu wissen, dass man
                .inline(id="14" data-text="nicht allein sein") nicht alleine ist.
                p#p6.p
                | Der restliche Tag verläuft ganz gut. Ab und an dauert es etwas länger
                | bis man die Räumlichkeiten findet, aber nach kurzem Suchen oder
                | Nachfragen, findet man sie. Die meisten Dozenten machen
                | einen guten Eindruck und die Veranstaltungen scheinen interessant zu werden.
                p#p7.p
                | Nachdem der erste Unitag vorbei ist, bin ich
                .inline(id="15" data-text="erleichtert sein") erleichtert.
                | So schlimm
                | war es gar nicht. Eigentlich war es sogar richtig toll. Jetzt fühle ich mich
                | schon fast wie eine echte Studentin. Ich bin
                | gespannt
                | auf die bevorstehende
                | Unizeit.
                | Die
                .inline(id="1" data-text="aufgeregt sein") Aufregung
                | und die sind der
                .inline(id="16" data-text="neugierig sein") Neugier
                | und
                .inline(id="17" data-text="auf etwas freuen") Vorfreude
                | gewichen. Jetzt
                | kann es richtig losgehen!

         #Space
       #Antwortbox.text
            h3 Positiv
       #Antwortbox_two.text
            h3 Negativ
