//
   Created by Mirko on 17.07.2014.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/ersti2.js')
    #Aufgabenbox
        p Schreibe alle Wörter aus dem Text heraus, die Du mit dem Wortfeld Universität assoziierst.
    #wrapper
        #Textbox.unselectable
                p#p1.p
                | Der erste Tag an der
                .inline(id="Universität") Universität
                | . Ein neuer Lebensabschnitt beginnt.
                p#p2.p
                | Ich bin aufgeregt Das Frühstück fällt vor lauter Nervosität flach. Ich
                | studiere noch einmal den
                .inline(id="Lageplan") Lageplan,
                | um mir den Weg zum
                .inline(id="A-Gebäude") A-Gebäude,
                | in welchem mein erstes
                .inline(id="Seminar") Seminar
                | heute
                | stattfinden wird, genau einzuprägen.
                | Oh mein Gott, ich werde mich ganz sicher verlaufen! Viel zu früh mache ich
                | mich auf den Weg
                | zur Bushaltestelle, da ich genügend Zeit haben möchte, falls ich den
                | richtigen Weg nicht
                | finden sollte und zur Vorsorge für jegliche andere mögliche Panne, die heute
                | passieren könnte.
                p#p3.p
                | Die Busfahrt verläuft reibungslos.
                | Doch ich fühle mich jetzt schon merkwürdig zwischen
                | den anderen
                .inline(id="Studenten") Studenten.
                | Passe ich hier tatsächlich rein?!
                | Allerdings baut es mich etwas auf, dass ich noch
                | andere
                .inline(id="Erstsemesterstudenten") Erstsemesterstudenten
                | sichte, die genauso unsicher
                | wirken wie ich. Auf dem
                .inline(id="Unigelände") Unigelände
                | komme ich mir dann sehr klein vor.
                | Während die
                .inline(id="Studenten") Studenten
                | alle zielsicher in die
                .inline(id="Unigebäude") Unigebäude
                | strömen, blicke ich
                | mich
                | erst einmal um. Zu meiner Verwunderung finde ich jedoch auf Anhieb den
                | richtigen Weg zu meinem
                .inline(id="Seminarraum") Seminarraum.
                p#p4.p
                | Bei meinem Gang durch das A-Gebäude fühle
                | ich mich wieder in die fünfte Klasse zurückversetzt.
                | Als ich damals von der Grundschule auf die Realschule wechselte,
                | fühlte ich mich genauso klein und unwissend. Die älteren Schüler waren
                | sichtlich
                | genervt von den kleinen Fünftklässlern, die noch keinen Plan von der
                | Mittelstufe
                | hatten. An der
                .inline(id="Uni") Uni
                | habe ich das Gefühl, dass die älteren
                .inline(id="Semester") Semester
                | sich
                | ebenso belästigt von den
                .inline(id="Erstis") Erstis
                | fühlen, die nun planlos auf dem
                .inline(id="Campus") Campus
                | herumgeistern und
                | mit dämlichen Fragen nerven.
                p#p5.p
                | Im
                .inline(id="Seminarraum") Seminarraum
                | angekommen, ist es gleich viel angenehmer. Dort sitzen ganz
                | viele
                .inline(id="Erstis") Erstis,
                | die noch genauso doof sind wie ich. Kaum habe ich mir einen Platz
                | ausgesucht und mich hingesetzt, komme ich auch schon mit meinen neuen
                .inline(id="Kommilitonen") Kommilitonen
                | ins Gespräch. Ich bin definitiv nicht die Einzige,
                | die so aufgeregt ist. Die meisten
                .inline(id="Erstis") Erstis
                | teilen meine Unsicherheit und
                | sind alle sehr mitteilungsbedürftig. Es ist schön zu wissen, dass man nicht
                | alleine ist.
                p#p6.p
                | Der restliche Tag verläuft ganz gut. Ab und an dauert es etwas länger
                | bis man die Räumlichkeiten findet, aber nach kurzem Suchen oder
                | Nachfragen, findet man sie. Die meisten
                .inline(id="Dozenten") Dozenten
                | machen
                | einen guten Eindruck und die
                .inline(id="Veranstaltungen") Veranstaltungen
                | scheinen interessant zu werden.
                p#p7.p
                | Nachdem der erste
                .inline(id="Unitag") Unitag
                | vorbei ist, bin ich erleichtert. So schlimm
                | war es gar nicht. Eigentlich war es sogar richtig toll. Jetzt fühle ich mich
                | schon fast wie eine echte Studentin. Ich bin gespannt auf die bevorstehende
                .inline(id="Unizeit") Unizeit.
                | Die Aufregung und die Ängste sind der Neugier und Vorfreude gewichen. Jetzt
                | kann es richtig losgehen!

         #Space
        #Antwortbox.text
            input#s1.slot(type='text')
            |   01.
            input#s2.slot(type='text')
            |   02.
            input#s3.slot(type='text')
            |   03.
            input#s4.slot(type='text')
            |   04.
            input#s5.slot(type='text')
            |   05.
            input#s6.slot(type='text')
            |   06.
            input#s7.slot(type='text')
            |   07.
            input#s8.slot(type='text')
            |   08.
            input#s9.slot(type='text')
            | 09.
        #Antwortbox_two.text
            input#s10.slot(type='text')
            |   10.
            input#s11.slot(type='text')
            |   11.
            input#s12.slot(type='text')
            |   12.
            input#s13.slot(type='text')
            |   13.
            input#s14.slot(type='text')
            |   14.
            input#s15.slot(type='text')
            |   15.
            input#s16.slot(type='text')
            |   16.
            input#s17.slot(type='text')
            |   17.
            input#s17.slot(type='text')
            |   18.
        #Field
            span#weiter
                a(href='ersti_task2') WEITER
            span#check PRÜFEN
            span#help HILFE
            span#balken

