//
   Created by David on 17.07.2014.
extends layout
block content
    link(rel='stylesheet', href='stylesheets/ersti.css')
    script(src='javascripts/spline.js')
    script(src='javascripts/ersti_Wortschatz_erweitern.js')
    script( src='javascripts/ersti.js')
    #Aufgabenbox
        p Setze die passenden Begriffe aus dem Originaltext, die im Kästchen gesammelt wurden, in die dafür passende Lücke ein.

    #wrapper
        #Textbox
            .unselectable.words
            #message.invisible
                | Richtig!
            .unselectable.container(style='clear: left;')
                | „Gerade bin ich auf dem Campus angekommen. Ich bin hier noch nie gewesen und weiß leider nicht, wo ich hingehen muss! Ich bin ziemlich
                input#s1.slot(type='text')
                | .
                | Aber ich habe trotzdem
                input#s2.slot(type='text')
                | die Informationsstelle gefunden. Anscheinend geht es einigen Studenten ähnlich, denn viele von ihnen
                input#s3.slot(type='text')
                | dort hin. Immerhin kann die Information uns helfen, dass in Zukunft alles
                input#s4.slot(type='text')
                | . Ein anderer Ersti, den ich dort getroffen habe,
                | hat mir gesagt, dass unsere erste Veranstaltung
                input#s5.slot(type='text')
                | . Damit wir nicht beide verwirrt
                input#s6.slot(type='text')
                | , entschließen wir uns,
                | zusammen in der Mensa einen Kaffee zu trinken. Mein Kommilitone erzählt mir, wie er sich seinen ersten Tag an der Universität vorgestellt hat.
                | Er ist sehr
                input#s7.slot(type='text')
                | . Wir merken, dass wir uns hier an der großen Universität beide
                input#s8.slot(type='text')
                | , weil so viel um uns herum passiert.
                | Auf dem Stundenplan steht, dass um zehn Uhr die nächste Vorlesung beginnt. Wir sind gespannt, auf die
                input#s9.slot(type='text')
                | Veranstaltung.“
            br
        #Field
            span#balken
            span#hilfe
            span#check
                a(href='#' style='clear:left', id='weiter') PRÜFEN
            span#weiter
                a(href="ersti_start" ) WEITER