//
   Created by Mirko on 17.07.2014.
extends layout
block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script( src='/javascripts/ersti.js')
    #wrapper
        #Textbox
            .unselectable.fields
    #Antwortbox
            .h Veranstaltung
            .text
                | 01.
                input#s1.slot(type='text')
                br
                | 02.
                input#s2.slot(type='text')
                br
                | 03.
                input#s3.slot(type='text')
                br
                | 04.
                input#s4.slot(type='text')
                br
                | 05.
                input#s5.slot(type='text')
                br
                | 06.
                input#s6.slot(type='text')
                br
                | 07.
                input#s7.slot(type='text')
                br
                | 08.
                input#s8.slot(type='text')
                br
                | 09.
                input#s9.slot(type='text')
                br
                | 10.
                input#s10.slot(type='text')
                br
                | 11.
                input#s11.slot(type='text')
                br
                | 12.
                input#s12.slot(type='text')
                br
                | 13.
                input#s13.slot(type='text')
                br
                | 14.
                input#s14.slot(type='text')
                br
                | 15.
                input#s15.slot(type='text')
                br
                | 16.
                input#s16.slot(type='text')
     #Space
    #Antwortbox_two
            .h Personal
            .text
                | 01.
                input#s1.slot(type='text')
                br
                | 02.
                input#s2.slot(type='text')
                br
                | 03.
                input#s3.slot(type='text')
                br
                | 04.
                input#s4.slot(type='text')
                br
                | 05.
                input#s5.slot(type='text')
                br
                | 06.
                input#s6.slot(type='text')
                br
                | 07.
                input#s7.slot(type='text')
                br
                | 08.
                input#s8.slot(type='text')
                br
                | 09.
                input#s9.slot(type='text')
                br
                | 10.
                input#s10.slot(type='text')
                br
                | 11.
                input#s11.slot(type='text')
                br
                | 12.
                input#s12.slot(type='text')
     #Space
    #Antwortbox_three
            .h Lernende
            .text
                | 01.
                input#s1.slot(type='text')
                br
                | 02.
                input#s2.slot(type='text')
                br
                | 03.
                input#s3.slot(type='text')
                br
                | 04.
                input#s4.slot(type='text')
                br
                | 05.
                input#s5.slot(type='text')
                br
                | 06.
                input#s6.slot(type='text')
                br
                | 07.
                input#s7.slot(type='text')
                br
                | 08.
                input#s8.slot(type='text')
                br
                | 09.
                input#s9.slot(type='text')
                br
                | 10.
                input#s10.slot(type='text')
                br
                | 11.
                input#s11.slot(type='text')
                br
                | 12.
                input#s12.slot(type='text')
                br
                | 13.
                input#s13.slot(type='text')
                br
                | 14.
                input#s14.slot(type='text')
                br
                | 15.
                input#s15.slot(type='text')

        #Field
            | Ordne die obenstehenden Begriffe in die drei vorgegebenen Themenfelder: Veranstaltung, Personal, Lerner
            a(href="/ersti_task2c") weiter
