//
   Created by Mirko on 17.07.2014.
extends layout
block content
    link(rel='stylesheet', href='stylesheets/ersti.css')
    script(src='javascripts/ersti_Textverstehen_Wortfeld_Universitaet_B.js')
    #Aufgabenbox
        p Ordne die obenstehenden Begriffe in die drei vorgegebenen Themenfelder: Veranstaltung, Personal, Lerner. Hilfe gibts im Wortschatzportal!

    #wrapper
        #Textbox_small.unselectable
            .inline_big(id=0) Seminar
            .inline_big(id=1) Übung
            .inline_big(id=2) Vorlesung
            .inline_big(id=3) Tutorium
            .inline_big(id=4) Kolloquium
            .inline_big(id=5) Workshop
            .inline_big(id=6) Konzert
            .inline_big(id=7) Festival
            .inline_big(id=8) Konferenz
            .inline_big(id=9) Sportereignis
            .inline_big(id=10) Party
            .inline_big(id=11) Theaterstück
            .inline_big(id=12) Oper
            .inline_big(id=13) Fest
            .inline_big(id=14) Tanzkurs
            .inline_big(id=15) Demonstration
            .inline_big(id=16) Dozent
            .inline_big(id=17) Professor
            .inline_big(id=18) Praktikant
            .inline_big(id=19) Lehrer
            .inline_big(id=20) Trainer
            .inline_big(id=21) Ober
            .inline_big(id=22) Hausmeister
            .inline_big(id=23) Sekretärin
            .inline_big(id=24) Prof
            .inline_big(id=25) HiWi
            .inline_big(id=26) Chauffeur
            .inline_big(id=27) Zimmermädchen
            .inline_big(id=28) Student
            .inline_big(id=29) Erstsemesterstudent
            .inline_big(id=30) Ersti
            .inline_big(id=31) Kommilitone
            .inline_big(id=32) Schüler
            .inline_big(id=33) Lerner
            .inline_big(id=34) Bachelor
            .inline_big(id=35) Master
            .inline_big(id=36) Gymnasiast
            .inline_big(id=37) Abiturient
            .inline_big(id=38) Klassenkamerad
            .inline_big(id=39) Auszubildender
            .inline_big(id=40) Absolvent
            .inline_big(id=41) Lehrling
            .inline_big(id=42) Schulabgänger
         #Space
        #Antwortbox.text
            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Veranstaltung") Veranstaltung
        #Antwortbox_two.text
            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Personal") Personal
        #Antwortbox_three.text
            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Lerner") Lerner            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Lerner") Lerner


