//
   Created by David on 17.07.2014.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script( src='/javascripts/ersti.js')
    #wrapper
        p.unselectable.info
            | Task 3