extends layout
block content
    #subjecttitle
        h1 Ersti
    #tasks.startpanel
        div.panelheader
            h2 Lektionen
        #content
            #content_image
                img(src='images/bild.png')
            #content_content
                div.task
                    div.taskbar
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='ersti_Textverstehen_emotionale_Woerter')
                            div.t_title
                                p Textverstehen: emotionale Wörter
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='ersti_Textverstehen_Wortfeld_Universitaet_A')
                            div.t_title
                                p Textverstehen: Wortfeld Universität
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='ersti_Wortschatz_ordnen_A')
                            div.t_title
                                p Wortschatz ordnen
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='ersti_Wortschatz_erweitern')
                            div.t_title
                                p Wortschatz erweitern
                            div.text_media.mediaelement

block overlay
    #overlaycontentbox
        h1 Der erste Tag an der Universität. Ein neuer Lebensabschnitt beginnt.
        p Ich bin aufgeregt Das Frühstück fällt vor lauter Nervosität flach. Ich studiere noch einmal den Lageplan,  um mir den Weg zum A-Gebäude,  in welchem mein erstes Seminar  heute  stattfinden wird, genau einzuprägen.  Oh mein Gott, ich werde mich ganz sicher verlaufen! Viel zu früh mache ich  mich auf den Weg  zur Bushaltestelle, da ich genügend Zeit haben möchte, falls ich den  richtigen Weg nicht  finden sollte und zur Vorsorge für jegliche andere mögliche Panne, die heute  passieren könnte.
        p  Die Busfahrt verläuft reibungslos.  Doch ich fühle mich jetzt schon merkwürdig zwischen  den anderen Studenten.  Passe ich hier tatsächlich rein?!  Allerdings baut es mich etwas auf, dass ich noch  andere Erstsemesterstudenten  sichte, die genauso unsicher  wirken wie ich. Auf dem Unigelände  komme ich mir dann sehr klein vor.  Während die Studenten  alle zielsicher in die Unigebäude  strömen, blicke ich  mich  erst einmal um. Zu meiner Verwunderung finde ich jedoch auf Anhieb den  richtigen Weg zu meinem Seminarraum.
        p  Bei meinem Gang durch das A-Gebäude fühle  ich mich wieder in die fünfte Klasse zurückversetzt.  Als ich damals von der Grundschule auf die Realschule wechselte,  fühlte ich mich genauso klein und unwissend. Die älteren Schüler waren  sichtlich  genervt von den kleinen Fünftklässlern, die noch keinen Plan von der  Mittelstufe  hatten. An der Uni  habe ich das Gefühl, dass die älteren Semester  sich  ebenso belästigt von den Erstis  fühlen, die nun planlos auf dem Campus  herumgeistern und  mit dämlichen Fragen nerven.
        p  Im Seminarraum  angekommen, ist es gleich viel angenehmer. Dort sitzen ganz  viele Erstis,  die noch genauso doof sind wie ich. Kaum habe ich mir einen Platz  ausgesucht und mich hingesetzt, komme ich auch schon mit meinen neuen Kommilitonen  ins Gespräch. Ich bin definitiv nicht die Einzige,  die so aufgeregt ist. Die meisten Erstis  teilen meine Unsicherheit und  sind alle sehr mitteilungsbedürftig. Es ist schön zu wissen, dass man nicht  alleine ist.
        p  Der restliche Tag verläuft ganz gut. Ab und an dauert es etwas länger  bis man die Räumlichkeiten findet, aber nach kurzem Suchen oder  Nachfragen, findet man sie. Die meisten Dozenten  machen  einen guten Eindruck und die Veranstaltungen  scheinen interessant zu werden.
        p  Nachdem der erste Unitag  vorbei ist, bin ich erleichtert. So schlimm  war es gar nicht. Eigentlich war es sogar richtig toll. Jetzt fühle ich mich  schon fast wie eine echte Studentin. Ich bin gespannt auf die bevorstehende Unizeit.  Die Aufregung und die Ängste sind der Neugier und Vorfreude gewichen. Jetzt  kann es richtig losgehen!