extends layout
block content
    #subjecttitle
        h1 Ersti
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Gefühlswörter
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='ersti_task1')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Universität
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='ersti_task2')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Synonyme
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='ersti_task3')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Lückentext
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='ersti_task4')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')