//
   Created by David on 17.07.2014.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script( src='/javascripts/ersti3.js')
    script( src='/javascripts/ersti.js')
    #wrapper
      #Textbox
        div.unselectable.container
            div.worddrag
            br(style='clear:both')
            #message.invisible
                | Richtig!
            div.target#synonym
                b.title
                    | Synonyme
            div.target#antonym
                b.title
                    | Antonyme
            br(style='clear:left')

     #Field
            | Ordne die unten stehenden Wörter nach Synonymen und Antonymen. Welche der Wörter drücken das gleiche aus wie „interessant“ („interessante Veranstaltung“) und welche der Wörter bedeuten das Gegenteil? Rechtsklick auf ein Wort entfernt dieses Wort wieder aus der Liste.
            a.buttona(href='#' onclick='validate()') weiter