//
   Created by Mirko on 17.07.2014.
extends layout
block content
    link(rel='stylesheet', href='stylesheets/ersti.css')
    script( src='javascripts/ersti_Textverstehen_Wortfeld_Universitaet_C.js')
    #Aufgabenbox
        p Welcher diese Worter passen in den Kontext Universität. Ordne diese den passenden Oberbegriff zu.

    #wrapper
        #Textbox_small.unselectable
            p#p1.p
            .inline_big(id="Seminar") Seminar
            .inline_big(id="Übung") Übung
            .inline_big(id="Vorlesung") Vorlesung
            .inline_big(id="Tutorium") Tutorium
            .inline_big(id="Kolloqium") Kolloqium
            .inline_big(id="Workshop") Workshop
            .inline_big(id="Konzert") Konzert
            .inline_big(id="Festival") Festival
            .inline_big(id="Konferenz") Konferenz
            .inline_big(id="Sportereignis") Sportereignis
            .inline_big(id="Party") Party
            .inline_big(id="Theaterstück") Theaterstück
            .inline_big(id="Oper") Oper
            .inline_big(id="Fest") Fest
            .inline_big(id="Tanzkurs") Tanzkurs
            .inline_big(id="Demonstration") Demonstration
            .inline_big(id="Dozent") Dozent
            .inline_big(id="Professor") Professor
            .inline_big(id="Praktikant") Praktikant
            .inline_big(id="Lehrer") Lehrer
            .inline_big(id="Trainer") Trainer
            .inline_big(id="Ober") Ober
            .inline_big(id="Hausmeister") Hausmeister
            .inline_big(id="Sekretärin") Sekretärin
            .inline_big(id="Prof") Prof
            .inline_big(id="HiWi") HiWi
            .inline_big(id="Chauffeur") Chauffeur
            .inline_big(id="Zimmermädchen") Zimmermädchen
            .inline_big(id="Student") Student
            .inline_big(id="Erstsemesterstudent") Erstsemesterstudent
            .inline_big(id="Ersti") Ersti
            .inline_big(id="Kommilitone") Kommilitone
            .inline_big(id="Schüler") Schüler
            .inline_big(id="Lerner") Lerner
            .inline_big(id="Bachelor") Bachelor
            .inline_big(id="Master") Master
            .inline_big(id="Gymnasiast") Gymnasiast
            .inline_big(id="Abiturient") Abiturient
            .inline_big(id="Klassenkamerad") Klassenkamerad
            .inline_big(id="Auszubildender") Auszubildender
            .inline_big(id="Absolvent") Absolvent
            .inline_big(id="Lehrling") Lehrling
            .inline_big(id="Schulabgänger") Schulabgänger
            br
            br
            .inline_big.hidden(id="Prof") Prof
            .inline_big.hidden(id="HiWi") HiWi
            .inline_big.hidden(id="Ersti") Ersti
         #Space
        #Antwortbox.text
            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Veranstaltung") Veranstaltung
            br
            |   01.
            input#s1.slot.Veranstaltung(type='text')
            br
            |   02.
            input#s2.slot.Veranstaltung(type='text')
            br
            |   03.
            input#s3.slot.Veranstaltung(type='text')
            br
            |   04.
            input#s4.slot.Veranstaltung(type='text')
            br
            |   05.
            input#s5.slot.Veranstaltung(type='text')
            br
            |   06.
            input#s6.slot.Veranstaltung(type='text')
            br
            |   07.
            input#s7.slot.Veranstaltung(type='text')
        #Antwortbox_two.text
            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Personal") Personal
            br
            | 01.
            input#s8.slot.Personal(type='text')
            br
            | 02.
            input#s9.slot.Personal(type='text')
            br
            | 03.
            input#s10.slot.Personal(type='text')
            br
            | 04.
            input#s11.slot.Personal(type='text')
            br
            | 05.
            input#s12.slot.Personal(type='text')
            br
            | 06.
            input#s13.slot.Personal(type='text')
            br
            | 07.
            input#s14.slot.Personal(type='text')
            br
            | 08.
            input#s15.slot.Personal(type='text')
        #Antwortbox_three.text
            a.h(target="_blank", href="http://www.duden.de/rechtschreibung/Lerner") Lerner
            br
            | 01.
            input#s16.slot.Lerner(type='text')
            br
            | 02.
            input#s17.slot.Lerner(type='text')
            br
            | 03.
            input#s18.slot.Lerner(type='text')
            br
            | 04.
            input#s19.slot.Lerner(type='text')
            br
            | 05.
            input#s20.slot.Lerner(type='text')
            br
            | 06.
            input#s21.slot.Lerner(type='text')
            br
            | 07.
            input#s22.slot.Lerner(type='text')
            br
            | 08.
            input#s23.slot.Lerner(type='text')
     #Space_two
    #wrapper
        #Textbox.text_big
            | Welche Begriffe verwenden speziell nur Studenten?
            #Antwortbox
                | 01.
                input#s1.slot.shortcut(type='text')
                | 02.
                input#s2.slot.shortcut(type='text')
                | 03.
                input#s3.slot.shortcut(type='text')