//
   Created by Mirko on 17.07.2014.
extends layout
block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script( src='/javascripts/ersti.js')
    #wrapper
        p.unselectable.info
            | Ordne die untenstehenden Begriffe in die drei vorgegebenen Themenfeldern: Veranstaltung, Personal, Lerner
        .unselectable.fields
        .unselectable.container(style='clear: left;')
            | Veranstaltung
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
            | 04.
            input#s4.slot(type='text')
            | 05.
            input#s5.slot(type='text')
            | 06.
            input#s6.slot(type='text')
            | 07.
            input#s7.slot(type='text')
            | 08.
            input#s8.slot(type='text')
            | 09.
            input#s9.slot(type='text')
            | 10.
            input#s10.slot(type='text')
            | 11.
            input#s11.slot(type='text')
            | 12.
            input#s12.slot(type='text')
            | 13.
            input#s13.slot(type='text')
            | 14.
            input#s14.slot(type='text')
            | 15.
            input#s15.slot(type='text')
            | 16.
            input#s16.slot(type='text')
            | Personal
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
            | 04.
            input#s4.slot(type='text')
            | 05.
            input#s5.slot(type='text')
            | 06.
            input#s6.slot(type='text')
            | 07.
            input#s7.slot(type='text')
            | 08.
            input#s8.slot(type='text')
            | 09.
            input#s9.slot(type='text')
            | 10.
            input#s10.slot(type='text')
            | 11.
            input#s11.slot(type='text')
            | 12.
            input#s12.slot(type='text')
            | Lerner
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
            | 04.
            input#s4.slot(type='text')
            | 05.
            input#s5.slot(type='text')
            | 06.
            input#s6.slot(type='text')
            | 07.
            input#s7.slot(type='text')
            | 08.
            input#s8.slot(type='text')
            | 09.
            input#s9.slot(type='text')
            | 10.
            input#s10.slot(type='text')
            | 11.
            input#s11.slot(type='text')
            | 12.
            input#s12.slot(type='text')
            | 13.
            input#s13.slot(type='text')
            | 14.
            input#s14.slot(type='text')
            | 15.
            input#s15.slot(type='text')
        p.unselectable.info
            | Welche dieser Wörter passen in den Kontext „Universität“
        .unselectable.container(style='clear: left;')
            | Veranstaltung
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
            | 04.
            input#s4.slot(type='text')
            | 05.
            input#s5.slot(type='text')
            | Personal
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
            | 04.
            input#s4.slot(type='text')
            | 05.
            input#s5.slot(type='text')
            | 06.
            input#s6.slot(type='text')
            | 07.
            input#s7.slot(type='text')
            | Lerner
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
            | 04.
            input#s4.slot(type='text')
            | 05.
            input#s5.slot(type='text')
            | 06.
            input#s6.slot(type='text')
        p.unselectable.info
            | Welche Begriffe verwenden speziell nur Studenten? Falls du nicht weiter weißt, nimm das Wortschatzportal zu Hilfe um die Abkürzungen aufzulösen.
        .unselectable.container(style='clear: left;')
            | 01.
            input#s1.slot(type='text')
            | 02.
            input#s2.slot(type='text')
            | 03.
            input#s3.slot(type='text')
        #Field
            a(href="/ersti_task4") weiter
