//
   Created by David on 29.07.2014.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/ersti.css')
    script(src='/javascripts/ersti3.js')
    script( src='/javascripts/ersti.js')

    #Aufgabenbox
        p Welche Wörter haben eine gegenteilige Bedeutung zu "dämlich"? Wähle aus dem Kasten vier passende Wörter aus.
        p Eine
            b  dämliche
            |  Frage
            &ne;
            | Eine _______ Frage
    #message.invisible
        | Richtig!
    #expl.invisible Halte die Maus über die rot gefärbten Kästchen für eine kurze Erklärung
    #wrapper
        #Textbox(style='width:50%')
            .target#conta
        #Platzhalter
        #Antwortbox(style='width:50%')
            .target#targa
    #Field
        span#balken
            a(href='#', onclick='reload()') ZURÜCKSETZEN
        span#hilfe
        span#check
            a(href='#', id='check3c') PRÜFEN
        span#weiter
            a(href='#', id="weiter3c") WEITER