extends layout
block content
    #subjecttitle
        h1 Ersti
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                div.ltitle Gefühlswörter
            div#les2.lesson
                div.licon Icon
                div.lstart
                div.ltitle Universität
            div#les3.lesson
                div.licon Icon
                div.lstart
                div.ltitle Synonyme
            div#les4.lesson
                div.licon Icon
                div.lstart
                div.ltitle Lückentext
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent