extends layout
block content
    #subjecttitle
        h1 Ersti
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: emotionale Wörter
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='ersti_Textverstehen_emotionale_Woerter')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Wortfeld Universität
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='ersti_Textverstehen_Wortfeld_Universitaet_A')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Wortschatz ordnen
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='ersti_Wortschatz_ordnen_A')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Wortschatz erweitern
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='ersti_Wortschatz_erweitern')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')