//
   Created by julianebredack on 20.01.16.

extends layout
block overlay
    #overlaycontentbox
        p Test
block content
    #content_background
        link(rel='stylesheet', href='stylesheets/fuba_Textproduktion.css')
        script( src='javascripts/fuba_Textproduktion.js')
        #Aufgabenbox
            p Setze das richtige Wort in die Lücke ein. Solltest du Hilfe benötigen, drücke den Hilfe-Button.

        #wrapper
            #Textbox

                p
                |Der
                .inline(id=1) Schiedsrichter
                | leitet das Spiel. Er sorgt dafür, dass die Regeln eingehalten werden.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_1.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_1.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Er foult seinen
                .inline(id=2) Gegenspieler
                |, einen Spieler, aus der generischen Mannschaft.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_2.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_2.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Die Mannschaft ist um den
                .inline(id=3) Ausgleich
                |bemüht. Sie liegt hinten und möchte nicht verlieren.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_3.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_3.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Es ertönt der
                .inline(id=4) Schlusspfiff
                |. Das Spiel ist somit beendet.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_4.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_4.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Als Strafe für das Foul bekommt die gegnerische Mannschaft einen
                .inline(id=5) Freistoß
                |. Dabei wird das Spiel unterbrochen, der Ball auf die Stelle des Fouls gelegt und die Mannschaft, die gefoult wurde, darf weiterspielen.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_5.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_5.png"><img src="images/liveticker/hilfe_button.png"/></a>

                p
                |Die Mannschaft ist öfter in Ballbesitz als die Gegner, sie hat also mehr
                .inline(id=6) Spielanteile
                |.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_6.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_6.png"><img src="images/liveticker/hilfe_button.png"/></a>
                p
                |Im direkten
                .inline(id=7) Zweikampf
                |, also wenn ein Spieler der einen Mannschaft gegen einen Spieler aus der anderen Mannschaft um den Ball kämpft, verliert sie aber meistens.

                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_7.png')" >
                img.textwrap1(src="images/liveticker/hilfe_Button.png")
                </a>
                //<a href="images/liveticker/Liveticker_Fussball_Aufgabe3_7.png"><img src="images/liveticker/hilfe_button.png"/></a>
                p
                #Check
                    <button id="Ergebnis">Überprüfen</button>


            #Platzhalter
            #Antwortbox

