//
   Created by julianebredack on 07.02.16.


extends layout

block content
    #content_background
        link(rel='stylesheet', href='stylesheets/fuba_Komposita.css')
        script( src='javascripts/fuba_Komposita.js')
        #Aufgabenbox
            p
            h3 a) Bilde Komposita, also Nomen, die aus mehreren Wörtern zusammengesetzt werden.
            |Der Artikel kann dir eine Hilfe sein. Er richtet sich immer nach dem hinteren Wort.


        #wrapper
            #Textbox

                p
                |der 	Gruppen
                .inline(id=1) sieg
                p
                | die Halb
                .inline(id=2) zeit
                p
                | der 	Klärungs
                .inline(id=3) versuch
                p
                | der Hinter
                .inline(id=4) halt
                p
                | die Werks
                .inline(id=5) elf
                p
                | der Diagonal
                .inline(id=6) schuss
                p
                | der Frei
                .inline(id=7) stoß
                p
                | das Offensiv
                .inline(id=8) foul
                p
                | der Schluss
                .inline(id=9) pfiff
                p
                | der Fuß
                .inline(id=10) ball
                p
                | der Spieler
                .inline(id=11) wechsel
                p


            #Antwortbox
            #Platzhalter
        #Check
            <button id="Ergebnis">Überprüfen</button>



