//
   Created by David on 03.08.2014.

extends layout
block content
    link(rel='stylesheet', href='stylesheets/generationen_text_task1_3.css')
    script(src='javascripts/generationen_task3.js')
    #Aufgabenbox
        p Ordne passende  Bezeichnungen zu Jung und  Alt

    #wrapper
        #Textbox
            #wordselect
            #jung.drop
                center     <b>Jung</b>
            #alt.drop
                center     <b>Alt</b>

    #Field
        span#balken
        span#hilfe
        span#check
            a(href='#') PRÜFEN
        span#weiter
            a(href='#') WEITER