//
   Created by David on 03.08.2014.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/generationen.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/jquery-ui.min.js')
    script(src='javascripts/generationen4.js')
    #wrapper
        p Welche Bedeutung haben die folgenden Wörter/Satzfragmente? (Erschließung der Bedeutung anhand des Textes)
        .mco#m1
            .task Heutzutage ist es normal, dass die Lebenswelten zwischen Jung und Alt immer weiter
                u auseinanderklaffen
            br
            input(type="radio" name='mco1' id='r11')
            label(for='r11')
             | Abstand vergrößern
            br
            input(type="radio" name='mco1' id='r12')
            label(for='r12') etw. (auseinander) schneiden
            br
            input(type="radio" name='mco1' id='r13')
            label(for='r13') sich annähern
        .mco#m2
            .task Wenn ich mich als Jugendlicher
                u ins Zeug lege
                | , habe ich später ein schönes Leben
            br
            input(type="radio" name='mco2' id='r21')
            label(for='r21') Anstrengen
            br
            input(type="radio" name='mco2' id='r22')
            label(for='r22') Ausruhen
            br
            input(type="radio" name='mco2' id='r23')
            label(for='r23') Anziehen
        .mco#m3
            .task Jugendliche sollte man nicht zu lange
                u vorm PC parken
                | , da sie auch mal in der Natur spielen sollten
            br
            input(type="radio" name='mco3' id='r31')
            label(for='r31') etw./jmd. (ab-)setzen [um Ruhe zu haben]
            br
            input(type="radio" name='mco3' id='r32')
            label(for='r32') PC in die Garage auslagern
            br
            input(type="radio" name='mco3' id='r33')
            label(for='r33') Abstellplatz für PC
        .mco#m4
            .task Ein gutes
                u Stehvermögen
                | der Eltern sorgt für Disziplin und Erfolg
            br
            input(type="radio" name='mco4' id='r41')
            label(for='r41') Ausdauer
            br
            input(type="radio" name='mco4' id='r42')
            label(for='r42') konstanter Reichtum (Besitz)
            br
            input(type="radio" name='mco4' id='r43')
            label(for='r43') aufrechter Stand
        .mco#m5
            .task „Sie wollen sich auch wirklich
                u reiben
                | .“
            br
            input(type="radio" name='mco5' id='r51')
            label(for='r51') streiten
            br
            input(type="radio" name='mco5' id='r52')
            label(for='r52') reinigen
            br
            input(type="radio" name='mco5' id='r53')
            label(for='r53') streicheln
    #Field
        a#weiter Weiter
        a#check Prüfen