Created by David on 03.08.2014.
extends layout
block content
   link(rel='stylesheet', href='stylesheets/generationen.css')
   script(src='javascripts/generationen_Textverstehen_Bedeutungserschliessung.js')
   #Aufgabenbox
      p Welche Bedeutung haben die folgenden Wörter/Satzfragmente? (Erschließung der Bedeutung anhand des Textes)
   #wrapper
      #Textbox
         .mco#m1
            .task Heutzutage ist es normal, dass die Lebenswelten zwischen Jung und Alt immer weiter
                u auseinanderklaffen.
         .mco#m2
            .task Wenn ich mich als Jugendlicher
                u ins Zeug lege,
                | habe ich später ein schönes Leben.
         .mco#m6
            .task Danach
                u driften
                | die Lebenswelten der verschiedenen Generationen in Deutschland zunehmend auseinander.
         #Space
      #Textbox
         .mco#m3
            .task Jugendliche sollte man nicht zu lange
                u vorm PC parken,
                | da sie auch mal in der Natur spielen sollten.
         .mco#m4
            .task Ein gutes
                u Stehvermögen
                | der Eltern sorgt für Disziplin und Erfolg.
         .mco#m5
            .task Sie wollen sich auch wirklich
                u reiben.