extends layout
block content
    link(rel='stylesheet', href='stylesheets/generationen.css')
    script(src='javascripts/generationen_start.js')
    #Aufgabenbox
        h1(style='font-family:Dosis,sans-serif;') Generationen
    #wrapper
        #Textbox
            div#l1.lek
                p Lektion 1
                p.gr Komposita
            div#l2.lek
                p Lektion 2
                p.gr Zuordnung
            div#l3.lek
                p Lektion 3
                p.gr Multiple choice
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
