extends layout
block content
    #subjecttitle
        h1 Generationen
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div#les1.task
                div.taskicon Icon
                div.taskstart
                    a(href='generationen_task1')
                div.tasktitle Komposita
            div#les2.task
                div.taskicon Icon
                div.taskstart
                    a(href='generationen_task2')
                div.tasktitle Zuordnung
            div#les3.task
                div.taskicon Icon
                div.taskstart
                    a(href='generationen_task3')
                div.tasktitle Multiple Choice
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent

