extends layout
block content
    link(rel='stylesheet', href='/stylesheets/generationen.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/jquery-ui.min.js')
    script(src='javascripts/generationen2.js')
    #wrapper
    #page
        #oben
            #Platz
            #l
                p Auswahl1
                #ltext
                    .tok Wort1
                    .tok Wort2
                    .tok Wort3
                    .tok Wort4
                    .tok Wort5
            #Platz
            #r
                p Auswahl2
                #rtext
                .tok Wort1
                .tok Wort2
                .tok Wort3
                .tok Wort4
                .tok Wort5
            #Platz
        #Antwort
            p Antwortbox
