extends layout
block content
    link(rel='stylesheet', href='stylesheets/generationen.css')
    script( src='javascripts/generationen_Wortschatz_ordnen.js')
    #Aufgabenbox
        p Ordne passende  Bezeichnungen zu Jung und  Alt

    #wrapper
        #Textbox
            #wordselect
            #jung.drop
                center     <b>Jung</b>
            #alt.drop
                center     <b>Alt</b>