extends layout
block content
    link(rel='stylesheet', href='/stylesheets/generationen.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/jquery-ui.min.js')
    script(src='javascripts/generationen.js')
    #wrapper
    #Textbox
        h1 Generationen


        #p1.
            Die Postkarte war versehentlich in unserem Briefkasten gelandet. Eigentlich
            war sie für Jakob gedacht, einen Jungen aus der Parallelstraße. "Lieber
            Jakob!", stand da. "Ich bin jetzt an der Ostsee, und das Wetter ist gut.
            Schade, dass du nicht mitkommen konntest. Es ist zwar ganz schön hier, aber mit den
            alten <i>Kompostis</i> hier rumzuhängen ist irgendwann <i>langweilig</i>. Viele Grüße!" </p>

        img(src="images/bild.png", align="left" hspace=50 vspace=10)

        p.
            So schnell kann man in der Gunst seiner jugendlichen Kinder also sinken.
            Gestern noch "beste Mama der Welt". Und heute? Komposti. Im Internet
            finden sich noch sehr viel weniger schmeichelhafte Bezeichnungen:
            <i>Abstellgreis, Friedhofsgemüse, Verwesungsanwärter</i>.

        p.
            Wie es aussieht, scheint es eine unsichtbare Schwelle zu geben, über die
            Kinder auf dem Weg zum Erwachsenwerden schreiten. Und wenn die passiert
            ist, <b>leben Jugendliche <i>auf einem anderen Stern</i> als Erwachsene</b>. Das ergab
            jetzt auch die Studie "Generationenbilder", die das Institut für Demoskopie
            Allensbach für Jacobs Krönung erstellt hat.

        p.
            Danach driften die Lebenswelten der verschiedenen Generationen
            Deutschland zunehmend auseinander. Schon zwischen junger und mittlerer
            Generation sehen rund drei Viertel der Bevölkerung starke oder sogar sehr
            starke Unterschiede in den Einstellungen, Ansichten und Verhaltensweisen.

        p
         |   Und mehr noch: Statt sich langsam einzuebnen, scheinen die Unterschiede
         |   zwischen den Generationen sogar noch zu wachsen. 51 Prozent der Befragten
         |   und sogar 64 Prozent der über 60-Jährigen haben den Eindruck, dass <b>die
         |   Lebenswelten zwischen Jung und Alt immer weiter auseinanderklaffen</b>.


        p
        |   Treiben sich denn nicht inzwischen sogar Großväter mit wachsender
        |   Begeisterung in Facebook herum? Tauschen nicht Mütter und Töchter
        |   leidenschaftlich gern <i>Partyfummel</i> und Nagellack? Weiß etwa nicht
        |   inzwischen jeder halbwegs aus dem analogen Neandertal Emigrierte,
        |   wie man Smartphone und iPod bedient? Ebnet das globale digitale Dorf nicht ohnehin
        |   alle Unterschiede ein? Ja. Und nein.

        p.
            "Generationenmäßig leben wir im Zeitalter des Extremismus", sagt Michael
            Thiel. Der Hamburger Diplom-Psychologe hat die Studie begleitet und
            festgestellt, dass auch in der mittleren Generation die Schere immer weiter
            auseinanderklafft - zwischen denen, die <i>jung im Kopf</i> und über aktuelle
            Trends auf dem Laufenden sind, und denen, die sich ernsthaft wundern, wer
            da morgens <i>muffelig</i> an ihrem Frühstückstisch sitzt.

        p.
            <b>"In vielen Familien ist die Kommunikation dramatisch schlecht"</b>, hat Thiel
            festgestellt. "Dadurch entfremdet man sich." Und auch das gibt Thiel zu
            bedenken: Die 50-Jährigen von heute mögen sich zwar fühlen wie 30. Von der
            Lebenswelt ihrer Kinder sind sie aber trotzdem meilenweit entfernt. "Der
            Lebensrhythmus der Kinder von heute ist viel rascher als das, was wir früher
            so erlebt haben? angefangen bei der verkürzten Schulzeit. Die Interessen sind
            einfach nicht mehr kompatibel mit denen der Erwachsenen, da trifft <i>digitales
            Dauerdaddeln</i> auf die Abteilung Spieleabend mit Freunden." Dies zu
            definieren sei aber auch das Vorrecht der Jugend. Man erinnert sich: Trau
            keinem über 30.

        img(src="images/by_Wilhelmine Wulff_pixelio.de.jpg",align="right" hspace=50 vspace=10)

        p.
            Typisch: <b>Eltern haben keine Zeit für den Nachwuchs</b>

        p.
            Doch was macht letztlich die Unterschiedlichkeit der Lebenswelten aus, die
            Jung wie Alt so erleben? In erster Linie die Interessen? aber auch Werte und
            Selbstbilder. Die Einschätzung, welche Erfahrungen und Haltungen für die
            eigene Generation prägend sind, unterscheidet sich in den verschiedenen Altersgruppen
            tatsächlich sehr deutlich.

        p.
            Die ältere Generation über 60 Jahren sieht <i>sich stark geprägt durch strenge
            Erziehung</i> (80 Prozent), den <i>Respekt vor Autoritäteni</i> (81) und
            <i>Leistungsbereitschaft</i> (72), aber auch <i>Werteorientierung</i> (71) und <i>starken
            Zusammenhalt</i> (64)- Faktoren, die Jugendliche zwischen 14 und 17 Jahren
            kaum als generationstypisch nennen. Hier fallen eher Begriffe wie
            <i>Kontaktfreude</i> (79 Prozent), <i>Freiheit</i> (72) und <i>Genussorientierung</i> (64).


        p.
            Als typisch für die heutige Jugend wird auch die Tatsache wahrgenommen,
            dass die Eltern wenig Zeit für ihre Kinder haben. Dieser Punkt wird mit 57
            Prozent bereits an vierter Stelle genannt. Etwas diffuser stellt sich das
            Selbstbildnis der mittleren Generation der 30- bis 59-Jährigen dar. Doch
            ähnlich wie bei den Senioren stehen auch hier die Achtung von Autoritäten,
            Leistungsbereitschaft und klare Vorstellungen von richtig und falsch im
            Vordergrund.

        p.
            Interessant wird es aber vor allem da, wo es um die Selbst- und
            Fremdwahrnehmung der Generationen geht. Der Blick von außen ist beileibe
            nicht nur positiv. So erleben Erwachsene ab 25 die Jugend deutlich
            <i>hedonistischer</i> und <i>freiheitsorientierter</i> als die sich selbst. Zwei Drittel halten
            Jugendliche für <i>egoistisch</i> - die Betroffenen sich selbst aber nur zu einem
            Drittel. <b>Besonders weit klaffen Selbst- und Fremdwahrnehmung auch in der
            Frage der Anstrengungsbereitschaft auseinander.</b>

        img(src="images/by_Hofschlaeger_pixelio.de.jpg", align="left" hspace=50 vspace=10)

        p.
            Nur zehn Prozent der Erwachsenen halten die heutige Jugend für besonders
            leistungsorientiert. Die nennen Leistungsbereitschaft hingegen zu 30 Prozent
            als ein Charakteristikum ihrer Generation. Eltern von jugendlichen Kindern
            urteilen zwar milder über ihren <i>Nachwuchs</i> als kinderlose. Aber auch von
            ihnen haben nur elf Prozent den Eindruck, dass ihre Kinder sich ins Zeug
            legen wollen, um etwas zu erreichen.

        b   Fördern, aber nicht kontrollieren


        P.
            "Es ist das Vorrecht der Jugend, sich das Recht auf Faulheit
            herauszunehmen", meint Psychologe Thiel. "<i>Pubertät</i> ist für Körper und
            Psyche wahnsinnig anstrengend." Eine generelle Lizenz zum Chillen sollten
            Eltern ihren Kindern aber nicht ausstellen. "Eltern tragen selbst oft mit ihrer
            im Prinzip gut gemeinten Erziehung zur sorglosen Haltung der Jugendlichen
            bei", hat Thiel beobachtet. "Meistens bekommen die Kinder, was sie möchten -
            egal ob aus schlechtem Gewissen, weil die Eltern keine Zeit haben, oder wen
            Eltern einfach das Beste für ihre Kinder wollen."


        p.
            Statt Streit aus dem Weg zu gehen und ihre <i>Sprösslinge</i> bequem vor der
            "Fluchtröhre PC" parken zu lassen, rät der Psychologe Eltern zu mehr
            Stehvermögen. "Gerade in der schwierigen Phase der Pubertät müssen Eltern
            konfliktbereit sein und Beziehungsarbeit leisten." Seiner Erfahrung nach
            wollten Jugendliche gefördert, aber nicht kontrolliert werden, sie brauchten
            Freiheit, aber auch Regeln und Grenzen: "Sie wollen sich auch wirklich
            reiben."

        p.
            Reibung erzeugt eben Wärme. Denn auch das hat Allensbach ermittelt: Die
            Familie wird von den Beteiligten durchaus als Brücke zwischen den
            Generationen erlebt. <b>Innerhalb der eigenen vier Wände wird die Kluft
            zwischen den Lebenswelten weit weniger stark wahrgenommen als allgemein.</b>
            Während rund die Hälfte aller 40- bis 54-Jährigen ohne Kinder angeben, dass
            ihnen die Gedankenwelt der heutigen Jugend derart fremd geworden ist, dass
            es ihnen schwerfällt, sie zu verstehen, sind es unter den Eltern, die sich
            täglich mit ihren <i>pubertierenden Heranwachsenden</i> austauschen, nur 20
            Prozent. Und viele Konflikte, so viel zeigt die Lebenserfahrung, wachsen sich
            mit der Zeit ja aus.

        p.
            Wie sagte Mark Twain einst so schön? "Als ich 14 war, war mein Vater so
            unwissend. Ich konnte den alten Mann kaum in meiner Nähe ertragen. Aber
            mit 21 war ich verblüfft, wie viel er in sieben Jahren dazugelernt hatte." <b>Den
            Kompostis dieser Welt sei also zugerufen: Es besteht noch Hoffnung.</b>




