extends layout
block content
    link(rel='stylesheet', href='stylesheets/generationen_task2.css')
    script( src='javascripts/generationen_Textverstehen_Komposita.js')
    #Aufgabenbox
        p Erstelle aus dem vorderem und hinterem Morphem ein Kompositum, indem du die jeweiligen Nomen in die Anwortbox ziehst.

    #wrapper
        #page
            #message
                | Richtig! :)
            #message2
                | Falsch... :(
            #oben
                #Platz
                #l
                    p vorderes Morphem
                    div#ltext
                #Platz
                #r
                    p hinteres Morphem
                    div#rtext
                #Platz
            #Antwortbox
                p Kompositum
                    #antwort
                        #a1.drop2
                        #Platzhalter
                        #a2.drop2

//        #Field
            span#balken
            span#hilfe
                a(href='#') HILFE
                span.help
                    a(href="http://richtiges_gutes_de.deacademic.com/1292/Kompositum" target='_blank') Was ist ein Kompositum?
            span#check
            span#weiter
                a(href="generationen_task3") WEITER