//
   Created by David on 03.08.2014.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/generationen.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/jquery-ui.min.js')
    script(src='javascripts/generationen3.js')
    p Aufgabestellung: Ordne passende  Bezeichnungen zu Jung und  Alt
        br
    #wrapper
        #Textbox
            #wordselect
            #jung.drop
                    p Jung
            #alt.drop
                    p Alt
    #Field
        a#weiter Weiter
        a#check Prüfen
