extends layout
block content
    link(rel='stylesheet', href='/stylesheets/generationen.css')
    #page
        #oben
            #Platz
            #l
                p Auswahl1
                #ltext
                    .tok Wort1
                    .tok Wort2
                    .tok Wort3
                    .tok Wort4
                    .tok Wort5
            #Platz
            #r
                p Auswahl2
                #rtext
                .tok Wort1
                .tok Wort2
                .tok Wort3
                .tok Wort4
                .tok Wort5
            #Platz
        #Antwort
            p Antwortbox
