extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_silbermond.css')
    script(src='javascripts/sha256.js')
    script(src='javascripts/glueck_silbermond.js')
    #Aufgabenbox
        p Rekonstruiere die Sätze. Passe die Verben an.
    #flexybox
        .linebox#lib02
            .targetline#tal02
                .tgtelem Glück ist,
            .helparea#hpa02
                .helpico
            .resetarea#rsa02
                .resetico
            .sourceline#sol02
                .srcelem#sol02src01(random="4fb168d4321006ca9fcd5621b0a02cfa") scheint
                .srcelem#sol02src04(random="b78d153bf7109d2dbfb03215711da50b") Sonne
                .srcelem#sol02src03(random="5f8f0394bca7ccfc01bf6c881de4e5b3") wenn
                .srcelem#sol02src02(random="7613a473cc854f6617ce4ceddf1f7527") die
        .linebox#lib07
            .targetline#tal07
                .tgtelem Glück ist,
            .helparea#hpa07
                .helpico
            .resetarea#rsa07
                .resetico
            .sourceline#sol07
                .srcelem#sol07src02(random="a816bf0cb7c6c44b5129891751b02c79") ich
                .srcelem#sol07src08(random="8df71f70fc9b543dbfe4a563ebb39c9f") mir
                .srcelem#sol07src06(random="39b8f8363aeb8a5e6f1e109ce4aea250") etwas
                .srcelem#sol07src07(random="ab0550cf315a756302df65feaeeb1ed4") mache
                .srcelem#sol07src01(random="a977696e66cf5e0420f4526180a53bc2") aus
                .srcelem#sol07src04(random="9aa96a8cbf21854acb9602cc24bb8726") Zukunft
                .srcelem#sol07src05(random="00ba8bcd59e5f1752690e93a7ed53a22") dass
                .srcelem#sol07src03(random="c6141f87b2e247f2811ac041b6e412ba") in
        .linebox#lib04
            .targetline#tal04
                .tgtelem Glück ist,
            .helparea#hpa04
                .helpico
            .resetarea#rsa04
                .resetico
            .sourceline#sol04
                .srcelem#sol04src02(random="81f725c22b664439e5c6b15fa118b549") nicht
                .srcelem#sol04src01(random="8e0c6071108942b430ab36350554c598") dass
                .srcelem#sol04src05(random="b65889f2ef0dc9e39ce2532d05589125") das
                .srcelem#sol04src06(random="b9e6c104ab61468135f1274e2ccea728") verliert
                .srcelem#sol04src03(random="152c02514b5537d36a3fb900792efc95") Lachen
                .srcelem#sol04src04(random="8ad73d681481b1c4793a05050eea9936") man
        .linebox#lib09
            .targetline#tal09
                .tgtelem Glück ist,
            .helparea#hpa09
                .helpico
            .resetarea#rsa09
                .resetico
            .sourceline#sol09
                .srcelem#sol09src03(random="40af5ef410cf45b2940ac4451ceb270b") aufwacht
                .srcelem#sol09src02(random="38ecb11c520a46d528a87978e11e5185") wenn
                .srcelem#sol09src05(random="b9d5b94f858d8b3911fba6fa786f4c62") morgens
                .srcelem#sol09src01(random="25cc5a47a8f94378f47640acae71cd67") meine
                .srcelem#sol09src04(random="940eaab69c18949558a1382f96b2804b") Tochter
        .linebox#lib01
            .targetline#tal01
                .tgtelem Glück ist,
            .helparea#hpa01
                .helpico
            .resetarea#rsa01
                .resetico
            .sourceline#sol01
                .srcelem#sol01src01(random="7cb5ab9e7173fa6a3fe9d609e3755d88") ist
                .srcelem#sol01src03(random="c17446037643417f11710cb34f4d49dd") man
                .srcelem#sol01src02(random="92f10eeac493aeb83b7ece4a4e612d3b") frei
                .srcelem#sol01src04(random="145851ceb551a93389b876a57b00848b") wenn
        .linebox#lib06
            .targetline#tal06
                .tgtelem Glück ist,
            .helparea#hpa06
                .helpico
            .resetarea#rsa06
                .resetico
            .sourceline#sol06
                .srcelem#sol06src02(random="ec47c4c0b4e362f5e5bc3c329f0b21b5") ich
                .srcelem#sol06src05(random="a7cd209f76c38b1f82e7b86db61961b5") Eltern
                .srcelem#sol06src01(random="fac5116e1278ce4d17b65da855f97293") machen
                .srcelem#sol06src04(random="0d3c8ccf9eb1bac60d8f556ed92baa1a") mit
                .srcelem#sol06src03(random="3cdb82a8ad2b3c17e3b0b516151b7c55") kann
                .srcelem#sol06src08(random="c5f5d192c5022290a2b9087cba7cf84c") etwas
                .srcelem#sol06src06(random="6476d64d25efa5b1f598d2ba635ed5a9") wenn
                .srcelem#sol06src07(random="6cca9fe12fcb3611688b2afca999f837") meinen
        .linebox#lib05
            .targetline#tal05
                .tgtelem Glück ist,
            .helparea#hpa05
                .helpico
            .resetarea#rsa05
                .resetico
            .sourceline#sol05
                .srcelem#sol05src06(random="346cd5a347279d0621f09cf8589c81b8") sich
                .srcelem#sol05src03(random="84ccfc0cb62f5f82afd0ad99b24324bd") man
                .srcelem#sol05src01(random="52f5a35d98733e5b499a0e316e6079fc") ist
                .srcelem#sol05src05(random="f170ddd317af3634961e0f55bbb9bfc4") zufrieden
                .srcelem#sol05src02(random="c71919f751711af3138bd5ad4ce36eed") wenn
                .srcelem#sol05src07(random="c09a3f54a84d863933290fd1f9932319") selbst
                .srcelem#sol05src04(random="aaa2dae99d7ea6fcc8edc36e352e8791") mit
        .linebox#lib10
            .targetline#tal10
                .tgtelem Glück ist,
            .helparea#hpa10
                .helpico
            .resetarea#rsa10
                .resetico
            .sourceline#sol10
                .srcelem#sol10src05(random="015ad39bff887cdd3e82f1013aa9267d") stehen
                .srcelem#sol10src06(random="f4eaac3a8b8b4e1ed00742150b4b8bef") einem
                .srcelem#sol10src07(random="a9d21ee69cf2b43e15efc0e7ff387843") wie
                .srcelem#sol10src03(random="2a551baedba45044495f50c2fbe1073d") dürfen
                .srcelem#sol10src01(random="4a0cb8fea08b496e6664410c8830b464") heute
                .srcelem#sol10src09(random="1355805d812b3954eea3b41cae42cece") hier
                .srcelem#sol10src04(random="85adcb693ed690a1cb0294d10bafab0b") Tag
                .srcelem#sol10src02(random="4ddf325595f2467031245dd726c0397d") an
                .srcelem#sol10src08(random="bf31a83044748fbfb520fc13a0152740") zu
        .linebox#lib03
            .targetline#tal03
                .tgtelem Glück ist,
            .helparea#hpa03
                .helpico
            .resetarea#rsa03
                .resetico
            .sourceline#sol03
                .srcelem#sol03src05(random="4cc17ba549d5968f17f22bc796eae3c9") die
                .srcelem#sol03src04(random="50bcd8d2dfc7de13e831d72bf2231d22") aufmacht
                .srcelem#sol03src03(random="4b5d4cbb52b7d8c13c82c7fb81575a91") wenn
                .srcelem#sol03src02(random="41c8ea2c2a9dfc0b6e0c0c84589e6f07") Augen
                .srcelem#sol03src01(random="0a527dc7469f2c804f98c76513408ee4") man
        .linebox#lib08
            .targetline#tal08
                .tgtelem Glück ist,
            .helparea#hpa08
                .helpico
            .resetarea#rsa08
                .resetico
            .sourceline#sol08
                .srcelem#sol08src03(random="bc66f3f88dc26b46ae60f2a0918addb8") wenn
                .srcelem#sol08src05(random="5390fc88f825838bb2f586007de5a4dc") habe
                .srcelem#sol08src06(random="f84f2393cef1eabe7e303353f32602e1") liebt
                .srcelem#sol08src02(random="5add93934b24c4f781fd1eb987005d8e") ich
                .srcelem#sol08src04(random="d2244e1e6f906b41dbe7feff0ea0f3e8") der
                .srcelem#sol08src07(random="c7f673d647ac0578402d41e52d236134") jemanden
                .srcelem#sol08src01(random="0cd5a75e8a33bf9aa6a5bb1d1abe2f9f") mich
