extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_silbermond.css')
    script( src='javascripts/glueck_silbermond.js')
    #Aufgabenbox
        p Rekonstruiere die Sätze, indem du die Elemente von der rechten. Passe die Verben an.
    #flexybox
        #targetbox
            .targetline#t01
                .tgtelem Glück ist,
            .targetline#t02
                .tgtelem Glück ist,
            .targetline#t03
                .tgtelem Glück ist,
            .targetline#t04
                .tgtelem Glück ist,
            .targetline#t05
                .tgtelem Glück ist,
            .targetline#t06
                .tgtelem Glück ist,
            .targetline#t07
                .tgtelem Glück ist,
            .targetline#t08
                .tgtelem Glück ist,
            .targetline#t09
                .tgtelem Glück ist,
            .targetline#t10
                .tgtelem Glück ist,
        #sourcebox
            .sourceline#s01
                .srcelem  frei
                .srcelem  sein
                .srcelem  man
                .srcelem  wenn
            .sourceline#s02
                .srcelem  wenn
                .srcelem  Sonne
                .srcelem  die
                .srcelem  scheinen
            .sourceline#s03
                .srcelem  Augen
                .srcelem  wenn
                .srcelem  man
                .srcelem  aufmachen
                .srcelem  die
            .sourceline#s04
                .srcelem  nicht
                .srcelem  das
                .srcelem  verlieren
                .srcelem  Lachen
                .srcelem  dass 
                .srcelem  man
            .sourceline#s05
                .srcelem  zufrieden
                .srcelem  sein
                .srcelem  man
                .srcelem  wenn
                .srcelem  selbst
                .srcelem  mit
                .srcelem  sich
            .sourceline#s06
                .srcelem  wenn
                .srcelem  mit
                .srcelem  Eltern
                .srcelem  meinen
                .srcelem  machen
                .srcelem  was
                .srcelem  ich
                .srcelem  können
            .sourceline#s07
                .srcelem  Zukunft
                .srcelem  ich
                .srcelem  in
                .srcelem  machen
                .srcelem  aus
                .srcelem  dass
                .srcelem  etwas
                .srcelem  aus
                .srcelem  mir
            .sourceline#s08
                .srcelem  haben
                .srcelem  ich
                .srcelem  mich
                .srcelem  jemand
                .srcelem  wenn
                .srcelem  ,der
                .srcelem  lieben
            .sourceline#s09
                .srcelem  aufwachen
                .srcelem  wenn
                .srcelem  morgens
                .srcelem  Tochter
                .srcelem  meine
            .sourceline#s10
                .srcelem  heute
                .srcelem  zu
                .srcelem  einem
                .srcelem  an
                .srcelem  wie
                .srcelem  Tag
                .srcelem  stehen
                .srcelem  hier
                .srcelem  dürfen
            