extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_video_zuordnen.css')
    script(src='javascripts/glueck_video_zuordnen.js')
    #Aufgabenbox
        p Ordne die Zitate aus dem liedtext den Themen zu. Ziehe die Zitate in die den richtigen Kreis.
    #wrapper
        #Vorgabe

        #Loesung
            #Familie.Antwort(int="1")
                h3 Familie
            #Leben.Antwort(int="2")
                h3 Leben
            #Geld.Antwort(int="3")
                h3 Geld
