extends layout
block content
    #subjecttitle
        h1 Glück
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                    a(href='glueck_task1a')
                div.ltitle Gedicht
            div#les2.lesson
                div.licon Icon
                div.lstart
                    a(href='glueck_task2')
                div.ltitle Interview
            div#les3.lesson
                div.licon Icon
                div.lstart
                    a(href='glueck_task3')
                div.ltitle Kreuzworträtsel
            div#les4.lesson
                div.licon Icon
                div.lstart
                    a(href='glueck_task4')
                div.ltitle Redensarten
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
