extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_silbermond.css')
    script( src='javascripts/glueck_silbermond.js')
    #Aufgabenbox
        p Rekonstruiere die Sätze. Passe die Verben an.
    #flexybox
        .linebox#li01
            .targetline#ts01
                .tgtelem Glück ist,
            .sourceline#s01
                .srcelem  frei
                .srcelem
                    select.dropbox
                        option(value='sein') sein
                .srcelem  man
                .srcelem  wenn
            .resetarea
                .panelarrow
        .linebox#li02
            .targetline#ts02
                .tgtelem Glück ist,
            .sourceline#s02
                .srcelem  wenn
                .srcelem  Sonne
                .srcelem  die
                .srcelem  scheinen
            .resetarea
                .panelarrow
        .linebox#li03
            .targetline#ts03
                .tgtelem Glück ist,
            .sourceline#s03
                .srcelem  Augen
                .srcelem  wenn
                .srcelem  man
                .srcelem  aufmachen
                .srcelem  die
            .resetarea
                .panelarrow
        .linebox#li04
            .targetline#ts04
                .tgtelem Glück ist,
            .sourceline#s04
                .srcelem  nicht
                .srcelem  das
                .srcelem  verlieren
                .srcelem  Lachen
                .srcelem  dass 
                .srcelem  man
            .resetarea
                .panelarrow
        .linebox#li05
            .targetline#ts05
                .tgtelem Glück ist,
            .sourceline#s05
                .srcelem  zufrieden
                .srcelem  sein
                .srcelem  man
                .srcelem  wenn
                .srcelem  selbst
                .srcelem  mit
                .srcelem  sich
            .resetarea
                .panelarrow
        .linebox#li06
            .targetline#ts06
                .tgtelem Glück ist,
            .sourceline#s06
                .srcelem  wenn
                .srcelem  mit
                .srcelem  Eltern
                .srcelem  meinen
                .srcelem  machen
                .srcelem  was
                .srcelem  ich
                .srcelem  können
            .resetarea
                .panelarrow
        .linebox#li07
            .targetline#ts07
                .tgtelem Glück ist,
            .sourceline#s07
                .srcelem  Zukunft
                .srcelem  ich
                .srcelem  in
                .srcelem  machen
                .srcelem  aus
                .srcelem  dass
                .srcelem  etwas
                .srcelem  aus
                .srcelem  mir
            .resetarea
                .panelarrow
        .linebox#li08
            .targetline#ts08
                .tgtelem Glück ist,
            .sourceline#s08
                .srcelem  haben
                .srcelem  ich
                .srcelem  mich
                .srcelem  jemand
                .srcelem  wenn
                .srcelem  ,der
                .srcelem  lieben
            .resetarea
                .panelarrow
        .linebox#li09
            .targetline#ts09
                .tgtelem Glück ist,
            .sourceline#s09
                .srcelem  aufwachen
                .srcelem  wenn
                .srcelem  morgens
                .srcelem  Tochter
                .srcelem  meine
            .resetarea
                .panelarrow
        .linebox#li10
            .targetline#ts10
                .tgtelem Glück ist,
            .sourceline#s10
                .srcelem  heute
                .srcelem  zu
                .srcelem  einem
                .srcelem  an
                .srcelem  wie
                .srcelem  Tag
                .srcelem  stehen
                .srcelem  hier
                .srcelem  dürfen
            .resetarea
                .panelarrow