extends layout
block content
    #content_background
        link(rel='stylesheet', href='stylesheets/glueck_memory.css')
        script( src='javascripts/glueck_Memory.js')
        #Aufgabenbox
            p Hier sind fünf Glückssymbole versteckt, die in Deutschland sehr bekannt sind.
            | Zu jedem Symbol gehört ein Text, in dem die Herkunft und Bedeutung des Symbols erklärt werden.
            | Finde die passenden Paare!
        #wrapper
