extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_start.css')
    script(src='javascripts/glueck_start.js')
    link(type="text/css" rel="stylesheet" href="https://vjs.zencdn.net/4.12/video-js.css")
    script(src="https://vjs.zencdn.net/4.12/video.js")
    script(src="javascripts/vjs.youtube.js")
    script(src='javascripts/glueck_video.js')
    #subjecttitle
        h1 Glück
    #tasks.startpanel
        div.panelheader
            h2 Aufgaben
        #content
            #content_image
                img(src='images/bild.png')
            #content_content
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Textproduktion_Antonyme_A')
                            div.t_title
                                p Textproduktion: Antonyme
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Textverstehen_Zeitangaben')
                            div.t_title
                                p Textverstehen: Zeitangaben
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Zeitstrahl')
                            div.t_title
                                p Zeitstrahl
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Textverstehen_Wortspirale')
                            div.t_title
                                p Wortspirale
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Textverstehen_Redensarten')
                            div.t_title
                                p Textverstehen: Redensarten
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Kreuzwortraetsel')
                            div.t_title
                                p Kreuzworträtsel
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_Memory')
                            div.t_title
                                p Memory
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_video')
                            div.t_title
                                p Video
                            div.video_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_video_zuordnen')
                            div.t_title
                                p Video Zuordnung
                            div.video_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_video_kleeblatt')
                            div.t_title
                                p Video Kleeblatt
                            div.video_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_video_paraphrase')
                            div.t_title
                                p Video Paraphrasen
                            div.video_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_silbermond')
                            div.t_title
                                p Silbermond
                            div.video_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='glueck_definition')
                            div.t_title
                                p Definition
                            div.video_media.mediaelement

block overlay
    #overlaycontentbox
        #textcontent
            div.titleA
            div.poemglueck
                div.text
                    |Glück ist gar nicht mal so selten,
                    br
                    |Glück wird überall beschert.
                    br
                    |Vieles kann als Glück uns gelten,
                    br
                    |was das Leben uns so lehrt.
                    br
                    br
                    |Glück ist jeder neue Morgen,
                    br
                    |Glück ist bunte Blumenpracht,
                    br
                    |Glück sind Tage ohne Sorgen,
                    br
                    |Glück ist, wenn man fröhlich lacht.
                    br
                    br
                    |Glück ist Regen, wenn es heiß ist,
                    br
                    |Glück ist Sonne nach dem Guss.
                    br
                    |Glück ist, wenn ein Kind ein Eis isst,
                    br
                    |Glück ist auch ein lieber Gruß.
                    br
                    br
                    |Glück ist Wärme, wenn es kalt ist,
                    br
                    |Glück ist weißer Meeresstrand.
                    br
                    |Glück ist Ruhe, die im Wald ist,
                    br
                    |Glück ist eine Freundeshand.
                    br
                    br
                    |Glück ist eine stille Stunde,
                    br
                    |Glück ist auch ein gutes Buch.
                    br
                    |Glück ist eine frohe Runde,
                    br
                    |Glück ist freundlicher Besuch.
                    br
                    br
                    |Glück ist niemals ortsgebunden,
                    br
                    |Glück kennt keine Jahreszeit.
                    br
                    |Glück hat immer der gefunden,
                    br
                    |der sich seines Lebens freut.
                    br
                    br
                    |Liebe schenken, Freude geben,
                    br
                    |dankbar und zufrieden sein,
                    br
                    |ist das höchste Gut im Leben
                    br
                    |und schließt alles Schöne ein.

                p.author Autor Unbekannt
        #videocontent
            #Videobox
                video(id="vid1" class="video-js vjs-default-skin" controls="true" preload="auto" width="640" height="360" data-setup='{"techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v=cUYRa3LeqlY"}')
                    track(kind="captions" src="javascripts/subs.vtt" srclang="de" label="Deutsch" default)
