extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_definition.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js", charset="utf-8")
    script(src='javascripts/glueck_definition.js')
    script(src='javascripts/glueck_definition_check.js')
    script(src='javascripts/glueck_definition_comparison.js')
    script(src='javascripts/glueck_definition_trees.js')
    script(src='javascripts/glueck_definition_ui.js')
    script(src='javascripts/xregexp-all.js')
    #Aufgabenbox
        p
            | Verfasse 5 eigene Definitionen von Glück. Trage dazu einzeln 5 kurze Sätze in das Eingabefeld ein.
            | Verwende die Nebensatzkonstruktionen, die du in der vorherigen Übung kennengelernt hast.

    #definition.flexcontainer
        #textbox.flexcontainer.flexitem
            #textoverlay.flexcontainer.flexitem
                .spinnerbox.flexcontainer.flexitem
                    .spinner.flexitem
            #editorarea.flexcontainer.flexitem
                #startarea.flexcontainer.flexitem
                    #startphrase.flexitem Glück ist,
                #editor.flexitem(contenteditable=true)
                #checkarea.flexcontainer.flexitem
                    #checkbutton.flexitem
            .explanation.flexitem.textbox Gib den Nebensatz für deine Definition von Glück in das weiße Textfeld ein. Lass deinen Satz überprüfen, indem du auf das blaue Viereck auf der rechten Seite klickst.
        #sentbox.flexcontainer.flexitem
        #treebox.flexcontainer.flexitem
            .explanation.flexitem.treebox Wähle einen Satz über die grünen Quadrate auf der rechten Seite aus, um dir hier seine Struktur anzusehen.
            #tree

block overlay
    .overlay-content.define-help
        h1 Der Bedingungssatz (Der Konditionalsatz)
        p Bedingungssätze sind die typischen „Wenn-dann-Sätze“ oder „Bedingung-Folge-Sätze“. Der Bedingungssatz besteht aus einem Hauptsatz oder bedingter Satz und einem Nebensatz oder bedingender Satz.

        .examples
            span Falls euer Zug verspätet ist, werden wir im Restaurant auf euch warten.
            br
            span Du wirst bald wieder gesund sein, wenn du gut für dich sorgst.
            br
            span Die Therapie sollte auch die Familie einbeziehen, sofern das möglich ist.
            br
            span Errätst du die Zahlen richtig, gewinnst du den Hauptpreis.

        h2 Form:
        p Ein Bedingungssatz ist
            ul
                li ein eingeleiteter Nebensatz, der durch eine konditionale Konjunktion eingeleitet wird, oder
                li ein uneingeleiteter Nebensatz.
        h2 Bedeutung:
        p Bedingungssätze sind Adverbialsätze, die eine Bedingung oder Voraussetzung formulieren.

        br
        h2 Eingeleiteter Bedingungssatz
        p
            | Bedingungssätze können durch bestimmte Konjunktionen eingeleitet werden.
            br
        p
            b Konjunktionen: 
            | wenn, falls, sofern

        .examples
            span Falls dein Zug verspätet ist, (so/dann) werden wir im Restaurant auf dich warten.
            br
            span Die Party findet im Garten statt, wenn die Wetterverhältnisse es zulassen.
            br
            span Sofern ihr mir zugehört habt, wisst ihr, was ihr tun müsst.

        h2 Uneingeleiteter Bedingungssatz
        p Bedingungssätze können ohne Bedeutungsunterschied auch ohne Konjunktion gebildet werden:

        .examples
            span Ist dein Zug verspätet, (so/dann) werden wir im Restaurant auf dich warten.
            br
            span Lassen die Wetterverhältnisse es zu, findet die Party im Garten statt.

        p Uneingeleitete Bedingungssätze können nur vor dem Hauptsatz stehen.

        h2 Irrealer Bedingungssatz mit Konjunktiv
        .examples
            span Die Party fände im Garten statt, wenn es nicht regnen würde.
            br
            span Hättest du die Zahlen richtig erraten, (dann) hättest du den Hauptpreis gewonnen.

        br
        h1 Der Objektsatz
        p
            span Objektsätze sind Nebensätze, die im übergeordneten Hauptsatz die Funktion eines Objekts haben.
            br
            span Objektsätze können die folgende Form haben:

        h2 Mit dass eingeleiteter Nebensatz (dass-Satz)
        .examples
            span Wir verstehen (es), dass ihr uns nicht begleiten könnt.
            br
            span Sie ärgert sich (darüber), dass sie den Zug verpasst hat.

        h2 Mit ob eingeleiteter Nebensatz (ob-Satz)
        .examples
            span Sie wissen nicht, ob wir auch eingeladen sind.
            br
            span Ich zweifle, ob ich die Einladung annehmen soll.

        h2 Mit Fragewort eingeleiteter Nebensatz (w-Satz)
        .examples
            span Sie fragte mich, welches Kleid sie anziehen soll.
            br
            span Ich wundere mich (darüber), warum du erst so spät kommst.

        h2 Infinitivkonstruktion
        .examples
            span Wir bedauern (es), sie enttäuschen zu müssen.
            br
            span Sie freuten sich (darüber), ihre Freunde zu sehen.

        h2 Uneingeleiteter Nebensatz
        .examples
            span Er sagt, er habe keine Zeit.
            br
            span Wird hofften, ihr würdet auch kommen.

        h2 Mit wie eingeleiteter Nebensatz
        .examples
            span Sie fühlte, wie ihre Kräfte nachließen.

        h2 Akkusativ mit Infinitiv
        .examples
            span Er hörte ihn die Treppe hinaufkommen.

        br
        h1 Die Infinitivkonstruktion als Subjekt- und Objektsatz

        .examples
            span Es freut mich, dir hier zu begegnen.
            br
            span Ich befürchte, sie beleidigt zu haben.

        h2 Form:
        p Wenn eine Infinitivkonstruktion Subjektsatz oder Objektsatz ist, ist sie uneingeleitet. Der Infinitiv mit zusteht an letzter Stelle. Abhängig vom Verb kann oder muss der Infinitiv durch Objekte und Adverbialbestimmungen erweitert sein.
        h2 Bedeutung:
        p Die Verbindung zwischen einem Hauptsatz und einer uneingeleiteten Infinitivkonstruktion hat keine Bedeutung. Uneingeleitete Infinitivkonstruktionen sind Subjektsätze oder Objektsätze und als solche Inhaltssätze.

    .overlay-content.tree-help
        table
            thead
            tbody
                tr
                    th STTS-Tags in DWDS
                    | &#x9;
                    th
                        | STTS-Tags in COSMAS II
                        br
                        | &#x9;    (Wortklassen + Merkmalwerte)
                    | &#x9;
                    th Beispiele
            tbody
                tr
                    td(valign='top')
                        // 1. Spalte
                        ul
                            li
                                | Nomina
                                ul
                                    li
                                        b NN
                                        | : normale Nomina
                                    | &#x9;&#x9;
                                    li
                                        b NE
                                        | : Eigennamen
                            | &#x9;
                            li
                                | Adjektive
                                ul
                                    li
                                        b ADJA
                                        | : attributive Adjektive
                                    | &#x9;&#x9;
                                    li
                                        b ADJD
                                        | : pr&auml;dikative oder adverbiale Adjektive
                            | &#x9;
                            li
                                | Zahlen
                                ul
                                    li
                                        b CARD
                                        | : Kardinalzahlen
                            | &#x9;
                            li
                                | Verben
                                ul
                                    li
                                        | finite Formen, ohne Imperativ
                                        ul
                                            li
                                                b VMFIN
                                                | : modale, finite Verben
                                            | &#x9;&#x9;
                                            li
                                                b VAFIN
                                                | : auxiliare, finite Verben
                                            | &#x9;&#x9;
                                            li
                                                b VVFIN
                                                | : finite Verben, voll
                                    | &#x9;&#x9;
                                    li
                                        | finite Formen im Imperativ
                                        ul
                                            li
                                                b VAIMP
                                                | : auxiliare Verben im Imperativ
                                            | &#x9;&#x9;
                                            li
                                                b VVIMP
                                                | : andere Verben im Imperativ
                                    | &#x9;&#x9;
                                    li
                                        | Infinitiv
                                        ul
                                            li
                                                b VVINF
                                                | : Infinitiv, voll
                                            | &#x9;&#x9;
                                            li
                                                b VAINF
                                                | : Infinitiv, aux
                                            | &#x9;&#x9;
                                            li
                                                b VMINF
                                                | : Infinitiv, modal, Ersatzinfinitiv
                                            | &#x9;&#x9;
                                            li
                                                b VVIZU
                                                | : Infinitiv mit &quot;zu&quot;
                                    | &#x9;&#x9;
                                    li
                                        | Partizip Perfekt
                                        ul
                                            li
                                                b VVPP
                                                | : nicht flektiertes, voll
                                            | &#x9;&#x9;
                                            li
                                                b VMPP
                                                | : Partizip Perfekt, modal
                                            | &#x9;&#x9;
                                            li
                                                b VAPP
                                                | : Partizip Perfekt, aux
                            | &#x9;
                            li
                                | Artikel
                                ul
                                    li
                                        b ART
                                        | : bestimmter/unbestimmter Artikel
                            | &#x9;
                            li
                                | Pronomina
                                ul
                                    li
                                        | Personalpronomen
                                        ul
                                            li
                                                b PPER
                                                | : irreflexives Personalpronomen
                                            | &#x9;&#x9;
                                            li
                                                b PRF
                                                | : reflexives Personalpronomen
                                    | &#x9;&#x9;
                                    li
                                        | Possessivpronomen
                                        ul
                                            li
                                                b PPOSAT
                                                | : attributierendes Possessivpronomen
                                            | &#x9;&#x9;
                                            li
                                                b PPOSS
                                                | : substituierendes Possessivpronomen
                                    | &#x9;&#x9;
                                    li
                                        | Demonstrativpronomen
                                        ul
                                            li
                                                b PDAT
                                                | : attribuirendes Demonstrativpronomen
                                            | &#x9;&#x9;
                                            li
                                                b PDS
                                                | : substituierendes Demonstrativpronomen
                                    | &#x9;&#x9;
                                    li
                                        | Indefinitpronomen
                                        ul
                                            li
                                                b PIAT
                                                | : attr. Indefinitpron. ohne Determiner
                                            | &#x9;&#x9;
                                            li
                                                b PIDAT
                                                | : attr. Indefinitpron. mit Determiner
                                            | &#x9;&#x9;
                                            li
                                                b PIS
                                                | : subst. Indefinitpron.
                                    | &#x9;&#x9;
                                    li
                                        | Relativpronomen
                                        ul
                                            li
                                                b PRELAT
                                                | : attr. Relativpronomen
                                            | &#x9;&#x9;
                                            li
                                                b PRELS
                                                | : subst. Relativpronomen
                                    | &#x9;&#x9;
                                    li
                                        | Interrogativpronomen
                                        ul
                                            li
                                                b PWAT
                                                | : attr. Interrogativpronomen
                                            | &#x9;&#x9;
                                            li
                                                b PWS
                                                | : subst. Interrogativpronomen
                                            | &#x9;&#x9;
                                            li
                                                b PWAV
                                                | : adverbiales Interrogativpronomen
                                    | &#x9;&#x9;
                                    li
                                        b PAV
                                        | : Pronominialadverbien
                            | &#x9;
                            li
                                | Adverbien
                                ul
                                    li
                                        b ADV
                                        | : &quot;echte&quot; Adverbien
                            | &#x9;
                            li
                                | Konjunktionen
                                ul
                                    li
                                        b KOUI
                                        | : unterordnende Konj. mit Infinitiv
                                    | &#x9;&#x9;
                                    li
                                        b KOUS
                                        | : unterordnende Konj. mit Satz
                                    | &#x9;&#x9;
                                    li
                                        b KON
                                        | : nebenordnende Konj.
                                    | &#x9;&#x9;
                                    li
                                        b KOKOM
                                        | : Vergleichspartikel
                            | &#x9;
                            li
                                | Adpositionen
                                ul
                                    li
                                        b APPR
                                        | : Pr&auml;positionen
                                    | &#x9;&#x9;
                                    li
                                        b APPRART
                                        | : Pr&auml;positionen mit Artikel
                                    | &#x9;&#x9;
                                    li
                                        b APPO
                                        | : Postpositionen
                                    | &#x9;&#x9;
                                    li
                                        b APZR
                                        | : Zirkumposition rechts
                            | &#x9;
                            li
                                | Partikel
                                ul
                                    li
                                        b PTKZU
                                        | : &quot;zu&quot; vor Infinitiv
                                    | &#x9;&#x9;
                                    li
                                        b PTKNEG
                                        | : Negationspartikel
                                    | &#x9;&#x9;
                                    li
                                        b PTKVZ
                                        | : abgetrennter Verbzusatz
                                    | &#x9;&#x9;
                                    li
                                        b PTKA
                                        | : Partikel bei Adjektiv oder Adverb
                                    | &#x9;&#x9;
                                    li
                                        b PTKANT
                                        | : Antwortpartikel
                            | &#x9;
                            li
                                | Sonstiges
                                ul
                                    li
                                        b ITJ
                                        | : Interjektion
                                    | &#x9;&#x9;
                                    li
                                        b TRUNC
                                        | : Kompositions-Erstglied
                                    | &#x9;&#x9;
                                    li
                                        b XY
                                        | : Nichtw&ouml;rter
                                    | &#x9;&#x9;
                                    li
                                        b FM
                                        | : fremdsprachliches Material
                    // 2. Spalte
                    td(valign='top')
                        ul
                            li
                                b N
                                | &#x9;&#x9;
                                ul
                                    li
                                        b N
                                        |  nn
                                    | &#x9;&#x9;
                                    li
                                        b N
                                        |  ne
                            | &#x9;
                            li
                                b ADJ
                                | &#x9;&#x9;
                                ul
                                    li
                                        b ADJ
                                        |  at
                                    | &#x9;&#x9;
                                    li
                                        b ADJ
                                        |  d
                            | &#x9;
                            li
                                | -
                                ul
                                    li
                                        b CARD
                            | &#x9;
                            li
                                b VRB
                                | &#x9;&#x9;
                                ul
                                    li
                                        b VRB
                                        |  fin
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b VRB
                                                |  fin m
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  fin a
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  fin v
                                    | &#x9;&#x9;
                                    li
                                        b VRB
                                        |  imp
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b VRB
                                                |  imp a
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  imp v
                                    | &#x9;&#x9;
                                    li
                                        b VRB
                                        |  inf
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b VRB
                                                |  inf v
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  inf a
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  inf m
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  inf z
                                    | &#x9;&#x9;
                                    li
                                        b VRB
                                        |  pp
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b VRB
                                                |  pp v
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  pp m
                                            | &#x9;&#x9;
                                            li
                                                b VRB
                                                |  pp a
                            | &#x9;
                            li
                                b ART
                                | &#x9;&#x9;
                                ul
                                    li
                                        b ART
                            | &#x9;
                            li
                                b PRON
                                | &#x9;&#x9;
                                ul
                                    li
                                        b PRON
                                        |  per
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b PRON
                                                |  per irr
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  per ref
                                    | &#x9;&#x9;
                                    li
                                        b PRON
                                        |  pos
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b PRON
                                                |  pos at
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  pos sub
                                    | &#x9;&#x9;
                                    li
                                        b PRON
                                        |  dem
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b PRON
                                                |  dem at
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  dem sub
                                    | &#x9;&#x9;
                                    li
                                        b PRON
                                        |  ind
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b PRON
                                                |  ind at
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  ind atd
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  ind sub
                                    | &#x9;&#x9;
                                    li
                                        b PRON
                                        |  rel
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b PRON
                                                |  rel at
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  rel sub
                                    | &#x9;&#x9;
                                    li
                                        b PRON
                                        |  w
                                        | &#x9;&#x9;
                                        ul
                                            li
                                                b PRON
                                                |  w at
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  w sub
                                            | &#x9;&#x9;
                                            li
                                                b PRON
                                                |  w av
                                    | &#x9;&#x9;
                                    li
                                        b PRON
                                        |  ad
                            | &#x9;
                            li
                                b ADV
                                | &#x9;&#x9;
                                ul
                                    li
                                        b ADV
                            | &#x9;
                            li
                                b KON
                                | &#x9;&#x9;
                                ul
                                    li
                                        b KON
                                        |  unt i
                                    | &#x9;&#x9;
                                    li
                                        b KON
                                        |  unt s
                                    | &#x9;&#x9;
                                    li
                                        b KON
                                        |  neb
                                    | &#x9;&#x9;
                                    li
                                        b KON
                                        |  kom
                            | &#x9;
                            li
                                b AP
                                | &#x9;&#x9;
                                ul
                                    li
                                        b AP
                                        |  pr
                                    | &#x9;&#x9;
                                    li
                                        b AP
                                        |  prart
                                    | &#x9;&#x9;
                                    li
                                        b AP
                                        |  po
                                    | &#x9;&#x9;
                                    li
                                        b AP
                                        |  zr
                            | &#x9;
                            li
                                b PTK
                                | &#x9;&#x9;
                                ul
                                    li
                                        b PTK
                                        |  zu
                                    | &#x9;&#x9;
                                    li
                                        b PTK
                                        |  neg
                                    | &#x9;&#x9;
                                    li
                                        b PTK
                                        |  vz
                                    | &#x9;&#x9;
                                    li
                                        b PTK
                                        |  ka
                                    | &#x9;&#x9;
                                    li
                                        b PTKT
                                        |  ant
                            | &#x9;
                            li
                                b -
                                | &#x9;&#x9;
                                ul
                                    li
                                        b ITJ
                                    | &#x9;&#x9;
                                    li
                                        b TRUNC
                                    | &#x9;&#x9;
                                    li
                                        b XY
                                    | &#x9;&#x9;
                                    li
                                        b FM
                    | &#x9;
                    td(valign='top')
                        // 3. Spalte
                        ul(style='list-style-type:none;')
                            li(style='color:white;') -
                            | &#x9;
                            li Tisch, Herr, [das] Reisen
                            | &#x9;
                            li Hans, Hamburg, HSV
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li [das] gro&szlig;e [Haus]
                            | &#x9;
                            li [er f&auml;hrt] schnell, [er ist] schnell
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li zwei [M&auml;nner], [im Jahre] 1994
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li d&uuml;rfen
                            | &#x9;
                            li [du] bist, [wir] werden
                            | &#x9;
                            li [du] gehst, [wir] kommen [an]
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li sei [ruhig !]
                            | &#x9;
                            li komm [!]
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li gehen, ankommen
                            | &#x9;
                            li werden, sein
                            | &#x9;
                            li wollen
                            | &#x9;
                            li anzukommen, loszulassen
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li gegangen, angekommen
                            | &#x9;
                            li gekonnt, [er hat gehen] k&ouml;nnen
                            | &#x9;
                            li gewesen
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li der, die, das, ein, eine, ...
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li ich, er, ihm, mich, dir
                            | &#x9;
                            li sich, einander, dich, mir
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li mein [Buch], deine [Mutter]
                            | &#x9;
                            li meins, deiner
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li jener [Mensch]
                            | &#x9;
                            li dieser, jener
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li kein [Mensch], irgendein [Glas]
                            | &#x9;
                            li [ein] wenig [Wasser], [die] beiden [Br&uuml;der]
                            | &#x9;
                            li keiner, viele, man, niemand
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li [der Mann ,] dessen [Hund]
                            | &#x9;
                            li [der Hund ,] der
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li welche [Farbe], wessen [Hut]
                            | &#x9;
                            li wer, was
                            | &#x9;
                            li warum, wo, wann, wor&uuml;ber, wobei
                            | &#x9;
                            li daf&uuml;r, dabei, deswegen, trotzdem
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li schon, bald, doch
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li um [zu leben], anstatt [zu fragen]
                            | &#x9;
                            li weil, da&szlig;, damit, wenn, ob
                            | &#x9;
                            li und, oder, aber
                            | &#x9;
                            li als, wie
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li in [der Stadt], ohne [mich]
                            | &#x9;
                            li im [Haus], zur [Sache]
                            | &#x9;
                            li [ihm] zufolge, [der Sache] wegen
                            | &#x9;
                            li [von jetzt] an
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li zu [gehen]
                            | &#x9;
                            li nicht
                            | &#x9;
                            li [er kommt] an, [er f&auml;hrt] rad
                            | &#x9;
                            li am [sch&ouml;nsten], zu [schnell]
                            | &#x9;
                            li ja, nein, danke, bitte
                            | &#x9;
                            li(style='color:white;') -
                            | &#x9;
                            li mhm, ach, tja
                            | &#x9;
                            li An- [und Abreise]
                            | &#x9;
                            li 3:7, H2O, D2XW3
                            | &#x9;
                            li [Er hat das mit &quot;] A big fish [&quot; &uuml;bersetzt]

        .tablesource
            p
                | Quelle: 
                a(href="http://homepage.rub.de/Stephen.Berman/Korpuslinguistik/Tagsets-STTS.html", target="_blank") Stuttgart-Tübingen-Tagset
