extends layout
block content
    #subjecttitle
        h1 Glück
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Aufgaben
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Gedicht
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='glueck_task1a')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Interview
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='glueck_task2')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Kreuzworträtsel
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='glueck_task3')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Redensarten
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='glueck_task4')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')