extends layout
block content
	#content_background
		link(rel='stylesheet', href='stylesheets/glueck_audio_zuordnen.css')
		script( src='javascripts/glueck_audio_zuordnen.js')
		#Aufgabenbox
			p Wenn du auf ein Feld mit Fragezeichen klickst, bekommst du ein Audio für einen Zeitbegriff vorgespielt.
			| Höre genau hin und schreibe den Begriff den du gehört hast in das richtige Zeitfeld.
			| Mit der Enter Taste wird deine Eingabe geprüft.
		#wrapper
			#Vorgabe
			#Audioplayer

			#Loesung
				#Vergangenheit.Antwort
					h3 Vergangenheit
					.Antwortform
						input.textbox#0(type="text")
					.outputbox
				#Gegenwart.Antwort
					h3 Gegenwart
					.Antwortform
						input.textbox#1(type="text")
					.outputbox
				#Zukunft.Antwort
					h3 Zukunft
					.Antwortform
						input.textbox#2(type="text")
					.outputbox
