extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_silbermond.css')
    script(src='javascripts/sha256.js')
    script(src='javascripts/glueck_silbermond.js')
    #Aufgabenbox
        p Rekonstruiere die Sätze. Passe die Verben an.
    #flexybox
        .linebox#lib07
            .targetline#tal07
                .tgtelem Glück ist,
            .helparea#hpa07
                .helpico
            .resetarea#rsa07
                .resetico
            .sourceline#sol07
                .srcelem#sol07src01(random="8b686ddd77bf9de1da0be7fd13a84a56" hash="78d2bf22468a0938eb75e567fa854e304fa956390fc406d8dfb6d147826e60d9") Zukunft
                    .handle
                .srcelem#sol07src02(random="ddd067b0bf6f0b33a624f1de8ca5a691" hash="f3a7c3bee64fcb31724d61688cb1ad599b2cc96f84d968ce47cb50849c5cd492") in
                    .handle
                .srcelem#sol07src03(random="2808e9905a58c48a0261d6d0015107cf" hash="9166dde28235715d0ab897c368811253088a82563470351a02a47f4ce5d77d65") ich
                    .handle
                .srcelem#sol07src04(random="1e7b0f3e11374b02c0c84dfaa4df99ec" hash="fd2f3cc3e97895f785ccec2a0535a9732a90832a72b479c03133227024b54c15") dass
                    .handle
                .srcelem#sol07src05(random="4e843a7f99b31e70458d4db630643cf7" hash="ece85caf3be668620138c249859130e8c45b1ec334f7a381311ae679624a4336")
                    .selectbuffer
                        select.dropbox(name="machen")
                    .handle
                .srcelem#sol07src06(random="7afe587e84931ccf29e8886be23afb05" hash="ba079c9b02ea332b45bb95a0b3bf4e1728dd47de578555e959358a9240a62e53") mir
                    .handle
                .srcelem#sol07src07(random="7f71d02aba44fdce26a9823ca225b110" hash="1c48a80087e77d61c4e0c96a91f116a4fb0526ab462bf1dab26f00fefdb074f8") etwas
                    .handle
                .srcelem#sol07src08(random="43d864dfe03a843af6f0777fc8022049" hash="2c20376f622096130b1fb0d03eefa07795428392f6de1fd327a64427e54fac47") aus
                    .handle
        .linebox#lib04
            .targetline#tal04
                .tgtelem Glück ist,
            .helparea#hpa04
                .helpico
            .resetarea#rsa04
                .resetico
            .sourceline#sol04
                .srcelem#sol04src01(random="29468035eabe2da3d68ea3a5b19e42b4" hash="71a17ba08690529db8912a83e839b76d45d18c17c24cf5aa2be226bbd92fdc1f") man
                    .handle
                .srcelem#sol04src02(random="536b4f239cd1a9557e0e12f9b79359db" hash="0c564c72d69251a9c7b89f1734dd46f649375602dafdc765d5c0002a01c27bc1") dass
                    .handle
                .srcelem#sol04src03(random="2d4bd51ea0ed17222c1bbaac50b34bb5" hash="5062bf894b075b882cb60a028cf5a0f93d67e9303fa8a78d6fc649d65ca25d60") nicht
                    .handle
                .srcelem#sol04src04(random="9a1e1842ce4ca99f526f52e53b7efdef" hash="5e7e735c16d63a7a894785e343870deb3681af918063e7adc7697a9a0bcdeb50") Lachen
                    .handle
                .srcelem#sol04src05(random="558e8ac7731b0d12c3aeb2ef210813c8" hash="6cc62dbdb23ec43b8d1282706fcc8fd67b14cff77514510d7b959e234deda6f4")
                    .selectbuffer
                        select.dropbox(name="verlieren")
                    .handle
                .srcelem#sol04src06(random="1338eda60fa22a87b16e1a384e4d35b4" hash="6937816afb6f2cfe88dec12c580a5010fb337bfec3fac71c333fe933123f73e0") das
                    .handle
        .linebox#lib02
            .targetline#tal02
                .tgtelem Glück ist,
            .helparea#hpa02
                .helpico
            .resetarea#rsa02
                .resetico
            .sourceline#sol02
                .srcelem#sol02src01(random="11ed504dd227ed54959689e12f97c9ea" hash="c17cbc75a37ac095f253f2d07f3102e423c07cfb451c01d161e966c03d45883c") die
                    .handle
                .srcelem#sol02src02(random="c478a3662fb53e666c70beb7182501b2" hash="64fd64d114bee847c13aa9d5a289f152ef562348bab02720a4121360d68695ad")
                    .selectbuffer
                        select.dropbox(name="scheinen")
                    .handle
                .srcelem#sol02src03(random="ed34e26dac374fa1d6a70a55a8daf283" hash="7da5d9e94a55aabaa29b8b3bd783578bb16c62eeeb71b48c837a7919e55040f2") Sonne
                    .handle
                .srcelem#sol02src04(random="2a1a4bb792b8dad1d954b736a5322f72" hash="d190b94958fd12536063a90d75674d7961cfc97ed98c90fcde29da3366e5d98b") wenn
                    .handle
        .linebox#lib10
            .targetline#tal10
                .tgtelem Glück ist,
            .helparea#hpa10
                .helpico
            .resetarea#rsa10
                .resetico
            .sourceline#sol10
                .srcelem#sol10src01(random="d31c0a402ecdc2b1da9af1d786910e7d" hash="ec883146fe4f0e59775788c9ac38416c8c4d6587df07921cc4ea8eef250cc2d2")
                    .selectbuffer
                        select.dropbox(name="stehen")
                    .handle
                .srcelem#sol10src02(random="d16e37681c473c2a436ffa9cae2cf63a" hash="77f26846928bc5f60ee15f420be8df2b6ced19a00bdfc810ba9d662bcf7a2a65") Tag
                    .handle
                .srcelem#sol10src03(random="65b42028a63fdc64aa9db31f0af4e6a6" hash="22dae8f97790842fd913a758b25e7d9da969b411bcfe6fadb5e8c92c999dcc2f") hier
                    .handle
                .srcelem#sol10src04(random="87ea7a15047b4f44823b514096a26337" hash="ce984d82ddb138d75958314cb61f22d1907ddb09f038946d2f6e7a218adc2a46") einem
                    .handle
                .srcelem#sol10src05(random="059627bd72ceda5481b483ccdc2e2014" hash="1d35fc5ce610420fb40c719052c95cd020b13ac69736dee02edd0b1ee6de09a5") zu
                    .handle
                .srcelem#sol10src06(random="92a1401ebfc85e740c463c82f53c4082" hash="9ea71ae3f9ecb1b20839ebaa26822926f068c17057699ed8deeb754212fe58ae") wie
                    .handle
                .srcelem#sol10src07(random="58040b3b2e0d8459a05e0b247736367b" hash="4c51186b28065a1d264063800c5d9bcab3a45addcaad55b23b469cf5fb2c7b6b") an
                    .handle
                .srcelem#sol10src08(random="293e0125a316821b4da9c6ef76f9787e" hash="81cd9e9200bd8cd9c571839f529f96b22aeed74615e0612844351ec8fb720e2a") heute
                    .handle
                .srcelem#sol10src09(random="1892c1c7a81e617994d36d0d6ca3babc" hash="5f31247c297aafa11a9595a2009529eaceaec491b18737a9d261aa9cf4b75e5a")
                    .selectbuffer
                        select.dropbox(name="dürfen")
                    .handle
        .linebox#lib01
            .targetline#tal01
                .tgtelem Glück ist,
            .helparea#hpa01
                .helpico
            .resetarea#rsa01
                .resetico
            .sourceline#sol01
                .srcelem#sol01src01(random="fb8cbcee0012150edffa90f3cbbe5cc0" hash="b51c64fafc7f15de49cba703e437335dcba668a9da42df5f1b95d7216c841533") wenn
                    .handle
                .srcelem#sol01src02(random="841352afec7b8723d3aa39e32f4892ae" hash="6bde661b90e350d7441c10188a3f815cc6beac3788d9f16dae2d84cd48e7a9b1")
                    .selectbuffer
                        select.dropbox(name="sein")
                    .handle
                .srcelem#sol01src03(random="98e3a2435ccc64ba8ae66d85a5821a2d" hash="8a44ef7f6e198ffdd9e73da0cdf1246f262c95c24bc6a01ee0869ab32e4fe556") frei
                    .handle
                .srcelem#sol01src04(random="d8bfad40cca39030edd4fbbf13642bcb" hash="679ee66080b445b08ec617c3168cb8cfb467c26546eb5ad6c36c94483e7ca2c4") man
                    .handle
        .linebox#lib05
            .targetline#tal05
                .tgtelem Glück ist,
            .helparea#hpa05
                .helpico
            .resetarea#rsa05
                .resetico
            .sourceline#sol05
                .srcelem#sol05src01(random="80e9c925e98142d58862298855641dbd" hash="d150a4b9691353ab2d0a4f48acf5cc246d9f783bec8e93b4d64bd2126f1f50ad")
                    .selectbuffer
                        select.dropbox(name="sein")
                    .handle
                .srcelem#sol05src02(random="100ac2e4d12ca159d99ab79ffe5a5a7a" hash="be137c9b6e64057eab1d187ab2eda09f3c9c8f9c80cbbaa959e1aaa315ade7fd") zufrieden
                    .handle
                .srcelem#sol05src03(random="0d9b989edddca59738821abda32bfe03" hash="337f817ffaf78cc5de2d6f5a99ca778f774326b4ba432d4a20626dedfa6d32e0") man
                    .handle
                .srcelem#sol05src04(random="bd33991bd069664848a7b30541746604" hash="0290a8c1597ee3e9abcc690aa05476043ebd46f59b1d5479cb81d9b687450afe") selbst
                    .handle
                .srcelem#sol05src05(random="a7b3d75e6fd4587fa2e9721efcd873ee" hash="78cbc2044c73d41cca9c72919097cb717cf4bb47da9abe6959f61af4757deefd") sich
                    .handle
                .srcelem#sol05src06(random="f8641057ca01299b2bed456f9ebeb8ff" hash="db9700e2635d05648b8451a5e0698db75948c6049c5a25d0c1ea5dd3dbf05be0") wenn
                    .handle
                .srcelem#sol05src07(random="349c4a0c6290b8576423082f09136d62" hash="4f3d009f30d7c57b8d588e6da7335f0c6dbaf69c47c3dccb2dd5c869ea6702ec") mit
                    .handle
        .linebox#lib06
            .targetline#tal06
                .tgtelem Glück ist,
            .helparea#hpa06
                .helpico
            .resetarea#rsa06
                .resetico
            .sourceline#sol06
                .srcelem#sol06src01(random="cc50120295e946b4ec048591ff74ad5c" hash="47447177c7a574fbe1a538fe50b28384d9de55e7e5e617ff602e169b3de3f9cd") meinen
                    .handle
                .srcelem#sol06src02(random="b0025606052acb5768e4e7dbd912f994" hash="2b8c4d72c06241266ee97aaed7fa521642809bc0b663d717cb054848f35f3ee1")
                    .selectbuffer
                        select.dropbox(name="können")
                    .handle
                .srcelem#sol06src03(random="3016de9c15facbab36e603635ae2d6ed" hash="83983161a5f769ac75d9ff0223ca2d441e0c0c1302fabfbb4d6a9c178e9148a9") etwas
                    .handle
                .srcelem#sol06src04(random="a179a7b601d4b82c61dda5e07f362d1b" hash="b305c81218a9f7e854c09384879e729a28c3574ddb67dae0b362cc12ca75811f")
                    .selectbuffer
                        select.dropbox(name="machen")
                    .handle
                .srcelem#sol06src05(random="42ad721fd46375d4ef6a77185190dca1" hash="c9b4b68a0f728e1f51607659cbf93e3b540cc4d8a5157607534d9d7bfd5eb8cb") Eltern
                    .handle
                .srcelem#sol06src06(random="a2aca45f470d70d75c2b477231431f04" hash="4235da91911fb71930d5eef3c8b14a6eb5b350ef7fbc4d7de7587c7b4502e66f") ich
                    .handle
                .srcelem#sol06src07(random="83fdc32d361e3416798539ae42ece181" hash="c50c675edba33e690b6e5e27b29e5eb4007246a38a26215c6129fd7e34b6be51") wenn
                    .handle
                .srcelem#sol06src08(random="1b3436669b74330c1281318e3a071dbc" hash="6c19effa2506cefa40fbfbdb49770970d05742cc74fd1320fce11030a17767e5") mit
                    .handle
        .linebox#lib03
            .targetline#tal03
                .tgtelem Glück ist,
            .helparea#hpa03
                .helpico
            .resetarea#rsa03
                .resetico
            .sourceline#sol03
                .srcelem#sol03src01(random="d35fcd2709680df30f9b24314eda949c" hash="69cfb685a18baa26ad9d41850da1ff81e5ff723913e5807303a0237838309a0d") man
                    .handle
                .srcelem#sol03src02(random="f9131c7b7189afd7ab3b96ff1f4cc63e" hash="bd618ce8b9ec750abffe7a2f4ba1db0fef9636861aa9783f010db7bec1b742b6") wenn
                    .handle
                .srcelem#sol03src03(random="8e61609028be96c9e7ddc7639ec10278" hash="e425ee2b8997c8d143248bf0a98a3284bba1f2cd31d48ffb6ebcc53db27f01ec") Augen
                    .handle
                .srcelem#sol03src04(random="fc0d1e14ffb4f73d3b2a3aa36148925a" hash="3750ec3026dab2261a6abbd0f84835ae289240b4ca8fcfd87fec0030c3b57b17")
                    .selectbuffer
                        select.dropbox(name="aufmachen")
                    .handle
                .srcelem#sol03src05(random="e189154658ef5256ec3095c3d7646374" hash="78d44ddab20eed99faf7c7f4cfdd96cf2454db34a5995a3500adff73ee0269df") die
                    .handle
        .linebox#lib08
            .targetline#tal08
                .tgtelem Glück ist,
            .helparea#hpa08
                .helpico
            .resetarea#rsa08
                .resetico
            .sourceline#sol08
                .srcelem#sol08src01(random="87596f7d47ffeab4cf5b418e2ed26640" hash="c9761595a1154a23ccf4f7d6c9398d9c21fb5e4888d9162f65661781cf9c3c15") wenn
                    .handle
                .srcelem#sol08src02(random="750917d371a87c622b68ac3c5f8ea2af" hash="1608fc1008250e84b85afd82255ff05bc932bf6ac96379254ba4f70be1c00354")
                    .selectbuffer
                        select.dropbox(name="lieben")
                    .handle
                .srcelem#sol08src03(random="dc5b79bf5efb0220bc72c5b9dc04cfe5" hash="261a642ef0a39cbd0f18a0be26ac55ec31dddf465c1c35bb73504ee5596946cb") mich
                    .handle
                .srcelem#sol08src04(random="0bcc3ccac8ffb6439f7cad7402648177" hash="91a257caeb0c60191cd6b18acc0ba314bda4bad9d3e648bb628ff0c71eabbfa5") jemanden
                    .handle
                .srcelem#sol08src05(random="28122e5b8995091a8982d0bc90b479b6" hash="4497497ec6de325e15b3d938b55d4b8462b14ac1ba3b1046fbacd3c5dec885b7") der
                    .handle
                .srcelem#sol08src06(random="5fc16613dbb49c30de86724eddb98cf1" hash="d683e815563bae3814664490f4b854c9024d7a4ded3fd85508e0943229be254c") ich
                    .handle
                .srcelem#sol08src07(random="e502e821e737fb25092a70f1f06c81f7" hash="7abc09b044d69a082f7760804a13245b3227873b483c73904d521a624686a48a")
                    .selectbuffer
                        select.dropbox(name="haben")
                    .handle
        .linebox#lib09
            .targetline#tal09
                .tgtelem Glück ist,
            .helparea#hpa09
                .helpico
            .resetarea#rsa09
                .resetico
            .sourceline#sol09
                .srcelem#sol09src01(random="7e991cb8c2673b86a274f377100337e6" hash="64713db7813acdd86a1c6f524ef7c75a77a8e0c34759ce0e5d135fc9f6fe60dd") meine
                    .handle
                .srcelem#sol09src02(random="4f63433a6565fe5baf3d831bf6898640" hash="1b40f8649cbd4dbbde8c8ef047c88a7d950a7c4f13cd03b6263da871d6026c29") morgens
                    .handle
                .srcelem#sol09src03(random="ddbd67766f36c20dce0a8c6dd6041967" hash="236332e49caac90df3375089e827060f2ecd9d545a6d3ee7ac2dd8912bc63957") wenn
                    .handle
                .srcelem#sol09src04(random="5f9b4a6492a02961259f63b5e366ce69" hash="f69ab0f93033c0548077a0318a6759975eb2563a0f0a14b0d78db74c41874b9c") Tochter
                    .handle
                .srcelem#sol09src05(random="dfcb99c5126074e60891d7781ae43d1b" hash="1b3f4addae8823fc057027e62cd8d4b36befa1145f64744e4fbc99fe9d0ab720")
                    .selectbuffer
                        select.dropbox(name="aufwachen")
                    .handle