extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_video_paraphrase.css')
    script(src='javascripts/glueck_video_paraphrase.js')
    #Aufgabenbox
        p Welche Bedeutung haben die unterstrichenen Satzteile?
        | Wähle die im Kontext richtige Paraphrasierung aus.
    #wrapper



block overlay
    #overlaycontentbox
        h1 Hier sind Erklärungen zu Wörtern oder Redewendungen, die du vielleicht noch nicht kennst.
        .erklaerung_box
            h2 Kopf und Bauch
        .erklaerung_box
            h2 Augen aufmacht
            b Bedeutung: allgemein die Augen öffnen --> man sieht etwas
            p Redewendung: Jemandem gehen die Augen auf (jemand durchschaut plötzlich einen Sachverhalt, erkennt Zusammenhänge, die er vorher nicht gesehen hatte)
        .erklaerung_box
            h2 entmutigen?
            b Bedeutung: den Mut nehmen.
            p Verb [mit OBJ] (jmd./ etwas entmutigt jmdn.)
             | Beispiel: "Er ließ sich durch seinen Chef nicht entmutigen, sondern beantragte die Versetzung ein zweites Mal."
        .erklaerung_box
            h2 Den Moment für immer zu bewahren
            b Bedeutung: Den Moment für immer in Erinnerung behalten
        .erklaerung_box
            h2 Das Beste draus machen (umg.)
            b Bedeutung: die größt möglichen Vorteile bei etwas wahrnehmen
            br
            | Das Beste aus einer Situation machen
            br
            | Das Beste = substantiviertes Adjektiv
        .erklaerung_box
            h2 zanken (umg./veralt.)
            b Bedeutung: zanken / sich mit jmd. streiten
            p Synonym: streiten, kabbeln
            | Beispiel:„Hört endlich auf zu zanken!“
        .erklaerung_box
            h2 herumtreiben
            b Bedeutung:
            br
            | 1. [ohne bestimmtes Ziel] durch die Gegend treiben
            br
            | 2. (umgangssprachlich abwertend) sich bald hier, bald dort aufhalten; müßig herumlaufen
            p Synonyme: herumstreichen, umherziehen, sich herumdrücken (umg), herumstreunen (abwertend), herumziehen
            p Beispiele
             ul
                li sie schwänzen die Schule und treiben sich [in der Stadt] herum
                li sich in Bars herumtreiben
                li (scherzhaft) wo treibst du dich eigentlich herum? (wo bist du eigentlich?)
                li er treibt sich viel in der Welt herum (ist viel auf Reisen)
