extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_interview.css')
    link(rel='stylesheet', href='stylesheets/glueck.css')
    script(src='javascripts/glueck_task2.js')

    #Aufgabenbox
        p Lies das Interview "Glück ohne Verbundenheit gibt es nicht!" und ziehe alle Zeitangaben im Text in die Box.

    #wrapper
        #Textbox
            p
            | Der österreichische Regisseur Harald Friedl hat mit seiner Kino-Dokumentation "What Happiness Is"
            .inline(id=0) in diesem Sommer
            | international Erfolg. Er stellt darin die Absicht des asiatischen Königreichs Bhutan vor, seine
            | Bewohner mit einem Glücksministerium glücklich zu machen.

            p
            b Was bedeutet für Sie "Glück"?

            p
            | Harald Friedl: Glück bedeutet für mich, die eigenen Lebensumstände oder die der Anderen zu verbessern.
            | In Momenten von Nähe und Liebe kann ich auch sehr glücklich sein und beim Genuss von Kunst, Musik, Literatur
            | oder Filmen. Die vielleicht wichtigste Voraussetzung für Glück ist, sich mit Anderen und der Welt verbunden zu
            | fühlen. Glück ohne Verbundenheit gibt es nicht. Wenn man noch dazu mit Empathie ausgestattet ist, kann im
            | Leben eigentlich nicht mehr viel
            u(title='misslingen, missglücken')  schief gehen.

            p
            b Bei welcher Gelegenheit waren Sie das letzte Mal glücklich?

            p
            | Ein kleines Glück habe ich empfunden, als ich
            .inline(id=1) letzte Woche
            | das Exposé für einen neuen Film fertig hatte.
            | Ich hab's gelesen und sah den Film schon richtig vor mir. Ein anderes Glück ist mir
            .inline(id=2) vor ein paar Monaten
            | ganz unerwartet passiert. Meine Lebensgefährtin und ich waren in San Diego unterwegs. Da sehe ich einen blinden
            | orientierungslosen Mann. Ich biete ihm meine Hilfe an und führe ihn die Straße entlang. Er erzählt mir eine
            | ganz unglaubliche Geschichte: Ein junger Mann hatte ihn mit einem Revolver unbeabsichtigt blind geschossen.
            | Und nun erzählte mir dieser Blinde, dass es ihn anderthalb Jahre seines Lebens und viel Geld gekostet hat, den
            | Täter wieder aus dem Gefängnis frei zu bekommen. Nachdem wir uns verabschiedet hatten, war ich total aufgeregt
            | und glücklich. Mir wurde klar, dass gerade etwas ganz Außergewöhnliches geschehen war: Ein Mann erzählt einem
            | Fremden die große Geschichte seines Lebens, die vom Verzeihen und von Hilfe für jemanden handelt, der einem
            | eigentlich das Leben zerstört hat.

            p
            b Wann ist Ihnen ein "großes Glück" begegnet, und wie hat sich dadurch Ihr Leben verändert?

            p
            | In Freiburg ging ich in den Biergarten eines Lokals mit ungefähr 30 Tischen. Nur zwei Tische, die
            | nebeneinander lagen, waren frei.
            .inline(id=3) Eine Minute später
            | hat sich eine Frau an den Nachbartisch gesetzt.
            .inline(id=4) In der folgenden halben Stunde
            | sind noch drei Leute dazu gestoßen.
            .inline(id=5) Kurz darauf
            |war ich Teil der
            u(title='Gesellschaft, Gruppe')  Runde,
            | und wir haben
            | uns unterhalten, als würden wir uns
            .inline(id=6) ewig
            | kennen. Seitdem schreiben wir uns regelmäßig und planen sogar ein
            | gemeinsames Projekt. Auch das ist Glück.

            p
            b Haben Sie einen Trick, um sich einen Glücksmoment zu verschaffen?

            p Ja, Musik hören!

            p
            b
            | In Ihrem Dokumentarfilm "What Happiness Is" zeigen Sie, wie das asiatische Königreich Bhutan versucht, seine
            | Bevölkerung glücklicher zu machen. Wäre ein Glücksministerium auch bei uns sinnvoll?

            p
            | An der Uni Mannheim existiert bereits ein "Ministerium für Glück und Wohlbefinden", ein sehr engagiertes
            | Studenten-Projekt. In Deutschland hätten wir das auch nötig. Dieses Ministerium könnte auf höchster
            | politischer Ebene über Werte diskutieren, die das Wohlbefinden der Menschen beeinflussen.

            p.author Das Interview führte Ingo Fischer
            p.author (Stand: 15.09.2013)

        #Platzhalter
        #Antwortbox
