extends layout
block content
    link(type="text/css" rel="stylesheet" href="https://vjs.zencdn.net/4.12/video-js.css")
    link(rel='stylesheet', href='stylesheets/glueck_video.css')
    script(src="https://vjs.zencdn.net/4.12/video.js")
    script(src="javascripts/vjs.youtube.js")
    script(src='javascripts/glueck_video.js')

    #Aufgabenbox
        p Schaue dir das Video an.

    #wrapper
        #Videobox
            video(id="vid1" class="video-js vjs-default-skin" controls="true" preload="auto" width="640" height="360" data-setup='{"techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v=cUYRa3LeqlY"}')
                track(kind="captions" src="javascripts/subs.vtt" srclang="de" label="Deutsch" default)

block overlay
    #overlaycontentbox
        h1 Hier sind Erklärungen zu Wörtern oder Redewendungen, die du vielleicht noch nicht kennst.
        .erklaerung_box
            h2 Jubeln:
            b Bedeutung: seiner Freude über etwas laut, stürmisch Ausdruck geben; in Jubel ausbrechen
            p Beispiel: Die Kinder jubelten über die Geschenke
            | Synonym: sich freuen
        .erklaerung_box
            h2 Elbe
            b Bedeutung: Die Elbe ist ein mitteleuropäischer Fluss, der in Tschechien entspringt, durch Deutschland fließt und in die Nordsee mündet.
        .erklaerung_box
            h2 Mauer
            b Bedeutung: Die Berliner Mauer war während der Teilung Deutschlands ein abriegelndes Grenzbefestigungssystem der Deutschen Demokratischen Republik (DDR), das mehr als 28 Jahre, vom 13. August 1961 bis zum 9. November 1989, bestand.
        .erklaerung_box
            h2 ´ne
            b Bedeutung: (umg.) = eine
        .erklaerung_box
            h2 Etwas aus sich machen
            b Bedeutung: Erfolg haben; etwas erreichen
        .erklaerung_box
            h2 ´nen festen Job bekommen
            b Bedeutung: konstant, geregelt, gleichbleibend
            p Synonyme: beständig, sicher, von Dauer
        .erklaerung_box
            h2 Zankt
            b Bedeutung: zanken / sich mit jmd. streiten
            p Synonym: streiten, kabbeln
        .erklaerung_box
            h2 das Herz lacht
            b Bedeutung: glücklich sein
        .erklaerung_box
            h2 Das Beste draus machen
            b Bedeutung: die größtmöglichen Vorteile bei etwas wahrnehmen / das Beste aus einer Situation machen

