extends layout
block content
    #subjecttitle
        h1 Glück
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Aufgaben
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textproduktion: Antonyme
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Textproduktion_Antonyme_A')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Zeitangaben
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Textverstehen_Zeitangaben')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Zeitstrahl
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Zeitstrahl')
                div.taskmedia
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Wortspirale
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Textverstehen_Wortspirale')
                div.taskmedia
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Redensarten
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Textverstehen_Redensarten')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Kreuzworträtsel
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Kreuzwortraetsel')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Memory
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_Memory')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Video
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_video')
                div.taskmedia
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Video Zuordnung
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_video_zuordnen')
                div.taskmedia
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Video Kleeblatt
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_video_kleeblatt')
                div.taskmedia
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Video Paraphrasen
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='glueck_video_paraphrase')
                div.taskmedia

    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')