extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck.css')
    script(src='javascripts/glueck_Textproduktion_Antonyme_B.js')
    script(src='socket.io/socket.io.js')
    script(src='javascripts/jqdialog.min.js')
    #Aufgabenbox
        p Schreibe nun einige Strophen des Gedichts über Glück in ein Gedicht über Pech um!
        | Fülle dazu jede Lücke mit einem Wort, welches das Gegenteil zu dem Wort im Glück-Gedicht ausdrückt. (Bsp. heiß – kalt)


    #wrapper
        #Textbox
            div.poem
                h2.title Pech
                div.text
                    b Pech &nbsp;
                    | ist eigentlich sehr selten,
                    br
                    b Pech &nbsp;
                    | wird
                    input#adv1(value='nirgendwo')
                    | beschert.
                    br
                    input#adv2(value='Weniges')
                    | kann als
                    b  Pech&nbsp;
                    | uns gelten,
                    br
                    | was das Leben uns so lehrt.
                    br
                    br
                    b Pech &nbsp;
                    | ist, Sonne wenn es
                    input#adj1(value='heiß')
                    | ist,
                    br
                    b Pech&nbsp;
                    | ist
                    input#noun1(value='Hagel')
                    | nach dem Guss.
                    br
                    b Pech
                    | ist, wenn
                    input#pro1(value='kein')
                    | Kind ein Eis isst,
                    br
                    | weil es gerade lernen muss.
                    br
                    br
                    b Pech &nbsp;
                    | ist eine
                    input#adj2(value='laute')
                    | Stunde,
                    br
                    b Pech &nbsp;
                    | ist auch ein
                    input#adj3(value='schlechtes')
                    | Buch.
                    br
                    b Pech &nbsp;
                    | ist eine
                    input#adj4(value='triste')
                    | Runde,
                    br
                    b Pech &nbsp;
                    | ist ein
                    input#adj5(value='nerviger')
                    | Besuch.
                    br
                    br
                    | Aber
                    b Pech
                    | bleibt
                    input#adv3(value='niemals')
                    | lange da,
                    br
                    input#pro2(value='niemand')
                    | kennt nur
                    b Pech
                    | allein.
                    br
                    b Pech
                    | hat
                    input#adv4(value='niemals')
                    | der, der sah,
                    br
                    | "Es braucht ein wenig zum glücklich sein."
                //
                    b Pech &nbsp;
                    | ist jeder
                    input#adj1(value='neue')
                    input#noun1(value='Morgen')
                    | ,
                    br
                    b Pech &nbsp;
                    | ist
                    input#adj99(value='bunte')
                    input#noun2(value='Blumenpracht')
                    | ,
                    br
                    b Pech &nbsp;
                    | sind Tage ohne
                    input#noun3(value='Sorgen')
                    | ,
                    br
                    b Pech &nbsp;
                    | ist, wenn man
                    input#adv2(value='fröhlich')
                    input#verb2(value='lacht')
                    | .
                    br
                    br
                    b Pech &nbsp;
                    | ist
                    input#noun4(value='Regen')
                    | , wenn es
                    input#adv3(value='heiß')
                    | ist,
                    br
                    b Pech &nbsp;
                    | ist
                    input#noun5(value='Sonne')
                    | nach dem
                    input#noun6(value='Guss')
                    | .
                    br
                    b Pech &nbsp;
                    | ist, wenn ein
                    input#noun7(value='Kind')
                    | ein
                    input#noun8(value='Eis')
                    input#verb3(value='isst')
                    | ,
                    br
                    b Pech &nbsp;
                    | ist auch ein
                    input#adj98(value='lieber')
                    input#noun9(value='Gruß')
                    | .
                    br
                    br
                    b Pech &nbsp;
                    | ist
                    input#noun10(value='Wärme')
                    | , wenn es
                    input#adv4(value='kalt')
                    | ist,
                    br
                    b Pech &nbsp;
                    | ist
                    input#adj97(value='weißer')
                    input#noun11(value='Meeresstrand')
                    | .
                    br
                    b Pech &nbsp;
                    | ist
                    input#noun12(value='Ruhe')
                    | ,
                    input#clause1(value='die im Wald ist')
                    | ,
                    br
                    b Pech &nbsp;
                    | ist eine
                    input#noun13(value='Freundeshand')
                    | .
                    br
                    br
                    b Pech &nbsp;
                    | ist eine
                    input#adj96(value='stille')
                    input#noun14(value='Stunde')
                    | ,
                    br
                    b Pech &nbsp;
                    | ist auch ein
                    input#adj95(value='gutes')
                    input#noun15(value='Buch')
                    | .
                    br
                    b Pech &nbsp;
                    | ist eine
                    input#adj94(value='frohe')
                    input#noun16(value='Runde')
                    | ,
                    br
                    b Pech &nbsp;
                    | ist
                    input#adj93(value='freundlicher')
                    input#noun17(value='Besuch')
                    | .
                    br
                    br
                    b Pech &nbsp;
                    | ist niemals
                    input#adv5(value='ortsgebunden')
                    | ,
                    br
                    b Pech &nbsp;
                    | kennt keine Jahreszeit.
                    br
                    b Pech &nbsp;
                    | hat immer der gefunden,
                    br
                    | der sich
                    input#clause2(value='seines Lebens freut')
                    | .
                    br
                    br
                    input#clause3(value='Liebe schenken')
                    | ,
                    input#clause4(value='Freude geben')
                    | ,
                    br
                    input#adv6(value='dankbar')
                    | und
                    input#adv7(value='zufrieden')
                    | sein,
                    br
                    | ist das
                    input#adj2(value='höchste')
                    input#noun18(value='Gut')
                    | im Leben
                    br
                    | und schließt alles
                    input#noun19(value='Schöne')
                    | ein.
                    p.author #{session.name}
            div.poem
                h2.title Glück
                div.text
                    |Glück ist gar nicht mal so selten,
                    br
                    |Glück wird überall beschert.
                    br
                    |Vieles kann als Glück uns gelten,
                    br
                    |was das Leben uns so lehrt.
                    br
                    br
                    |Glück ist Regen, wenn es heiß ist,
                    br
                    |Glück ist Sonne nach dem Guss.
                    br
                    |Glück ist, wenn ein Kind ein Eis isst,
                    br
                    |Glück ist auch ein lieber Gruß.
                    br
                    br
                    |Glück ist eine stille Stunde,
                    br
                    |Glück ist auch ein gutes Buch.
                    br
                    |Glück ist eine frohe Runde,
                    br
                    |Glück ist freundlicher Besuch.
                    br
                    br
                    |Glück ist niemals ortsgebunden,
                    br
                    |Glück kennt keine Jahreszeit.
                    br
                    |Glück hat immer der gefunden,
                    br
                    |der sich seines Lebens freut.
        #Antwortbox
            #message.invisible
                | Fehleranalyse