extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_zeitstrahl.css')
    script(src='javascripts/glueck_zeitstrahl.js')

    #Aufgabenbox
        p Ordne die Zeitbegriffe der Vergangenheit, Gegenwart und Zukunft chronologisch auf dem Zeitstrahl an.

    #wrapper
        #Token_area
        #Zeitstrahl
            #arrow-left.strahl
            #line.strahl
                #zeit
                    p jetzt
            #arrow-right.strahl