extends layout
block content
    link(rel='stylesheet', href='/stylesheets/glueck.css')
    #Aufgabenbox
        p Aufgaben
    #wrapper
        h1 Glück
        h2 Hier könnt ihr euch austoben
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='/glueck_gedicht') WEITER