extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_silbermond.css')
    script(src='javascripts/sha256.js')
    script(src='javascripts/glueck_silbermond.js')
    #Aufgabenbox
        p Rekonstruiere die Sätze. Passe die Verben an.
    #flexybox
        .linebox#lib01
            .targetline#tal01
                .tgtelem Glück ist,
            .helparea#hpa01
                .helpico
            .resetarea#rsa01
                .resetico
            .sourceline#sol01
                .srcelem#sol01src03(random="27dba2501fa683a92dec9bd402fef5fc") frei
                .srcelem#sol01src02(random="056d4de7e048c11b3d31fd95a4f17b32") man
                .srcelem#sol01src04(random="0ec16e89db4ba05f041ed3e71d8c31f4")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol01src01(random="5240d0cb6016f8992488795b8adaaba0") wenn
        .linebox#lib07
            .targetline#tal07
                .tgtelem Glück ist,
            .helparea#hpa07
                .helpico
            .resetarea#rsa07
                .resetico
            .sourceline#sol07
                .srcelem#sol07src04(random="535c549be281b851d387ea282e4b215b") dass
                .srcelem#sol07src03(random="b9071725c8d60792a11f7832febdb700")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol07src02(random="10e009ab801d3790323a7f9b9545eb60") mir
                .srcelem#sol07src06(random="f40513db16ecd48b6eda156005ad219e") in
                .srcelem#sol07src08(random="39a5725b549126634b867b1061ff7b9f") ich
                .srcelem#sol07src05(random="b96100a83168a316e16a1c7e261a444f") etwas
                .srcelem#sol07src07(random="fbb4c2d1233fb8c2df258737d8c2dc3e") Zukunft
                .srcelem#sol07src01(random="f033da72077643d585585b81f5bd2e4d") aus
        .linebox#lib03
            .targetline#tal03
                .tgtelem Glück ist,
            .helparea#hpa03
                .helpico
            .resetarea#rsa03
                .resetico
            .sourceline#sol03
                .srcelem#sol03src04(random="f00cf6136a96e859add50515470711a2") wenn
                .srcelem#sol03src03(random="c1fcb47f7f83dc2feca588ac250ac194") Augen
                .srcelem#sol03src05(random="4d734d5bd0fcce21462366ad1543ee64")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol03src01(random="d08dd292eb32a89d942652dca9486513") man
                .srcelem#sol03src02(random="8218c2b2c8ccdd0d49d3b16badddf003") die
        .linebox#lib09
            .targetline#tal09
                .tgtelem Glück ist,
            .helparea#hpa09
                .helpico
            .resetarea#rsa09
                .resetico
            .sourceline#sol09
                .srcelem#sol09src05(random="171bf441aaba8092aa518eb3534b3cea") Tochter
                .srcelem#sol09src04(random="f6aced8e996c733c3799f5587d0aeed5") morgens
                .srcelem#sol09src03(random="397963ffa02a9aa503a26731d8bc177a")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol09src01(random="fcd156189a1bc01157c59fbc315e4905") wenn
                .srcelem#sol09src02(random="20601e17f1718cbaa580fb55bf95bc87") meine
        .linebox#lib05
            .targetline#tal05
                .tgtelem Glück ist,
            .helparea#hpa05
                .helpico
            .resetarea#rsa05
                .resetico
            .sourceline#sol05
                .srcelem#sol05src03(random="b8c08c35ddba483293b7a508368cf15b")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol05src07(random="962f2fa933ae4b61be90d14613a09404") mit
                .srcelem#sol05src06(random="f03c7bd7503e67defd60ee31fb1a260b") wenn
                .srcelem#sol05src02(random="97c75b1c0e702f156197b22720a5fcfe") zufrieden
                .srcelem#sol05src04(random="649fe9169e73885ea00308cb98abb481") sich
                .srcelem#sol05src01(random="1282a84f587d39fc8eed43c526633cd9") selbst
                .srcelem#sol05src05(random="6b4faf7e1dbb7168dd1f1a4be1f46c39") man
        .linebox#lib02
            .targetline#tal02
                .tgtelem Glück ist,
            .helparea#hpa02
                .helpico
            .resetarea#rsa02
                .resetico
            .sourceline#sol02
                .srcelem#sol02src04(random="f4c79c44d737b178ea7b15a9e807253c") Sonne
                .srcelem#sol02src03(random="2e3bf2a8a525cd98408b03225621efc5") wenn
                .srcelem#sol02src02(random="cd888f12c72a3b22b187ce5599fa953e") die
                .srcelem#sol02src01(random="3a8f93bccf45e212daadaa469a9c467a")
                    .selectbuffer
                        select.dropbox
        .linebox#lib08
            .targetline#tal08
                .tgtelem Glück ist,
            .helparea#hpa08
                .helpico
            .resetarea#rsa08
                .resetico
            .sourceline#sol08
                .srcelem#sol08src04(random="de62e8ad2aeb0820cf0a6567e460a308")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol08src05(random="4fac2e170e659edefccf6e7e5b7d1900") ich
                .srcelem#sol08src06(random="bd11cdd7d8cebcb43c4430e5d949849a") wenn
                .srcelem#sol08src01(random="67dbf8657c3b31bb87caf68ab4780537") jemanden
                .srcelem#sol08src07(random="f3c4bbd2969e82456dce51be41324041")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol08src03(random="2d7d86b18a8eab3d114abcbde34fafe9") mich
                .srcelem#sol08src02(random="9e51a792a59409bc87a4469b0cf71168") der
        .linebox#lib04
            .targetline#tal04
                .tgtelem Glück ist,
            .helparea#hpa04
                .helpico
            .resetarea#rsa04
                .resetico
            .sourceline#sol04
                .srcelem#sol04src04(random="de80295502c08a6f20c35367fc940526") nicht
                .srcelem#sol04src06(random="97fe60a0523ac8c09cacce06a2b2179e") das
                .srcelem#sol04src02(random="16a671361385a6a466d46eebc68bd899") man
                .srcelem#sol04src05(random="f3f05be518e377c0389236a59250f9cf")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol04src01(random="baf02d92d8a51aa0f960a3de2f88c666") dass
                .srcelem#sol04src03(random="89a5d2449f5d7237c64cbd4b6b3e5053") Lachen
        .linebox#lib10
            .targetline#tal10
                .tgtelem Glück ist,
            .helparea#hpa10
                .helpico
            .resetarea#rsa10
                .resetico
            .sourceline#sol10
                .srcelem#sol10src03(random="36f3abcb8acd672c7a83e373ea48d42d") wie
                .srcelem#sol10src08(random="c6f957e48e7569c774aef853021b764d") zu
                .srcelem#sol10src04(random="9654b59c83ee3e268a8a6a84485ab946") einem
                .srcelem#sol10src05(random="f3add84efeadc0d744ae2c08f5b5f3f4")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol10src07(random="50ec33533be1de7f1c68d4ac63ae0d4c") Tag
                .srcelem#sol10src02(random="bd2c94c682616dfa87c3be861a1dba0f") an
                .srcelem#sol10src06(random="95bcec5ff21018f238c608c96ade2335") heute
                .srcelem#sol10src01(random="4a7b042d3bb42947f8c426b392509e11") hier
                .srcelem#sol10src09(random="2976ce04e19284c3a59b332900ebcef3")
                    .selectbuffer
                        select.dropbox
        .linebox#lib06
            .targetline#tal06
                .tgtelem Glück ist,
            .helparea#hpa06
                .helpico
            .resetarea#rsa06
                .resetico
            .sourceline#sol06
                .srcelem#sol06src07(random="701f3dd871577c244adfb8fc66a403cb") wenn
                .srcelem#sol06src01(random="2cafa30ab7ff2105c24745a328a2b303")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol06src05(random="2616c8b945e4bc60073fc4aa953d2c41") ich
                .srcelem#sol06src06(random="180c06a0b87731918b9739c25ad28225") mit
                .srcelem#sol06src03(random="9da5426ae64d60498e0b30dd5014696a") Eltern
                .srcelem#sol06src02(random="269051a570b6a4903b856ccc529c09ea")
                    .selectbuffer
                        select.dropbox
                .srcelem#sol06src04(random="f307c35848afde2f9ad3ffe9b5421d0f") meinen
                .srcelem#sol06src08(random="dfe997c43b2c8948997339fc88451f82") etwas
