extends layout
block content
    link(rel='stylesheet', href='/stylesheets/glueck.css')
    script(src='javascripts/gluck.js')
    #Aufgabenbox
        p Hier ist ein Gedicht über Glück. Bitte lies dieses Gedicht und klicke dann auf &nbsp;
            b weiter
    #wrapper
        #Textbox
            h2.title Glück
            div.poem
                div.text
                    |Glück ist gar nicht mal so selten,
                    br
                    |Glück wird überall beschert.
                    br
                    |Vieles kann als Glück uns gelten,
                    br
                    |was das Leben uns so lehrt.
                    br
                    br
                    |Glück ist jeder neue Morgen,
                    br
                    |Glück ist bunte Blumenpracht,
                    br
                    |Glück sind Tage ohne Sorgen,
                    br
                    |Glück ist, wenn man fröhlich lacht.
                    br
                    br
                    |Glück ist Regen, wenn es heiß ist,
                    br
                    |Glück ist Sonne nach dem Guss.
                    br
                    |Glück ist, wenn ein Kind ein Eis isst,
                    br
                    |Glück ist auch ein lieber Gruß.
                    br
                    br
                    |Glück ist Wärme, wenn es kalt ist,
                    br
                    |Glück ist weißer Meeresstrand.
                    br
                    |Glück ist Ruhe, die im Wald ist,
                    br
                    |Glück ist eine Freundeshand.
                    br
                    br
                    |Glück ist eine stille Stunde,
                    br
                    |Glück ist auch ein gutes Buch.
                    br
                    |Glück ist eine frohe Runde,
                    br
                    |Glück ist freundlicher Besuch.
                    br
                    br
                    |Glück ist niemals ortsgebunden,
                    br
                    |Glück kennt keine Jahreszeit.
                    br
                    |Glück hat immer der gefunden,
                    br
                    |der sich seines Lebens freut.
                    br
                    br
                    |Liebe schenken, Freude geben,
                    br
                    |dankbar und zufrieden sein,
                    br
                    |ist das höchste Gut im Leben
                    br
                    |und schließt alles Schöne ein.

                p.author Autor Unbekannt

    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='/glueck_gedicht2') WEITER