extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_silbermond.css')
    script(src='javascripts/sha256.js')
    script(src='javascripts/glueck_silbermond.js')
    #Aufgabenbox
        p Rekonstruiere die Sätze. Passe die Verben an.
    #flexybox
        .linebox#lib06
            .targetline#tal06
                .tgtelem Glück ist,
            .sourceline#sol06
                .srcelem#sol06src01(random="1d97c3c71b1bece7c43905981c2482f5" hash="c50c675edba33e690b6e5e27b29e5eb4007246a38a26215c6129fd7e34b6be51") wenn
                    .handle
                .srcelem#sol06src02(random="83e297091fe93afee6f862163f39e386" hash="4235da91911fb71930d5eef3c8b14a6eb5b350ef7fbc4d7de7587c7b4502e66f") ich
                    .handle
                .srcelem#sol06src03(random="900fab55226ff3e3e0646bcf3d845951" hash="c9b4b68a0f728e1f51607659cbf93e3b540cc4d8a5157607534d9d7bfd5eb8cb") Eltern
                    .handle
                .srcelem#sol06src04(random="f15edf3bbdfa5058a12aa5544a8503d0" hash="83983161a5f769ac75d9ff0223ca2d441e0c0c1302fabfbb4d6a9c178e9148a9") etwas
                    .handle
                .srcelem#sol06src05(random="54f713bdb103eaa0636709995c404401" hash="2b8c4d72c06241266ee97aaed7fa521642809bc0b663d717cb054848f35f3ee1")
                    .selectbuffer
                        select.dropbox(name="können")
                    .handle
                .srcelem#sol06src06(random="9b227f7eb7f0ad3e6d9bfc9da3963263" hash="47447177c7a574fbe1a538fe50b28384d9de55e7e5e617ff602e169b3de3f9cd") meinen
                    .handle
                .srcelem#sol06src07(random="2bdaa7bb5e8f69d0b8a0a04779b5a5b9" hash="b305c81218a9f7e854c09384879e729a28c3574ddb67dae0b362cc12ca75811f")
                    .selectbuffer
                        select.dropbox(name="machen")
                    .handle
                .srcelem#sol06src08(random="654b18d1d25ad366e2fea2e74228ce4e" hash="6c19effa2506cefa40fbfbdb49770970d05742cc74fd1320fce11030a17767e5") mit
                    .handle
            .helparea#hpa06
                .helpico
        .linebox#lib03
            .targetline#tal03
                .tgtelem Glück ist,
            .sourceline#sol03
                .srcelem#sol03src01(random="c4385912eb1c0ff5c136889c5e8bd9d5" hash="78d44ddab20eed99faf7c7f4cfdd96cf2454db34a5995a3500adff73ee0269df") die
                    .handle
                .srcelem#sol03src02(random="4db058e94c013ba82d1162924f7c3e4a" hash="69cfb685a18baa26ad9d41850da1ff81e5ff723913e5807303a0237838309a0d") man
                    .handle
                .srcelem#sol03src03(random="2ae363ad68f277d7a591f1b47de06ad3" hash="bd618ce8b9ec750abffe7a2f4ba1db0fef9636861aa9783f010db7bec1b742b6") wenn
                    .handle
                .srcelem#sol03src04(random="78ba635160dde6b1a95004c554b3acb6" hash="e425ee2b8997c8d143248bf0a98a3284bba1f2cd31d48ffb6ebcc53db27f01ec") Augen
                    .handle
                .srcelem#sol03src05(random="541432e155697e95ddf806ab22a2313d" hash="3750ec3026dab2261a6abbd0f84835ae289240b4ca8fcfd87fec0030c3b57b17")
                    .selectbuffer
                        select.dropbox(name="aufmachen")
                    .handle
            .helparea#hpa03
                .helpico
        .linebox#lib04
            .targetline#tal04
                .tgtelem Glück ist,
            .sourceline#sol04
                .srcelem#sol04src01(random="e5f34c91d073294841455b333228199b" hash="5062bf894b075b882cb60a028cf5a0f93d67e9303fa8a78d6fc649d65ca25d60") nicht
                    .handle
                .srcelem#sol04src02(random="32bf9af1253d43833ee013ac370ec536" hash="5e7e735c16d63a7a894785e343870deb3681af918063e7adc7697a9a0bcdeb50") Lachen
                    .handle
                .srcelem#sol04src03(random="5107be58a50837317d6632abb8f5b894" hash="0c564c72d69251a9c7b89f1734dd46f649375602dafdc765d5c0002a01c27bc1") dass
                    .handle
                .srcelem#sol04src04(random="4e629ab558a91b6d1ced9ebadba641c5" hash="71a17ba08690529db8912a83e839b76d45d18c17c24cf5aa2be226bbd92fdc1f") man
                    .handle
                .srcelem#sol04src05(random="e9ea8cf19931ea8f9666f751add432f1" hash="6937816afb6f2cfe88dec12c580a5010fb337bfec3fac71c333fe933123f73e0") das
                    .handle
                .srcelem#sol04src06(random="e32ce94666bf32ec45d0950d27e0efa4" hash="6cc62dbdb23ec43b8d1282706fcc8fd67b14cff77514510d7b959e234deda6f4")
                    .selectbuffer
                        select.dropbox(name="verlieren")
                    .handle
            .helparea#hpa04
                .helpico
        .linebox#lib09
            .targetline#tal09
                .tgtelem Glück ist,
            .sourceline#sol09
                .srcelem#sol09src01(random="4777d56896e5cec04f1900e45e2f2e2b" hash="f69ab0f93033c0548077a0318a6759975eb2563a0f0a14b0d78db74c41874b9c") Tochter
                    .handle
                .srcelem#sol09src02(random="548f3fdb308def2be1bfb31a5e1bcbc7" hash="1b3f4addae8823fc057027e62cd8d4b36befa1145f64744e4fbc99fe9d0ab720")
                    .selectbuffer
                        select.dropbox(name="aufwachen")
                    .handle
                .srcelem#sol09src03(random="a5bf6b3258c200b28bf175d2045f8856" hash="64713db7813acdd86a1c6f524ef7c75a77a8e0c34759ce0e5d135fc9f6fe60dd") meine
                    .handle
                .srcelem#sol09src04(random="2986fdefde3c3c45e2476861958c77c8" hash="1b40f8649cbd4dbbde8c8ef047c88a7d950a7c4f13cd03b6263da871d6026c29") morgens
                    .handle
                .srcelem#sol09src05(random="ca3c5daf551f56958f6d1b314ecb75fc" hash="236332e49caac90df3375089e827060f2ecd9d545a6d3ee7ac2dd8912bc63957") wenn
                    .handle
            .helparea#hpa09
                .helpico
        .linebox#lib07
            .targetline#tal07
                .tgtelem Glück ist,
            .sourceline#sol07
                .srcelem#sol07src01(random="c896186d559c4300ab41c08757987317" hash="2c20376f622096130b1fb0d03eefa07795428392f6de1fd327a64427e54fac47") aus
                    .handle
                .srcelem#sol07src02(random="eac12eaa7539b7b08fb54a5970ee86aa" hash="1c48a80087e77d61c4e0c96a91f116a4fb0526ab462bf1dab26f00fefdb074f8") etwas
                    .handle
                .srcelem#sol07src03(random="89ab45bab579e8504f3daac9b6088511" hash="ba079c9b02ea332b45bb95a0b3bf4e1728dd47de578555e959358a9240a62e53") mir
                    .handle
                .srcelem#sol07src04(random="e8ca64302cf2157b30bb345617eafb89" hash="f3a7c3bee64fcb31724d61688cb1ad599b2cc96f84d968ce47cb50849c5cd492") in
                    .handle
                .srcelem#sol07src05(random="59cb0d22aea68a42d76d5a8c535ddd16" hash="ece85caf3be668620138c249859130e8c45b1ec334f7a381311ae679624a4336")
                    .selectbuffer
                        select.dropbox(name="machen")
                    .handle
                .srcelem#sol07src06(random="f5f1cb31f73f6fb6f3fc13369c0f2d9e" hash="9166dde28235715d0ab897c368811253088a82563470351a02a47f4ce5d77d65") ich
                    .handle
                .srcelem#sol07src07(random="e25c2e3819aad485c3fb38e76f3f5edf" hash="fd2f3cc3e97895f785ccec2a0535a9732a90832a72b479c03133227024b54c15") dass
                    .handle
                .srcelem#sol07src08(random="e1f52bb78215b02e2111efdfb957f10f" hash="78d2bf22468a0938eb75e567fa854e304fa956390fc406d8dfb6d147826e60d9") Zukunft
                    .handle
            .helparea#hpa07
                .helpico
        .linebox#lib05
            .targetline#tal05
                .tgtelem Glück ist,
            .sourceline#sol05
                .srcelem#sol05src01(random="786974aab61452c8c28ec2446e0b9e1c" hash="be137c9b6e64057eab1d187ab2eda09f3c9c8f9c80cbbaa959e1aaa315ade7fd") zufrieden
                    .handle
                .srcelem#sol05src02(random="39c5f20328062374aaedb3f979489b37" hash="4f3d009f30d7c57b8d588e6da7335f0c6dbaf69c47c3dccb2dd5c869ea6702ec") mit
                    .handle
                .srcelem#sol05src03(random="12a553cff63bedaaa164b669c1d4ca70" hash="0290a8c1597ee3e9abcc690aa05476043ebd46f59b1d5479cb81d9b687450afe") selbst
                    .handle
                .srcelem#sol05src04(random="c1235852cd15006d7e710d7c139c4072" hash="d150a4b9691353ab2d0a4f48acf5cc246d9f783bec8e93b4d64bd2126f1f50ad")
                    .selectbuffer
                        select.dropbox(name="sein")
                    .handle
                .srcelem#sol05src05(random="6c57984b00ccee8402c74c8147644064" hash="78cbc2044c73d41cca9c72919097cb717cf4bb47da9abe6959f61af4757deefd") sich
                    .handle
                .srcelem#sol05src06(random="184afdfbf89b671b206987828b0eb6c8" hash="337f817ffaf78cc5de2d6f5a99ca778f774326b4ba432d4a20626dedfa6d32e0") man
                    .handle
                .srcelem#sol05src07(random="aab8409e14b7b1a18277f8a299f544ff" hash="db9700e2635d05648b8451a5e0698db75948c6049c5a25d0c1ea5dd3dbf05be0") wenn
                    .handle
            .helparea#hpa05
                .helpico
        .linebox#lib10
            .targetline#tal10
                .tgtelem Glück ist,
            .sourceline#sol10
                .srcelem#sol10src01(random="f25649721eec99aeacac4bf2b528cfdf" hash="9ea71ae3f9ecb1b20839ebaa26822926f068c17057699ed8deeb754212fe58ae") wie
                    .handle
                .srcelem#sol10src02(random="6bae16339de67241155cac7d5316ee74" hash="77f26846928bc5f60ee15f420be8df2b6ced19a00bdfc810ba9d662bcf7a2a65") Tag
                    .handle
                .srcelem#sol10src03(random="b6fe629c045a83d5632ab28493b311c2" hash="22dae8f97790842fd913a758b25e7d9da969b411bcfe6fadb5e8c92c999dcc2f") hier
                    .handle
                .srcelem#sol10src04(random="5a84cce0a04377958fbf8e5530ebbe4e" hash="4c51186b28065a1d264063800c5d9bcab3a45addcaad55b23b469cf5fb2c7b6b") an
                    .handle
                .srcelem#sol10src05(random="7934c31db99e09ad1052bad78dfb7be2" hash="ec883146fe4f0e59775788c9ac38416c8c4d6587df07921cc4ea8eef250cc2d2")
                    .selectbuffer
                        select.dropbox(name="stehen")
                    .handle
                .srcelem#sol10src06(random="59c9717f20e174bf56326173bc8baf1a" hash="1d35fc5ce610420fb40c719052c95cd020b13ac69736dee02edd0b1ee6de09a5") zu
                    .handle
                .srcelem#sol10src07(random="dffe13488937bb88f667e8a0b493d612" hash="81cd9e9200bd8cd9c571839f529f96b22aeed74615e0612844351ec8fb720e2a") heute
                    .handle
                .srcelem#sol10src08(random="d02d0c41da4a1a5aa8aa0031f7380679" hash="ce984d82ddb138d75958314cb61f22d1907ddb09f038946d2f6e7a218adc2a46") einem
                    .handle
                .srcelem#sol10src09(random="6518a57f8e80874b29363508768d2001" hash="5f31247c297aafa11a9595a2009529eaceaec491b18737a9d261aa9cf4b75e5a")
                    .selectbuffer
                        select.dropbox(name="dürfen")
                    .handle
            .helparea#hpa10
                .helpico
        .linebox#lib02
            .targetline#tal02
                .tgtelem Glück ist,
            .sourceline#sol02
                .srcelem#sol02src01(random="128af8a2dcf132008728477940fcc74a" hash="d190b94958fd12536063a90d75674d7961cfc97ed98c90fcde29da3366e5d98b") wenn
                    .handle
                .srcelem#sol02src02(random="bd9707c38364e5e0e99759cb3e71aaf0" hash="c17cbc75a37ac095f253f2d07f3102e423c07cfb451c01d161e966c03d45883c") die
                    .handle
                .srcelem#sol02src03(random="35845953fd97e699b46fb122576f6ee2" hash="64fd64d114bee847c13aa9d5a289f152ef562348bab02720a4121360d68695ad")
                    .selectbuffer
                        select.dropbox(name="scheinen")
                    .handle
                .srcelem#sol02src04(random="d6b5615c33319fb5f17cc203af1ba3a3" hash="7da5d9e94a55aabaa29b8b3bd783578bb16c62eeeb71b48c837a7919e55040f2") Sonne
                    .handle
            .helparea#hpa02
                .helpico
        .linebox#lib08
            .targetline#tal08
                .tgtelem Glück ist,
            .sourceline#sol08
                .srcelem#sol08src01(random="606b7532838031aeff7da6d2e3320e10" hash="261a642ef0a39cbd0f18a0be26ac55ec31dddf465c1c35bb73504ee5596946cb") mich
                    .handle
                .srcelem#sol08src02(random="3c6278203bd9b9bf6bed2a32f121884e" hash="1608fc1008250e84b85afd82255ff05bc932bf6ac96379254ba4f70be1c00354")
                    .selectbuffer
                        select.dropbox(name="lieben")
                    .handle
                .srcelem#sol08src03(random="798061f6bfb1df00494e4331eb3eb3bb" hash="91a257caeb0c60191cd6b18acc0ba314bda4bad9d3e648bb628ff0c71eabbfa5") jemanden
                    .handle
                .srcelem#sol08src04(random="cfcd7121fd8be3934144452201b261e9" hash="c9761595a1154a23ccf4f7d6c9398d9c21fb5e4888d9162f65661781cf9c3c15") wenn
                    .handle
                .srcelem#sol08src05(random="a64f85ccafe2402cd4710e367b6139fb" hash="7abc09b044d69a082f7760804a13245b3227873b483c73904d521a624686a48a")
                    .selectbuffer
                        select.dropbox(name="haben")
                    .handle
                .srcelem#sol08src06(random="ac20bf5391aeeda69c0e08ffbeb378de" hash="d683e815563bae3814664490f4b854c9024d7a4ded3fd85508e0943229be254c") ich
                    .handle
                .srcelem#sol08src07(random="db8ffc9885a84c5473260b892a8ac36d" hash="4497497ec6de325e15b3d938b55d4b8462b14ac1ba3b1046fbacd3c5dec885b7") der
                    .handle
            .helparea#hpa08
                .helpico
        .linebox#lib01
            .targetline#tal01
                .tgtelem Glück ist,
            .sourceline#sol01
                .srcelem#sol01src01(random="c3ab1e2a706b9f31d6ac89a4b60b4e33" hash="679ee66080b445b08ec617c3168cb8cfb467c26546eb5ad6c36c94483e7ca2c4") man
                    .handle
                .srcelem#sol01src02(random="89dccbab80adf343420b4fb0fe7a16ed" hash="6bde661b90e350d7441c10188a3f815cc6beac3788d9f16dae2d84cd48e7a9b1")
                    .selectbuffer
                        select.dropbox(name="sein")
                    .handle
                .srcelem#sol01src03(random="b344cf4d11579486a2fad14748b00e87" hash="b51c64fafc7f15de49cba703e437335dcba668a9da42df5f1b95d7216c841533") wenn
                    .handle
                .srcelem#sol01src04(random="5213176772ea037e7c95fbfb065cf0d8" hash="8a44ef7f6e198ffdd9e73da0cdf1246f262c95c24bc6a01ee0869ab32e4fe556") frei
                    .handle
            .helparea#hpa01
                .helpico
