extends layout
block content
    link(rel='stylesheet', href='/stylesheets/glueck.css')
    #Aufgabenbox
        p Aufgaben
    #wrapper
        h1 Glücksgedicht
        h2(style="center") Glück
        p(style="center")
            |Glück ist gar nicht mal so selten,
            |Glück wird überall beschert.
            |Vieles kann als Glück uns gelten,
            |was das Leben uns so lehrt.
            |Glück ist jeder neue Morgen,
            |Glück ist bunte Blumenpracht,
            |Glück sind Tage ohne Sorgen,
            |Glück ist, wenn man fröhlich lacht.
            |Glück ist Regen, wenn es heiß ist,
            |Glück ist Sonne nach dem Guss.
            |Glück ist, wenn ein Kind ein Eis isst,
            |Glück ist auch ein lieber Gruß.
            |Glück ist Wärme, wenn es kalt ist,
            |Glück ist weißer Meeresstrand.
            |Glück ist Ruhe, die im Wald ist,
            |Glück ist eine Freundeshand.
            |Glück ist eine stille Stunde,
            |Glück ist auch ein gutes Buch.
            |Glück ist eine frohe Runde,
            |Glück ist freundlicher Besuch.
            |Glück ist niemals ortsgebunden,
            |Glück kennt keine Jahreszeit.
            |Glück hat immer der gefunden,
            |der sich seines Lebens freut.
            |Liebe schenken, Freude geben,
            |dankbar und zufrieden sein,
            |ist das höchste Gut im Leben
            |und schließt alles Schöne ein.
            p(style="right") Autor Unbekannt
    #Field