extends layout
block content
    link(rel='stylesheet', href='stylesheets/glueck_video_kleeblatt.css')
    script(src='javascripts/glueck_video_kleeblatt.js')
    #Aufgabenbox
        p
    #wrapper
        object(id="klee-svg", data="images/klee3.svg", type="image/svg+xml", width="700" height="700") Sie benötigen einen SVG-Viewer
        #colorSwitcher
            #green1.color.selected(colorCode="#00aa00")
            #green2.color(colorCode="rgb(178, 231, 149)")
            #green3.color(colorCode="#b3b700")
            #green4.color(colorCode="#5bc669")