extends layout
block content
    #subjecttitle
        h1 Glück
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div#les1.task
                div.taskicon Icon
                div.taskstart
                    a(href='glueck_task1a')
                div.tasktitle Gedicht
            div#les2.task
                div.taskicon Icon
                div.taskstart
                    a(href='glueck_task2')
                div.tasktitle Interview
            div#les3.task
                div.taskicon Icon
                div.taskstart
                    a(href='glueck_task3')
                div.tasktitle Kreuzworträtsel
            div#les4.task
                div.taskicon Icon
                div.taskstart
                    a(href='glueck_task4')
                div.tasktitle Redensarten
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
