extends layout
block content
    #subjecttitle
        h1 Handy
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div#les1.task
                div.taskicon Icon
                div.taskstart
                    a(href='handy_task1')
                div.tasktitle Lückentext
            div#les2.task
                div.taskicon Icon
                div.taskstart
                    a(href='handy_task2')
                div.tasktitle Gegenteil
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
