extends layout
block content
    link(rel='stylesheet', href='stylesheets/handy_task2.css')
    script( src='javascripts/handy2.js')
    #Aufgabenbox
        | Nenne das Gegenteil!
    #message.invisible
        | Richtig!
    #wrapper
        #Textbox
            table
                tr
                    td Eine SMS schicken
                    td &hArr;
                    td Eine SMS
                    td <input id='i1'>
                tr
                    td Eine Nummer speichern
                    td &hArr;
                    td Eine Nummer
                    td <input id='i2'>
                tr
                    td Der Akku vom Handy ist leer
                    td &hArr;
                    td Den Akku
                    td <input id='i3'>
                tr
                    td Einen Termin vereinbaren
                    td &hArr;
                    td Einen Termin
                    td <input id='i4'>
                tr
                    td Eine E-Mail löschen
                    td &hArr;
                    td Eine E-Mail
                    td <input id='i5'>
                tr
                    td Mein Postfach ist leer
                    td &hArr;
                    td Mein Postfach ist
                    td <input id='i6'>
                tr
                    td Ein Dokument öffnen
                    td &hArr;
                    td Ein Dokument
                    td <input id='i7'>

    #Field
        span#balken
        span#hilfe
        span#check
            a(href='#') PRÜFEN
        span#weiter
            a(href='#') WEITER
