extends layout
block content
    link(rel='stylesheet', href='/stylesheets/handy.css')
    #Aufgabenbox
        p AUFGABEN
    #wrapper
        h1 Handy
        h2 Hier könnt ihr euch austoben
    #Field
        