extends layout
block content
    link(rel='stylesheet', href='stylesheets/handy.css')
    script(src='javascripts/handy_start.js')
    #Aufgabenbox
        h1(style='font-family:Dosis,sans-serif;') Handy
    #wrapper
        #Textbox
            div#l1.lek
                p Lektion 1
                p.gr Lückentext
            div#l2.lek
                p Lektion 2
                p.gr Gegenteil
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
