extends layout
block content
    #subjecttitle
        h1 Handy
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                    a(href='handy_task1')
                div.ltitle Lückentext
            div#les2.lesson
                div.licon Icon
                div.lstart
                    a(href='handy_task2')
                div.ltitle Gegenteil
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
