extends layout
block content
    link(rel='stylesheet', href='/stylesheets/handy.css')
    #Aufgabenbox
        p Text für den Aufgabenbereich Handy. Bitte aufmerksam durchlesen
    #wrapper
        #Textbox
            h1 Jugend fesselt sich ans Handy
            img(id="front" src="images/handy.jpg" height='220', width='380')
            p.
               Selbst in der Grundschule gehört ein Handy mittlerweile zum Alltag,
               wie eine Studie des Marktforschungsinstituts IconKids and Youth ergab:
               Jeder dritte Sieben- bis Neunjährige telefoniert mobil und bei den Zehn-
               bis Elfjährigen sind heutzutage sogar schon zwei Drittel mobil erreichbar.
               Unter Jugendlichen bis 15 Jahren sind es sogar 95 Prozent.

            p.
               Zehntklässler aus Braunschweig wagten nun das scheinbar Unmögliche:
               Eine Woche lang verzichteten sie komplett auf Handy beziehungsweise
               Smartphone samt Internet. Würden junge Marburger 168 Stunden ohne Mobiltelefon
               aushalten? Die OP fragt die Jugendlichen in der Stadt: „Geht nicht!
               Dann kann ich beim Warten auf den Bus oder beim Zugfahren nichts mehr machen“,
               sagt Leon Kunze (16), Realschüler. „Ich muss es anlassen um zu wissen, wenn sich
               jemand zum Treffen verspätet oder eine Party ausfällt“, sagt Sabrina Nelle (18),
               angehende Jurastudentin. Zudem rufe ihre Mutter häufig an um zu wissen, wo sie sei
               und was sie unternehme. „Sie würde es vermutlich genauso wenig aushalten wie ich,
               das Handy nicht griffbereit zu haben“, sagt sie. Die Schülerin Isabel Schuhmacher (17)
               machte hingegen bereits andere Erfahrungen. Sie schaltete die Technik vor kurzem
               freiwillig mehrere Stunden am Tag ab. Sie sagt: „Ich habe plötzlich richtig viel
               Zeit gewonnen.“ Hausaufgaben waren schneller erledigt, es blieb mehr Zeit für Sport
               und andere Dinge. Künftig soll ihr Smartphone daher häufiger aus bleiben.

            p.
               Die Deutsche Knigge Gesellschaft kritisiert den Smart-phone-Boom, das permanente
               Nutzen der Geräte, weil es ihrer Auffassung nach den Smalltalk tötet. Hans-Michael
               Klein, Vorsitzender der Benimm-Verein sagt: „Wir sind von Schlaumeiern und Besserwissern
               umzingelt, die Gespräche durch nach-gegoogelten Fakten zerstören“. Im Benimmregel-Katalog
               hat die Gesellschaft daher einen neuen Absatz aufgenommen: „Während des Gesprächs bleibt
               das Handy in der Tasche“. Während des Gesprächs SMS oder in dem Programm Whatsapp zu
               schreiben, ist schon länger verpönt. Nun soll auch mit dem Googeln Schlusssein.
            p.
               Alarmierend sind die Ergebnisse einer aktuellen Forsa-Umfrage: Mehr als 60 Prozent
               der befragten Mädchen zwischen 14 und 19 Jahren gaben an, lieber auf alles
               andere - Party, Fernsehen, Alkohol - zu verzichten, als auf ihr Mobiltelefon.
               70 Prozent würden gar lieber dem Sex als dem Smartphone abschwören.
            p.
              „Das Handy als ständigen Begleiter dabei zu haben heißt noch nicht, dass jemand
               süchtig ist“, sagt Detlef Scholz, Medienpädagoge. Ohnehin sei Handysucht keine
               anerkannte Krankheit. Trotzdem könne man von exzessiver Handynutzung sprechen,
               wenn man sehe, „wie zwanghaft einige mit ihrem Mobiltelefon umgehen“. So könne
               seiner Einschätzung nach auch ein Handy Sucht-Symptome entstehen lassen. Etwa
               starke Nervosität bei schlechtem Netzempfang oder, wenn das Handy abgestellt
               werden müsse. Angstgefühle, innere Unruhe und Schweißausbrüche, wenn das Handy
               vergessen wurde oder der Akku leer ist. „Ständig auf das Display des Handys schauen
               müssen ist ebenfalls ein Suchtsymptom“, sagt Scholz.
            p.
               Wissenschaftler erfanden nun den Begriff Nomophobia. Dieser bezeichnet die Angst,
               ohne Handy zu sein. Denn je jünger Befragte sind, desto mehr Angst löst die Vorstellung
               bei ihnen aus, ohne Mobiltelefon und Internet auskommen zu müssen. Eine andere
               medizinische Debatte rankt sich um die Krebsgefahr, die von der Handy-Strahlung
               ausgehen könnte. Einige Studien halten die Mobiltelefone für unbedenklich, andere
               warnen vor Risiken. Die Deutsche Kinderkrebsstiftung etwa ist gerade in Bezug auf
               die Wirkung auf Kinder skeptisch. Auch Naturschutzorganisation wie der BUND
               positionieren sich kritisch: Die Zahl der Quellen hochfrequenter elektromagnetischer
               Felder haben seit Jahren stark zugenommen, dauerhaft sei bei Mobilfunk und Co. jeder
               elektromagnetischer Strahlung ausgesetzt.

    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='/handy_task1') WEITER
        