extends layout
block content
    link(rel='stylesheet', href='stylesheets/handy_task1.css')
    script( src='javascripts/handy.js')
    #Aufgabenbox
        p
        |Fülle den Lückentext mit Hilfe des Textes und den Definitionen der Lücken aus.
        |Der Artikel muss bei Substantiven dazugesetzt werden.
        |Du musst gegebenenfalls deklinieren  und konjugieren.
    #wrapper
        #Textbox
            p
            |   Laut einer Studie
            input#1.slot(type="text", title="suche ein zweiteiliges Prädikat",size="20", maxlength="20")
            |   jeder dritte Sieben- bis Neunj&auml;hrige
            input#2.slot(type='text',size="20", maxlength="20")
            |   .
            |   Bei den älteren Schülern sind es sogar 95%: Daher wagen Zehntklässler aus Braunschweig das unmögliche Experiment, eine Woche lang auf das Handy
            input#3.slot(type="text", size="20", maxlength="20")
            |   .


            p
            |   Durch den Abstand zur
            input#4.slot(title="suche ein Synonym zu Technologie", type="text", maxlength="20")
            |   entdecken manche ihre Freizeit neu.
            |   Sie sind mit ihren Hausaufgaben viel schneller fertig und haben mehr Zeit für ihre Freunde.

            p
            |   Aber es gibt auch einige, die auf ihr
            input#5.slot(type="text", maxlength="20")
            |   nicht verzichten können: Ein
            input#6.slot(type="text", maxlength="20")
            |   Akku kann regelrecht Schweißausbrüche und Angstzustände hervorrufen.
            |   Hier kann man dann von
            input#7.slot(title="finde ein Substantiv, dass die Gefahr des Handys schon im Namen trägt", type="text", maxlength="20")
            |   sprechen, obwohl es keine anerkannte Krankheit ist. Gesundheitsschädlicher als diese ist ohnehin die
            input#8.slot(title="finde zwei Adjektive, die Kollokationen von Strahlung sind", type="text", maxlength="20")
            |   ,
            input#9.slot(title="finde zwei Adjektive, die Kollokationen von Strahlung sind", type="text", maxlength="20")
            |   Strahlung.