extends layout
block content
    #subjecttitle
        h1 Impressum
    #impressumcontent
        p Dieser Dienst wird rein privat betrieben, und erzielt keinerlei Gewinne.
        b Postadresse des Herausgebers / Verantwortlichen
        p
        | Dr. Sven Naumann
        br
        | Computerlinguistik & Digital Humanities
        br
        | FB II
        br
        | Universität Trier
        br
        | D-54296 Trier
        p
        | Tel.: +49 651 2012251
        br
        | Fax: +49 651 2013946
        br
        br
        b E-Mail-Adresse des Herausgebers
        p naumsven@uni-trier.de
        p Der Betreiber dieses Dienstes hat keine Kontrolle über die Inhalte von eventuell in den Erklärungstexten verlinkten anderen Seiten. Diese Links sind als "externe Links" gekennzeichnet

        P
        | Auf den Seiten wurden Icons verwendet die unter einer freien Lizenz stehen besonderer Dank gilt den Erstellern
        div Icons made by
            br
            a(href="http://www.freepik.com" title="Freepik") Freepik
            br
            a(href="http://www.flaticon.com" title="Flaticon") www.flaticon.com
            br
            a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0") CC BY 3.0
s