extends layout
block content
    h1 Impressum

    p Dieser Dienst wird rein privat betrieben, und erzielt keinerlei Gewinne.

    h2 Postadresse des Herausgebers / Verantwortlichen
    p Test Tetico
    p Teststr. 3
    p 54296 Trier

    h2 E-Mail-Adresse des Herausgebers
    p webmaster@testico.de


    p Der Betreiber dieses Dienstes hat keine Kontrolle über die Inhalte von eventuell in den Erklärungstexten verlinkten anderen Seiten. Diese Links sind als "externe Links" gekennzeichnet.