doctype html
html
    head
        meta(charset="utf-8")
        link(rel='stylesheet', href='stylesheets/layout.css')
        link(href='http://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
        link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
        script( src="javascripts/jquery-1.11.1.min.js")
        script( src="javascripts/jquery-ui.min.js")
        script(src="javascripts/d3.v3.min.js")
        script(src="javascripts/general.js")
        script(src="javascripts/layout.js")
        body
            #startoverlaybackground
            #startoverlaywatermark
            #startoverlaybluebar
            #startoverlay
                #startoverlaywrapper
                    #startoverlaybox
                        #startoverlayheader
                            div.startoverlayheaderbar
                                #startoverlaymediatypeicon MTI
                                #startoverlaycloseicon Close
                                #startoverlayheadertext Deutsch als Fremdsprache - Infos
                            div.startoverlayheaderbar
                                //.startoverlayheaderinfo Zukunft
                                //.startoverlayheaderinfo Technischer Fortschritt
                                //.startoverlayheaderinfo Text
                                //.startoverlayheaderinfo Die Zukunft der Menschheit wird fantastisch!
                                //.startoverlayheaderinfo Frank Schmiecher
                                //.startoverlayheaderinfo Michio Kaku
                                //.startoverlayheaderinfo Die Physik der Zukunft
                                //.startoverlayheaderinfo Roboter
                                //.startoverlayheaderinfo Computer
                        #startoverlaycontent
                            block overlay
            #mediacontainer
                #mediabox
            #redbackground
            #specialbackground
                if (session)
                    if (last != "home")
                        #special_bar
                            #point_bars_div
                                svg(id="point_bars")
                            .special_nav
                                a#ind(href="uindex?last="+ last)
                            .special_nav
                                a#las(href="last?last="+ last)
                                a#nex(href="next?last="+ last)

            #redstripes
                .redstripe#info1
                .redstripe#info2
                .redcontainer#info3
            #darkblueNav
                #navigation
                    ul
                        li.cat1(id='firstnav')
                            a(href = 'home') Home
                        li.cat1
                            a(href = 'ubung') Themen
                            if (session)
                                if (session.name)
                                    ul
                                        li
                                            a(href = 'glueck_start') Glück
                                        li
                                            a(href= 'handy_start') Handy
                                        li
                                            a(href = 'ersti_start') Ersti
                                        li
                                            a(href = 'veggieday_start') Veggie-Day
                                        li
                                            a(href = 'wertewandel_start') Wertewandel
                                        li
                                            a(href = 'generationen_start') Generationen
                                        li
                                            a(href = 'zukunft_start') Zukunft
                                        li
                                            a(href = 'vulkane_start') Vulkane
                                        li
                                            a(href = 'china_start') China
                        li.cat1
                            if (session)
                                if (session.name)
                                    a(href = 'profil') Profil
                                    ul
                                        li
                                            a(href = '#') Einstellungen
                                        li
                                            a(href = '#') Punkteübersicht
                        li.cat1
                            a(href = '#') Über ...
                            ul
                                li
                                    a(href= 'https://www.uni-trier.de/index.php?id=1175') Computerlinguistik und Digital Humanities
                                li
                                    a(href= 'https://www.uni-trier.de/index.php?id=8356') Deutsch als Fremdsprache
                        li.cat1
                            a(href = 'anleitung') Hilfe
                        li.cat1
                            if (session)
                                if (session.name)
                                    a(href = 'logout') Logout
                            else
                                a(href = 'home') Login
            #container
                #header
                    img.codexLogo(src='images/codex.png')
                    #titletext
                        mark.codex Deutsch&nbsp;
                        | als Fremdsprache
                    img.uniLogo(src='images/logoBlau.svg')

                #mainboard
                    #headerblocker
                    if (session)
                        if (session.name)
                            #content_background
                                block content
                        else
                            #content_background
                                #Textbox
                                    script( src='javascripts/scripts.js')
                                    h2(align='center') Willkommen auf der Lernplattform "Deutsch als Fremdsprache" der Universität Trier!
                                    | Auf dieser Lernplattform findest du unterschiedliches Lernmaterial samt Übungen zu den Themengebieten
                                    | Glück, Handy, Ersti, Veggie-Day, Wertewandel, Generationen, Zukunft und China.
                                    | Die abwechslungsreichen Übungsaufgaben bieten dir die Möglichkeit dein B1-Niveau
                                    | auszutesten und zu festigen.
                                    | Durch die unterschiedlichen Aufgabentypen kannst du dein Wissen auf vielfältige Art und Weise erweitern.
                                    br
                                    | Dieses elearning-Projekt ist in Zusammenarbeit mit ‚Deutsch als Fremdsprache‘ und der Computerlinguistik
                                    | Trier entstanden und steht dir nach der einmaligen Registration <b>kostenlos</b>
                                    | zur Verfügung!
                                    p

                                    #withoutcontent
                                        link(rel='stylesheet', href='stylesheets/index.css')
                                        #loginbox
                                            h1 Login
                                            form(action="login", method="POST")
                                                input(type="text", id="login", name="login", placeholder="Benutzername")
                                                input(type="password", id="password", name="password", placeholder="Passwort")
                                                input(type="submit", value="Login")
                                    p
                                    br
                                    | Technischer Hinweis:
                                    br
                                    | Mit alten Browser-Versionen kann es zu Problemen bei der Darstellung kommen. Als sicherste Option empfehlen wir
                                    | dir Firefox in der neuesten Version.
                                    | Aber auch die aktuellste Versionen von InternetExplorer(ab v.11) oder Chrome (ab v.36) werden erfahrungsgemäß
                                    | unterstützt.
                                    | Für weitere Informationen zur Browseruntertzützung: Link comming soon

                    #footer
                        #impressum
                            a.footerlink(href= 'impressum') Impressum
                            a.footerlink Datenschutzerklärung
                #endfloat