doctype html
html
      head
          title= title
          meta(charset="utf-8")
          title= title
          link(rel='stylesheet', href='/stylesheets/mystyle.css')
          script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
          script( src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js")
          body
              #page
                    #header
                        #trow
                            a(href="/home")
                                img(id="front",src="images/header.PNG")
                            ul(id="nav")
                                li(id="header_button")
                                    a(href='/home' ) Startseite
                                li(id="header_button")
                                    a(href='/ubung' ) Übungen
                                    if (session)
                                        if (session.name)
                                            ul
                                                li(id="header_sub_button")
                                                    a(href='/glueck_gedicht' ) Glück
                                                li(id="header_sub_button")
                                                    a(href='/handy' ) Handy
                                                li(id="header_sub_button")
                                                    a(href='/ersti' ) Ersti
                                                li(id="header_sub_button")
                                                    a(href='/veggieday_inhalt' ) Veggie-Day
                                                li(id="header_sub_button")
                                                    a(href='/wertewandel' ) Wertewandel
                                                li(id="header_sub_button")
                                                    a(href='/generationen' ) Generationen
                                                li(id="header_sub_button")
                                                    a(href='/zukunft' ) Zukunft
                                                li(id="header_sub_button")
                                                    a(href='/china' ) China
                                li(id="header_button")
                                    if (session)
                                        if (session.name)
                                            a(href='/logout') Logout
                                        //else
                                            a(href='/login') Login
                                    //else
                                        a(href='/login') Login
                                li(id="header_button")
                                    a(href='' ) Statistik
                                li(id="header_button")
                                    a(href='/impressum' ) Impressum
                        a(href="http:/www.uni-trier.de")
                            img(id='logo', src='images/uni-trier.PNG', width='190', height='182', alt='Universität Trier', align='right')

                    if (session)
                        if (session.name)
                            block content
                        else
                            script( src='/javascripts/scripts.js')
                            img(id="front", src="images/front.jpg")
                            h2 Vorstellung des Projekts...
                            h2 Sie müssen sich anmelden um alle Inhalte nutzen zu können
                            #withoutcontent
                                link(rel='stylesheet', href='/stylesheets/index.css')
                                #Loginbox
                                    h2 Login
                                    form(action="/login", method="POST")
                                        #form_table
                                            #form_row
                                                #form_row
                                                    label(for="login") Email
                                                #form_row
                                                    input(type="text", id="login", name="login", placeholder="Your email or username")
                                            #form_row
                                                #form_row
                                                    label(for="password") Passwort
                                                #form_row
                                                    input(type="password", id="password", name="password", placeholder="Your password")
                                                    if error
                                                        p #{error}
                                            p
                                            //#form_row
                                                #form_cell
                                                    a(href='/signup') neu anmelden
                                            p
                                            #form_row
                                                #form_cell
                                                    input(type="submit", value="Login")




