extends layout
block content
    link(rel='stylesheet', href='stylesheets/lernen_Von_Anderen.css')
    script(src='javascripts/lernen_Von_Anderen.js')
    #Textbox
        p
        h3 Lernen von Anderen
        p Auf dieser Seite finden Sie die Verknuepfung mit dem deutchen Lernerkorpus - FALKO.
        | In diesem sind nur Texte enthalten, die von Lerner des deutschen erstellt wurden.
        | Fuer genauer Informationen, wie diese Seite zu benutzen ist, klicken Sie bitte &nbsp
        a(href="/anleitung") hier
        | .
    .iframeContainer
        .iframeContainerWrapper
            .iframeContainerWrapperChild
                iframe.iframeContainerWrapperIframe(data-src="https://korpling.german.hu-berlin.de/falko-suche/")
