extends layout
block content
    link(rel='stylesheet', href='stylesheets/lernen_Von_Anderen.css')
    script(src='javascripts/lernen_Von_Anderen.js')
    #Textbox
        p
        h3 Lernen von Anderen
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae laoreet purus. Proin quis dui aliquam, feugiat sapien ac, condimentum diam. Donec sit amet ornare enim, sit amet interdum risus. Suspendisse potenti. Sed egestas velit eu aliquet consectetur. Ut mattis dolor a neque dictum, sit amet condimentum massa fringilla. Morbi quis leo vel nisl euismod pulvinar. Quisque laoreet mi nisl, eget malesuada lectus blandit eget. Ut a luctus enim. Cras vehicula erat a tempor aliquam. Nam dolor eros, ullamcorper eu tortor vel, scelerisque pretium purus.
    .iframeContainer
        .iframeContainerWrapper
            .iframeContainerWrapperChild
                iframe.iframeContainerWrapperIframe(data-src="https://korpling.german.hu-berlin.de/falko-suche/")
