extends layout
block content
   link(rel='stylesheet', href='stylesheets/glueck_video_kleeblatt.css')
   script(src='javascripts/liveTicker_fussball.js')
   #Aufgabenbox
      p bla
   #wrapper
      #svgbox
         object(id="fussball-svg", data="images/Fussball-2.svg", type="image/svg+xml", width="700" height="700") Sie benötigen einen SVG-Viewer