//
   Created by julianebredack on 20.01.16.

//
   Created by julianebredack on 20.01.16.

extends layout
block overlay
    #overlaycontentbox
        p Test
block content
    link(rel='stylesheet', href='stylesheets/liveticker_fussball_redewendungen.css')
    script(src='javascripts/liveticker_fussball_redewendungen.js')
    #Aufgabenbox
        p Kennst du diese Ausdrücke? Welche Bedeutungen haben sie im Liveticker?
    #wrapper
        #Textbox
            .mco#m1
                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_1.png')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                img.bild1(src="images/liveticker/Aufgabe6_Fussball_1.png")
                <b>
                .task es geht um die wurst </b>

            .mco#m2
                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_3.png')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                img.bild3(src="images/liveticker/Aufgabe6_Fussball_3.png")
                <b>
                .task zum Zug(e) kommen </b>

            #Space
        #Textbox
            .mco#m3
                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_2.png')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                img.bild2(src="images/liveticker/Aufgabe6_Fussball_2.png")
                <b>
                .task etwas in eigener Hand haben </b>

            .mco#m4
                <a href= "javascript:void(0);" onClick = "showTicker('images/liveticker/Liveticker_Fussball_Aufgabe3_4.png')">
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                </a>
                img.bild4(src="images/liveticker/Aufgabe6_Fussball_4.png")
                <b>
                .task ein Auge für etwas haben </b>



