//
   Created by julianebredack on 20.01.16.

extends layout
block content
    link(rel='stylesheet', href='stylesheets/liveticker_fussball_redewendungen.css')
    script(src='javascripts/liveticker_fussball_redewendungen.js')
    #Aufgabenbox
        p Kennst du diese Ausdrücke? Welche Bedeutungen haben sie im Liveticker?
    #wrapper
        #Textbox
            .mco#m1
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                img.bild1(src="images/liveticker/Aufgabe6_Fussball_1.png")
                <b>
                .task es geht um die wurst </b>

            .mco#m2
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                img.bild3(src="images/liveticker/Aufgabe6_Fussball_3.png")
                <b>
                .task zum Zug(e) kommen </b>

            #Space
        #Textbox
            .mco#m3
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                img.bild2(src="images/liveticker/Aufgabe6_Fussball_2.png")
                <b>
                .task etwas in eigener Hand haben </b>

            .mco#m4
                img.textwrap1(src="images/liveticker/zumText_Button.png")
                img.bild4(src="images/liveticker/Aufgabe6_Fussball_4.png")
                <b>
                .task ein Auge für etwas haben </b>



