extends layout
block content
    #content_background
        link(rel='stylesheet', href='stylesheets/memory.css')
        script( src='javascripts/memory.js')
        #Aufgabenbox
            p Memory
        #wrapper
