extends layout
block content
    #content_background
        link(rel='stylesheet', href='stylesheets/NeueEnergien_Aufgabe_5.css')
        script( src='javascripts/NeueEnergien_Aufgabe_5.js')

        #Aufgabenbox
            h3 I.	Finde im Text Antonyme zu den unterstrichenen Begriffen und notiere sie. Wenn du auf das unterstrichene Wort klickst, bekommst du einen Tipp.

        #wrapper

            #Text
                p 1.    Manche Energiequellen sind erschöpfbar.
                input(type=text)________________________
                p 2.    Herkömmliche Energien werden heute noch viel genutzt.	 	________________________
                p 3.    In manchen Ländern sind alternative Energien eher unbekannt.	________________________
                p 4.    Auch alternative Energien haben Nachteile.					________________________
                p 5.    Es gibt verschiedene umweltfeindliche Energiequellen.			________________________
                p 6.    Die Energiegewinnung ist oft umweltbelastend.				________________________
                p 7.    Die Nutzung von alternativen Energien ist nicht immer billig.		________________________


        #Aufgabenbox
            h3 II.  Lies die folgenden Sätze und entscheide ob die Aussage richtig ist. Klicke die richtige Antwort an. Auch hier bekommst du einen Tipp, wenn du auf die Satznummer klickst.

        #wrapper

            #Text
                p 1.    Die Nutzung von Wasserkraftwerken ist teuer.				□ Ja 	□ Nein
                p 2.    Die Atomenergie gehört zu den alternativen Energien.			□ Ja 	□ Nein
                p 3.    Sonnenenergie ist unerschöpflich.						□ Ja 	□ Nein
                p 4.    Rotationsenergie ist auch unter dem Namen Photovoltaik bekannt.	□ Ja 	□ Nein
                p 5.    Die Nutzung von alternativen Energien ist umweltschonend.		□ Ja 	□ Nein
                p 6.    Ein Vorteil von alternativen Energien ist deren staatliche Förderung.	□ Ja 	□ Nein



