extends layout
block content
	#content_background
		link(rel='stylesheet', href='stylesheets/NeueEnergien_Aufgabe_6.css')
		script( src='javascripts/NeueEnergien_Aufgabe_6.js')

		#Aufgabenbox
			h3 Aufgabe:
			p Lies die folgenden Sätze und entscheide ob die Aussage richtig ist.
			p Klicke die richtige Antwort an.
			p Für weitere Hilfe klicke auf die TIPP Box.

		#wrapper

			#container
			.Tipps#Tipp TIPP
			form( id="ww3_form" )
