extends layout
block content
	#content_background
		link(rel='stylesheet', href='stylesheets/NeueEnergien_Semantisierung.css')
		script( src='javascripts/NeueEnergien_Semantisierung.js')
		#Aufgabenbox
			p Hier kommt der Aufgabentext hin
		#wrapper
