extends layout
block content
	#content_background
		link(rel='stylesheet', href='stylesheets/NeueEnergien_Semantisierung.css')
		script( src='javascripts/NeueEnergien_Semantisierung.js')
		#Aufgabenbox
			h2 Welche alternativen Energien gibt es?
			p Ordne den Bildern das richtige Wort aus diesem Kasten zu.

		#wrapper.textContainer

			#Bild.Bilderbox
				#1.Bild
					img( src="images/neueEnergienBildSemantisierungKohle.jpg", height="100", width="150",align="left")
					#1.zuordnungsBox
						p 1.
				#3.Bild
					img( src="images/neueEnergienBildSemantisierungPhotovoltaik.jpg", height="100", width="150", align="left")
					#3.zuordnungsBox
						p 2.
				#2.Bild
					img( src="images/neueEnergienBildSemantisierungTurbine.jpg", height="100", width="150", align="left")
					#2.zuordnungsBox
						p 3.
				#4.Bild
					img( src="images/neueEnergienBildSemantisierungRotorblatt.jpg", height="100", width="150", align="left")
					#4.zuordnungsBox
						p 4.



			#Text.Textbox
				#2.textToken Die Turbine
				#2.subTextBox
					p Kraftmaschine, die die Energie strömenden Gases, Dampfes oder Wassers mithilfe eines Schaufelrades in eine Rotationsbewegung umsetzt.
					br
				#1.textToken  Die Kohle
				#1.subTextBox
					p Im Bergbau gewonnener brauner bis schwarz glänzender fester Brennstoff (Braun-, Steinkohle u. a.)
					br
				#4.textToken Das Rotorblatt
				#4.subTextBox
					p Blatt eines Rotors.
					br
				#3.textToken Die Photovoltaik
				#3.subTextBox
					p Zweig der Energietechnik, der sich mit der Gewinnung von elektrischer Energie besonders aus Sonnenenergie befasst.
					br







