extends layout
block content
    #content_background
        link(rel='stylesheet', href='stylesheets/NeueEnergien_Aufgabe_4.css')
        script( src='javascripts/NeueEnergien_Aufgabe_4.js')
        #Aufgabenbox
            h3 Tippe das richtige Wort aus dem gelben Kasten (in richtiger Form) zu den passenden Synonymen ein.


        #wrapper

            #Text
                p
                | 1. Eine Quelle kann austrocknen, eintrocknen, vertrocknen, bzw.
                .receiveToken(id="1") versiegen
                |.
                p
                | 2. Ein unversiegliches Mittel ist
                .receiveToken(id="2") unerschöpflich
                |.
                p
                | 3. Unter dem Begriff
                .receiveToken(id="3") Energie
                | versteht man Kraft oder Power.
                p
                | 4. Ein Laufwasserkraftwerk bzw. eine
                .receiveToken(id="4") Niederdruckanlage
                |ist sehr ökologisch.
                p
                | 5. Solarenergie ist im Gegensatz zur traditionellen,
                .receiveToken(id="5") herkömmlichen
                |Energieerzeugung sehr umweltfreundlich.
                p
                | 6. Wenn eine Lösung abweichend oder anders ist, kann man sie als
                .receiveToken(id="6") alternativ
                | bezeichnen.
                p
                | 7. Sonnenenergie, auch
                .receiveToken(id="7") Solarenergie
                | genannt, ist die Energie der Sonnenstrahlung.
                p
                | 8. Mit der Gelegenheit, Eventualität,
                .receiveToken(id="8") Möglichkeit
                |rechnen, dass ...
                p
                | 9. Alternative Energien haben eine Menge Vorzüge bzw.
                .receiveToken(id="9") Vorteile
                |.
                p
                | 10. Energie kann man aus einem Vorrat oder einer
                .receiveToken(id="10") Ressource
                | schöpfen.
                p
                | 11. Die Nachfrage nach bzw.
                .receiveToken(id="11") Bedarf
                |an Strom wird vor allem durch die Nutzung von Energien gedeckt, die nicht erneuerbar sind.
                p
                | 12. Atomkraft bzw.
                .receiveToken(id="12") Atomenergie
                | gehört zu den traditionellen Energieressourcen.
                p
                p
                p
                p
            #Platzhalter
            #Wort.Wortbox




