extends layout
block content
    #content_background
        link(rel='stylesheet', href='stylesheets/spiral.css')
        script( src='javascripts/spiral.js')
        #Aufgabenbox
            p Wortspirale
        #wrapper
            #spiral_area
                h2
            #inputfield
                input#textbox(type="text")
