extends layout

block content
    script( src='/javascripts/scripts.js')
    img(id="front", src="images/front.jpg")
    if (session.name)
        p Wilkommen #{session.name}!
        p Punkte in Aufgabenbereich 1:  #{session.points[0]}
        button(id='raisebutton') raise
    else
        h2 Vorstellung des Projekts...
        h2 Sie müssen sich anmelden um alle Inhalte nutzen zu können
