extends layout

block content
    //script( src='javascripts/scripts.js')
    img(id="front", src="images/front.jpg")
    if (session.name)
        p Wilkommen #{session.name}!
        //Punkte in Aufgabenbereich 1:  #{session.points[0]}
        //button(id='raisebutton') raise
        h3
            | Mit alten Browser-Versionen kann es zu Problemen bei der Darstellung kommen, als sicherste Option nutzen Sie bitte Firefox in der neuesten Version.
            | Aber auch die neuesten Versionen von InternetExplorer(ab v.11) oder Chrome (ab v.36) werden unterstützt.
            | Für weitere Informationen zur Browseruntertzützung: Link comming soon
