extends layout
block content
    //link(type="text/css" rel="stylesheet" href="https://vjs.zencdn.net/4.12/video-js.css")
    link(rel='stylesheet', href='stylesheets/testy.css')
    //script(src="https://vjs.zencdn.net/4.12/video.js")
    script(src="javascripts/testy.js")
    #Aufgabenbox
        p Fülle den Lückentext mit den vorgegebenen Wörtern aus:
    #wrapper
             span(end="383" start="242" class="sent" id="tsc01") TEST2
                span(original="oder" class="mistake" id="esco242246") oder
                span(class="text") nutzen Sie diesen Text als Beispiel für
                span(original="ein Paar" class="mistake" id="esco287295") ein Paar
                span(class="text") Fehler
             br
             span( end="383" start="242" class="sent" id="tsc02") TEST
                span(original="oder" class="mistake" id="esco242246") oder
                span(class="text") nutzen Sie diesen Text als Beispiel für
                span(original="ein Paar" class="mistake" id="esco287295") ein Paar
                span(class="text") Fehler

             #WunderBox

