extends layout
block content
   script(src="javascripts/modernizr.custom.js")

button(type="button") Login
    div(class="morph-content")
        div
            div(class="content-style-form content-style-form-1")
                span(class="icon icon-close") Close the dialog
                h2 Login
                    form(action="login", method="POST")
                        p
                            label(for="login") Email or Username
                            input(type="text", id="login", name="login", placeholder="Your email or username")
                        p
                            label(for="password") Password
                            input(type="password", id="password", name="password", placeholder="Your password")
                            if error
                                p #{error}
                        p
                            a(href='/signup') neu anmelden
                        p
                            input(type="submit", value="Login")

