//
   Created by julianebredack on 16.01.16.

extends layout
block content
    link(rel='stylesheet', href='stylesheets/Textverstehen_Fussball.css')
    script( src='javascripts/Textverstehen_Fussball.js')

    #content_background
        #Aufgabenbox
            p Erweitere deinen Wortschatz um einige Sportbegriffe. Suche aus dem Text alle Wörter, die mit Sport und Fußball zu tun haben und ziehe sie auf die rechte Seite.
        #cont
            #Textbox
                .Zeitung

                    h2
                     .inline(id=1) Champions League
                     |, 2015/16,
                     .inline(id=45) Vorrunde
                     |, 5.
                     .inline(id=26) Spieltag
                     |, Mittwoch, 26.11.2015, 20:45
                    br
                    h3
                     .inline(id=3) Bayer 04 Leverkusen
                     |-
                     .inline(id=2) AS Monaco
                    br
                    br
                    #Ticker
                        table
                            tr
                                td(style='width:200px')
                                    <b> 19:44 Uhr - 0:0 </b>
                                td
                                    p
                                    |Für
                                    .inline(id=3) Bayer Leverkusen
                                    |geht es heute
                                    .inline(id=66) Abend
                                    |in der
                                    .inline(id=1) Champions League
                                    |um die
                                    .inline(id=67) Wurst
                                    |. Gegen den
                                    .inline(id=2) AS Monaco
                                    |will die
                                    .inline(id=47) Werkself
                                    |den
                                    .inline(id=27) Gruppensieg
                                    .inline(id=68) perfekt
                                    |machen.
                                    br
                                    br
                            tr
                                td
                                    <b> 19:46 Uhr - 0:0 </b>
                                td
                                    p
                                    |"Wir können den
                                    .inline(id=27) Gruppensieg
                                    |fixieren. Das ist unser
                                    .inline(id=69) Ziel
                                    |", erklärte
                                    .inline(id=6) Trainer
                                    |Roger Schmidt: "Wir spielen im eigenen
                                    .inline(id=9) Stadion
                                    |und wir haben es in der eigenen
                                    .inline(id=70) Hand
                                    |."
                                    br
                                    br
                            tr
                                td
                                    <b> 20:35 Uhr - 0:0 </b>
                                td
                                    p
                                    .inline(id=10) Schiedsrichter
                                    |Paolo Tagliavento (
                                    .inline(id=71) Italien
                                    |) wird die
                                    .inline(id=16) Partie
                                    |leiten.
                                    br
                                    br
                            tr
                                td
                                    <b> 20:46 Uhr - 0:0 </b>
                                td
                                    p
                                    .inline(id=30) Anpfiff
                                    |1.
                                    .inline(id=17) Halbzeit
                                    |. Der
                                    .inline(id=7) Ball
                                    .inline(id=72) rollt
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 20:47 Uhr, 2. min - 0:0 </b>
                                td
                                    p
                                    |Kießling legt gut auf für Calhanoglu, der aus 25
                                    .inline(id=73) Metern
                                    |ein echtes Pfund loslässt und Subasic zum
                                    .inline(id=74) Eingreifen
                                    |zwingt. Erstes
                                    .inline(id=74) Ausrufezeichen
                                    |der
                                    .inline(id=47) Werkself
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 20:51 Uhr, 5. min - 0:0 </b>
                                td
                                    p
                                    |Im Allgemeinen ein ruhiger
                                    .inline(id=75) Beginn
                                    |. Vor allem die
                                    .inline(id=76) Franzosen
                                    |starten eher verhalten und wollen sich offenbar erst einmal ins
                                    .inline(id=8) Spiel
                                    |einfühlen.
                                    .inline(id=3) Bayer
                                    |agiert aber auch nicht mit vollem
                                    .inline(id=77) Tempo
                                    |, muss das aber auch nicht.
                                    br
                                    br
                            tr
                                td
                                    <b> 20:54 Uhr, 8. min - 0:0 </b>
                                td
                                    p
                                    |Nach einem
                                    .inline(id=78) schwachen
                                    .inline(id=49) Abschlag
                                    |von Subasic kehrt der
                                    .inline(id=7) Ball
                                    |postwendend zurück. Calhanoglu
                                    .inline(id=79) rutscht
                                    |die
                                    .inline(id=36) Kugel
                                    |ein wenig vom
                                    .inline(id=18) Fuß
                                    |, sodass sein anvisierter
                                    .inline(id=13) Schuss
                                    |zur
                                    .inline(id=54) Vorlage
                                    |für Ballarabi auf rechts wird. Dieser kommt dann aber an Echiejile
                                    .inline(id=80) nicht vorbei
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 20:57 Uhr, 11. min - 0:0 </b>
                                td
                                    p
                                    |Ferreira-Carrasco setzt zum
                                    .inline(id=11) Dribbling
                                    |an und wird gleich von zwei
                                    .inline(id=12) Leverkusenern
                                    .inline(id=19) gefoult
                                    |. Zuerst von
                                    .inline(id=81) Toprak
                                    |, dann von Donati, der seinen
                                    .inline(id=28) Gegenspieler
                                    |ziemlich rüde von den
                                    .inline(id=82) Beinen
                                    |holt und dann aus seiner Sicht zum
                                    .inline(id=83) Glück
                                    |nur mit einer
                                    .inline(id=84) Ermahnung
                                    |davon kommt.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:01 Uhr, 16. min - 0:0 </b>
                                td
                                    p
                                    .inline(id=3) Bayer
                                    |hat mehr
                                    .inline(id=32) Spielanteile
                                    |(63 Prozent),
                                    .inline(id=104) verliert
                                    |aber die
                                    .inline(id=85) Mehrzahl
                                    |der
                                    .inline(id=35) Zweikämpfe
                                    |(60 Prozent) und kommt daher nicht so richtig zum
                                    .inline(id=86) Zug
                                    |. Die
                                    .inline(id=2) Monegassen
                                    |indes finden
                                    .inline(id=20) offensiv
                                    |aber auch nicht statt, sodass
                                    .inline(id=31) Torraumszenen
                                    |aktuell absoluten
                                    .inline(id=87) Seltenheitswert
                                    |haben.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:11 Uhr, 26. min - 0:0 </b>
                                td
                                    p
                                    .inline(id=50) Latte
                                    |! Abdennour
                                    .inline(id=88) missglückter
                                    .inline(id=56) Klärungsversuch
                                    |landet bei Bender, der trocken abzieht und dann enormes
                                    .inline(id=89) Pech
                                    |hat. Der
                                    .inline(id=7) Ball
                                    .inline(id=90) klatscht
                                    |ans
                                    .inline(52) Gebälk
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:12 Uhr, 27. min - 0:0 </b>
                                td
                                    p
                                    .inline(id=21) Gelbe Karte
                                    |: Spahic (
                                    .inline(id=3) Bayer 04 Leverkusen
                                    |) Bei einem
                                    .inline(id=61) Konter
                                    |zündet Ferreira-Carrasco den
                                    .inline(id=91) Turbo
                                    |und wird dann von Spahic aus der
                                    .inline(id=92) Balance
                                    |gebracht.
                                    .inline(id=22) Taktisches Foul
                                    |,
                                    .inline(id=111) Gelb
                                    |für den
                                    .inline(id=93) Bosnier
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:31 Uhr, 45.(+1) min - 0:0 </b>
                                td
                                    p
                                    |Zwei Minuten werden im ersten
                                    .inline(id=57) Durchgang
                                    .inline(id=62) nachgespielt
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:33 Uhr, 45.(+3) min - 0:0 </b>
                                td
                                    p
                                    |Nach einem Calhanoglu-
                                    .inline(id=34) Freistoß
                                    .inline(id=37) köpft
                                    |Kießling zumindest mal in
                                    .inline(id=94) Richtung
                                    .inline(id=4) Tor
                                    |- der
                                    .inline(id=7) Ball
                                    .inline(id=95) saust
                                    |dennoch vorbei.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:34 Uhr - 0:0 </b>
                                td
                                    p
                                    |Abpfiff 1.
                                    .inline(id=17) Halbzeit
                                    br
                                    br
                            tr
                                td
                                    <b> 21:49 Uhr - 0:0 </b>
                                td
                                    p
                                    .inline(id=30) Anpfiff
                                    |2.
                                    .inline(id=17) Halbzeit
                                    |. Keine
                                    .inline(id=38) Wechsel
                                    |zur
                                    .inline(id=23) Pause
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 21:53 Uhr, 49. min - 0:0 </b>
                                td
                                    p
                                    |Das gleiche
                                    .inline(id=96) Bild
                                    |wie in
                                    .inline(id=57) Durchgang
                                    |eins.
                                    .inline(id=3) Bayer
                                    |hat den
                                    .inline(id=7) Ball
                                    |, spielt nach vorne und
                                    .inline(id=15) rennt
                                    |sich fest.
                                    .inline(id=2) Monaco
                                    |steht gut und
                                    .inline(id=97) beschränkt
                                    |sich auf die
                                    .inline(id=24) Defensive
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:00 Uhr, 56. min - 0:0 </b>
                                td
                                    p
                                    | Aus dem Nichts die erste
                                    .inline(id=5) Torchance
                                    |der
                                    .inline(id=40) Gäste
                                    |: Dirar holt aber nur eine
                                    .inline(id=0) Ecke
                                    |heraus.
                                    | Bei der folgenden
                                    .inline(id=0) Ecke
                                    |landet der
                                    .inline(id=7) Ball
                                    |bei Toulalan, der aus dem
                                    .inline(id=60) Hinterhalt
                                    |einfach mal abzieht und die
                                    .inline(id=36) Kugel
                                    |in den dritten Stock
                                    .inline(id=98) drischt
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:05 Uhr, 62. min - 0:0 </b>
                                td
                                    p
                                    .inline(id=41) Taktisch
                                    |hat sich bei den
                                    .inline(id=99) Hausherren
                                    |nichts geändert, da Drmic die
                                    .inline(id=100) Position
                                    |auf dem
                                    .inline(id=46) linken Flügel
                                    |bekleidet und demnach Son
                                    .inline(id=101) Eins-zu-Eins
                                    |ersetzt.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:08 Uhr, 65. min - 0:0 </b>
                                td
                                    p
                                    |Bellarabi bedient Bender im
                                    .inline(id=55) Sechzehner
                                    |, der gegen Abdennour einen
                                    .inline(id=33) Elfmeter
                                    |schinden will. Tagliavento fällt darauf nicht herein und lässt einfach
                                    .inline(id=42) weiterspielen
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:12 Uhr, 68. min - 0:0 </b>
                                td
                                    p
                                    |Die nächste
                                    .inline(id=51) Gelegenheit
                                    |für die
                                    .inline(id=47) Werkself
                                    |: Bellarabi treibt die
                                    .inline(id=36) Kugel
                                    |nach vorne und hat das
                                    .inline(id=102) Auge
                                    |für Calhanoglu, der aus spitzem
                                    .inline(id=103) Winkel
                                    |den schnellen
                                    .inline(id=63) Abschluss
                                    |sucht. Subasic
                                    .inline(id=64) fährt den Arm aus
                                    |und wehrt den
                                    .inline(id=43) Diagonalschuss
                                    |gekonnt ab.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:15 Uhr, 72. min - 0:1 </b>
                                td
                                    p
                                    |Und da ist es passiert! Calhanoglu
                                    .inline(id=104) verliert
                                    |den
                                    .inline(id=7) Ball
                                    |gegen Berbatov, der sich dann gut behauptet und steil in die
                                    .inline(id=105) Gasse
                                    |auf Dirar passt. Dieser startet aus
                                    .inline(id=65) leicht abseitsverdächtiger Position
                                    |und
                                    .inline(id=59) flankt
                                    |dann von rechts nach innen zu Ocampos, der den
                                    .inline(id=7) Ball
                                    |aus fünf Metern über die
                                    .inline(id=14) Linie
                                    |drückt.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:23 Uhr, 80. min - 0:1 </b>
                                td
                                    p
                                    .inline(id=3) Bayer
                                    |ist sichtlich um den
                                    .inline(id=29) Ausgleich
                                    |bemüht,
                                    .inline(id=15) rennt
                                    |sich aber weiterhin fest.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:30 Uhr, 86. min - 0:1 </b>
                                td
                                    p
                                    |Die Zeit läuft
                                    .inline(id=106) unerbitterlich
                                    |ab.
                                    .inline(id=2) Monaco
                                    |versteht sich auf
                                    .inline(id=107) Ergebnisverwaltung
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:32 Uhr, 89. min - 0:1 </b>
                                td
                                    p
                                    |Drmic marschiert nach vorne und sucht Calhanoglu. Echiejile
                                    .inline(id=108) klärt
                                    |zur
                                    .inline(id=0) Ecke
                                    |, bei der es dann wegen eines
                                    .inline(id=25) Offensivfouls
                                    .inline(id=34) Freistoß
                                    |für
                                    .inline(id=2) Monaco
                                    |gibt.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:34 Uhr, 90. min - 0:1 </b>
                                td
                                    p
                                    .inline(id=39) Spielerwechsel
                                    |: L. Traoré für Berbatov (
                                    .inline(id=2) AS Monaco
                                    |) Leonardo Jardim nimmt noch etwas Zeit von der
                                    .inline(id=109) Uhr
                                    |.
                                    br
                                    br
                            tr
                                td
                                    <b> 22:37 Uhr - 0:1 </b>
                                td
                                    p
                                    .inline(id=44) Schlusspfiff
                                    br
                                    br
                            tr
                                td
                                    <b> 22:38 Uhr - 0:1 </b>
                                td
                                    p
                                    |Gegen die
                                    .inline(id=2) Monegassen
                                    |ging es für die
                                    .inline(id=47) Werkself
                                    |um den
                                    .inline(id=27) Gruppensieg
                                    |, für den ein Punkt gereicht hätte. Dazu kam es nicht, denn
                                    .inline(id=3) Bayer
                                    |unterlag trotz drückender
                                    .inline(id=58) Überlegenheit
                                    |hoch
                                    .inline(id=110) effizienten
                                    .inline(id=2) Monegassen
                                    |mit 0:1.
                                    br
                                    br
                            tr
                                td

                                td

                                    <button id="Ergebnis">Überprüfen: 0 Punkte</button>




            #Platzhalter
            #Antwortbox

//korrekte Wörter ID 0-65
//nicht korrekte Wörter ID 66-110

