extends layout
block content
    script( src='/javascripts/wordpuzzle.js')
    #content
        img(src="images/throbber.gif").throbber
        p #{correctcards}
        #cardPile
        #cardSlots

