extends layout
block content
    #subjecttitle
        h1 Veggie-Day
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                div.ltitle Vegetarismus
            div#les2.lesson
                div.licon Icon
                div.lstart
                div.ltitle Metaphern
            div#les3.lesson
                div.licon Icon
                div.lstart
                div.ltitle Meinung der Mediziner
            div#les4.lesson
                div.licon Icon
                div.lstart
                div.ltitle Meinung der Umweltschützer
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent

