extends layout
block content
    #subjecttitle
        h1 Veggie-Day
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Schlüsselwörter in Boulevardzeitungen
                        div.taskmediaicon ???
                        div.taskstart
                            a(href='veggieday_Textverstehen_Schluesselwoerter_in_Boulevardzeitungen')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Schlüsselwörter in Fachtexten 1
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='veggieday_Textverstehen_Schluesselwoerter_in_Fachtexten_1')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Schlüsselwörter in Fachtexten 1
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='veggieday_Textverstehen_Schluesselwoerter_in_Fachtexten_2')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild1.png')
                    div.mediaelement_mini
                        img.mediaimage_mini(src='images/Testbild2.png')
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild1.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild2.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild3.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild4.png')
            div.mediaelement
                img.mediaimage(src='images/Testbild5.png')