extends layout
block content
    link(rel='stylesheet', href='/stylesheets/veggie.css')
    #Inhaltbox
        h3 Lektion Veggie-Day
        #Inhalt
            p
            a(href='veggieday') Übung 1: Vegetarismus
        p
        #Inhalt
            p Übung 2a: Schlagzeilen
            p Übung 2b: Schlagzeilen
        p
        #Inhalt
            p
            a(href='veggieday_met') Übung 3: Metaphern
        p
        #Inhalt
            p
            a(href='veggieday_drag') Übung 4: Meinung der Mediziner
        p
        #Inhalt
            p
            a(href='veggieday_u5') Übung 5: Meinung der Umweltschützer
