extends layout
block content
    link(rel='stylesheet', href='/stylesheets/veggieday.css')
    script( src='/javascripts/Veggy.js')
    #Aufgabebox
        h1(style="center") Übung 3: Meinung der Mediziner
        h2 Aufgabe:
        p
        | Lies den folgenden Text aufmerksam. Hier geht es um die Meinung der Mediziner zum Thema Veganismus. Ziehe
        | anschließend die aufgelisteten Begriffe ihrer entsprechenden Definition zu.
        p
        | Hinweis: Die Bedeutung von <i>kursiv</i>
        | gedruckten Wörtern erfährst du, wenn du auf ihnen mit dem Mauszeiger verweilst!
        | Falls du ein Wort nicht kennst, kannst du es im
        a(href='www.duden.de') Duden
        | nachschlagen!
    p
    #Textbox
        h2 Mediziner
        p
        | Schon Anfang der achtziger Jahre wurden in Deutschland drei große
        .inline(id=0) Vegetarierstudien
        | durchgeführt - mit
        | erstaunlichen Erkenntnissen. Laut diesen Studien haben Vegetarier besser
        .inline(id=1) Blutdruckwerte
        | , ein besseres
        .inline(id=2) Körpergewicht
        | , eine höhere
        .inline(id=3) Lebenserwartung
        | und ein geringeres Risiko für Krebs und
        .inline(id=4) Herz-Kreislauf-Erkrankungen
        | .
        | Untersuchungen aus anderen Ländern kommen zu ähnlichen Ergebnissen. Die Studie der
        | <i><span title="Teil der Universität London. Führte die Studie durch.">London School of Hygiene and Tropical Medicine</span></i>
        | hat 11.000 Vegetarierinnen 12 Jahre lang beobachtet. Sie verglich ihre Teilnehmerinnen mit einer fleischessenden
        | <i><span title="mit ihrer Hilfe vergleicht man die Ergebnisse der Versuchsgruppe (hier: Fleischesser <-> Vegetarier)">Kontrollgruppe</span></i>.
        | Das Ergebnis: In allen wichtigen Punkten hatten die Vegetarierinnen bessere Werte. Die
        .inline(id=5) Sterberate
        | war um
        | 20 % niedriger als bei der fleischessenden Kontrollgruppe, die Krebstodesrate war sogar um 40 % niedriger.
        | Zusammenfassend zeigen diese Studien, dass Vegetarierinnen keine
        .inline(id=6) Mangelerscheinungen
        | haben, dass der
        | allgemeine
        .inline(id=7) Gesundheitszustand
        | überdurchschnittlich gut ist und die vegetarische Ernährung als gesund
        | bezeichnet werden kann.
        p
        p
        #Aufgabebox
            #Antwortbox1
                p Def1 Testtext :-D Hier wird eine Definition stehen. <------------------------> blabla
        p
        #Aufgabebox
            #Antwortbox2
                p  Def2 Testtext :-D Hier wird eine Definition stehen. <------------------------> blabla
        p
        #Aufgabebox
            #Antwortbox3
                p Def3 Testtext :-D Hier wird eine Definition stehen. <------------------------> blabla