extends layout
block content
     #Inhaltbox
         h3 Lektion Veggy-Day
         #Inhaltbox
             p Übung 1: Lernwortschatz
         p

         #Inhaltbox
             p Übung 2: Zuordnung des Lernwortschatzes zu Sachfeldern
         p

         #Inhaltbox
             p Übung 3: Vertiefung der Sachfelder
         p

         #Inhaltbox
             p Übung 4: Metaphern
