extends layout
block content
    link(rel='stylesheet', href='stylesheets/veggie.css')
    script( src='javascripts/veggieday_Textverstehen_Schluesselwoerter_in_Boulevardzeitungen.js')
    #Aufgabenbox
        p
        b
        | Hier siehst du Ausschnitte einer Zeitung. Lies die fünf Zeitungsartikel zum Thema "Fleischfreier Montag"
        | aufmerksam und informiere dich über die Bedeutung der <b><font color="#FF0000">rot</font></b> gedruckten Schlagwörter auf
        a(href='http://wortschatz.uni-leipzig.de/' target='_tab')
            b   Duden
        | &nbsp und auf dem
        a(href='http://www.duden.de/suchen/dudenonline' target='_tab')
            b   Wortschatzportal der Universität Leipzig
        | . Bei dieser Aufgabe geht es nicht nur darum, die Bedeutung der Wörter kennenzulernen, sondern auch um den
        | Umgang mit den beiden Portalen zu üben. Diese können dir in Zukunft helfen, unbekannte Wörter besser zu verstehen.
        p
        p
    #Textbox
        .Zeitung
            h2 Fleischfreier Montag
            .newspaperContent
                span
                    | Ein Tag pro Woche <b><font color="#FF0000"> Vegetarier </font></b> werden: Es gibt gute Gründe, bei dieser Aktion mitzumachen!
        .Zeitung
            h2 Meat-free macht fit
            .newspaperContent
                span
                    img(id="front", align="left", vspace="10", hspace="10", src="images/moehren.jpg")
                span
                    | Ab und an auf Wurstbrot und Steak zu erzichten, ist gut für die Gesundheit
                    | (mindert z.B. das <b><font color="#FF0000"> Herzinfarktrisiko</font></b>). Die Deutsche Gesellschaft für Ernährung empfiehlt den
                    | Verzehr von 300 bis 600 g Fleisch pro Woche. Gegessen werden im Schnitt aber fast 1,2 Kilo.
        .Zeitung
            h2 Richtig dicke Luft
            .newspaperContent
                span
                    | Würde jeder Deutsche pro Woche einen fleischfreien Tag einlegen, würde das jährlich so viel
                    | <b><font color="#FF0000"> Treibhausgas </font></b> sparen wie 75 Milliarden nicht-gefahrene Pkw-Kilometer. Warum die
                    | Fleischproduktion zum Himmel stinkt? Zum Beispiel wegen der Rinderpupse (Methan) und
                    | der <b><font color="#FF0000"> Brandrodung </font></b> von Weideflächen.
        .Zeitung
            h2 Wer hat's erfunden?
            .newspaperContent
                span
                    img(id="front", align="left", vspace="10", hspace="10", src="images/erfunden.jpg")
                span
                    | Ex-Beatle Paul McCartney. Der 70-jährige Vegetarier ruft seit 2009 mit seinen Töchtern Stelle (re.)
                    | und Mary zum "Meat Free Monday" auf, um den <b><font color="#FF0000"> Fleischkonsum </font></b> weltweit zu reduzieren und damit
                    | zu <b><font color="#FF0000"> Klimaschutz </font></b>  beizutragen. Immer mehr Menschen unterstützen die Aktion - auch Stars wie
                    | Gwyneth Paltrow und Oprah Winfrey.
        .Zeitung
            h2 Damals..
            .newspaperContent
                span
                    img(id="front", align="right", vspace="10", hspace="10", src="images/damals.jpg")
                span
                    | 1968 wurden 23 Prozent der Nahrungsmittelausgaben für Fleisch verwendet. Heute sind es nur 13 Prozent,
                    | obwohl mehr Fleisch gegessen wird. <b><font color="#FF0000"> Massentierhaltung </font></b> macht Fleisch billiger und
                    | den <b><font color="#FF0000">Sonntagsbraten</font></b> zur Alltagskost.
        .Zeitung
            h2 Veggie-Speiseplan
            .newspaperContent
                span
                    img(id="front", align="left", vspace="10", hspace="10", src="images/speiseplan.jpg")
                span
                    | Montags nur Möhren? Das "Meat Free Monday"-Kochbuch bringt Abwechslung auf den Tisch - mit 52
                    | fleischfreien Speiseplänen für je einen ganzen Tag.

