

extends layout
block content
    link(rel='stylesheet', href='stylesheets/veggie_all.css')
    script(src='javascripts/veggie_start.js')
    #Aufgabenbox
        h1(style='font-family:Dosis,sans-serif;') Veggieday
    #wrapper
        #Textbox
            div#l1.lek
                p Lektion 1
                p.gr Vegetarismus
            div#l2.lek
                p Lektion 2
                p.gr Metaphern
            div#l3.lek
                p Lektion 3
                p.gr Meinung der Mediziner
            div#l4.lek
                p Lektion 4
                p.gr Meinung der Umweltschützer
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter

