extends layout
block content
    #subjecttitle
        h1 Veggie-Day
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div#les1.task
                div.taskicon Icon
                div.taskstart
                    a(href='veggieday_task1')
                div.tasktitle Vegetarismus
            div#les2.task
                div.taskicon Icon
                div.taskstart
                    a(href='veggieday_task3')
                div.tasktitle Metaphern
            div#les3.task
                div.taskicon Icon
                div.taskstart
                    a(href='veggieday_task4')
                div.tasktitle Meinung der Mediziner
            div#les4.task
                div.taskicon Icon
                div.taskstart
                    a(href='veggieday_task5')
                div.tasktitle Meinung der Umweltschützer
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent

