extends layout
block content
    #subjecttitle
        h1 Veggie-Day
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Unbekannter Titel
        #subjecttext.panelcontent
    #lessons.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #lessonlist.panelcontent
            div#les1.lesson
                div.licon Icon
                div.lstart
                    a(href='veggieday_Textverstehen_Schluesselwoerter_in_Boulevardzeitungen')
                div.ltitle Textverstehen: Schlüsselwörter in Boulevardzeitungen
            div#les2.lesson
                div.licon Icon
                div.lstart
                    a(href='veggieday_Textverstehen_Schluesselwoerter_in_Fachtexten_1')
                div.ltitle Textverstehen: Schlüsselwörter in Fachtexten 1
            div#les3.lesson
                div.licon Icon
                div.lstart
                    a(href='veggieday_Textverstehen_Schluesselwoerter_in_Fachtexten_2')
                div.ltitle Textverstehen: Schlüsselwörter in Fachtexten 1
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent

