extends layout
block content
    #subjecttitle
        h1 Vulkane
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Aufgaben
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Wortformübung: Ein einzigartiger Brief
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='vulkane_brief_formen')