extends layout
block content
    link(rel='stylesheet', href='stylesheets/beyeran.css')
    script( src='javascripts/beyeran_lib.js')
    script( src='javascripts/wertewandel1.js')

    #Aufgabenbox
        p Sortiere die im Text genannten Lebensformen nach traditionellen und neu entstandenen Lebensformen.

    #wrapper
        #Textbox
            h1 Wertewandel
            h2 Pluralisierung der Lebensformen: Mehr vielfalt und kleinere Haushalte

            p Die Pluralisierung der Lebensformen hat hauptsächlich bei den 20- bis 35- Jährigen zugenommen. Zu den wenigen neu entstanden Lebensormen gehören die gleichgeschlechtlichen Lebenspartnerschaften. Fernbeziehungen und gewollt kinderlose Ehen. Parallel zu den vielfältigen Lebensformen ist eine beständige Verringerung der durchschnittlichen Haushaltsgröße zu beobachten.

            p Festzuhalten ist, dass die Vielfalt hauptsächlich in der Altersgruppe der 20- bis 35-Jährigen erkennbar zugenommen hat und eine Pluralisierung zudem vor allem bei Lebensformen ohne Kinder stattfindet. Zu den wenigen neu entstanden Lebensformen gehörten die gleichgeschlechtlichen Lebenspartnerschaften. Fernbeziehungen und gewollt kinderlose Ehen. Dagegen sind nichteheliche Lebensgemeinschaften, Alleinerziehende und Alleinwohnende alt bekannte Lebensformen, die in den 1960er-Jahren im Unterschied zu heute jedoch nur wenig verbreitet waren.
        
            h3 Die Zunahme nichttraditionelle Lebensformen

            p Wechselt man die Perspektive und betrachtet nicht die Verbreitung von Haushaltsformen, sondern den Anteil der Personen (hier in der Altersgruppe 40 bis unter 45 Jahre), die in den verschiedenen Lebensformen leben, dann ist die Ehe mit Kindern nach wie vor die Lebensform in Deutschland, in der mit 57% die meisten Menschen in diesem Alter leben. 43% befinden sich in einer sogenannten nichttraditionellen Lebensform. Dazu zählen nichteheliche Lebensgemeinschaften, gleichgeschlechtliche Lebensgemeinschaften, Fernbeziehungen, gewollt kinderlose Ehen, Alleinwohnende und Alleinerziehende.

            p Unter den nichttraditionellen Lebensformen haben in den letzten Jahrzehnten besonders die nichtehelichen Lebensgemeinschaften und das Alleinerziehen zugenommen. Diese auch shcon früher existierenden Lebensformen waren in der Vergangenheit infolge ökonomischer und sozialer Umstände jedoch meist Notlösungen (z.B. Zusammenleben bei Heiratsverboten) oder Folge von Schicksalsschlägen (Trennung oder Tod des Ehepartners) und gesellschaftlich stigmatisiert. Heute hingegen werden sie häufig bewusst gewählt und sind subjektiv wie sozial mit einem anderen Sinn versehen.


        #Antwortbox_ww_1 Neue Lebensformen
        #Antwortbox_ww_2 Alte Lebensformen

    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='ww2') WEITER
