extends layout
block content
    link(rel='stylesheet', href='stylesheets/wertewandel_start.css')
    #subjecttitle
        h1 Wertewandel
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Schlüsselwörter
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='wertewandel_Textverstehen_Schluesselwoerter')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini.text_media(src='/images/media_icon_text.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Wortbedeutung verstehen
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='wertewandel_Wortbedeutung_verstehen')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini.text_media(src='/images/media_icon_text.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textverstehen: Kernaussagen
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='wertewandel_Textverstehen_Kernaussagen')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini.text_media(src='/images/media_icon_text.png')
            div.task
                div.taskbar
                    div.taskicon Icon
                    div.taskpoints Points
                    div.tasktitle Textproduktion: Statistische Angaben
                        div.taskmediaicon ???
                        div.taskstart
                            a.tasklink(href='wertewandel_Textproduktion_Statistische_Angaben')
                div.taskmedia
                    div.mediaelement_mini
                        img.mediaimage_mini.text_media(src='/images/media_icon_text.png')
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
            div.mediaelement
                img.mediaimage.text_media(src='/images/media_icon_text.png')


block overlay
    #overlaycontentbox