extends layout
block content
    link(rel='stylesheet', href='stylesheets/beyeran.css')
    script( src='javascripts/beyeran_lib.js')
    script( src='javascripts/wertewandel_Textverstehen_Schluesselwoerter.js')

    #Aufgabenbox
        p Im Text werden verschiedene in Deutschland übliche Lebensmodelle erläutert.
        | Sortiere diese nach alten und neu entstandenen Lebensformen, indem du sie rechts der richtigen Spalte zuordnest.

    #wrapper
        #Textbox
            h1 Wertewandel
            h2 Pluralisierung der Lebensformen: Mehr Vielfalt und kleinere Haushalte
            p Die Vielfalt der Lebensformen hat hauptsächlich bei den 20- bis 35- Jährigen zugenommen, vor allem bei denen, die eine Lebensweise ohne Kinder bevorzugen. Zu den wenigen neu entstanden Lebensformen gehören die gleichgeschlechtlichen Lebenspartnerschaften, Fernbeziehungen und gewollt kinderlose Ehen. Dagegen sind nichteheliche Lebensgemeinschaften, Alleinerziehende und Alleinwohnende bekannte Lebensformen, die in den 1960er-Jahren im Unterschied zu heute jedoch nur wenig verbreitet waren. Parallel zu den vielfältigen Lebensformen ist eine beständige Verringerung der durchschnittlichen Haushaltsgröße zu beobachten.
            h3 Zunahme nichttraditioneller Lebensformen
            p man die Perspektive und betrachtet nicht die Verbreitung von Haushaltsformen, sondern den Anteil der Personen (hier in der Altersgruppe 40 bis 45 Jahre), die in den verschiedenen Formen leben, dann ist die Ehe mit Kindern nach wie vor die Lebensweise, der in Deutschland mit 57% die meisten Menschen in diesem Alter angehören. 43% befinden sich in einer sogenannten nichttraditionellen Lebensform. Dazu zählen nichteheliche Lebensgemeinschaften, gleichgeschlechtliche Lebensgemeinschaften, Fernbeziehungen, gewollt kinderlose Ehen, Alleinwohnende und Alleinerziehende.
            p Unter den nichttraditionellen Lebensformen haben in den letzten Jahrzehnten besonders die nichtehelichen Lebensgemeinschaften und das Alleinerziehen zugenommen. Diese auch schon früher existierenden Lebensweisen waren in der Vergangenheit infolge ökonomischer und sozialer Umstände jedoch meist Notlösungen (z.B. Zusammenleben bei Heiratsverboten) oder Folge von Schicksalsschlägen (Trennung oder Tod des Ehepartners) und gesellschaftlich stigmatisiert. Heute hingegen werden sie häufig bewusst gewählt und subjektiv wie sozial anders betrachtet als noch vor wenigen Jahrzehnten.


        #Antwortbox_ww_1 Neue Lebensformen
        #Antwortbox_ww_2 Alte Lebensformen