extends layout
block content
    #subjecttitle
        h1 Wertewandel
    #text.startpanel
        div.panelheader
            div.panelarrow
            h2 Text: Pluralisierung der Lebensformen
        #subjecttext.panelcontent
    #tasks.startpanel
        div.panelheader
            div.panelarrow
            h2 Lektionen
        #tasklist.panelcontent
            div#les1.task
                div.taskicon Icon
                div.taskstart
                    a(href='wertewandel_task1')
                div.tasktitle Textverständnis
            div#les2.task
                div.taskicon Icon
                div.taskstart
                    a(href='wertewandel_task2')
                div.tasktitle Zuordnung
            div#les3.task
                div.taskicon Icon
                div.taskstart
                    a(href='wertewandel_task3')
                div.tasktitle Multiple Choice
            div#les4.task
                div.taskicon Icon
                div.taskstart
                    a(href='wertewandel_task4')
                div.tasktitle Lückentext
    #media.startpanel
        div.panelheader
            div.panelarrow
            h2 Medien
        #mediashow.panelcontent
