extends layout
block content
    link(rel='stylesheet', href='stylesheets/wertewandel_start.css')
    #subjecttitle
        h1 Wertewandel
    #tasks.startpanel
        div.panelheader
            h2 Lektionen
        #content
            #content_image
                img(src='images/bild.png')
            #content_content
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='wertewandel_Textverstehen_Schluesselwoerter')
                            div.t_title
                                p Textverstehen: Schlüsselwörter
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='wertewandel_Wortbedeutung_verstehen')
                            div.t_title
                                p Wortbedeutung verstehen
                            div.text_media.mediaelement
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='wertewandel_Textverstehen_Kernaussagen')
                            div.t_title
                                p Textverstehen: Kernaussagen
                            div.text_media.mediaelement
                                div.task
                div.task
                    div.taskbar
                        //div.taskicon Icon
                        div.taskpoints Points
                        div.tasktitle
                            div.taskstart
                                a.tasklink(href='wertewandel_Textproduktion_Statistische_Angaben')
                            div.t_title
                                p Textproduktion: Statistische Angaben
                            div.text_media.mediaelement




block overlay
    #overlaycontentbox