extends layout
block content
    link(rel='stylesheet', href='stylesheets/wertewandel_all.css')
    script( src='javascripts/beyeran_lib_wertewandel.js')
    script( src='javascripts/wertewandel_task3.js')
    #Aufgabenbox
        p Welche Aussagen sind wahr, welche falsch? (Kreuze an)
    #wrapper
        #Textbox
            form( id="ww3_form" )

            #submit prüfen

    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='wertewandel_task4') WEITER