extends layout
block content
    link(rel='stylesheet', href='/stylesheets/wertewandel.css')
    #Aufgabenbox
        p Aufgabe
    #wrapper
        h1 Wertewandel
        h2 Hier könnt ihr euch austoben
    #Field
        