extends layout
block content
    link(rel='stylesheet', href='stylesheets/beyeran.css')
    script( src='javascripts/beyeran_lib.js')
    script( src='javascripts/wertewandel_Textverstehen_Schluesselwoerter.js')

    #Aufgabenbox
        p Im Text werden verschiedene in Deutschland übliche Lebensmodelle erläutert.
        | Sortiere diese nach alten und neu entstandenen Lebensformen, indem du sie rechts der richtigen Spalte zuordnest.

    #wrapper
        #Textbox
            h1 Wertewandel
            h2 Pluralisierung der Lebensformen: Mehr Vielfalt und kleinere Haushalte
            p Die Pluralisierung der Lebensformen hat hauptsächlich in der Altersgruppe der 20- bis 35-Jährigen erkennbar zugenommen und findet besonders bei Lebensformen ohne Kinder statt. Parallel zu den vielfältigen Lebensformen ist eine beständige Verringerung der durchschnittlichen Haushaltsgröße zu beobachten. Dagegen sind nichteheliche Lebensgemeinschaften, Alleinerziehende  und Alleinwohnende alt bekannte Lebensformen, die in den 1960er-Jahren im Unterschied zu heute jedoch nur wenig verbreitet waren.
            h3 Die Zunahme nichttraditioneller Lebensformen
            p Wechselt man die Perspektive und betrachtet nicht die Verbreitung von Haushaltsformen, sondern den Anteil der Personen (hier in der Altersgruppe 40 bis unter 45 Jahre), die in den verschiedenen Lebensformen leben, dann ist die Ehe mit Kindern nach wie vor die Lebensform in Deutschland, in der mit 57% die meisten Menschen in diesem Alter leben. 43% leben in einer sogenannten nichttraditionellen Lebensform. Dazu zählen nichteheliche Lebensgemeinschaften, gleichgeschlechtliche Lebensgemeinschaften, Fernbeziehungen, gewollt kinderlose Ehen, Alleinwohnende und Alleinerziehende.
            p Unter den nichttraditionellen Lebensformen haben in den letzten Jahrzehnten besonders die nichtehelichen Lebensgemeinschaften und das Alleinerziehen zugenommen. Diese auch schon früher existierenden Lebensformen waren in der Vergangenheit infolge ökonomischer und sozialer Umstände jedoch meist Notlösungen (z.B. Zusammenleben bei Heiratsverboten) oder Folge von Schicksalsschlägen (Trennung oder Tod des Ehepartners) und gesellschaftlich stigmatisiert. Heute hingegen werden sie häufig bewusst gewählt und sind subjektiv wie sozial mit einem anderen Sinn versehen.

        #Antwortbox_ww_1 Neue Lebensformen
        #Antwortbox_ww_2 Alte Lebensformen