extends layout
block content
    link(rel='stylesheet', href='/stylesheets/beyeran.css')
    script( src='/javascripts/beyeran_lib.js')
    script( src='/javascripts/wertewandel3.js')
    #Aufgabenbox
        p Welche Aussagen sind wahr, welche falsch? (Kreuze an)
    #wrapper
        #Textbox
            form( id="ww3_form" )

            #submit prüfen

    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='/ww4') WEITER