extends layout

block content
    link(rel='stylesheet', href='stylesheets/zukunft_kolo.css')
    script( src='javascripts/zukunft_kolo.js')
    #Aufgabenbox
        p Ziehe die zusammen passenden Ausdrücke in die Antwortbox
    #wrapper
        h1 richtig!
        h2 falsch!
        #page
            #oben
                #Platzhalter
                #links
                    p Auswahl1
                    #ltext
                #Platzhalter
                #rechts
                    p Auswahl2
                    #rtext
                #Platzhalter
            #Antwortbox
                p Antwortbox
                    #antwort
                        #a1
                        #Platzhalter
                        #a2

    #Field
        span#balken
            #balken_aussen
                #balken_innen1
                #balken_innen2
        span#hilfe
        span#check
        span#weiter
            a(href='zukunft_task3') WEITER




