extends layout
block content
 link(rel='stylesheet', href='/stylesheets/zukunft.css')
 script( src='/javascripts/Zukunft.js')
 #Aufgabenbox
    p Ziehe Ausdrücke, die mit "Technik" im Zusammenhang stehen auf die Box!
 #wrapper
    #Textbox
            h1
             |  Die
             .inline(id=0) Zukunft
             |  der
             .inline(id=78) Menschheit
             |  wird fantastisch

            h2
             |  Wie werden wir in 100 Jahren leben? Diese Frage hat der
             .inline(id=1) Physiker
             |  Michio Kaku den 300 klügsten
             .inline(id=2) Köpfen
             |  aus
             .inline(id=3) Wissenschaft
             |  und
             .inline(id=4) Forschung
             |  gestellt. Die
             .inline(id=5) Ergebnisse
             |  sind atemberaubend.

            #autor Frank Schmiech

            p
            |   Nein, die
            .inline(id=6) Welt
            |   wird nicht untergehen. Sie wird sich verändern. Dramatisch verändern. Michio Kaku verzichtet in seinem
            .inline(id=7) Buch
            |   "Die
            .inline(id=8) Physik
            |   der
            .inline(id=0) Zukunft"
            |   auf
            .inline(id=9) Weltuntergangszenarien,
            |   die uns im warmen
            .inline(id=10) Wohnzimmer
            |   kalte
            .inline(id=11) Schauer
            |   über den
            .inline(id=12) Rücken
            |   laufen lassen.

            p
            |   Im Gegenteil: Der
            .inline(id=1) Star-Physiker
            |   und
            .inline(id=13) Bestsellerautor
            |   zeigt sich optimistisch. Er glaubt fest daran, dass in 100 Jahren viel mehr
            .inline(id=14) Menschen
            |   viel besser leben als heute.

            p
            |   Warum sehen die meisten
            .inline(id=14) Menschen
            |   eher schwarz, wenn es um die
            .inline(id=0) Zukunft
            |   geht?
            .inline(id=7) Bücher
            |   über das
            .inline(id=15) Ende
            |   der
            .inline(id=16) Menschheit
            |   gibt es wie
            .inline(id=17) Sand
            |   am
            .inline(id=18) Meer.
            |   Die
            .inline(id=19) Katastrophe
            |   lauert an jeder
            .inline(id=20) Ecke.
            |   Das
            .inline(id=21) Klima,
            |   die
            .inline(id=22) Weltwirtschaft,
            .inline(id=23) Handystrahlen,
            .inline(id=24) Nanotechnik,
            |   das
            .inline(id=25) Internet
            |   – unser
            .inline(id=15) Ende
            |   scheint nah. Oder?

            h3
             |  Die
             .inline(id=0) Zukunft
             |  der
             .inline(id=26) Dinge

            p
            |   Was unterscheidet den
            .inline(id=14) Menschen
            |   von
            .inline(id=27) Tieren?
            |   Zum Beispiel benutzt der
            .inline(id=14) Mensch
            |   alle
            .inline(id=28) Arten
            |   von
            .inline(id=29) Werkzeugen.
            .inline(id=14) Menschen
            |   benutzten
            .inline(id=30) Pfeil und Bogen
            |   und anschließend
            .inline(id=31) Schusswaffen.
            |   Dadurch wurde die
            .inline(id=32) Versorgung
            |   mit
            .inline(id=33) Nahrungsmitteln
            |   besser. Außerdem gab es früher
            .inline(id=34) Hütten
            |   aus
            .inline(id=35) Lehm
            |   und
            .inline(id=36) Stroh,
            |   doch die
            .inline(id=37) Metallherstellung
            |   führte zu großen, stabilen
            .inline(id=38) Gebäuden.

            p
            |   Bereits jetzt haben wir das mächtigste
            .inline(id=28) Werkzeug,
            |   das
            .inline(id=14) Menschen
            |   jemals besessen haben. Wir sind in der
            .inline(id=39) Lage
            |   den
            .inline(id=40) Grundbaustoff
            |   aller
            .inline(id=26) Dinge,
            |   einzelne
            .inline(id=41) Atome,
            |   zu manipulieren. So ist heute die
            .inline(id=42) Produktion
            |   von
            .inline(id=43) Materialien
            |   möglich, von denen wir bisher nur geträumt haben.

            p
            |   Per
            .inline(id=77) Mikroskop
            |   lassen sich einzelne
            .inline(id=41) Atome
            |   beobachten und manipulieren. Noch vor wenigen Jahren konnten keine
            .inline(id=41) Atome
            |   beobachtet werden. Jetzt können wir sogar mit ihnen spielen. In San Jose basteln
            .inline(id=43) Wissenschaftler
            |   aus einzelnen
            .inline(id=41) Atomen
            |   primitive
            .inline(id=44) Maschinen.


            h3
             |   Die
             .inline(id=0) Zukunft
             |   der
             .inline(id=45) Roboter
             |   und
             .inline(id=46) Computer

            p
            |   Das
            .inline(id=47) Tempo
            |   der modernen
            .inline(id=48) Welt
            |   wird vom
            .inline(id=47) Tempo
            |   der
            .inline(id=46) Computer
            |   bestimmt. Und deren
            .inline(id=48) Geschwindigkeit
            |   nimmt stetig zu. Die
            .inline(id=49) Rechenkapazität
            |   von
            .inline(id=46) Computern
            |   verdoppelt sich etwa alle 18 Monate.
            .inline(id=77) Computerspielkonsolen
            |   besitzen heute mehr
            .inline(id=49) Rechenleistung
            |   als die
            .inline(id=50) Großrechner
            |   in vergangenen Jahrzehnten.

            p
            |   Ein
            .inline(id=51) Smartphone
            |   verfügt über mehr
            .inline(id=52) Leistung
            |   als die
            .inline(id=53) NASA
            |   im Jahr der
            .inline(id=54) Mondlandung
            |   1969. In
            .inline(id=0) Zukunft
            |   werden wir von
            .inline(id=46) Computern
            |   umzingelt sein. Sie sehen allerdings anders aus oder sind überhaupt nicht mehr als
            .inline(id=46) Computer
            |   zu erkennen. In jedem
            .inline(id=55) Gegenstand,
            |   jeder
            .inline(id=56) Wand,
            |   jeder
            .inline(id=57) Tapete,
            |   in allem, was uns umgibt, wird sich ein rechnender
            .inline(id=58) Chip
            |   befinden, der mit dem
            .inline(id=25) Internet
            |   verbunden ist.

            p
            |   Unsere
            .inline(id=59) Umgebung
            |   wird intelligent. Ein
            .inline(id=60) Raum
            |   wird bemerken, wenn Sie ihn betreten, und er wird dafür sorgen, dass an den richtigen Stellen das
            .inline(id=61) Licht
            |   angeht und eine vernünftige
            .inline Temperatur
            |   herrscht.
            .inline(id=46) Computer
            |   gehen in unserer
            .inline(id=59) Umgebung
            |   auf und werden unsichtbar und lautlos unsere
            .inline(id=62) Befehle
            |   ausführen, weil wir sie mit unseren
            .inline(id=63) Gedanken
            |   steuern.

            p
            |   Auch
            .inline(id=64) Autos
            |   werden intelligent. Sie fahren, vom
            .inline(id=46) Computer
            |   gelenkt, ohne
            .inline(id=65) Lenkrad
            |   und
            .inline(id=66) Fahrer
            |   zu ihrem
            .inline(id=67) Ziel.
            |   Die
            .inline(id=68) Insassen
            |   können sich entspannen, sich unterhalten oder einen
            .inline(id=69) Film
            |   schauen.
            .inline(id=70) Unfälle
            |   und
            .inline(id=71) Staus
            |   gehören der
            .inline(id=72) Vergangenheit
            |   an.
            .inline(id=73) GPS-Systeme
            |   und
            .inline(id=74) Radar
            |   sorgen für freie
            .inline(id=75) Fahrt
            |   und lenken sicherer durch den
            .inline(id=76) Verkehr
            |   der
            .inline(id=0) Zukunft,
            |   als es ein
            .inline(id=14) Mensch
            |   jemals könnte.
        #Platzhalter
    #Antwortbox
 #Field
     a.buttona(href="/zukunft_task1") Weiter
     //a.buttona(href="/zukunft_task1") Info
     //a.buttona(href="/zukunft_task1") Prüfen
     #balken_aussen
         #balken_innen1
         #balken_innen2
