extends layout
block content
    link(rel='stylesheet', href='/stylesheets/zukunft.css')
    #wrapper
        h1 hier ensteht Aufgabe 1

        #Aufgabe Aufgabe:
            a.buttona(href="/zukunft_task2")  weiter
