extends layout

block content
 script( src='/javascripts/Zukunft.js')
 #wrapper
    #Textbox
            h1 Die Zukunft der Menschheit wird fantastisch
            h2
             |  Wie werden wir in 100 Jahren leben? Diese Frage hat der
             .inline Physiker
             |  Michio Kaku den 300 klügsten Köpfen aus
             .inline Wissenschaft
             |  und
             .inline Forschung
             |  gestellt. Die
             .inline Ergebnisse
             |  sind atemberaubend.

            #autor Frank Schmiech

            p
            |   Nein, die Welt wird nicht untergehen. Sie wird sich verändern. Dramatisch verändern.
            |   Michio Kaku verzichtet in seinem Buch "Die
            .inline Physik
            |   der
            .inline Zukunft
            |   " auf Weltuntergangszenarien,
            |   die uns im warmen Wohnzimmer kalte Schauer über den Rücken laufen lassen.

            p.
                Im Gegenteil: Der Star-Physiker und Bestsellerautor zeigt sich optimistisch.
                Er glaubt fest daran, dass in 100 Jahren viel mehr Menschen viel besser leben als heute.
            p
            |   Warum sehen die meisten Menschen eher schwarz, wenn es um die Zukunft geht?
            |   Bücher über das Ende der Menschheit gibt es wie Sand am Meer.
            |   Die Katastrophe lauert an jeder Ecke. Das
            .inline Klima
            |   , die Weltwirtschaft,
            .inline Handystrahlen
            |   ,
            .inline Nanotechnik
            |   , das Internet – unser Ende scheint nah. Oder?

            h3  Die Zukunft der Dinge
            p.
                Was unterscheidet den Menschen von Tieren? Zum Beispiel benutzt der Mensch alle Arten von Werkzeugen.
                Menschen benutzten Pfeil und Bogen und anschließend Schusswaffen. Dadurch wurde die Versorgung mit Nahrungsmitteln besser.
                Außerdem gab es früher Hütten aus Lehm und Stroh, doch die Metall-Herstellung führte zu großen, stabilen Gebäuden.
            p.
                Bereits jetzt haben wir das mächtigste Werkzeug, das Menschen jemals besessen haben.
                Wir sind in der Lage den Grundbaustoff aller Dinge, einzelne Atome, zu manipulieren.
                So ist heute die Produktion von Materialien möglich, von denen wir bisher nur geträumt haben.

            p.
                Mikroskop lassen sich einzelne Atome beobachten und manipulieren.
                Noch vor wenigen Jahren konnten keine Atome beobachtet werden. Jetzt können wir sogar mit ihnen spielen.
                In San Jose basteln Wissenschaftler aus einzelnen Atomen primitive Maschinen.


            h3  Die Zukunft der Roboter und Computer

            p.
                Tempo der modernen Welt wird vom Tempo der Computer bestimmt.
                Und deren Geschwindigkeit nimmt stetig zu. Die Rechenkapazität von Computern verdoppelt sich etwa
                alle 18 Monate. Computerspielkonsolen besitzen heute mehr Rechenleistung als die Großrechner
                in vergangenen Jahrzehnten.
            p.
                Ein Smartphone verfügt über mehr Leistung als die NASA im Jahr der Mondlandung 1969.
                In Zukunft werden wir von Computern umzingelt sein. Sie sehen allerdings anders aus oder
                sind überhaupt nicht mehr als Computer zu erkennen. In jedem Gegenstand, jeder Wand,
                jeder Tapete, in allem, was uns umgibt wird sich ein rechnender Chip befinden,
                der mit dem Internet verbunden ist.
            p.
                Unsere Umgebung wird intelligent. Ein Raum wird bemerken, wenn Sie ihn betreten,
                und er wird dafür sorgen, dass an den richtigen Stellen das Licht angeht und eine vernünftige Temperatur herrscht. Computer gehen in unserer Umgebung auf und werden unsichtbar und lautlos unsere Befehle ausführen, weil wir sie mit unseren Gedanken steuern.
            p.
                Auch Autos werden intelligent. Sie fahren, vom Computer gelenkt, ohne Lenkrad und Fahrer zu ihrem Ziel.
                Die
               #inline Insassen
                |können sich entspannen, sich unterhalten oder einen Film schauen.
                |Unfälle und Staus gehören der Vergangenheit an. GPS-Systeme und Radar sorgen für freie Fahrt
                |und lenken sicherer durch den Verkehr der Zukunft, als es ein Mensch jemals könnte.
        #Platzhalter
    #Antwortbox
