extends layout
block content
    #content_background
        script(src='javascripts/zukunft_task2.js')
        link(rel='stylesheet', href='stylesheets/zukunft_task2.css')


        #Aufgabenbox
            p Finde unter den vorgegebenen Wörtern jene, die nicht in die Reihe passen. Bringe die Wortreihe in Ordnung, indem du auf die Box des Wortes klickst, von dem du vermutest, dass es nicht zu der Reihe gehört.
        #cont
            #wrapper
            #arrow_wrong
                img(src="images/arrowdown.png")
            #arrow_weiter
                img(src="images/arrowdown.png")



