extends layout

block content
 #wrapper
    #Textbox
            h1 Die Zukunft der Menschheit wird fantastisch
            h2.
                Wie werden wir in 100 Jahren leben? Diese Frage hat der Physiker Michio Kaku den 300
                klügsten Köpfen aus Wissenschaft und Forschung gestellt. Die Ergebnisse sind atemberaubend.
            #autor Frank Schmiech

            #p1 Nein, die
            #inline Welt
            #p1 wird nicht untergehen. Sie wird sich verändern. Dramatisch verändern.
            #p1 Michio Kaku verzichtet in seinem Buch "Die Physik der Zukunft" auf Weltuntergangszenarien,
            #p1 die uns im warmen Wohnzimmer kalte Schauer über den Rücken laufen lassen.

            p.
                Im Gegenteil: Der Star-Physiker und Bestsellerautor zeigt sich optimistisch.
                Er glaubt fest daran, dass in 100 Jahren viel mehr Menschen viel besser leben als heute.</p>

            p.
                Warum sehen die meisten Menschen eher schwarz, wenn es um die Zukunft geht?
                Bücher über das Ende der Menschheit gibt es wie Sand am Meer.
                Die Katastrophe lauert an jeder Ecke. Das Klima, die Weltwirtschaft,
                Handystrahlen, Nanotechnik, das Internet – unser Ende scheint nah. Oder?

            h3  Die Zukunft der Dinge</h3>
            p.
                Was unterscheidet den Menschen von Tieren? Zum Beispiel benutzt der Mensch alle Arten von Werkzeugen.
                Menschen benutzten Pfeil und Bogen und anschließend Schusswaffen. Dadurch wurde die Versorgung mit Nahrungsmitteln besser.
                Außerdem gab es früher Hütten aus Lehm und Stroh, doch die Metall-Herstellung führte zu großen, stabilen Gebäuden.
            p.
                Bereits jetzt haben wir das mächtigste Werkzeug, das Menschen jemals besessen haben.
                Wir sind in der Lage den Grundbaustoff aller Dinge, einzelne Atome, zu manipulieren.
                So ist heute die Produktion von Materialien möglich, von denen wir bisher nur geträumt haben.

            p.
                Mikroskop lassen sich einzelne Atome beobachten und manipulieren.
                Noch vor wenigen Jahren konnten keine Atome beobachtet werden. Jetzt können wir sogar mit ihnen spielen.
                In San Jose basteln Wissenschaftler aus einzelnen Atomen primitive Maschinen.

            h3  Die Zukunft der Menschheit

            p.
                Wohin gehen wir? Was ist das Ziel dieser Entwicklungen? Kaku ist sich sicher:
                Technische Neuerungen, wie Magnetautos und Roboter, führen die Menschheit auf den Weg in eine planetarische Zivilisation.
                Das heißt, dass wir auf unserem Planeten zusammenrücken. Wir werden uns ähnlicher. Wohlstand wird gleichmäßiger verteilt sein.
                Ländergrenzen lösen sich langsam auf.

            p.
                Das Internet ist ein mächtiger Beschleuniger dieser Entwicklung zu einer planetaren Zivilisation.
                Wir können zum ersten Mal in der Geschichte der Menschheit in Echtzeit rund um die Erde kommunizieren.
                Twitter ermöglicht die Kommunikation weltweit. Wir tauschen Ideen sehr schnell aus und setzen sie um.
                Als planetare Sprachen nutzen wir jetzt schon Englisch und Chinesisch.

            p.
                In der Wirtschaft sprechen wir von der Globalisierung – leider häufig nur im negativen Sinn.
                Dennoch sind alle Länder in ihrem wirtschaftlichen Handeln verbunden. Innerhalb einer Generation ist ein planetares Wirtschaftssystem entstanden.
                Rund um die Erde wächst eine internationale Mittelschicht.

            p.
                Die Kultur ist heute schon global. Junge Leute in Moskau, Berlin, New York und Tokio hören die gleiche Musik, kleiden sich ähnlich.
                Sie konsumieren das gleiche Essen und sehen die gleichen Filme. Nachrichten, Sportereignisse, Umweltprobleme,
                Tourismus und Krankheiten sind längst globale Erscheinungen.)
    #Platzhalter
    #Antwortbox
