extends layout
block content
    link(rel='stylesheet', href='stylesheets/zukunft.css')
    script(src='javascripts/zukunft_start.js')
    #Aufgabenbox
        h1 Zukunft
    #lessons
        div#les1.lesson
            div.licon Icon
            div.lstart Start
            div.ltitle Textverständnis
        div#les2.lesson
            div.licon Icon
            div.lstart Start
            div.ltitle Ordnung
        div#les2.lesson
            div.licon Icon
            div.lstart Start
            div.ltitle Komposita
        div#les2.lesson
            div.licon Icon
            div.lstart Start
            div.ltitle Lückentext
        div#les2.lesson
            div.licon Icon
            div.lstart Start
            div.ltitle Kreuzworträtsel


    #wrapper
        #Textbox
            div#l1.lek
                p Lektion 1
                p.gr Textverständnis
            div#l2.lek
                p Lektion 2
                p.gr Ordnung
            div#l3.lek
                p Lektion 3
                p.gr Komposita
            div#l4.lek
                p Lektion 4
                p.gr Lückentext
            div#l5.lek
                p Lektion 5
                p.gr Kreuzworträtsel
    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
