extends layout

block content
    link(rel='stylesheet', href='/stylesheets/zukunft_kolo.css')
    script( src='/javascripts/zukunft_kolo.js')
    #wrapper
        h1 richtig!
        h2 falsch!
        #page
            #oben
                #Platzhalter
                #links
                    p Auswahl1
                    #ltext
                #Platzhalter
                #rechts
                    p Auswahl2
                    #rtext
                #Platzhalter
            #Antwortbox
                p Antwortbox
                    #antwort
                        #a1
                        #Platzhalter
                        #a2
        #Aufgabe Aufgabe: Ziehe die zusammen passenden Ausdrücke in die Antwortbox
            a.buttona(href="/zukunft_task3")  weiter
            #balken_aussen
                #balken_innen1
                #balken_innen2
