extends layout
block content

    link(rel='stylesheet', href='/stylesheets/zukunft.css')
    #Aufgabenbox
        p AUFGABE
    #wrapper
        h1 hier ensteht Aufgabe 4

    #Field
        span#balken
        span#hilfe
        span#check
        span#weiter
            a(href='/zukunft') ZURÜCK