extends layout
block content
    script(src='javascripts/zukunft_wortreihe.js')
    link(rel='stylesheet', href='stylesheets/zukunft_task1.css')
    #Aufgabenbox
        p Finde unter den vorgegebenen Wörtern jene, die nicht in die Reihe passen. Bringe die Wortreihe in Ordnung, indem du auf die Box des Wortes klickst, von dem du vermutest, dass es nicht zu der Reihe gehört.
    #wrapper
    #arrow_wrong
        img(src="images/arrowdown.png")
    #arrow_weiter
        img(src="images/arrowdown.png")
    #Field
        span#balken
            a(id="fehler") Fehlversuche: 10
        span#hilfe
        span#check
        span#weiter
