extends layout
block content
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/zukunft_wortreihe.js')
    link(rel='stylesheet', href='/stylesheets/zukunft_task1.css')
    #Aufgabenbox
        p Aufgabe
    #wrapper
        .wortbox(id="1")
            .wort(id="1") Testwort1
            .wort(id="2") Testwort1
            .wort(id="3") Testwort1
            .wort(id="4") Testwort1
            .wort(id="5") Testwort1
            br
            input(type="Text", title="Hier das Wort einfügen, welches nicht dazu passt")
        .wortbox(id="2")
            .wort(id="1") Testwort1
            .wort(id="2") Testwort1
            .wort(id="3") Testwort1
            .wort(id="4") Testwort1
            .wort(id="5") Testwort1
            br
            input(type="Text", title="Hier das Wort einfügen, welches nicht dazu passt")
    #Field
        .span
        .span
            a.buttona() Info
            .inline_span
                a.buttona() Info1
                a.buttona() Info2
        .span
            a.buttona(id="pruefen") Prüfen
        .span
            a.buttona(href="/zukunft_task2") Weiter