extends layout

block content
 script( src='/javascripts/Zukunft.js')
 #wrapper
    #Textbox
            h1
             |  Die
             .inline Zukunft
             |  der Menschheit wird fantastisch

            h2
             |  Wie werden wir in 100 Jahren leben? Diese Frage hat der
             .inline Physiker
             |  Michio Kaku den 300 klügsten
             .inline Köpfen
             |  aus
             .inline Wissenschaft
             |  und
             .inline Forschung
             |  gestellt. Die
             .inline Ergebnisse
             |  sind atemberaubend.

            #autor Frank Schmiech

            p
            |   Nein, die
            .inline Welt
            |   wird nicht untergehen. Sie wird sich verändern. Dramatisch verändern. Michio Kaku verzichtet in seinem
            .inline Buch
            |   "Die
            .inline Physik
            |   der
            .inline Zukunft"
            |   auf
            .inline Weltuntergangszenarien,
            |   die uns im warmen
            .inline Wohnzimmer
            |   kalte
            .inline Schauer
            |   über den
            .inline Rücken
            |   laufen lassen.

            p
            |   Im Gegenteil: Der
            .inline Star-Physiker
            |   und
            .inline Bestsellerautor
            |   zeigt sich optimistisch. Er glaubt fest daran, dass in 100 Jahren viel mehr
            .inline Menschen
            |   viel besser leben als heute.

            p
            |   Warum sehen die meisten
            .inline Menschen
            |   eher schwarz, wenn es um die
            .inline Zukunft
            |   geht?
            .inline Bücher
            |   über das
            .inline Ende
            |   der
            .inline Menschheit
            |   gibt es wie
            .inline Sand
            |   am
            .inline Meer.
            |   Die
            .inline Katastrophe
            |   lauert an jeder
            .inline Ecke.
            |   Das
            .inline Klima,
            |   die
            .inline Weltwirtschaft,
            .inline Handystrahlen,
            .inline Nanotechnik,
            |   das
            .inline Internet
            |   – unser
            .inline Ende
            |   scheint nah. Oder?

            h3
             |  Die
             .inline Zukunft
             |  der
             .inline Dinge

            p
            |   Was unterscheidet den
            .inline Menschen
            |   von
            .inline Tieren?
            |   Zum Beispiel benutzt der
            .inline Mensch
            |   alle
            .inline Arten
            |   von
            .inline Werkzeugen.
            .inline Menschen
            |   benutzten
            .inline Pfeil und Bogen
            |   und anschließend
            .inline Schusswaffen.
            |   Dadurch wurde die
            .inline Versorgung
            |   mit
            .inline Nahrungsmitteln
            |   besser. Außerdem gab es früher
            .inline Hütten
            |   aus
            .inline Lehm
            |   und
            .inline Stroh,
            |   doch die
            .inline Metallherstellung
            |   führte zu großen, stabilen
            .inline Gebäuden.

            p
            |   Bereits jetzt haben wir das mächtigste
            .inline Werkzeug,
            |   das
            .inline Menschen
            |   jemals besessen haben. Wir sind in der
            .inline Lage
            |   den
            .inline Grundbaustoff
            |   aller
            .inline Dinge,
            |   einzelne
            .inline Atome,
            |   zu manipulieren. So ist heute die
            .inline Produktion
            |   von
            .inline Materialien
            |   möglich, von denen wir bisher nur geträumt haben.

            p
            |   Per
            .inline Mikroskop
            |   lassen sich einzelne
            .inline Atome
            |   beobachten und manipulieren. Noch vor wenigen Jahren konnten keine
            .inline Atome
            |   beobachtet werden. Jetzt können wir sogar mit ihnen spielen. In San Jose basteln
            .inline Wissenschaftler
            |   aus einzelnen
            .inline Atomen
            |   primitive
            .inline Maschinen.


            h3
             |   Die
             .inline Zukunft
             |   der
             .inline Roboter
             |   und
             .inline Computer

            p
            |   Das
            .inline Tempo
            |   der modernen
            .inline Welt
            |   wird vom
            .inline Tempo
            |   der
            .inline Computer
            |   bestimmt. Und deren
            .inline Geschwindigkeit
            |   nimmt stetig zu. Die
            .inline Rechenkapazität
            |   von
            .inline Computern
            |   verdoppelt sich etwa alle 18 Monate.
            .inline Computerspielkonsolen
            |   besitzen heute mehr
            .inline Rechenleistung
            |   als die
            .inline Großrechner
            |   in vergangenen Jahrzehnten.

            p
            |   Ein
            .inline Smartphone
            |   verfügt über mehr
            .inline Leistung
            |   als die
            .inline NASA im Jahr der
            .inline Mondlandung
            |   1969. In
            .inline Zukunft
            |   werden wir von
            .inline Computern
            |   umzingelt sein. Sie sehen allerdings anders aus oder sind überhaupt nicht mehr als
            .inline Computer
            |   zu erkennen. In jedem
            .inline Gegenstand,
            |   jeder
            .inline Wand,
            |   jeder
            .inline Tapete,
            |   in allem, was uns umgibt, wird sich ein rechnender
            .inline Chip
            |   befinden, der mit dem
            .inline Internet
            |   verbunden ist.

            p
            |   Unsere
            .inline Umgebung wird intelligent. Ein
            .inline Raum
            |   wird bemerken, wenn Sie ihn betreten, und er wird dafür sorgen, dass an den richtigen Stellen das
            .inline Licht
            |   angeht und eine vernünftige
            .inline Temperatur
            |   herrscht.
            .inline Computer gehen in unserer
            .inline Umgebung
            |   auf und werden unsichtbar und lautlos unsere
            .inline Befehle
            |   ausführen, weil wir sie mit unseren
            .inline Gedanken
            |   steuern.

            p
            |   Auch
            .inline Autos
            |   werden intelligent. Sie fahren, vom
            .inline Computer
            |   gelenkt, ohne
            .inline Lenkrad
            |   und
            .inline Fahrer
            |   zu ihrem
            .inline Ziel.
            |   Die
            .inline Insassen
            |   können sich entspannen, sich unterhalten oder einen
            .inline Film
            |   schauen.
            .inline Unfälle
            |   und
            .inline Staus
            |   gehören der
            .inline Vergangenheit
            |   an.
            .inline GPS-Systeme
            |   und
            .inline Radar
            |   sorgen für freie
            .inline Fahrt
            |   und lenken sicherer durch den
            .inline Verkehr
            |   der
            .inline Zukunft,
            |   als es ein
            .inline Mensch
            |   jemals könnte.

        #Platzhalter
    #Antwortbox
