extends layout

block content
    link(rel='stylesheet', href='/stylesheets/zukunft_kolo.css')
    script( src='/javascripts/zukunft_kolo.js')
    #Aufgabenbox
        p Ziehe die zusammen passenden Ausdrücke in die Antwortbox
    #wrapper
        h1 richtig!
        h2 falsch!
        #page
            #oben
                #Platzhalter
                #links
                    p Auswahl1
                    #ltext
                #Platzhalter
                #rechts
                    p Auswahl2
                    #rtext
                #Platzhalter
            #Antwortbox
                p Antwortbox
                    #antwort
                        #a1
                        #Platzhalter
                        #a2
    #Field
        ul
            li(class="footer_button")
            li(class="footer_button") Info
                ul
                    li(id="footer_sub_button")
                        a() Info1
                    li(id="footer_sub_button")
                        a() Info2
            li(class="footer_button")
                a(href='/ubung' ) Übungen
            li(class="footer_button")
                a(href='/zukunft_task3' ) Weiter






