extends layout

block content
    link(rel='stylesheet', href='stylesheets/zukunft_task4.css')
    script( src='javascripts/zukunft_task4.js')
    #Aufgabenbox
        p Ziehe die vorgegebenen Wörter aus dem rechten Kasten in die passenden Lücken im Text!

    #wrapper
        #Textbox
            h1
                | Stephen Hawking: Eine kurze Geschichte der Zeit
            p Der
            .inline(id=1) Star-Physiker
            | Prof. Dr. Stephen Hawking hat mit seinem
            .inline(id=2) Buch
            | <i>Eine kurze Geschichte der Zeit</i> den Eintritt in den Kreis der
            .inline(id=3) Bestsellerautoren
            | geschafft.

            p Was ist die Raumzeit? Was bedeutet der Urknall? Dehnt sich das Universum aus? Was ist
            .inline(id=4) Zeit
            | ? Was sind
            .inline(id=5) Atome
            | ? Was kann sich schneller als das
            .inline(id=6) Licht
            | ausbreiten? Der
            .inline(id=7) Wissenschaftler
            | Hawking bietet einem Überblick über Theorien zu
            .inline(id=8) Raum
            | und
            .inline(id=4) Zeit
            | . Die Reise geht von der geschichtlichen Entwicklung des Universums bis hin zu schwarzen Löchern und der Zeit selbst als
            .inline(id=10) Gegenstand
            | der
            .inline(id=11) Forschung
            | .
            p
            | In seinem
            .inline(id=2) Buch
            | bringt Hawking die
            .inline(id=13) Welt
            | der Wissenschaft den
            .inline(id=15) Menschen
            | näher. Mit den
            .inline(id=16) Ergebnissen
            | seiner Forschung
            | hat er sozusagen diesen wissenschaftlichen
            .inline(id=18) Kosmos
            | in die
            .inline(id=19) Wohnzimmer
            | der Menschen einziehen lassen. Absolut lesenswert!
        #Platzhalter
        #Antwortbox

    #Field
        span#balken
            #balken_aussen
                #balken_innen1
                #balken_innen2
        span#hilfe
        span#check
        span#weiter
            a(href='zukunft_task5') WEITER
