extends layout
block content
    link(rel='stylesheet', href='stylesheets/zukunft_start.css')
    #subjecttitle
        h1 Zukunft
    #tasks.startpanel
        div.panelheader
            h2 Aufgaben
        #content
            #content_image
                img(src='images/bild.png')
            #content_content
                    div.task
                        div.taskbar
                            //div.taskicon Icon
                            div.taskpoints Points
                            div.tasktitle
                                div.taskstart
                                    a.tasklink(href='zukunft_Textverstehen_Wortfeld_Technik')
                                div.t_title
                                    p Textverstehen: Wortfeld Technik
                                div.text_media.mediaelement
                    div.task
                        div.taskbar
                            //div.taskicon Icon
                            div.taskpoints Points
                            div.tasktitle
                                div.taskstart
                                    a.tasklink(href='zukunft_Wortschatz_ordnen')
                                div.t_title
                                    p Wortschatz ordnen
                                div.text_media.mediaelement
                    div.task
                        div.taskbar
                            //div.taskicon Icon
                            div.taskpoints Points
                            div.tasktitle
                                div.taskstart
                                    a.tasklink(href='zukunft_Wortschatzerweiterung')
                                div.t_title
                                    p Wortschatzerweiterung
                                div.text_media

                    div.task
                        div.taskbar
                            //div.taskicon Icon
                            div.taskpoints Points
                            div.tasktitle
                                div.taskstart
                                    a.tasklink(href='zukunft_Textproduktion')
                                div.t_title
                                    p Textproduktion
                                div.text_media
                    div.task
                        div.taskbar
                            //div.taskicon Icon
                            div.taskpoints Points
                            div.tasktitle
                                div.taskstart
                                    a.tasklink(href='zukunft_Kreuzwortraetsel')
                                div.t_title
                                    p Kreuzworträtsel
                                div.text_media

block overlay
    #overlaycontentbox
        .Zeitung
            h1 Die Zukunft der Menschheit wird fantastisch!
            bb Wie werden wir in 100 Jahren leben? Diese Frage hat der Physiker Michio Kaku den 300 klügsten Köpfen aus Wissenschaft und Forschung gestellt. Die Ergebnisse sind atemberaubend.
            #autor Frank Schmiecher
            img.textwrap1(src="images/bridge.jpg")
            p  Nein, die Welt wird nicht untergehen. Sie wird sich verändern. Dramatisch verändern. Michio Kaku verzichtet in seinem Buch "Die Physik der Zukunft" auf Weltuntergangszenarien, die uns im warmen Wohnzimmer kalte Schauerüber den Rücken laufen lassen.
            p  Im Gegenteil: Der Star-Physiker und Bestsellerautor zeigt sich optimistisch. Er glaubt fest daran, dass in 100 Jahren viel mehr Menschen viel besser leben als heute.
            p  Warum sehen die meisten Menschen eher schwarz, wenn es um die Zukunft geht? Bücher über das Ende der Menschheit gibt es wie Sand  am Meer.  Die Katastrophe  lauert an jeder Ecke.  Das Klima,  die Weltwirtschaft, Handystrahlen, Nanotechnik,  das Internet  – unser Ende  scheint nah. Oder?
            br
            br
            h3  Die Zukunft  der Dinge
            p  Was unterscheidet den Menschen  von Tieren?  Zum Beispiel benutzt der Mensch  alle Arten  von Werkzeugen. Menschen  benutzten Pfeil und Bogen  und anschließend Schusswaffen.  Dadurch wurde die Versorgung  mit Nahrungsmitteln  besser. Außerdem gab es früher Hütten  aus Lehm  und Stroh,  doch die Metallherstellung  führte zu großen, stabilen Gebäuden.
            p  Bereits jetzt haben wir das mächtigste Werkzeug,  das Menschen  jemals besessen haben. Wir sind in der Lage  den Grundbaustoff  aller Dinge,  einzelne Atome,  zu manipulieren. So ist heute die Produktion  von Materialien  möglich, von denen wir bisher nur geträumt haben.
            p  Per Mikroskop  lassen sich einzelne Atome  beobachten und manipulieren. Noch vor wenigen Jahren konnten keine Atome  beobachtet werden. Jetzt können wir sogar mit ihnen spielen. In San Jose basteln Wissenschaftler  aus einzelnen Atomen  primitive Maschinen.
            br
            br
            h3  Die Zukunft  der Roboter  und Computer
            img.textwrap2(src="images/ai.jpg")
            p  Das Tempo  der modernen Welt  wird vom Tempo  der Computer  bestimmt. Und deren Geschwindigkeit  nimmt stetig zu. Die Rechenkapazität  von Computern  verdoppelt sich etwa alle 18 Monate. Computerspielkonsolen  besitzen heute mehr Rechenleistung  als die Großrechner  in vergangenen Jahrzehnten.
            p  Ein Smartphone  verfügt über mehr Leistung  als die NASA  im Jahr der Mondlandung  1969. In Zukunft  werden wir von Computern  umzingelt sein. Sie sehen allerdings anders aus oder sind überhaupt nicht mehr als Computer  zu erkennen. In jedem Gegenstand,  jeder Wand,  jeder Tapete,  in allem, was uns umgibt, wird sich ein rechnender Chip  befinden, der mit dem Internet  verbunden ist.
            p  Unsere Umgebung  wird intelligent. Ein Raum  wird bemerken, wenn Sie ihn betreten, und er wird dafür sorgen, dass an den richtigen Stellen das Licht  angeht und eine vernünftige
            .inline Temperatur  herrscht. Computer  gehen in unserer Umgebung  auf und werden unsichtbar und lautlos unsere Befehle  ausführen, weil wir sie mit unseren Gedanken  steuern.
            p  Auch Autos  werden intelligent. Sie fahren, vom Computer  gelenkt, ohne Lenkrad  und Fahrer  zu ihrem Ziel.  Die Insassen  können sich entspannen, sich unterhalten oder einen Film  schauen. Unfälle  und Staus  gehören der Vergangenheit  an. GPS-Systeme  und Radar  sorgen für freie Fahrt  und lenken sicherer durch den Verkehr  der Zukunft,  als es ein Mensch  jemals könnte.