extends layout
block content
    #content_background
        script(src='javascripts/z_kreuzwort.js')
        link(rel='stylesheet', href='stylesheets/zukunft_task5.css')
        #Aufgabenbox
            p AUFGABE
        #wrapper
            h1 Zukunft und Technik
            #raetsel
            #antwort