extends layout

block content
    #content_background
        link(rel='stylesheet', href='stylesheets/zukunft_task3.css')
        script( src='javascripts/zukunft_Wortschatzerweiterung_fest_Wortverbindungen.js')
        #Aufgabenbox
            p Ziehe die zusammenpassenden Ausdrücke in die Antwortbox.
        #wrapper
            h1 richtig!
            h2 falsch!
            #oben
                #Platzhalter
                #links
                    //p Auswahl1
                    #ltext
                #Platzhalter
                #rechts
                    //p Auswahl2
                    #rtext
                #Platzhalter
            #Antwortbox
                p Antwortbox
                    #antwort
                        #a1
                        #Platzhalter
                        #a2





