#Textbox {
    width: 45%;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(229,239,245, 0.8);
    margin: 10px;
    color: black;
    line-height: 30px;
}

#Erklaerungsbox {
    display: table-cell;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(229, 239, 245, 0.8);
    margin: 5px;
    color: black;
    line-height: 30px;
}

#Aufgabebox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    width: 30%;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(7, 10, 255, 0.15);
    margin: 10px;
    color: #000000;
}