.word {
    float: left;
    margin: 5px 20px;
    background-color: lightblue;
    height: 20px;
    padding: 5px;

}

.passive {
    background-color: lightgreen;
}

.green {
    background-color: lawngreen;
}

.slot {
    margin: 2px 5px;
    border: none;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    font-family: monospace;
    height: 20px;
    width: 175px;
    border-top: hidden;
    border-bottom-color: black;
}

.info {
    background-color: orchid;
    text-align: center;
}

.helper {
    text-align: right;
    float: right;
    margin-right: 5px;
}

.text {
    text-align: center;
}

.h {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
}
body {
    font-family: monospace;
}

.unselectable {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10 */
    -o-user-select: none;
    user-select: none;
}

.hidden {
    visibility: hidden;
}

#wrapper {
    width: 100%;
    display: table;
}

#Textbox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    width: 70%;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 239, 239, 0.59);
    margin: 10px;
    color: black;
}

#Antwortbox {
    -webkit-box-shadow: 0 2px 5px darkgrey;
    -moz-box-shadow: 0 2px 5px darkgrey;
    box-shadow: 0 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    width: 10%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    min-height: 500px;
    align-items: center;
}

#Antwortbox_two {
    -webkit-box-shadow: 0 2px 5px darkgrey;
    -moz-box-shadow: 0 2px 5px darkgrey;
    box-shadow: 0 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    width: 10%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    min-height: 500px;
    align-items: center;
}
#Antwortbox_three {
    -webkit-box-shadow: 0 2px 5px darkgrey;
    -moz-box-shadow: 0 2px 5px darkgrey;
    box-shadow: 0 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    width: 10%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    min-height: 500px;
    align-items: center;
}

.inline {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

#Space {
    padding: 15px;
    display: table-cell;
    width: 3%;
}
#Space_two {
    display: table-cell;
    padding: 10px;
    margin-top: 10px;
}

#Field{
    color: black;
    text-indent: 0;
    background: rgba(159, 255, 177, 0.8);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
}

#Field a{
    float: right;
    margin-right: 20px;
}

#Field .outlink {
    float: none;
    margin: 0 6px;
}

.target {
    border: 1px dashed;
    width: 45%;
    float: left;
    margin: 2px 20px;
}

#antonym {
    background-color: lightcyan;
    border-color: cyan;
}

#synonym {
    background-color: lemonchiffon;
    border-color: gold;
}

.title {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 1.6em;
    display: block;
}

.buttona {
    border: 1px solid black;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    clear: both;
    margin: 20px;
    line-height: 50px;
    height: 50px;
    width: 500px;
}

.placeholderdots {
    color: white;
    padding: 0 20px;
    border-bottom: 2px dotted blue;
}


#balken_aussen {
    display: inline-block;
    width: 216px;
    height: 17px;
    background: white;
    padding: 1px;
    margin-right: 30px;
    float: left; }

#balken_innen1 {
    background: lawngreen;
    display: inline-block;
    width: 0;
    height: 15px; }

#balken_innen2 {
    background: red;
    display: inline-block;
    height: 15px;
    width: 0; }

.invisible {
    display: none;
}

.marktrue {
    background-color: lightgreen;
}

.markalmost {
    background-color: lemonchiffon;
}

.markfalse {
    background-color: lightpink;
}