.word {
 float: left;
 margin: 5px 20px;
 background-color: lightblue;
}

.passive {
 background-color: lightgreen;
}

.green {
 background-color: lawngreen;
}

.slot {
 margin: 2px 5px;
 border: none;
 border-top: 1px solid #c0c0c0;
 border-bottom: 1px solid #c0c0c0;
 font-family: monospace;
 height: 20px;
 width: 175px;
}

.info {
 background-color: orchid;
 text-align: center;
}

.text {
    text-align: center;
}

.h {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
}
body {
 font-family: monospace;
}

.unselectable {
 -webkit-user-select: none; /* Chrome all / Safari all */
 -moz-user-select: none; /* Firefox all */
 -ms-user-select: none; /* IE 10 */
 -o-user-select: none;
 user-select: none;

}

.hidden {
 visibility: hidden;
}

#wrapper {
 width: 100%;
 display: table;
}

#Antwortbox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    background-color: #ffffff;
    display: table-cell;
    padding: 10px;
    width: 190px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    min-height: 500px;
    align-items: center;
}

.inline {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
}

#Space {
    padding: 15px;
    display: table-cell;
    width: 3%;
}

#Field{
    color: #000000;
    text-indent: 0;
    background: lightblue;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
