#wrapper {
  width: 100%;
  display: table; }

#Textbox {
  -webkit-box-shadow: 0px 2px 5px darkgrey;
  -moz-box-shadow: 0px 2px 5px darkgrey;
  box-shadow: 0px 2px 5px darkgrey;
  width: 45%;
  display: table-cell;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(239, 239, 239, 0.59);
  margin: 10px;
  color: black; }

#Antwortbox {
  -webkit-box-shadow: 0px 2px 5px darkgrey;
  -moz-box-shadow: 0px 2px 5px darkgrey;
  box-shadow: 0px 2px 5px darkgrey;
  background-color: rgba(181, 237, 239, 0.29);
  display: table-cell;
  padding: 10px;
  width: 40%;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#Platzhalter {
  padding: 10px;
  display: table-cell;
  width: 2%; }

#oben {
  margin: 20px auto;
  display: table;
  max-height: 500px; }
  #oben p {
    text-align: center; }

#l {
  -webkit-box-shadow: 0px 2px 5px darkgrey;
  -moz-box-shadow: 0px 2px 5px darkgrey;
  box-shadow: 0px 2px 5px darkgrey;
  display: table-cell;
  background-color: rgba(2, 255, 85, 0.16);
  border-radius: 50%;
  width: 400px;
  height: 300px; }

#ltext {
  margin: 10px auto;
  padding: 15px; }

#rtext {
  margin: 10px auto;
  padding: 15px; }

#r {
  -webkit-box-shadow: 0px 2px 5px darkgrey;
  -moz-box-shadow: 0px 2px 5px darkgrey;
  box-shadow: 0px 2px 5px darkgrey;
  display: table-cell;
  background-color: rgba(2, 255, 85, 0.28);
  border-radius: 50%;
  width: 400px;
  height: 300px; }

#Platz {
  display: table-cell;
  width: 85px; }

#Antwort {
  -webkit-box-shadow: 0px 2px 5px darkgrey;
  -moz-box-shadow: 0px 2px 5px darkgrey;
  box-shadow: 0px 2px 5px darkgrey;
  padding: 20px;
  margin: -10px auto;
  display: box;
  width: 50%;
  border-radius: 50%;
  background-color: rgba(2, 255, 85, 0.28);
  min-height: 300px; }
  #Antwort p {
    text-align: center; }

.tok {
  -webkit-box-shadow: 0px 2px 5px darkgrey;
  -moz-box-shadow: 0px 2px 5px darkgrey;
  box-shadow: 0px 2px 5px darkgrey;
  background: rgba(239, 239, 239, 0.59);
  color: green;
  font: bold;
  padding: 8px;
  display: inline-block;
  margin: 20px;
  border-radius: 50%; }

.tok:hover {
  background-color: #99ff66; }

.word {
    margin: 5px 2px;
    padding: 5px 2px;
    border: 4px dotted rgba(1, 6, 208, 0.29);
    float: left;
    line-height: normal;
}

.drop {
    min-height: 200px;
    height: auto;
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    background-color: rgba(181, 237, 239, 0.29);
    float: right;
    padding: 10px;
    width: 30%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#Field{
    color: black;
    text-indent: 0;
    background: rgba(106, 255, 253, 0.80);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
}

#Field a{
    float: right;
    margin-right: 20px;
}

#wordselect {
    width: 30%;
    height: auto;
    min-height: 20px;
    border: 1px solid darkgrey;
    float: left;
}

.wrong {
    background-color: lightcoral;
    box-shadow: 0 2px 5px #ff0000;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mco {
    margin: 10px;
    padding: 10px;
}

.opt {
    display: list-item;
    list-style-type: disc;
}

.task {

}

u {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.right {
    background-color: lightgreen;
    box-shadow: 0 2px 5px #00b60a;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}