/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#Aufgabenbox {
    color: white;
    background: #7AB3E3;
}

#flexbox {

    display: flex;

    padding-right: 10px;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

#textbox, #treebox, #sentbox {

    display: flex;

    margin: 10px 0 0 10px;

    width: 80%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: #A6D1F5;

}

#textbox, #sentbox {

    align-items: stretch;
    align-content: stretch;

}

#textbox {

    position: relative;

}

#sentbox {

    padding-bottom: 10px;

}

#editorarea {
    display: flex;

    padding: 10px;

    width: 80%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: #0183D8;
}

#startarea, #checkarea, .loadarea, .errarea {
    display: flex;

    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

#startarea, #checkarea {
    background: aliceblue;
}

.errarea {
    padding: 10px 10px 10px 0;
}

#editorarea.incorrect, .line.incorrect  {
    background: #D32424;
}

#editorarea.correct, .line.correct  {
    background: #6B9713;
}

#startphrase, #checkbutton, .loadbutton, .errtriangle {
    flex: 0 1 auto;
    align-self: auto;
}

#startphrase {
    line-height: 20px;
}

#editor {
    overflow: auto;

    margin-left: 10px;
    padding: 10px 0 10px 10px;

    width: 70%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    background: aliceblue;

    white-space: pre-wrap;

    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
}

.text {
    white-space: pre-wrap;
}

.mistake {
    color: white;
    background: #D32424;
}

.mistake:hover {
    background: #E45252;
}

.mistake.hover {
    background: #A8D54D;
}

.linebox, .line, .errorbox, .error, .errtitle {
    display: flex;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.line {
    margin: 10px 10px 0 10px;

    background: aliceblue;
}

.errorbox {
    padding: 0 10px 10px 0;

    background: #FFA9A9;
}

.error {
    margin: 10px 0 0 10px;

    justify-content: center;
}

.error.hover .errtitle {
    background: #D32424;
}

.errtitle {
    color: white;
    background: #A91211;

    text-align: center;
}

.errtitle.open:hover, .errtitle.closed:hover {
    cursor: pointer;
}

.errtitle:hover {
    background: #D32424;
}

.errstatus {
    padding: 10px 0 10px 10px;

    flex: 0 1 auto;
    align-self: auto;

    font-weight: bold;
}

.error.new .errstatus:before {
    content: "NEU";
}

.error.modified .errstatus:before {
    content: "BEARBEITET";
}

.error.deleted .errstatus:before {
    content: "GELÖSCHT";
}

.errmsg {

    padding: 10px;

    width: 70%;

    flex: 1 1 auto;
    align-self: auto;
}

.errrep {
    display: flex;

    padding: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #FFE8E8;
}

.rep {

    margin: 10px 0 0 10px;
    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    background-color: #A8D54D;
    white-space: pre-wrap;

    cursor: pointer;
}

.rep:hover {

    background: #8EC029;

}

.errurl {

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    background: #FFCBCB;
    text-align: center;
}

#checkbutton, .loadbutton, .errtriangle {
    height: 20px;
    width: 20px;
}

#checkbutton {
    background: #005E9C;
}

#checkbutton:hover {
    background: #0999F6 !important;

    cursor: pointer;
}

.loadbutton {
    background: #008847;
}

.loadbutton:hover {
    background: #00DA71 !important;

    cursor: pointer;
}

.linebox.active .loadbutton {
    background: #0999F6;
}

.errtitle.open:hover .errtriangle {
    background: url("../images/arrow_up.png") no-repeat center center;
    background-size: 35px 35px;
}

.errtitle.closed:hover .errtriangle {
    background: url("../images/arrow_down.png") no-repeat center center;
    background-size: 35px 35px;
}

.textarea {
    padding: 10px 0 0 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;
}

.sentence {
    white-space: pre-wrap;
}

.dataarea {
    display: none;
}

.explanation {

    margin: 10px;
    padding: 10px;

    line-height: 20px;
    text-align: center;

    flex: 0 1 auto;
    align-self: auto;

    color: white;
    background: #7AB3E3;

}

#textoverlay {

    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    margin: auto;

    width: 100%;
    height: 100%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: #A6D1F5;
    opacity: 0.85;

}

.spinnerbox {

    display: flex;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    align-items: center;

}

.spinner {

    display: none;

    margin: auto;

    width: 40px;
    height: 40px;

    flex: 0 1 auto;
    align-self: auto;

    background-color: #005E9C;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

#tree {
    flex: 0 1 auto;
    align-self: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1.5px;
}
