.draggie.ui-draggable-dragging {

    font-size: 1em;
    padding: 3px;
    margin: 3px;
    background: lightgoldenrodyellow;
    color: black;
    -webkit-box-shadow: 0 2px 5px darkgray;
    -moz-box-shadow: 0 2px 5px darkgray;
    box-shadow: 0 2px 5px darkgray; }

.token {
    color: #0083cb;
    font-weight: bold;
    padding: 5px;
    float: left;
    /*display: inline-flex;*/
    flex-direction: column;
    margin: 2px;
    border: 1px solid #0083cb;
}

#Vorgabe{
    width: 100%;
    display: inline-block;
    padding: 5px;
}
#Loesung{
    height: 400px;
    display: table;
    width: 100%;
}
#label{
    width: 100%;
    height: 50px;
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Antwort.ui-droppable{
     display: table-cell;
     width: 30%;
     height: 500px;
     text-align: center;
 }
.Antwort.ui-droppable.ui-state-hover{
    background-color: rgba(0, 131, 203, 0.34);
}

.Box{
    display: inline-block;
    width: 30%;
}

.circ{
    width: 100%;
    height:300px;
    background-color: #0040D0;
    border-radius: 50%;
}