/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#flexybox {
    display: flex; /* or inline-flex */
    padding: 0 10px 0 0;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.linebox {
    display: flex; /* or inline-flex */
    width: 60%;
    
    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    line-height: 18px;

    flex: 1 1 auto;
    align-self: auto;
    
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: aliceblue;
}

.targetline, .sourceline, .resetarea {
    display: flex;
    width: 40%;
    
    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    line-height: 18px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    
    background-color: #D5EBFD;
}

.targetline {
    width: 45%;
    align-items: flex-start;
    background-color: #7AB3E3;
}

.sourceline {
    margin: 10px 0 0 0px;

    justify-content: center;

    background-color: #D5EBFD;
}

.resetarea {
    width: 50px;

    margin: 10px 0 0 0px;

    line-height: 18px;

    flex: 0 1 auto;
    align-self: auto;

    justify-content: flex-end;
    align-items: center;
    align-content: stretch;    
}

.panelarrow {
    height: 40px;
    width: 40px;

    margin: 10px 0 0 10px;
    border-radius: 20px;
    
    background: #A6D1F5 url("../images/button_down2.gif") no-repeat center center;
    background-size: 30px 30px;
}

.tgtelem, .srcelem {
    margin: 10px 0 0 10px;
    padding: 10px;

    line-height: 18px;

    flex: 0 1 auto;
    align-self: auto;
}

.tgtelem {
    padding: 10px 0 10px 10px;
}

.srcelem {
    background-color: #A6D1F5;
    draggable: true;
    cursor: grab;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#targetbox, #sourcebox {
    display: flex;
    width: 40%;

    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    line-height: 18px;

    flex: 1 1 auto;
    align-self: auto;
    /*order: <integer>*/

    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

    background-color: aliceblue;
}

#targetbox {
    padding: 0 0px 10px 0;

    color: white;
}

#sourcebox {
    margin: 10px 0 0 0px;
}

select.dropbox {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/
    /*width: 24px;*/
    height: 20px;
    border-radius: 2px;
    background: #7AB3E3 url("../images/button_down2.gif") no-repeat right center;
    background-size: 24px 18px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
    color: #fff;

    cursor: pointer;
    display: inline;
}

.handle {
    height: 16px;
    width: 16px;
    
    margin: 0 0 0 10px;
    border-radius: 8px;

    background: #005E9C;
}