
.token {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
    background: rgba(0, 136, 207, 0.77);
    color: white;
    font-weight: bold;
    padding: 5px;
    float: left;
    /*display: inline-flex;*/
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#Token_area{
    width: 70%;
    background-color: rgba(135, 195, 246, 0.53);
    min-height: 200px;
    margin: 20px auto;
}

#Zeitstrahl{
    width: 100%;
}
.fragment{
    width: 9%;
    background-color: rgb(0, 136, 207);
    z-index: 1000;
    min-height: 35px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding:0;
    display: inline-block;
    margin-left:5px;
    margin-right: 5px;
}
.ui-state-hover{
    background-color: #7AB3E3;
}
.dropped{

    border-radius: 10px;
    overflow: hidden;
}
.korrekt{
    background-color: #02D64A;
}
.falsch{
    background-color: #A91211;
}
.dropped p{
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

#arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid rgb(0, 136, 207);
}
#arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right:40px solid rgb(0, 136, 207);
}
.strahl{
    display: table-cell;
    margin: 0;
    padding: 0;
}
#line{
    width: 100%;
}
#zeit{
    min-height: 25px;
    background-color: rgb(0, 136, 207);
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
    position: relative;
}
#middle{
    background-color: #A91211;
    width:5px;
    min-height: 50px;
    z-index: 1000;
    position: absolute;
    left: 50%;
    bottom: 30px;
}