/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.overlay-content {
    padding: 10px;

    font-size: 1.3em;

    background: aliceblue;
}

.examples {
    padding: 10px;

    background: #A6D1F5;
}

.flexcontainer {
    display: flex;

    padding: 0 10px 10px 0;

    flex-flow: row wrap;
}

.flexitem {
    margin: 10px 0 0 10px;

    flex: 1 1 auto;
}

#satzpuzzle {
    padding: 0 10px 0 0;

    font-size: 1.3em;
    line-height: 20px;
}

.linebox {
    width: 60%;

    background-color: aliceblue;
}

.targetline, .sourceline {
    width: 45%;

    align-content: center;

    background-color: #7AB3E3;
}

.sourceline {
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;

    width: 40%;

    justify-content: center;
    align-items: center;

    background-color: #D5EBFD;
}

.tgtelem, .srcelem {
    padding: 10px 0 10px 10px;

    height: 20px;

    flex: 0 1 auto;
}

.srcelem {
    padding: 10px;

    align-items: center;
    align-content: center;

    background-color: #A6D1F5;
}

.selectbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0 !important;
    height: 30px;
    border-radius: 2px;
    background: #7AB3E3 url("../images/button_down2.gif") no-repeat right center;
    background-size: 24px 18px;
    color: #fff;
    font-size: 1.1em;

    cursor: pointer;
}

.tooltipbox {
    padding: 0;

    justify-content: center;
}

.tooltip {
    margin: 0;
    padding: 10px;

    text-align: center;

    flex: 0 1 auto;

    color: white;
    background: #A91211;
}

.tooltip a {
    color: white;
}

.helparea {
    margin: 10px 0 0 0px;

    line-height: 18px;

    flex: 0 1 auto;

    align-items: center;
    align-content: center;

    background-color: #D5EBFD;
}

.helpico {
    border-radius: 20px;

    height: 40px;
    width: 40px;

    flex: 0 1 auto;

    background: #7AB3E3 url("../images/help_joker.png") no-repeat center center;
    background-size: 30px 30px;
}

.helpico:hover {
    background-color: #005E9C;

    cursor: pointer;
}

.linebox.correct .helpico {
    background: green !important;
}

.disabled.helpico {
    background-color: #A6D1F5;
}

.disabled.helpico:hover {
    background-color: #A6D1F5;

    cursor: default;
}

.handle {
    height: 16px;
    width: 16px;

    margin: 0 0 0 10px;
    border-radius: 8px;

    background: #7AB3E3;
}

.srcelem:hover .handle {
    background: #005E9C;
}

.srcelem.incorrect .handle {
    background-color: red !important;
}

.ui-draggable-dragging .handle {
    background: orange !important;
}

.srcelem.correct .handle {
    background-color: green !important;
}

.ui-draggable-disabled {
    cursor: default !important;
}

.ui-draggable {
    cursor: -webkit-grab; cursor: -moz-grab;
}