.title {
    text-align: center;
}

.right {
    background-color: lightgreen;
}

.wrong {
    background-color: rgba(240, 115, 210, 0.40);
}

.invisible {
    visibility: hidden;
}

#Textbox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 239, 239, 0.59);
    margin: 10px;
    color: black;
}

#Antwortbox {
    -webkit-box-shadow: 0 2px 5px darkgrey;
    -moz-box-shadow: 0 2px 5px darkgrey;
    box-shadow: 0 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    width: 30%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    min-height: 500px;
    align-items: center;
}

.cell {
    width: 25px;
    height: 25px;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    text-transform: capitalize;
    background-color: #fffffe;
}

.scell {
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    text-transform: capitalize;
    background-color: #fffffe;
}

.cell:focus {
    border-color: cadetblue;
}

.ofsol {
    background-color: lightgoldenrodyellow;
}

.hint {
    border-radius: 10px;
    background-color: rgba(143, 86, 255, 0.51);
    color: black;
}

.kwrtitle {
    text-align: center;
    font-family: Dosis, sans-serif;
    font-weight: bold;
    background-color: rgba(218, 165, 32, 0.75);
    border-radius: 5px;
    width: 40%;
    line-height: normal;
    margin-right: auto;
    margin-left: auto;
    min-width: 100px !important;
}

.dhead {
    background-color: #8f56ff;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dhead a {
    color: #ffffff;
    text-decoration: none;
}

.dbody {
    text-align: justify;
    padding: 0 10px 10px;

}

.dbody a {
    color: #8f56ff;
    font-weight: bold;
    text-decoration: none;
}

.helpmenu {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 80;
}

#solve {
    text-align: center;
}

.right {
    background-color: lightgreen;
}

.wrong {
    background-color: lightpink;
}

.buttondiv {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(18, 245, 120, 0.33);
    margin-top: 30px;
    padding: 10px;
    line-height: normal;
    cursor: pointer;
    font-weight: bold;
}

.buttondiv:hover {
    background-color: rgba(18,245,120,0.1);
}