.title {
    text-align: center;
}

.poem {
    margin-left: auto;
    margin-right: auto;
    display:table-cell;
    width: 360px;
}

.author {
    width: 80%;
    text-align: right;
    font-style: italic;
}

.text {

}

input {
    color: gray;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid black;
    font-size: 16px;
    margin: 0 5px;
    height: 20px;
    width:90px;
    font-family: monospace;

}

.right {
    background-color: lightgreen;
}

.wrong {
    background-color: rgba(240, 115, 210, 0.40);
    border-radius: 5px 5px 0 0;
}

.message {
    border-radius: 10px;
    background-color: #7AB3E3;
    color: black;

}
.dhead {
    background-color: #0083cb;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dhead a {
    color: #ffffff;
    text-decoration: none;
}

.dbody {
    text-align: justify;
    padding: 0 10px 10px;
}

.dbody a {
    color: #005E9C;
    font-weight: bold;
    text-decoration: none;
}

#Antwortbox {
    -webkit-box-shadow: 0 2px 5px darkgrey;
    -moz-box-shadow: 0 2px 5px darkgrey;
    box-shadow: 0 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    width: 30%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5EFF5;
    min-height: 500px;
    align-items: center;
}

#Textbox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 239, 239, 0.59);
    margin: 10px;
    color: black;
}

#Auswahlbox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    width: 50%;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(199, 255, 243, 0.9);
    margin: 10px;
    color: black;
}

.invisible {
    display: none;
}

#message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 15px;
    color: #005E9C;
}

.lek {
    width: 400px !important;
    min-width: 400px !important;
    height: 150px !important;
    min-height: 150px !important;
    border: 1px solid black;
    background: url("../images/glek2.png") no-repeat;
    margin-top: 20px;
    cursor: pointer;
}
.lek p {
    padding-left: 50px;
    font-family: Dosis, sans-serif;
    font-size: 25px;
    color: #6c00ff;
}
.lek .gr {
    padding-left: 35px;
    padding-top: 30px;
    color: black;
}
#testbutton{
    min-width: 50px;
    min-height: 50px;
    background-color: #00A000;
}
#overlaycontentbox{
    padding: 20px;
}
.poemglueck{
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: #618d4f;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 2px 7px #898d8b;
    -moz-box-shadow: 0px 2px 7px #898d8b;
    box-shadow: 0px 2px 7px #898d8b;
    text-align: center;
    width: 350px;
    background: url("../images/klee-back.jpg") repeat;
}
#Textbox{
    /*background: url("../images/glueck-back2.jpg") repeat;*/
}
.title{
    background: url("../images/gluck.jpg") no-repeat;
    height:90px;
    width: 250px;
    display: block;

    margin-left: auto;
    margin-right: auto;
}