path.form:hover{
    background-color: green;
}


#colorSwitcher{
    height: 100px;
    width: 120px;
}
.color{
    display: inline-block;
    height: 30px;
    width: 50px;
    margin: 2px;
}
#green1{
    background-color: #629833;
}
#green2{
    background-color: #BCE498;
}
#green3{
    background-color: #8CBE5F;
}
#green4{
    background-color: #407213;
}
.selected{
    border: solid 2px red;
}