/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#Aufgabenbox {
    color: white;
    background: #7AB3E3;
}

#flexbox {

    display: flex; /* or inline-flex */

    padding: 0 10px 0 0;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

#textbox {

    display: flex; /* or inline-flex */

    position: relative;

    margin: 10px 0 0 10px;

    width: 80%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: #A6D1F5;

}

#textoverlay {

    display: flex; /* or inline-flex */

    position: absolute;
    top: 0;
    left: 0;

    margin: auto;

    width: 100%;
    height: 100%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: #A6D1F5;
    opacity: 0.85;

}

#editor {

    overflow: auto;

    margin: 10px 0 10px 10px;
    padding: 10px;

    width: 80%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    background: aliceblue;

    white-space: pre-wrap;

    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;

}

.sentence {
    white-space: pre-wrap;
}

#checkarea, .loadarea {

    display: flex; /* or inline-flex */

    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    align-items: center;

    background: #A6D1F5;
}

#checkbutton, .loadbutton {

    height: 20px;
    width: 20px;

    flex: 0 1 auto;
    align-self: auto;

    background: #005E9C;
}

#checkbutton:hover {

    background: blue !important;

    cursor: pointer;
}

.mistake {
    color: white;
    background: #A91211;
}

.mistake:hover {
    background: turquoise;
}

.mistake.hover {
    background: turquoise;
}

#sentbox {

    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    width: 90%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: #A6D1F5;
}

.line {
    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: red;
}

.linebox {

    display: flex; /* or inline-flex */

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: greenyellow;
}

.textarea {

    padding: 10px 12px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    background: aliceblue;

}

.loadarea {
    background: aliceblue;
}

.loadbutton:hover {

    background: blue !important;

    cursor: pointer;
}

.linebox.active .loadbutton {

    background: darkturquoise;
}

.dataarea {

    display: none;
}

.errorbox {
    display: flex; /* or inline-flex */

    padding: 0 0 0 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: aliceblue;
}

.error {

    display: flex; /* or inline-flex */

    margin: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    background: yellow;
}

.errmsg {

    padding: 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    color: white;
    background: #A91211;

    text-align: center;

}

.errmsg.open:hover {
    background: #A91211 url("../images/button_up2.gif") no-repeat right;
    background-size: 40px 40px;
}

.errmsg.closed:hover {
    background: #A91211 url("../images/button_down2.gif") no-repeat right center;
    background-size: 40px 40px;
}

.errmsg:hover {

    background: turquoise;

    cursor: pointer;
}

.error.hover .errmsg {
    background: turquoise;
}

.errrep {
    display: flex;

    padding: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #D5EBFD;
}

.rep {

    margin: 10px 0 0 10px;
    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    background-color: lightseagreen;
    white-space: pre-wrap;
}

.errurl {

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    background: paleturquoise;
    text-align: center;
}

#treebox {
    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: mediumpurple;
}

.tree {
    flex: 0 1 auto;
    align-self: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.spinnerbox {

    display: flex; /* or inline-flex */

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    align-items: center;

}

.spinner {

    display: none;

    margin: auto;

    width: 40px;
    height: 40px;

    flex: 0 1 auto;
    align-self: auto;

    background-color: #005E9C;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
