/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#flexbox {

    display: flex; /* or inline-flex */

    padding: 0 10px 0 0;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

#textbox {

    display: flex; /* or inline-flex */

    position: relative;

    margin: 10px 0 0 10px;

    width: 80%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: yellowgreen;

}

#textoverlay {

    display: flex; /* or inline-flex */

    position: absolute;
    top: 0;
    left: 0;

    margin: auto;

    width: 100%;
    height: 100%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: white;
    opacity: 0.85;

}

#editor {

    padding: 10px 0 10px 10px;

    width: 80%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    background: yellow;

    white-space: pre-wrap;

}

.sentence {
    white-space: pre-wrap;
}

#checkarea {

    display: flex; /* or inline-flex */

    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    align-items: center;

    background: greenyellow;
}

#checkbutton {

    height: 20px;
    width: 20px;

    flex: 0 1 auto;
    align-self: auto;

    background: green;
}

#checkbutton:hover {

    background: blue !important;

    cursor: pointer;
}

.mistake {
    background: coral;
}

.mistake:hover {
    background: turquoise;
}

.mistake.hover {
    background: turquoise;
}

#sentbox {

    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    width: 90%;
    line-height: 20px;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: orange;
}

.line {
    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: orangered;
}

.errorbox {
    display: flex; /* or inline-flex */

    padding: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: darkred;
}

.error {

    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    background: lightblue;
}

.errmsg {

    padding: 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    background: coral;
    text-align: center;

}

.errmsg:hover {

    background: turquoise;

    cursor: pointer;
}

.error.hover .errmsg {
    background: turquoise;
}

.errrep {
    display: flex;

    padding: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #D5EBFD;
}

.rep {

    margin: 10px 0 0 10px;
    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    background-color: lightseagreen;
    white-space: pre-wrap;
}

.errurl {

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    background: paleturquoise;
    text-align: center;
}

.linebox {

    display: flex; /* or inline-flex */

    width: 100%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: greenyellow;
}

.textarea {

    padding: 10px;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    background: lightgoldenrodyellow;
}

.loadarea {

    display: flex; /* or inline-flex */

    padding: 10px;

    flex: 0 1 auto;
    align-self: auto;

    align-items: center;

    background: greenyellow;
}

.loadbutton {

    height: 20px;
    width: 20px;

    flex: 0 1 auto;
    align-self: auto;

    background: green;
    border-radius: 20px;
}

.loadbutton:hover {

    background: blue !important;

    cursor: pointer;
}

.linebox.active .loadbutton {

    background: darkturquoise;
}

.dataarea {

    display: none;
}

#treebox {
    display: flex; /* or inline-flex */

    margin: 10px 0 0 10px;
    padding: 0 10px 10px 0;

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: mediumpurple;
}

.tree {
    flex: 0 1 auto;
    align-self: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.spinnerbox {

    display: flex; /* or inline-flex */

    width: 80%;

    flex: 1 1 auto;
    align-self: auto;

    align-items: center;

}

.spinner {

    display: none;

    margin: auto;

    width: 40px;
    height: 40px;

    flex: 0 1 auto;
    align-self: auto;

    background-color: #333;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}
