/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#Aufgabenbox {
    color: white;
    background: #7AB3E3;
}

.flexcontainer {
    display: flex;

    padding: 0 10px 10px 0;

    flex-flow: row wrap;
}

.flexitem {
    margin: 10px 0 0 10px;

    flex: 1 1 auto;
}

.explanation {
    margin: 10px;
    padding: 10px;

    text-align: center;

    flex: 0 1 auto;

    color: white;
    background: #7AB3E3;
}

#definition {
    padding: 0 10px 0 0;

    line-height: 20px;
}

#textbox, #editorarea, #treebox, #sentbox {

    width: 80%;

    background: #A6D1F5;
}

#textbox, #treebox {
    padding: 0;

    justify-content: center;
}

#textbox {
    position: relative;
}

#editorarea {
    margin: 0;

    background: #0183D8;
}

#editorarea.incorrect, .line.incorrect  {
    background: #D32424;
}

#editorarea.correct, .line.correct  {
    background: #6B9713;
}

#editor {
    overflow: auto;

    width: 60%;

    margin-left: 10px;
    padding: 10px 0 10px 10px;

    background: aliceblue;

    white-space: pre-wrap;

    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
}

.text {
    white-space: pre-wrap;
}

.mistake {
    color: white;
    background: #D32424;
}

.mistake:hover {
    background: #E45252;
}

.mistake.hover {
    background: #A8D54D;
}

#startarea, #checkarea, .loadarea, .errarea {
    flex: 0 1 auto;

    align-items: flex-start;
    align-content: center;
}

#startarea, #checkarea {
    background: aliceblue;
}

#checkarea {
    margin-left: 0;
}

.loadarea, .errarea {
    margin: 0;
}

#checkbutton, .loadbutton, .errtriangle {
    height: 20px;
    width: 20px;
}

#checkbutton {
    background: #005E9C;
}

#checkbutton:hover {
    background: #0999F6 !important;

    cursor: pointer;
}

.loadbutton {
    background: #008847;
}

.loadbutton:hover {
    background: #00DA71 !important;

    cursor: pointer;
}

.linebox.active .loadbutton {
    background: #0999F6;
}

.errtitle.open:hover .errtriangle {
    background: url("../images/arrow_up.png") no-repeat center center;
    background-size: 35px 35px;
}

.errtitle.closed:hover .errtriangle {
    background: url("../images/arrow_down.png") no-repeat center center;
    background-size: 35px 35px;
}

.line {
    padding: 0;

    width: 60%;

    background: aliceblue;
}

.linebox {
    margin: 0;
    padding: 0;
}

.textarea {
    padding: 0 0 10px 0;
    width: 60%;
}

.sentence {
    white-space: pre-wrap;
}

.dataarea {
    display: none;
}

.errorbox {
    background: #FFA9A9;
}

#textboxeb {
    margin: 0;
}

.error, .errtitle {
    padding: 0;
}

.errtitle, .errstatus, .errmsg, .errrep, .errurl {
    margin: 0;
}

.error {
    width: 80%;

    justify-content: center;
}

.error.hover .errtitle {
    background: #D32424;
}

.errtitle {

    width: 60%;

    text-align: center;

    color: white;
    background: #A91211;
}

/*.error.deleted .errtitle {
    background: #A95611;
}

.error.modified .errtitle {
    background: #D37324;
}*/

/*.errtitle.open:hover, .errtitle.closed:hover {
    cursor: pointer;
}*/

.errtitle:hover {
    background: #D32424;
}

.error.open:hover .errtitle, .error.closed:hover .errtitle {
    cursor: pointer;
}

.error.open:hover .errtriangle {
    background: url("../images/arrow_up.png") no-repeat center center;
    background-size: 35px 35px;
}

.error.closed:hover .errtriangle {
    background: url("../images/arrow_down.png") no-repeat center center;
    background-size: 35px 35px;
}

.errstatus {
    padding: 10px;

    flex: 0 1 auto;

    font-weight: bold;
}

.errmsg {
    padding: 10px;

    width: 60%;
}

.error.new .errstatus:before {
    content: "NEU";
}

.error.modified .errstatus:before {
    content: "BEARBEITET";
}

.error.deleted .errstatus:before {
    content: "ENTFERNT";
}

.errrep {
    width: 80%;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #FFE8E8;
}

.rep {
    padding: 10px;

    flex: 0 1 auto;

    background-color: #A8D54D;
    white-space: pre-wrap;

    cursor: pointer;
}

.rep:hover {
    background: #8EC029;
}

.errurl {
    width: 80%;

    text-align: center;

    background: #FFCBCB;
}

#textoverlay {
    position: absolute;
    top: 0;
    left: 0;

    margin: auto;
    padding: 0;

    width: 100%;
    height: 100%;

    background: #A6D1F5;
    opacity: 0.85;
}

.spinnerbox {
    align-items: center;
}

.spinner {
    display: none;

    margin: auto;

    width: 40px;
    height: 40px;

    flex: 0 1 auto;

    background-color: #005E9C;

    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

#tree {
    flex: 0 1 auto;
    align-self: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1.5px;
}

