#wrapper {
    width: 100%;
    display: block;
    min-height: 600px;
}


#Textbox{
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    width: 75%;
    display: block;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 239, 239, 0.59);
    margin: 10px auto;
    color: black;

}

p {
    text-align: justify;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.slot {
    margin: 2px 5px;
    margin-top: 6px;
    font-family: monospace;
    font-size: 1.2em;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(239, 239, 239, 0);
}
.tooltip{
    font-size: 1em;
    background-color: rgba(250, 250, 210, 0.78);
    position: relative;
    padding: 0px;
    opacity: 1;
    display: inline-block;
}
