#wrapper {
    width: 100%;
    display : table;
    float : center;

}

#Textbox{
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    width: 90%;
    float: left;
    display: table-cell;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 239, 239, 0.59);
    margin: 10px;
    color: black;
}
#Platzhalter {
    width: 5%
overflow: center
}
#Antwortbox {

    -webkit-box-shadow: 0px 2px 5px #97a991
-moz-box-shadow: 0px 2px 5px darkgrey
box-shadow: 0px 2px 5px darkgrey;
    background-color: rgba(181, 237, 239, 0.29);
    display: table-cell;
    padding: 20px;
    width: 30%;
    height: 420px;
    float: right;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

input {
    margin: 6px 5px 2px;
    font-family: monospace;
    height: 20px;
    width: 175px;
    border: none;

    border-bottom: 1px solid black;
    background-color: rgba(239, 239, 239, 0);
}

.right {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}

#message {
    font-size: 2.2em;
    text-align: center;
    color: green;
    border: 5px solid darkgreen;
    border-left: none;
    border-right: none;
    width: 200px;
    margin: auto;
    display: none;
}