body {
    margin: 0;
    min-width: 1024px;
    font-family: "Meta", sans-serif;
    height: 100%;
    font-size: 12px;
    overflow-y: scroll;
    background: #E5EFF5 url("../images/siegel.png") no-repeat scroll -159px 129px;
}

#startoverlaybackground {
    margin: 0px;
    height: 100%;
    width: 100%;
    min-width: 1024px;
    background: #005E9C;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    display: none;
}

#startoverlaybluebar {
    margin-top: 13px;
    height: 130px;
    width: 100%;
    min-width: 1024px;
    background: #005E9C;
    position: absolute;
    z-index: 3002;
    display: none;
}

#startoverlayheader {
    width: 100%;
    position: relative;
}

.startoverlayheaderbar {
    padding: 5px;
    margin: 0px 0px 10px 0px;
    min-height: 50px;
    font-weight: bold;
    text-align: center;
    background: #7AB3E3;
    color: white;
    text-align: center;
}

.startoverlayheaderinfo {
    margin: 2.5px 2.5px;
    padding: 0px 3px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #E5EFF5;
    display: inline-block;
}

#startoverlaymediatypeicon, #startoverlaycloseicon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    background: #E5EFF5;
    color: #A1BED6;
    float: left;
    border-radius: 25px;
}

#startoverlaycloseicon {
    float: right;
}

#startoverlayheadertext {
    margin: 0 55px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}



#startoverlay {
    margin: 0px;
    width: 100%;
    min-width: 1024px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3003;
    display: none;
}

#startoverlaywatermark {
    margin: 0px;
    height: 958px;
    width: 100%;
    min-width: 1024px;
    background: url("../images/siegel_weiss.png") no-repeat scroll -159px 129px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3001;
    display: none;
}

#startoverlaywrapper {
    margin: 11px 15% 11px 15%;
}

#startoverlaybox {
    margin-left: -20px;
    margin-right: -20px;
    border: 10px solid #E5EFF5;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #4D4D4F;
    background: #E5EFF5;
}

#startoverlaycontent {
    margin: 0px;
    padding: 0px;
}

#redbackground {
    min-width: 1024px;
    margin-top: 13px;
    height: 130px;
    width: 100%;
    background: #A91211;
    z-index: 1;
    position: absolute;
}

#specialbackground {
    min-width: 1024px;
    margin-top: 143px;
    width: 100%;
    height: 210px;
    z-index: 1;
    position: absolute;
}

#specialtest {
    margin: 0px;
    height: 220px;
    width: 15%;
    background: green;
    float: right;
}

#special_bar {
    margin: 0px;
    /*background-color:#A91211;*/
    width: 13.9%;
    z-index: 1;
    float: right;
}

#point_bars_div, #point_bars {
    margin: auto;
    height: 115px;
    width: 100px;
}

#special_nav{
    margin: 0px auto;
    padding: 0px;
    height: 45px;
    width: 100px;
    text-align: center;
}

#redstripes {
    margin-top: 148px;
    width: 100px;
    z-index: 1000;
    position: absolute;
}
.redcontainer{
    margin-top: 15px;
    margin-left: 15px;
    background: rgb(169, 18, 17);
    display: none;
    z-index: 1001;
    width: 200%;
    position: relative;
    overflow: hidden;
}

.vfeedback{
    margin-left:30%;
    margin-top: 25%;
    height: 200px;
    z-index: 1500;
    width: 200px;
    position: fixed;
    overflow: hidden;
    display: none;
}
#vifeedbackFalsch{
    background-image:url("../images/falsch.png");
}
#vifeedbackKorrekt{
    background-image:url("../images/korrekt.png");
}

.redcontainer p{
    color: white;
    margin: 10px;
}
.redcontainer a{
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

.redstripe {
    margin-top: 15px;
    width: 0;
    padding-left: 8px;
    padding-right: 12px;
    height: 27px;
    background: #A91211;
    z-index: 1001;
    border-radius: 0 0 20px 0;
    box-shadow: 2px 2px 6px #4D4D4F;
    color: #A91211;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}

.redtext {
    text-align: center;
    padding:2px;
}

.redlink {
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    color: #A91211;
}

#specialtest {
    margin: 0px;
    height: 220px;
    width: 15%;
    background: green;
    float: right;
}

#special_bar {
    margin: 0px;
    /*background-color:#A91211;*/
    width: 13.9%;
    z-index: 1;
    float: right;
}

#point_bars_div, #point_bars {
    margin: auto;
    height: 115px;
    width: 100px;
}

.special_nav{
    margin: 0px auto;
    padding: 0px;
    height: 45px;
    width: 100px;
    text-align: center;
}

.special_nav a#ind{background-image: url("../images/button1.png");width: 44px;height: 44px;display: inline-block;background-size: 44px; margin: 0px auto;}
.special_nav a#ind:hover{background-image: url("../images/button1hover.png");}
.special_nav a#las{background-image: url("../images/button2.png");width: 44px;height: 44px;display: inline-block;background-size: 44px;margin: 0px auto;}
.special_nav a#las:hover{background-image: url("../images/button2hover.png");}
.special_nav a#nex{background-image: url("../images/button3.png");width: 44px;height: 44px;display: inline-block;background-size: 44px;margin: 0px auto;}
.special_nav a#nex:hover{background-image: url("../images/button3hover.png");}
.special_nav a#fee{background-image: url("../images/feedback.png");width: 44px;height: 44px;display: inline-block;background-size: 44px;margin: 0px auto;}
.special_nav a#fee:hover{background-image: url("../images/feedbackhover.png");}

#redstripes{margin-top: 148px;width: 100px;z-index: 1000;position: absolute;}
.redstripe{margin-top: 15px;width: 0;padding-left: 8px;padding-right: 12px;height: 27px;background: #A91211;z-index: 1001;border-radius: 0 0 20px 0;box-shadow: 2px 2px 6px #4D4D4F;color: #A91211;white-space: nowrap;overflow: hidden;display: none;}
.redtext{
    text-align: center;
    padding:2px;
}
.redlink {
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    color: #A91211;
}

.logo{
     margin:2px auto;
     padding: 2px;
     width: 40px;
     height: 40px;
     display: inline-block;
     text-align: center;
 }
#button1{
}
#darkblueNav {
    min-width: 640px;
    margin-top: 90px;
    height: 32px;
    width: 62.5%;
    color: #D5EBFD;
    font-weight: bold;
    border-radius: 0 20px 0 0;
    box-shadow: 2px 2px 6px #4D4D4F;
    background: #005E9C;
    z-index: 4;
    position: absolute;
    float: right;
}
#header {
    margin-left: -20px;
    margin-top: 23px;
    padding-top: 10px;
    height: 100px;
    width: 100%;
    border-left: 10px solid #D5EBFD;
    border-right: 30px solid #D5EBFD;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #4D4D4F;
    background: #D5EBFD;
    z-index: 3;
    position: absolute;
}
#headerblocker {
    height: 140px;
    width: 100%;
}
mark.codex {
    color: #A91211;
    background: #D5EBFD;
}
img.codexLogo {
    height: 40px;
    float: left;
}
#titletext {
    margin: 10px;
    font-size: 28px;
    font-weight: bold;
    float: left;
}
img.uniLogo {
    height: 90px;
    margin-right: -20px;
    float: right;
}
#container {
    margin: 8px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: left;
    z-index: 2;
    position: relative;
    min-width: 716px;
}
#mainboard {
    margin-left: -10px;
    margin-top: 3px;
    width: 100%;
    border-left: 10px solid #A1BED6;
    border-right: 10px solid #A1BED6;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #4D4D4F;
    background: #A1BED6;
    overflow: hidden;
    float: left;
}

#maincontent {
    margin-top: 10px;
    width: 100%;
}
#footer {
    width: 100%;
    font-size: 10px;
    background-color: #A1BED6;
    border: 0 none;
}
#impressum {
    float: left;
    margin: 7px 0;

    word-spacing: 10px;
}
.footerlink {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}
#endfloat {
    clear: both;
}

#navigation {
    margin-left: -20px;
    padding-left: 24%;
}

#navigation ul {
    padding: 0;
    margin: 0;
}
#navigation ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

#navigation ul li{
    background-color: #005E9C;
}

#navigation ul li {
    list-style: none;
    float:left;
}

#navigation ul li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 9px 18px 8px 18px;
}

#navigation ul li:hover > ul {
    visibility: visible;
}

#navigation ul li ul{
    margin-left: -1px;
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0;
}

#navigation ul li ul li{
    float: none;
}

#navigation ul li ul li a:hover{
    color: #333;
}

#navigation ul {
    padding: 0;
    margin-bottom: -1px;
}

#navigation ul li {
    margin-top: 1px;
    margin-bottom: 0;
    list-style: none;
    float:left;
    border-left: 1px solid #D5EBFD;
}

#navigation ul li a {
    text-decoration: none;
    display: block;

    -webkit-transition: background 0.3s ease-out 0s;
    -moz-transition: background 0.3s ease-out 0s;
    -o-transition: background 0.3s ease-out 0s;
    transition: background 0.3s ease-out 0s;
}

#navigation ul li.cat1:hover a, nav ul li.cat1:hover > ul li a  {
    background-color: #A91211;
    box-shadow: 2px 2px 6px #4D4D4F;
}

#navigation ul li:hover > a {
    color: #FAFAFA;
}

#navigation ul li ul li a {
    color: #FAFAFA;
}

#navigation ul li ul li a:hover{
    color: #333;
    background-color: #FAFAFA !important;
}

#Aufgabenbox {
    /*text-align: center;
    color: #000000;
    background: #E5EFF5;
    position: relative;
    border: 5px solid #005E9C;

    background: rgba(99, 168, 255, 0.93);
    padding: 5px;
    display: block;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;*/
    padding: 5px;
    /*background: #A6D1F5|#D5EBFD|#005E9C;*/
    background: #A6D1F5;
    color: black;
    position: relative;
    z-index: 1;
    text-align: center;
}


/*Layout-Alternative*/
/*
#Aufgabenbox:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-top: 4px solid #005E9C;
    border-bottom: 4px solid #005E9C;
}*/

  body #page {
    margin: auto;
    display: block;
    padding: 20px;
    background-color: white;
    border: solid;
    border-color: #555ea9;
    min-width: 850px;
    width: 95%;
    position: static;
    min-height: 500px;
  }

  #loginbox{
    width:400px;
    margin:10px auto;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    -webkit-box-shadow: 0 0 4px darkgrey;
    -moz-box-shadow: 0 0 4px darkgrey;
    box-shadow: 0 0 4px darkgrey;
}

  #loginbox h1{
      background: #005E9C;
      padding:20px 0;
      font-size:140%;
      font-weight:300;
      text-align:center;
      color:#fff;
      margin: 0;
      background: -webkit-linear-gradient(#005E9C 60%, #0083cb); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#005E9C 60%, #0083cb); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#005E9C 60%, #0083cb); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#005E9C 60%, #0083cb); /* Standard syntax */
    }

    #loginbox form{
      background:#f0f0f0;
      padding:6% 4%;
    }

  #loginbox input[type="text"],
  #loginbox input[type="password"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

#loginbox input[type="submit"]{
    width:100%;
    background:#005E9C;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
#loginbox input[type="submit"]:hover{
    background:#0083cb;
}

#wrapper {
    width: 100%;
    display: table; }
    body #page #header {
      display: table;
      width: 100%; }
    body #page #logo {
      display: table-cell;
      position: relative;
      padding: 10px;
      float: right; }
    body #page #trow {
      display: table-cell; }
    body #page #front {
      display: block;
      position: relative;
      padding: 15px;
      float: left; }
    body #page #nav {
      font-size: 1.2em;
      font-family: 'Dosis', sans-serif;
      display: block;
      width: 95%;
      list-style: none;
      float: left;
      padding: 0;
      position: relative;
      z-index: 5;
      border-top: solid;
      border-bottom: solid;
      margin-bottom: 30px;
      margin-top: 20px;
      border-color: gray;
      border-width: 1px; }
    body #page #nav li {
      float: left;
      margin-right: 10px;
      position: relative; }
    body #page #nav a {
      margin-right: 1em;
      display: block;
      padding: 10px;
      color: black;
      text-decoration: none; }
    body #page #nav a:hover {
      color: white;
      background: cornflowerblue;
      text-decoration: none; }
    body #page #nav ul {
      list-style: none;
      position: absolute;
      display: none; }
    body #page #nav ul li {
      padding-top: 2px;
      float: none;
      left: -40px; }
    body #page #nav ul a {
      white-space: nowrap; }
    body #page #nav li:hover ul {
      display: block; }
    body #page #nav li:hover a {
      background: cornflowerblue;
      text-decoration: none; }
    body #page #nav li:hover ul a {
      text-decoration: none; }
    body #page #content {
      width: 100%;
      position: relative;
      float: left; }

#Field{
    color: navajowhite;
    font-family: 'Dosis', sans-serif;
    background: rgba(101, 70, 229, 0.60);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table;
}

#Field span:hover {
    cursor: pointer;
    background: rgba(101, 70, 229, 0.82);
}


#Field a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

#Field a:hover {
    text-shadow: 0 0 10px white;
}
#Field span p #infotext{
    font-size: 30px;
    margin: 0;
    padding:0;
}

#Field span {
    width: 25%;
    text-align: center;
    display: table-cell;
}

#Field #help:hover > #inner {
    display: block;
}

#Field span #inner {
    display: none;
    float: none;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 70, 229, 0.78);
    left: 25%;
}

#Field span #inner:hover {
    background-color: rgba(143, 139, 229, 0.67);
}

#jqDialog_box {
    background: rgba(101, 70, 229, 0.90);
    position: absolute;
    width: 450px;
    height: 150px;
    font-family: Arial;
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: #3300cc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 0 30px #e6e6e6;
    color: white;
}

#jqDialog_content {
    margin: 10px;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 18px;
    height: 90px;
    overflow: hidden;
    text-shadow: 0 0 5px black;
}

#jqDialog_options {
    margin: 10px;
    text-align: center;
}

#jqDialog_options button {
    font-family: Arial;
    margin-right: 5px;
    background: rgba(98, 8, 255, 0.79);
    border: 0;
    font-size: 1.5em;
    color: #fff;
    width: auto;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#jqDialog_input {
    padding: 4px;
    width: 250px;
}

#jqDialog_close {
    background: none;
    border: none;
    float: right;
    font-weight: bold;
    font-size: 10px;
    color: #ff0000;
    cursor: pointer;
}

#Field span .help {
    display: none;
}

.helpmenu {
    position: fixed;
    top: 75%;
    left: 0;
    display: table;
    width: 100%;
    height: 25%;
    color: white;
    z-index: 80;
}

.helpmenu span {
    width:25%;
    height:100%;
    display: table-cell;
}

.helpmenu .menuitem {
    width: 100%;
    text-align: center;
    background: rgba(101, 70, 229, 0.60);
   /* background-color: rgba(86, 66, 245, 0.51);*/
    margin: 5px 0;
    padding: 10px 0;
    z-index: 99;
}

.helpmenu .menuribbon #menutitle {
    text-align: center;
    /*display: inline-block;*/
    font-family: 'Dosis', monospace;
    font-size: 25px;
}

.helpmenu .menuribbon i {
    position: absolute;
    left: 48%;
    top: 20px;
    color: red;
}
.helpmenu .menuribbon i:hover {
    color: #ffffff;
}

.helpmenu .menuitem:hover {
    background-color: #5642f5;
}

.helpmenu .menuitem a {
    display: block;
    text-decoration: none;
    color: #e1a500;
}

.helpmenu .menuitem a:hover {
    color: white;
}

.menuhidden {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

.menuribbon {
    background: rgba(101, 70, 229, 0.60);
    /*background: rgba(101, 70, 229, 0.90);*/
}

#balken_aussen {
    display: inline-block;
    width: 216px;
    height: 17px;
    background: white;
    padding: 1px;
    margin:0 auto;
    float: left;
}

#balken_innen1 {
    background: lawngreen;
    display: inline-block;
    width: 0;
    height: 15px;
    float: left;
}

#balken_innen2 {
    background: red;
    display: inline-block;
    height: 15px;
    width: 0;
    float: left;
}

#content_background {
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    background-color: #E5EFF5;
}

#subjecttitle {
    padding: 5px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: black;
    background: #A6D1F5;
}

#text {

}

#media {

}

#tasks {

}

.startpanel {
    margin: 10px 10px auto;
    background: #D5EBFD;
    padding-bottom: 1px;
    min-height: 600px;
}

.panelheader {
    padding: 5px 5px 5px 55px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    background: #7AB3E3;
}

.panelarrow {
    margin: 1px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #A6D1F5 url("../images/button_down2.gif");
    float: right;
    border-radius: 25px;
}


#subjecttext {
    padding: 0 10px;
}

#mediashow {
    margin: 0 50px;
    overflow: auto;
    text-align: center;
    padding: 5px 5px;
 }


.mediaimage {
    height: 100px;
}

.task {
    margin: 10px 10px;
    text-align: center;
}

.taskmedia {
    margin: 0 60px;
    padding: 5px;
    text-align: center;
    background: #E5EFF5;
    display: none;
}

.taskicon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    background: #A6D1F5;
    float: left;
    border-radius: 25px;
}

.taskpoints {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    background: #A6D1F5;
    float: right;
    border-radius: 25px;
}

.tasktitle {
    display: flex;
    padding: 5px;
    margin: 0 60px 0 0;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    background: #A1BED6;
    color: white;
    cursor: pointer;
}


.taskstart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    background: #E5EFF5 url("../images/button_right2_small.gif");
    border-radius: 20px;
    margin-right:5px;
}
.text_media {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-right: 5px;
    background: url("../images/Icon_Text.png");
    background-repeat: no-repeat;
}
.text_media:hover{
    background: url("../images/Icon_Text_hover.png");
    background-repeat: no-repeat;
}
.video_media {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-right: 5px;
    background: url("../images/Icon_Video.png");
    background-repeat: no-repeat;
}
.video_media:hover{
    background: url("../images/Icon_Video_hover.png");
    background-repeat: no-repeat;
}
.text_audio_media {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    margin-right: 5px;
    background: url("../images/Icon_Text_Audio.png");
    background-repeat: no-repeat;
}
.text_audio_media:hover{
    background: url("../images/Icon_Text_Audio_hover.png");
    background-repeat: no-repeat;
}

.t_title{
    line-height: 40px;

    flex:1;
}
.t_title p{
    text-align: center;
    margin: 2px auto;
}

.tasklink {
    padding: 13px 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

#impressumcontent {
    margin: 0 10px -10px 10px;
}

#Textbox {
    width: 45%;
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(229,239,245, 0.8);
    margin: 10px;
    color: black;
    line-height: 30px;
}

#content{
    width: 100%;
}
#content_image{
    padding-top: 40px;
    display: inline-block;

    width: 45%;
    text-align: center;
    float:left;
}
#content_image img{
    margin: 10px auto;

}
#content_content{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}