/*
Syntax error: Invalid property: "background-color:" (no value).
        on line 263 of mystyle.sass

258:   font-style: normal
259: 
260: #Aufgabe
261:   color: #000000
262:   text-indent: 0
263:   background-color:
264:   padding: 10px
265:   position: fixed
266:   bottom: 0
267:   left: 0
268:   min-width: 100%

Backtrace:
mystyle.sass:263
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:614:in `parse_property'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:597:in `parse_property_or_rule'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:578:in `parse_line'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:471:in `build_tree'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:490:in `block in append_children'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:489:in `each'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:489:in `append_children'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:480:in `block in build_tree'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:473:in `each'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:473:in `build_tree'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:490:in `block in append_children'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:489:in `each'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:489:in `append_children'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:345:in `_to_tree'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin.rb:81:in `update_stylesheets'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/exec.rb:443:in `watch_or_update'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.2.12/bin/sass:9:in `<top (required)>'
C:/Rails/Ruby1.9.3/bin/sass:23:in `load'
C:/Rails/Ruby1.9.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid property: \"background-color:\" (no value).\A         on line 263 of mystyle.sass\A \A 258:   font-style: normal\A 259: \A 260: #Aufgabe\A 261:   color: #000000\A 262:   text-indent: 0\A 263:   background-color:\A 264:   padding: 10px\A 265:   position: fixed\A 266:   bottom: 0\A 267:   left: 0\A 268:   min-width: 100%"; }
