body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  position: static;
  height: 100%;
  padding: 20px; }
  body #page {
    margin: auto;
    display: block;
    padding: 20px;
    background-color: white;
    border: solid;
    border-color: #555ea9;
    min-width: 850px;
    width: 95%;
    position: static;
    min-height: 500px; }

  #loginbox{
    width:400px;
    margin:0 auto;
    margin-left: 50%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
    -webkit-box-shadow: 0px 0px 4px darkgrey;
    -moz-box-shadow: 0px 0px 4px darkgrey;
    box-shadow: 0px 0px 4px darkgrey;
}

  #loginbox h1{
      background: #3399cc;
      padding:20px 0;
      font-size:140%;
      font-weight:300;
      text-align:center;
      color:#fff;
      margin: 0px;
      background: -webkit-linear-gradient(#3399cc 60%, #2288bb); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#3399cc 60%, #2288bb); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#3399cc 60%, #2288bb); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#3399cc 60%, #2288bb); /* Standard syntax */
    }

  form{
      background:#f0f0f0;
      padding:6% 4%;
  }

  input[type="text"],input[type="password"]{
    width:92%;
    background:#fff;
    margin-bottom:4%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:95%;
    color:#555;
}

  input[type="submit"]{
    width:100%;
    background:#3399cc;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
  input[type="submit"]:hover{
    background:#2288bb;
}

#wrapper {
    width: 100%;
    display: table; }
    body #page #header {
      display: table;
      width: 100%; }
    body #page #logo {
      display: table-cell;
      position: relative;
      padding: 10px;
      float: right; }
    body #page #trow {
      display: table-cell; }
    body #page #front {
      display: block;
      position: relative;
      padding: 15px;
      float: left; }
    body #page #nav {
      display: block;
      width: 95%;
      list-style: none;
      margin-bottom: 10px;
      float: left;
      padding: 0px;
      position: relative;
      z-index: 5;
      border-top: solid;
      border-bottom: solid;
      margin-bottom: 30px;
      margin-top: 20px;
      border-color: gray;
      border-width: 1px; }
    body #page #nav li {
      float: left;
      margin-right: 10px;
      position: relative; }
    body #page #nav a {
      margin-right: 1em;
      display: block;
      padding: 10px;
      color: black;
      text-decoration: none; }
    body #page #nav a:hover {
      color: white;
      background: cornflowerblue;
      text-decoration: none; }
    body #page #nav ul {
      list-style: none;
      position: absolute;
      display: none; }
    body #page #nav ul li {
      padding-top: 2px;
      float: none;
      left: -40px; }
    body #page #nav ul a {
      white-space: nowrap; }
    body #page #nav li:hover ul {
      display: block; }
    body #page #nav li:hover a {
      background: cornflowerblue;
      text-decoration: none; }
    body #page #nav li:hover ul a {
      text-decoration: none; }
    body #page #content {
      width: 100%;
      position: relative;
      float: left; }
