.typeInWord {
    margin: 2px 5px;
    margin-top: 6px;
    font-family: monospace;
    height: 20px;
    width: 175px;
    border: none;

    border-bottom: 1px solid black;
    background-color: rgba(239, 239, 239, 0);
}