#ww3_form {
    width: 460px;
    height: 134px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.Tipps {
    margin-left: 3px;
    background-color: rgba(71, 205, 188, 0.53);
    color: #0d3349;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-left: 40px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-align: center;
    font-weight: bold;
    border-radius: 20%;

}

.Tipps:hover {
    background-color: rgba(86, 255, 238, 0.53);
}


#Container {
    width: 100%;
    padding-bottom: 30px;
}