form{
    background:#f0f0f0;
    padding:6% 4%;
}
#wrapper{
    height: 400px;
}


#spiral_area{
    height:500px;
    width:500px;
    float: left;
}
#spiral_area h2 span {
    font: 26px Monaco, MonoSpace;

    height: 200px;
    position: absolute;
    color:#005E9C;
    width: 20px;
    left: 23%;
    top: 20%;
    transform-origin: bottom center;
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}
#textbox{
    position: absolute;
    top:20%;
    float: left;
}
