/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

#flexybox {
    margin: 0 10px 0 0;

    display: flex; /* or inline-flex */

    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#text {
    width: 40%;

    margin: 10px 0 0 10px;
    padding: 10px;

    flex: 1 1 auto;
    align-self: auto;
    /*order: <integer>*/

    background-color: aliceblue;
}

select.dropbox {
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/
    /*width: 24px;*/
    border-radius: 2px;
    background: #7AB3E3 url("../images/button_down2.gif") no-repeat right center;
    background-size: 24px 18px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
    color: #fff;
    
    cursor: pointer;
    display: inline;
}