#wrapper {
    width: 100%;
    display: table; }

#Platzhalter {
    padding: 10px;
    display: table-cell;
    width: 2%; }

#oben {
    margin: 20px auto;
    display: table;
    max-height: 500px; }
#oben p {
    text-align: center; }

#links {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    display: table-cell;
    background-color: rgba(2, 255, 85, 0.16);
    border-radius: 50%;
    width: 400px;
    height: 300px; }

#ltext {
    margin: 10px auto;
    padding: 15px; }

#rtext {
    margin: 10px auto;
    padding: 15px; }

#rechts {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    display: table-cell;
    background-color: rgba(2, 255, 85, 0.28);
    border-radius: 50%;
    width: 400px;
    height: 300px; }

#Antwortbox {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    padding: 20px;
    margin: -10px auto;
    display: box;
    width: 50%;
    border-radius: 50%;
    background-color: rgba(2, 255, 85, 0.28);
    min-height: 180px; }
#Antwortbox p {
    text-align: center; }

.token {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    background: rgba(239, 239, 239, 0.59);
    color: green;
    font: bold;
    padding: 8px;
    display: inline-block;
    margin: 20px;
    border-radius: 50%; }

.kolo {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    background: rgba(239, 239, 239, 0.59);
    color: green;
    font: bold;
    padding: 8px;
    display: inline-block;
    margin: 20px;
    border-radius: 50%; }

.antworttoken {
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    background: rgba(239, 239, 239, 0.59);
    color: green;
    font: bold;
    display: inline-block;
    margin: 0px auto;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top:30px;
}

.token:hover {
    background-color: #99ff66; }

.kolo:hover {
    background-color: #99ff66;
}
.antworttoken:hover {
    background-color: #99ff66;
}

#antwort{
    display: table;
    margin: 10px auto;
    height: 70px;
    width: 350px;
}

#a1{
    background: white;
    display:table-cell;
    height: 70px;
    width: 150px;
}

#a2{
    background: white;
    display:table-cell;
    background: white;
    display:table-cell;
    height: 70px;
    width: 150px;
}

#Aufgabe {
    color: black;
    text-indent: 0;
    background: rgba(159, 255, 177, 0.8);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%; }

#balken_aussen {
    display: inline-block;
    width: 200px;
    height: 17px;
    background: white;
    padding: 1px;
    margin-right: 30px;
    float: left; }

#balken_innen1 {
    background: lawngreen;
    display: inline-block;
    width: 0px;
    height: 15px; }

#balken_innen2 {
    background: red;
    display: inline-block;
    height: 15px;
    width: 0px; }

h1 {
    position: fixed;
    font-size: 10em;
    top: 50%;
    left: 30%;
    color: green;
    -webkit-animation: richtig 1s; /* Chrome, Safari, Opera */
    -moz-animation: richtig 1s;
    animation: richtig 1s;
}
h2 {
    position: fixed;
    font-size: 10em;
    top: 50%;
    left: 30%;
    color: red;
    -webkit-animation: richtig 1s; /* Chrome, Safari, Opera */
    -moz-animation: richtig 1s;
    animation: richtig 1s;
}

@-webkit-keyframes richtig{
    from {
        font-size: 1em;
        position: fixed;
        font-size: 1em;
        top: 50%;
        left: 30%;
    }

    to {
        font-size: 10em;
        position: fixed;
        top: 50%;
        left: 30%;
        margin: 0px auto;
    }
}

#Aufgabe a{
    float: right;
    margin-right: 20px;
}