
form{
    background:#f0f0f0;
    padding:6% 4%;
}


#Field{
    color: navajowhite;
    font-family: 'Open Sans Condensed', sans-serif;
    background: rgba(101, 70, 229, 0.60);
    /*background: rgba(255, 139, 54, 0.66);*/
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table;
}
#Field a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-left: 18%;
}
#Field .span {
    width: 25%;
    text-align: center;
    display: table-cell;
}
#Field .inline_span{
    display: none;
}

#Field a:hover + .inline_span{
    display: block;
    width: 100%;
}
#Field .inline_span:hover{
    display: block;
    width: 100%;

}
.wortbox{
    -webkit-box-shadow: 0px 2px 5px darkgrey;
    -moz-box-shadow: 0px 2px 5px darkgrey;
    box-shadow: 0px 2px 5px darkgrey;
    background:rgba(239, 239, 239, 0.59);
    margin: 0px auto;
    min-height: 200px;
    padding: 15px;
    width: 60%;
    font-size: 1.5em;
    text-align: center;
}
.wortbox h5{
    margin: 15px;
}

.ui-effects-wrapper {
    display:inline;
}

.wort{
    -webkit-box-shadow: 0px 2px 5px darkgray;
    -moz-box-shadow: 0px 2px 5px darkgray;
    box-shadow: 0px 2px 5px darkgray;
    background: lightgoldenrodyellow;
    color: black;
    font: bold;
    padding: 5px;
    display: inline-block;
    flex-direction: column;
    margin: 10px;
    border-radius: 7%;
    position: relative;
}

#arrow{
    position: fixed;
    top: 10%;
    left: 12%;
    opacity: 0;
}