#wrapper {
  width: 100%;
  display: table; }

#Textbox {

  width: 45%;
  display: table-cell;
  vertical-align: top;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E5EFF5;
  margin: 10px;
  color: black; }

.inline {
  display: inline-block;
  background-color: transparent;
  color: darkgray;
  margin-top: 1px;
  margin-left: 3px;
  margin-right: 3px; }

.slot {
  margin: 2px 5px;
  border: none;
  font-family: monospace;
  height: 20px;
  width: 175px;
  border-top: hidden;
  border-bottom-color: hidden;
}

#Antwortbox {

  background-color: #E5EFF5;
  display: table-cell;
  vertical-align: top;
  padding: 10px;
  padding-top: 100px;
  width: 40%;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif; }

#Platzhalter {
  padding: 10px;
  display: table-cell;
  width: 2%; }

.draggie.ui-draggable-dragging {

  font-size: 1em;
  padding: 3px;
  margin: 3px;
  background: lightgoldenrodyellow;
  color: black;
  -webkit-box-shadow: 0px 2px 5px darkgray;
  -moz-box-shadow: 0px 2px 5px darkgray;
  box-shadow: 0px 2px 5px darkgray; }

.token {
  -webkit-box-shadow: 0px 2px 5px darkgray;
  -moz-box-shadow: 0px 2px 5px darkgray;
  box-shadow: 0px 2px 5px darkgray;
  background: #0083cb;
  color: white;
  font-weight: bold;
  padding: 5px;
  float: left;
  /*display: inline-flex;*/
  flex-direction: column;
  margin: 10px;
  border-radius: 10%;
}

.button:hover {
  background-color: #99ff66; }

.button {
  color: red;
}

#balken_aussen {
  display: inline-block;
  width: 204px;
  height: 17px;
  background: white;
  padding: 1px;
  margin-right: 30px;
  float: left; }

#balken_innen1 {
  background: lawngreen;
  display: inline-block;
  width: 0px;
  height: 15px; }

#balken_innen2 {
  background: red;
  display: inline-block;
  height: 15px;
  width: 0px; }

.ui-state-hover{
    background-color: cornflowerblue;
    color: cornflowerblue;
}